Repository explosion/spaCy, pull requests merged in 2018-06, with the labels that each got.

#2422 Additions to Arabic stop words.
  .github/contributors/nourshalabi.md
  spacy/lang/ar/stop_words.py
Labels: enhancement, lang / ar

#2415 replace janome with mecab in the documentation and the test
  .github/contributors/himkt.md
  examples/information_extraction/phrase_matcher.py
  spacy/tests/conftest.py
  website/usage/_models/_languages.jade
Labels: docs, lang / ja, tests

#2436 adding a missing apostrophe
  website/usage/_spacy-101/_lightning-tour.jade
Labels: docs

#2433 💫 Document Cython API
  website/_includes/_mixins.jade
  website/_includes/_sidebar.jade
  website/api/_architecture/_cython.jade
  website/api/_architecture/_nn-model.jade
  website/api/_cython/_doc.jade
  website/api/_cython/_lexeme.jade
  website/api/_cython/_lexemec.jade
  website/api/_cython/_span.jade
  website/api/_cython/_stringstore.jade
  website/api/_cython/_token.jade
  website/api/_cython/_tokenc.jade
  website/api/_cython/_vocab.jade
  website/api/_data.json
  website/api/cython-classes.jade
  website/api/cython-structs.jade
  website/api/cython.jade
  website/api/index.jade
  website/api/token.jade
  website/assets/css/_base/_objects.sass
  website/assets/js/main.js
  website/assets/js/vendor/prism.min.js
Labels: docs

#2454 Train model command n_iteration 20 -> 30
  website/api/cli.jade
Labels: docs

#2444 Add Tatar Language Support
  .github/contributors/aliiae.md
  spacy/lang/char_classes.py
  spacy/lang/tt/__init__.py
  spacy/lang/tt/examples.py
  spacy/lang/tt/lex_attrs.py
  spacy/lang/tt/punctuation.py
  spacy/lang/tt/stop_words.py
  spacy/lang/tt/tokenizer_exceptions.py
  spacy/tests/conftest.py
  spacy/tests/lang/tt/__init__.py
  spacy/tests/lang/tt/test_tokenizer.py
Labels: enhancement, lang / tt

#2416 fix wrong indexing
  .github/contributors/himkt.md
  spacy/lang/ja/__init__.py
Labels: bug, lang / ja

#2430 Add Urdu Language Support
  .github/contributors/mirfan899.md
  spacy/lang/ur/__init__.py
  spacy/lang/ur/examples.py
  spacy/lang/ur/lemmatizer.py
  spacy/lang/ur/lex_attrs.py
  spacy/lang/ur/stop_words.py
  spacy/lang/ur/tag_map.py
  spacy/lang/ur/tokenizer_exceptions.py
  spacy/tests/conftest.py
  spacy/tests/lang/ur/__init__.py
  spacy/tests/lang/ur/test_text.py
Labels: enhancement, lang / ur

#2478 Accept Span to displacy render
  spacy/displacy/__init__.py
  spacy/errors.py
  spacy/tests/test_misc.py
Labels: enhancement, feat / visualizers
