Repository explosion/spaCy, pull requests merged in 2018-05, with the labels that each got.

#2286 Fix code sample for span.set_extension
  website/api/span.jade
Labels: docs

#2212 #2211 - Support for ssl certs config on download command
  .github/contributors/mn3mos.md
  README.rst
  spacy/cli/download.py
Labels: enhancement, feat / cli, models

#2036 Port Japanese mecab tokenizer from v1
  spacy/lang/ja/__init__.py
  spacy/lang/ja/tag_map.py
  spacy/tests/conftest.py
  spacy/tests/lang/ja/test_tokenizer.py
Labels: enhancement, lang / ja

#2272 Test and fix for Issue #2219: Token.similarity() failed if single letter
  .github/contributors/knoxdw.md
  spacy/tests/regression/test_issue2219.py
  spacy/tokens/token.pyx
Labels: feat / doc, feat / vectors

#2295 Update issue templates
  .github/ISSUE_TEMPLATE/bugs.md
  .github/ISSUE_TEMPLATE/docs.md
  .github/ISSUE_TEMPLATE/install.md
  .github/ISSUE_TEMPLATE/other.md
  .github/ISSUE_TEMPLATE/request.md
Labels: meta

#2297 Fix bug in custom_component_countries_api.py script
  examples/pipeline/custom_component_countries_api.py
Labels: examples

#2302 B Cavello's signed Contributor Agreement v2
  .github/contributors/bellabie
Labels: meta

#2310 Update stop_words.py for French language
  .github/contributors/mauryaland.md
  spacy/lang/fr/stop_words.py
Labels: enhancement, lang / fr

#2307 Update lex_attrs.py
  spacy/lang/pt/lex_attrs.py
Labels: enhancement, lang / pt

#2315 Adding my contributor agreement
  .github/contributors/LRAbbade.md
Labels: meta

#2316 Update Romanian stopword list
  .github/contributors/janimo.md
  spacy/lang/ro/stop_words.py
Labels: enhancement, lang / ro

#2314 Add Arabic language
  .github/contributors/tzano.md
  spacy/lang/ar/__init__.py
  spacy/lang/ar/examples.py
  spacy/lang/ar/lex_attrs.py
  spacy/lang/ar/punctuation.py
  spacy/lang/ar/stop_words.py
  spacy/lang/ar/tokenizer_exceptions.py
  spacy/lang/char_classes.py
  spacy/tests/conftest.py
  spacy/tests/lang/ar/__init__.py
  spacy/tests/lang/ar/test_exceptions.py
  spacy/tests/lang/ar/test_text.py
Labels: enhancement, lang / ar

#2308 Refactor parser
  .appveyor.yml
  .travis.yml
  requirements.txt
  setup.py
  spacy/cli/ud_run_test.py
  spacy/cli/ud_train.py
  spacy/gold.pyx
  spacy/syntax/_beam_utils.pxd
  spacy/syntax/_beam_utils.pyx
  spacy/syntax/_parser_model.pxd
  spacy/syntax/_parser_model.pyx
  spacy/syntax/nn_parser.pxd
  spacy/syntax/nn_parser.pyx
  spacy/syntax/transition_system.pyx
  spacy/tests/parser/test_neural_parser.py
  spacy/tests/test_misc.py
Labels: enhancement, feat / parser, 🛠 wip

#2346 💫 Improve model downloads: check for existing install, customise pip and use requests library again
  requirements.txt
  setup.py
  spacy/cli/_messages.py
  spacy/cli/download.py
  spacy/cli/validate.py
  spacy/compat.py
  website/api/cli.jade
Labels: enhancement, feat / cli, install

#2247 1480 - Implement Fast-Text vectors with subword features
  spacy/tests/vectors/test_vectors.py
  spacy/vocab.pyx
Labels: enhancement, feat / vectors, third-party

#2305 Simplify is_config() and normalize_string_keys()
  spacy/compat.py
Labels: enhancement

#2340 Update _training.jade
  .github/contributors/armsp.md
  website/api/_annotation/_training.jade
Labels: docs

#2348 💫 Support pipeline component factories via entry points (with detailed examples)
  spacy/errors.py
  spacy/language.py
  spacy/util.py
Labels: enhancement, feat / pipeline

#2354 Updates to Romanian support
  spacy/lang/ro/lex_attrs.py
  spacy/lang/ro/tokenizer_exceptions.py
  spacy/tests/conftest.py
  spacy/tests/lang/ro/test_tokenizer.py
Labels: enhancement, lang / ro

#2351 adding more words and rephrasing
  .github/contributors/aristorinjuang.md
  spacy/lang/id/lex_attrs.py
  spacy/lang/id/norm_exceptions.py
  spacy/lang/id/tokenizer_exceptions.py
Labels: enhancement, lang / id

#2359 corrected spelling
  website/usage/_linguistic-features/_rule-based-matching.jade
Labels: docs

#2357 Better formatting for `spacy train` CLI
  .github/contributors/BigstickCarpet.md
  spacy/cli/train.py
Labels: enhancement, feat / cli

#2372 Update _custom.jade
  website/usage/_vectors-similarity/_custom.jade
Labels: docs

#2374 Added agreement
  .github/contributors/idealley.md
Labels: meta

#2378 escape html in displacy.render (#2361)
  .github/contributors/ansgar-t.md
  spacy/displacy/render.py
  spacy/tests/regression/test_issue2361.py
  spacy/util.py
Labels: bug, feat / visualizers

#2392 Fix bug in CLI iob and ner converter
  .github/contributors/mpszumowski.md
  spacy/gold.pyx
  spacy/tests/regression/test_issue2385.py
Labels: bug, feat / cli, feat / ner
