Repository explosion/spaCy, pull requests merged in 2018-07, with the labels that each got.

#2495 Fix loading tokenizer with custom prefix search
  .github/contributors/btrungchi.md
  spacy/tokenizer.pyx
Labels: bug, feat / tokenizer

#2506 fix issue #2452 - displacy arrow direction is always forward
  spacy/displacy/render.py
Labels: bug, feat / visualizers

#2521 Add sent property to token
  spacy/tests/doc/test_token_api.py
  spacy/tokens/token.pyx
Labels: enhancement, feat / doc

#2526 Guidance to handle binary files in git in Windows
  website/usage/_install/_troubleshooting.jade
Labels: docs

#2543 Add Japanese lemmas
  spacy/lang/ja/__init__.py
  spacy/tests/conftest.py
  spacy/tests/lang/ja/test_lemma.py
Labels: bug, feat / lemmatizer, lang / ja

#2547 Enhancement/lang fi examples
  .github/contributors/tjkemp.md
  spacy/lang/fi/examples.py
Labels: enhancement, lang / fi

#2549 Add Japanese stop words
  spacy/lang/ja/stop_words.py
Labels: enhancement, lang / ja

#2560 Fix venv command examples
  .github/contributors/x-ji.md
  CONTRIBUTING.md
  README.rst
  website/usage/_install/_instructions.jade
  website/usage/_install/_quickstart.jade
Labels: docs

#2525 Conll(u)-bio converter
  spacy/cli/convert.py
  spacy/cli/converters/__init__.py
  spacy/cli/converters/conllubio2json.py
Labels: enhancement, feat / cli

#2513 💫 Rule-based NER component
  spacy/compat.py
  spacy/errors.py
  spacy/language.py
  spacy/pipeline.pyx
  spacy/tests/pipeline/test_entity_ruler.py
  spacy/util.py
Labels: enhancement, feat / matcher, feat / ner

#2584 added some widespread written jargon & dialectizms
  spacy/lang/ru/norm_exceptions.py
Labels: enhancement, lang / ru

#2579 Universe update - ExcelCy
  website/universe/universe.json
Labels: docs

#2587 💫 Small efficiency fixes to tokenizer
  spacy/tokenizer.pyx
  spacy/vocab.pxd
  spacy/vocab.pyx
Labels: feat / tokenizer, performance

#2591 Port BenDerPan's Chinese changes to v2 (finally)
  spacy/lang/zh/__init__.py
  spacy/lang/zh/stop_words.py
  spacy/lang/zh/tag_map.py
  spacy/lang/zh/tokenizer_exceptions.py
  spacy/tests/zh/__init__.py
  spacy/zh/language_data.py
Labels: enhancement, lang / zh

#2596 Fixed typo
  website/api/doc.jade
Labels: docs

#2597 Update examples.py
  spacy/lang/ru/examples.py
Labels: enhancement, lang / ru

#2604 Bug fix to pseudocode for spaCy tokenizer
  website/usage/_linguistic-features/_tokenization.jade
Labels: docs

#2616 Update language.jade
  website/api/language.jade
Labels: docs
