Repository explosion/spaCy, pull requests merged in 2018-10, with the labels that each got.

#2803 Update Keras Example for (Parikh et al, 2016) implementation
  examples/keras_parikh_entailment/README.md
  examples/keras_parikh_entailment/__main__.py
  examples/keras_parikh_entailment/keras_decomposable_attention.py
  examples/keras_parikh_entailment/spacy_hook.py
  examples/notebooks/Decompositional Attention.ipynb
Labels: bug, enhancement, examples

#2808 💫 Make like_num work for prefixed numbers
  spacy/lang/ar/lex_attrs.py
  spacy/lang/da/lex_attrs.py
  spacy/lang/el/lex_attrs.py
  spacy/lang/en/lex_attrs.py
  spacy/lang/fi/lex_attrs.py
  spacy/lang/fr/lex_attrs.py
  spacy/lang/hi/lex_attrs.py
  spacy/lang/id/lex_attrs.py
  spacy/lang/lex_attrs.py
  spacy/lang/nl/lex_attrs.py
  spacy/lang/pt/lex_attrs.py
  spacy/lang/punctuation.py
  spacy/lang/ro/lex_attrs.py
  spacy/lang/ru/lex_attrs.py
  spacy/lang/tr/lex_attrs.py
  spacy/lang/tt/lex_attrs.py
  spacy/lang/ur/lex_attrs.py
  spacy/lang/vi/lex_attrs.py
  spacy/tests/regression/test_issue2782.py
Labels: enhancement, feat / tokenizer, lang / all

#2830 💫 Update training examples and use minibatching
  examples/training/train_intent_parser.py
  examples/training/train_ner.py
  examples/training/train_new_entity_type.py
  examples/training/train_parser.py
  examples/training/train_tagger.py
Labels: enhancement, examples

#2842 Visual C++ link updated
  .github/contributors/jacopofar.md
  website/usage/_install/_instructions.jade
Labels: docs

#2797 Add basic Persian(Farsi) language support + two small models
  .github/contributors/JKhakpour.md
  spacy/lang/fa/__init__.py
  spacy/lang/fa/lemmatizer/__init__.py
  spacy/lang/fa/lemmatizer/_adjectives.py
  spacy/lang/fa/lemmatizer/_adjectives_exc.py
  spacy/lang/fa/lemmatizer/_lemma_rules.py
  spacy/lang/fa/lemmatizer/_nouns.py
  spacy/lang/fa/lemmatizer/_nouns_exc.py
  spacy/lang/fa/lemmatizer/_verbs.py
  spacy/lang/fa/lemmatizer/_verbs_exc.py
  spacy/lang/fa/lex_attrs.py
  spacy/lang/fa/punctuation.py
  spacy/lang/fa/stop_words.py
  spacy/lang/fa/syntax_iterators.py
  spacy/lang/fa/tag_map.py
  spacy/lang/fa/tokenizer_exceptions.py
Labels: enhancement, lang / fa

#2846 Adding "This is a sentence" example to Sinhala
  spacy/lang/si/examples.py
Labels: enhancement, lang / si

#2867 Documentation improvement regarding joblib and SO
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/05_other.md
  .github/contributors/BramVanroy.md
  CONTRIBUTING.md
  README.rst
  website/_harp.json
  website/usage/_spacy-101/_community-faq.jade
  website/usage/examples.jade
Labels: docs

#2876 Change PyThaiNLP Url
  spacy/lang/th/__init__.py
Labels: docs, lang / th

#2836 WIP - Dependency Tree Matcher (Validations + Semgrex operators)
  spacy/errors.py
  spacy/matcher.pyx
Labels: enhancement, feat / matcher, ⚠️ wip
