Repository explosion/spaCy, pull requests merged in 2018-12, with the labels that each got.

#3017 Add note that Unidic is required for Japanese
  website/usage/_models/_languages.jade
Labels: docs

#3006 Lemmatization of Verbs - French : adding rules and vocabulary
  .github/contributors/amperinet.md
  spacy/lang/fr/lemmatizer/_auxiliary_verbs_irreg.py
  spacy/lang/fr/lemmatizer/_lemma_rules.py
  spacy/lang/fr/lemmatizer/_verbs.py
  spacy/lang/fr/lemmatizer/_verbs_irreg.py
Labels: enhancement, lang / fr

#2992 Lemmatization of Nouns - French : adding rules and vocabulary
  spacy/lang/fr/lemmatizer/_lemma_rules.py
  spacy/lang/fr/lemmatizer/_nouns.py
  spacy/lang/fr/lemmatizer/_nouns_irreg.py
Labels: enhancement, lang / fr

#3024 Extras require mecab
  setup.py
Labels: enhancement, lang / ja

#3029 Make NORM a token attribute
  spacy/structs.pxd
  spacy/tests/regression/test_issue2754.py
  spacy/tokens/token.pxd
  spacy/tokens/token.pyx
  spacy/vocab.pyx
Labels: enhancement, feat / doc

#3030 Small CLI improvements
  requirements.txt
  setup.py
  spacy/cli/_messages.py
  spacy/cli/convert.py
  spacy/cli/converters/jsonl2json.py
  spacy/cli/debug_data.py
  spacy/cli/download.py
  spacy/cli/evaluate.py
  spacy/cli/info.py
  spacy/cli/init_model.py
  spacy/cli/link.py
  spacy/cli/package.py
  spacy/cli/train.py
  spacy/cli/validate.py
Labels: enhancement, feat / cli

#3031 💫 Allow Span to take text label
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
Labels: enhancement, feat / doc

#3038 💫 Make TextCategorizer default to a simpler, GPU-friendly model
  examples/training/train_textcat.py
  spacy/_ml.py
  spacy/pipeline.pyx
Labels: enhancement, feat / textcat

#3044 Fix docstring for is_right_punct().
  spacy/tokens/token.pyx
Labels: docs

#3046 French regular expressions instead of extensive exceptions list (on develop)
  spacy/lang/fr/_tokenizer_exceptions_list.py
  spacy/lang/fr/tokenizer_exceptions.py
  spacy/tests/lang/fr/test_exceptions.py
Labels: enhancement, lang / fr, perf / speed, ⚠️ wip, 🌙 nightly

#3045 Lemmatization of Adjectives - French : adding rules and vocabulary
  .github/contributors/amperinet.md
  spacy/lang/fr/lemmatizer/_adjectives.py
  spacy/lang/fr/lemmatizer/_adjectives_irreg.py
  spacy/lang/fr/lemmatizer/_lemma_rules.py
Labels: enhancement, lang / fr

#3062 Added alpha support for Tagalog language
  .github/contributors/Brixjohn.md
  spacy/lang/tl/__init__.py
  spacy/lang/tl/lemmatizer.py
  spacy/lang/tl/lex_attrs.py
  spacy/lang/tl/stop_words.py
  spacy/lang/tl/tag_map.py
  spacy/lang/tl/tokenizer_exceptions.py
Labels: enhancement, lang / tl

#3065 Fix the first `nlp` call for `ja` (closes #2901)
  .github/contributors/kbulygin.md
  spacy/lang/ja/__init__.py
  spacy/tests/regression/test_issue2901.py
Labels: bug, lang / ja, third-party

#3021 issue #3012: add test
  .github/contributors/clippered.md
  spacy/tests/regression/test_issue3012.py
Labels: bug, feat / serialize, tests

#3075 💫 Prevent parser from predicting unseen classes
  spacy/cli/train.py
  spacy/syntax/_parser_model.pyx
Labels: enhancement, feat / ner, feat / parser

#3076 Small fixes to displaCy
  spacy/displacy/__init__.py
  spacy/errors.py
  spacy/tests/test_misc.py
  spacy/util.py
  website/api/_top-level/_displacy.jade
Labels: enhancement, feat / visualizers

#3080 Improve entry points and allow custom language classes via entry points
  spacy/language.py
  spacy/util.py
Labels: enhancement, lang / all, 🌙 nightly

#3083 trilyon forgotten
  .github/contributors/ozcankasal.md
  spacy/lang/tr/lex_attrs.py
Labels: enhancement, lang / tr

#3096 Improve random prefix generation in displaCy arcs
  .github/contributors/willprice.md
  spacy/displacy/render.py
Labels: enhancement, feat / visualizers

#3085 Add three missing tags from the `nb` tag map
  .github/contributors/jarib.md
  spacy/lang/nb/tag_map.py
Labels: enhancement, lang / nb

#3099 cli.convert: fix typo in converter arguments
  spacy/cli/convert.py
Labels: bug, feat / cli

#3100 Set vectors.name when updating meta.json during training
  spacy/cli/package.py
  spacy/cli/train.py
Labels: bug, feat / cli, feat / vectors, 🌙 nightly

#3101 spacy.cli.evaluate: fix TypeError
  spacy/cli/evaluate.py
Labels: bug, feat / cli

#3103 Fixing few typos in the documentation
  website/usage/_linguistic-features/_named-entities.jade
  website/usage/_linguistic-features/_rule-based-matching.jade
  website/usage/_linguistic-features/_sentence-segmentation.jade
  website/usage/_linguistic-features/_tokenization.jade
  website/usage/_visualizers/_ent.jade
  website/usage/_visualizers/_html.jade
  website/usage/visualizers.jade
Labels: docs

#3105 Fix behaviour of Matcher's ? quantifier for v2.1
  spacy/matcher.pyx
  spacy/tests/regression/test_issue3009.py
Labels: bug, feat / matcher, 🌙 nightly

#3089 Fix issue 2396
  .github/contributors/alvaroabascar.md
  spacy/tests/regression/test_issue2396.py
  spacy/tokens/doc.pxd
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
Labels: bug, feat / doc

#3084 Enabling `tests/lang/ru/test_lemmatizer.py`, fixing a `unicode` issue
  spacy/lang/ru/lemmatizer.py
  spacy/tests/lang/ru/test_lemmatizer.py
Labels: bug, lang / ru, tests, 🌙 nightly

#3107 💫 Make span.as_doc() return a copy, not a view. Closes #1537
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
  website/api/span.jade
Labels: bug, feat / doc, 🌙 nightly
