Repository explosion/spaCy, pull requests merged in 2018-09, with the labels that each got.

#2709 When calling getoption() in conftest.py, pass a default option
  .github/contributors/njsmith.md
  spacy/tests/conftest.py
Labels: tests

#2731 Update Bengali token rules for Hyphen (-এর) and Digits
  .github/contributors/aniruddha-adhikary.md
  spacy/lang/bn/punctuation.py
  spacy/tests/lang/bn/test_tokenizer.py
Labels: enhancement, lang / bn

#2730 Less norm computations in token similarity
  .github/contributors/pzelasko.md
  spacy/tokens/token.pyx
Labels: enhancement, feat / vectors, perf / speed

#2696 Introduces a bulk merge function, in order to solve issue #653
  .github/contributors/grivaz.md
  spacy/errors.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_span_merge.py
  spacy/tokens/_retokenize.pyx
  spacy/tokens/doc.pyx
Labels: enhancement, feat / doc

#2759 Add words to portuguese language _num_words
  .github/contributors/filipecaixeta.md
  spacy/lang/pt/lex_attrs.py
Labels: enhancement, lang / pt

#2752 Update Indonesian model
  .github/contributors/aongko.md
  spacy/lang/id/__init__.py
  spacy/lang/id/_tokenizer_exceptions_list.py
  spacy/lang/id/lemmatizer.py
  spacy/lang/id/lex_attrs.py
  spacy/lang/id/norm_exceptions.py
  spacy/lang/id/punctuation.py
  spacy/lang/id/stop_words.py
  spacy/lang/id/tokenizer_exceptions.py
Labels: enhancement, lang / id

#2763 Fixed spaCy+Keras example
  .github/contributors/free-variation.md
  examples/deep_learning_keras.py
Labels: examples, third-party

#2795 Fix typo
  website/usage/_processing-pipelines/_pipelines.jade
Labels: docs

#2788 Adding basic support for Sinhala language.
  .github/contributors/keshan.md
  spacy/lang/char_classes.py
  spacy/lang/si/__init__.py
  spacy/lang/si/examples.py
  spacy/lang/si/lex_attrs.py
  spacy/lang/si/stop_words.py
Labels: enhancement, lang / si

#2806 Add jupyter=True to displacy.render in documentation
  website/usage/_visualizers/_jupyter.jade
Labels: docs

#2732 WIP - Dependency Tree Pattern Matcher
  spacy/matcher.pyx
  spacy/tests/test_matcher.py
Labels: enhancement, feat / matcher, ⚠️ wip

#2790 Update Portuguese Language
  spacy/lang/pt/__init__.py
  spacy/lang/pt/lex_attrs.py
  spacy/lang/pt/norm_exceptions.py
  spacy/lang/pt/punctuation.py
  spacy/lang/pt/stop_words.py
  spacy/lang/pt/tokenizer_exceptions.py
Labels: enhancement, lang / pt
