Repository explosion/spaCy, pull requests merged in 2018-08, with the labels that each got.

#2618 Update _benchmarks.jade
  website/usage/_facts-figures/_benchmarks.jade
Labels: docs

#2621 Create vikaskyadav.md
  .github/contributors/vikaskyadav.md
Labels: meta

#2623 Updating description and code snippet spacy-lefff
  .github/contributors/sammous.md
  website/universe/universe.json
Labels: docs

#2615 Swedish: Exceptions for single letter words ending sentence
  spacy/lang/sv/tokenizer_exceptions.py
  spacy/tests/lang/sv/test_tokenizer.py
Labels: enhancement, feat / tokenizer, lang / sv

#2599 Feature/span ents
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
Labels: enhancement, feat / doc

#2613 Add abbreviations from UD_Swedish-Talbanken
  .github/contributors/EmilStenstrom.md
  spacy/lang/sv/tokenizer_exceptions.py
Labels: enhancement, feat / tokenizer, lang / sv

#2629 Added numbers to ../lang/hi/lex_attrs.py
  .github/contributors/aashishg.md
  spacy/lang/hi/lex_attrs.py
Labels: enhancement, lang / hi

#2658 Optimize Greek language support
  spacy/lang/el/__init__.py
  spacy/lang/el/examples.py
  spacy/lang/el/lemmatizer/_adjectives_irreg.py
  spacy/lang/el/lemmatizer/_lemma_rules.py
  spacy/lang/el/lemmatizer/_verbs_irreg.py
  spacy/lang/el/lemmatizer/lemmatizer.py
  spacy/lang/el/lex_attrs.py
  spacy/lang/el/norm_exceptions.py
  spacy/lang/el/punctuation.py
  spacy/lang/el/syntax_iterators.py
  spacy/lang/el/tag_map.py
  spacy/lang/el/tag_map_general.py
  spacy/lang/el/tokenizer_exceptions.py
Labels: enhancement, lang / el

#2681 Create aryaprabhudesai.md
  .github/contributors/aryaprabhudesai.md
Labels: meta

#2688 Typo fix
  website/usage/_models/_install.jade
Labels: docs
