Repository explosion/spaCy, pull requests merged in 2019-02, with the labels that each got.

#3223 Fix typo
  website/api/phrasematcher.jade
Labels: docs

#3227 💫 Add gold.spans_from_biluo_tags helper
  spacy/gold.pyx
  spacy/tests/test_gold.py
Labels: enhancement, feat / ner, 🌙 nightly

#3236 💫 Break up large matcher.pyx
  setup.py
  spacy/matcher/__init__.py
  spacy/matcher/dependencymatcher.pyx
  spacy/matcher/matcher.pxd
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
Labels: enhancement, feat / matcher, 🌙 nightly

#3243 Update Example input JSON file to adhere to specification.
  contributer_agreement.md
  examples/training/training-data.json
Labels: docs, examples

#3241 Ukrainian language added. Small fixes in Russian
  .github/contributors/juliamakogon.md
  spacy/lang/char_classes.py
  spacy/lang/ru/lemmatizer.py
  spacy/lang/ru/tag_map.py
  spacy/lang/uk/__init__.py
  spacy/lang/uk/examples.py
  spacy/lang/uk/lemmatizer.py
  spacy/lang/uk/lex_attrs.py
  spacy/lang/uk/stop_words.py
  spacy/lang/uk/tag_map.py
  spacy/lang/uk/tokenizer_exceptions.py
  spacy/tests/conftest.py
  spacy/tests/lang/uk/__init__.py
  spacy/tests/lang/uk/test_tokenizer.py
  spacy/tests/lang/uk/test_tokenizer_exc.py
Labels: enhancement, lang / uk

#2974 Improved polish tokenizer and stop words.
  .github/contributors/DoomCoder.md
  .github/contributors/Gizzio.md
  .github/contributors/MateuszOlko.md
  .github/contributors/kowaalczyk.md
  spacy/lang/pl/__init__.py
  spacy/lang/pl/_tokenizer_exceptions_list.py
  spacy/lang/pl/lex_attrs.py
  spacy/lang/pl/polish_srx_rules_LICENSE.txt
  spacy/lang/pl/punctuation.py
  spacy/lang/pl/stop_words.py
  spacy/lang/pl/tokenizer_exceptions.py
  spacy/tests/conftest.py
  spacy/tests/lang/pl/test_text.py
  spacy/tests/lang/pl/test_tokenizer.py
Labels: enhancement, lang / pl

#3186 Fixed tag map for Swedish Talbanken
  spacy/lang/sv/__init__.py
  spacy/lang/sv/tag_map.py
Labels: enhancement, lang / sv

#3246 💫 Break up large pipeline.pyx
  setup.py
  spacy/pipeline.pxd
  spacy/pipeline/__init__.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/functions.py
  spacy/pipeline/hooks.py
  spacy/pipeline/pipes.pyx
Labels: enhancement, feat / pipeline, 🌙 nightly

#3255 💫 Suggestion: PhraseMatcher pattern validation
  spacy/errors.py
  spacy/matcher/phrasematcher.pyx
  spacy/tests/matcher/test_phrase_matcher.py
Labels: enhancement, feat / matcher, 🌙 nightly

#3244 💫 Add token match pattern validation via JSON schemas
  spacy/cli/debug_data.py
  spacy/errors.py
  spacy/matcher/_schemas.py
  spacy/matcher/matcher.pxd
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
  spacy/tests/doc/test_to_json.py
  spacy/tests/matcher/test_pattern_validation.py
  spacy/tests/test_json_schemas.py
  spacy/util.py
Labels: enhancement, feat / matcher, 🌙 nightly

#3266 added spacy-langdetect to universe.json
  website/universe/universe.json
Labels: docs

#3252 💫 Fix PhraseMatcher pickling and length (resolves #3248)
  spacy/matcher/phrasematcher.pyx
  spacy/tests/regression/test_issue3248.py
Labels: bug, feat / matcher, 🌙 nightly

#3264 add kannada support
  .github/contributors/akki2825.md
  spacy/lang/kn/__init__.py
  spacy/lang/kn/stop_words.py
Labels: enhancement, lang / kn

#3267 💫 Raise better error if token is pickled (resolves #2833)
  spacy/errors.py
  spacy/tests/regression/test_issue2833.py
  spacy/tokens/token.pyx
Labels: feat / doc, feat / serialize

#3253 Add split one token into several (resolves #2838)
  spacy/errors.py
  spacy/tests/doc/test_doc_spilt.py
  spacy/tokens/_retokenize.pyx
Labels: enhancement, feat / doc

#3276 💫 Add base Language classes for more languages
  spacy/lang/af/__init__.py
  spacy/lang/af/stop_words.py
  spacy/lang/bg/__init__.py
  spacy/lang/bg/stop_words.py
  spacy/lang/cs/__init__.py
  spacy/lang/cs/stop_words.py
  spacy/lang/et/__init__.py
  spacy/lang/et/stop_words.py
  spacy/lang/is/__init__.py
  spacy/lang/is/stop_words.py
  spacy/lang/lt/__init__.py
  spacy/lang/lt/stop_words.py
  spacy/lang/lv/__init__.py
  spacy/lang/lv/stop_words.py
  spacy/lang/sk/__init__.py
  spacy/lang/sk/stop_words.py
  spacy/lang/sl/__init__.py
  spacy/lang/sl/stop_words.py
  spacy/lang/sq/__init__.py
  spacy/lang/sq/stop_words.py
  spacy/tests/lang/test_initialize.py
Labels: enhancement, 🌙 nightly

#3273 💫 Make handling of [Pipe].labels consistent
  spacy/errors.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/pipes.pyx
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/tests/regression/test_issue2001-2500.py
Labels: enhancement, feat / pipeline

#3280 💫 Replace {Doc,Span}.merge with Doc.retokenize
  spacy/cli/ud/ud_run_test.py
  spacy/cli/ud/ud_train.py
  spacy/displacy/__init__.py
  spacy/errors.py
  spacy/pipeline/functions.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_span_merge.py
  spacy/tests/lang/test_initialize.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/parser/test_parse.py
  spacy/tests/regression/test_issue1-1000.py
  spacy/tests/regression/test_issue1501-2000.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
Labels: feat / doc, 🌙 nightly

#3281 💫 Add en/em dash to prefixes and suffixes
  spacy/lang/punctuation.py
  spacy/tests/regression/test_issue3277.py
Labels: feat / tokenizer, lang / all, perf / accuracy, 🌙 nightly

#3282 Refinements to retokenize.split() function
  spacy/errors.py
  spacy/tests/doc/test_doc_split.py
  spacy/tokens/_retokenize.pyx
Labels: enhancement, feat / doc, 🌙 nightly

#3283 Update morph_rules.py
  spacy/lang/bn/morph_rules.py
Labels: enhancement, lang / bn

#3284 Typo error fixed in examples
  spacy/lang/ca/examples.py
Labels: bug, lang / ca

#3286 updates for Bengali language
  .github/contributors/roshni-b.md
  spacy/lang/bn/examples.py
  spacy/lang/bn/morph_rules.py
Labels: enhancement, lang / bn

#3294 - Json fix in comment
  examples/training/train_tagger.py
Labels: examples

#3301 💫 Fix bugs in matcher extensions. Closes #1971
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/regression/test_issue1971.py
Labels: bug, feat / matcher, 🌙 nightly

#3293 Clean up of char classes, few tokenizer fixes and faster default French tokenizer
  spacy/lang/char_classes.py
  spacy/lang/fr/_tokenizer_exceptions_list.py
  spacy/lang/fr/tokenizer_exceptions.py
  spacy/lang/it/__init__.py
  spacy/lang/it/tokenizer_exceptions.py
  spacy/lang/punctuation.py
  spacy/tests/lang/fr/test_exceptions.py
  spacy/tests/regression/test_issue1-1000.py
  spacy/tests/regression/test_issue1001-1500.py
  spacy/tests/regression/test_issue2001-2500.py
  spacy/tests/regression/test_issue2656.py
  spacy/tests/regression/test_issue2822.py
  spacy/tests/regression/test_issue2926.py
  spacy/tests/regression/test_issue3002.py
  website/docs/usage/adding-languages.md
Labels: enhancement, feat / tokenizer, lang / all, lang / fr

#3324 💫 Allow setting of custom attributes during retokenization (closes #3314)
  spacy/errors.py
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tests/doc/test_retokenize_split.py
  spacy/tests/regression/test_issue1971.py
  spacy/tokens/_retokenize.pyx
  spacy/tokens/underscore.py
  website/docs/api/doc.md
  website/docs/usage/linguistic-features.md
Labels: enhancement, feat / doc, 🌙 nightly

#3325 💫 Support lexical attributes in retokenizer attrs (closes #2390)
  spacy/lexeme.pxd
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tests/doc/test_retokenize_split.py
  spacy/tokens/_retokenize.pyx
  website/docs/api/doc.md
  website/docs/usage/linguistic-features.md
Labels: enhancement, feat / doc, 🌙 nightly

#3329 Fixing pymorphy2 dependency issue #3327
  spacy/lang/ru/lemmatizer.py
  spacy/lang/uk/lemmatizer.py
  spacy/lang/uk/stop_words.py
  spacy/tests/conftest.py
  spacy/tests/lang/uk/test_tokenizer.py
Labels: lang / ru, lang / uk, third-party

#3332 💫 Add Algolia DocSearch
  website/meta/site.json
  website/src/components/icon.js
  website/src/components/navigation.js
  website/src/components/search.js
  website/src/components/title.js
  website/src/html.js
  website/src/images/icons/search.svg
  website/src/styles/navigation.module.sass
  website/src/styles/search.module.sass
  website/src/templates/index.js
Labels: docs, enhancement, 🌙 nightly

#3340 Make doc[0].is_sent_start == True (closes #2869)
  spacy/tests/doc/test_token_api.py
  spacy/tokens/doc.pyx
  website/docs/api/token.md
Labels: bug, feat / doc, 🌙 nightly

#3341 💫 Improve handling of missing NER tags (closes #2603)
  spacy/gold.pyx
  spacy/syntax/ner.pyx
  spacy/tests/test_gold.py
  website/docs/api/goldparse.md
Labels: bug, feat / ner, 🌙 nightly
