Repository explosion/spaCy, pull requests merged in 2019-10, with the labels that each got.

#4351 Warn in Tagger.begin_training if no lemma tables are available
  spacy/errors.py
  spacy/pipeline/pipes.pyx
  spacy/tests/pipeline/test_tagger.py
Labels: enhancement, feat / tagger, feat / ux

#4353 Refactor lemmatizer and data table integration
  .travis.yml
  requirements.txt
  setup.cfg
  spacy/errors.py
  spacy/lang/el/__init__.py
  spacy/lang/el/lemmatizer.py
  spacy/lang/fr/__init__.py
  spacy/lang/fr/lemmatizer.py
  spacy/lang/nl/__init__.py
  spacy/lang/nl/lemmatizer.py
  spacy/lang/ru/__init__.py
  spacy/lang/ru/lemmatizer.py
  spacy/language.py
  spacy/lemmatizer.py
  spacy/lookups.py
  spacy/tests/doc/test_creation.py
  spacy/tests/morphology/test_morph_features.py
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/regression/test_issue1-1000.py
  spacy/tests/regression/test_issue1001-1500.py
  spacy/tests/regression/test_issue1501-2000.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/test_lemmatizer.py
  spacy/tests/tokenizer/test_urls.py
  spacy/util.py
  spacy/vocab.pyx
  website/docs/api/lemmatizer.md
Labels: bug, enhancement

#4359 Update Ukrainian lemmatizer with new lookups
  spacy/lang/uk/__init__.py
  spacy/lang/uk/lemmatizer.py
Labels: bug, lang / uk

#4361 Make the default NER labels less model-specific [ci skip]
  examples/streamlit_spacy.py
Labels: examples

#4360 Ensure training doesn't crash with empty batches
  spacy/pipeline/pipes.pyx
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue4348.py
Labels: bug, feat / pipeline, training

#4364 most_similar() return the k most similar vectors
  .github/contributors/bintay.md
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/vectors.pyx
  spacy/vocab.pyx
Labels: enhancement, feat / vectors

#4368 Bugfix initializing DocBin with attributes
  bin/ud/ud_train.py
  spacy/attrs.pyx
  spacy/tests/regression/test_issue4367.py
  spacy/tests/serialize/test_serialize_doc.py
  spacy/tokens/_serialize.py
  website/docs/usage/saving-loading.md
Labels: bug, docs, feat / doc, feat / serialize

#4374 Improve URL_PATTERN and handling in tokenizer
  spacy/lang/hu/punctuation.py
  spacy/lang/tokenizer_exceptions.py
  spacy/tests/tokenizer/test_urls.py
  spacy/tokenizer.pyx
Labels: bug, enhancement, feat / tokenizer, perf / speed

#4378 Extend unicode character block for Sinhala
  spacy/lang/char_classes.py
  spacy/tests/pipeline/test_sentencizer.py
Labels: bug, lang / si

#4388 Consider batch_size when sorting similar vectors
  spacy/vectors.pyx
Labels: bug, feat / vectors

#4387 Improve usage of pkg_resources and handling of entry points
  requirements.txt
  setup.cfg
  spacy/cli/download.py
  spacy/cli/validate.py
  spacy/compat.py
  spacy/util.py
Labels: install, third-party

#4393 Improve spacy pretrain
  spacy/_ml.py
  spacy/cli/pretrain.py
  spacy/pipeline/pipes.pyx
Labels: enhancement, feat / cli, feat / tok2vec

#4394 Fix ner_jsonl2json converter (fix #4389)
  spacy/cli/converters/jsonl2json.py
Labels: bug, feat / cli

#4399 Fix PhraseMatcher callback and add tests
  spacy/matcher/phrasematcher.pyx
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/matcher/test_phrase_matcher.py
Labels: bug, feat / matcher

#4371 multiprocessing pipe (#1303)
  spacy/errors.py
  spacy/language.py
  spacy/tests/test_language.py
Labels: enhancement, feat / pipeline, scaling

#4395 Add registry for model creation functions ('architectures')
  spacy/__init__.py
  spacy/errors.py
  spacy/tests/test_register_architecture.py
  spacy/util.py
Labels: enhancement

#4415 Unify matcher get_ent_id and get_pattern_key
  spacy/matcher/matcher.pyx
Labels: bug, feat / matcher, ⚠️ wip

#4420 Error when removing a matcher rule that doesn't exist
  spacy/errors.py
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_matcher_logic.py
Labels: feat / matcher, feat / ux

#4423 fix attrs field in the matcher
  spacy/matcher/matcher.pyx
Labels: bug, feat / matcher

#4437 Fix PhraseMatcher.remove for overlapping patterns
  spacy/matcher/phrasematcher.pyx
  spacy/tests/matcher/test_phrase_matcher.py
Labels: bug, feat / matcher

#4424 Initial commit: New language Luxembourgish (lb)
  .github/contributors/PeterGilles.md
  spacy/lang/lb/__init__.py
  spacy/lang/lb/examples.py
  spacy/lang/lb/lex_attrs.py
  spacy/lang/lb/norm_exceptions.py
  spacy/lang/lb/punctuation.py
  spacy/lang/lb/stop_words.py
  spacy/lang/lb/tag_map.py
  spacy/lang/lb/tokenizer_exceptions.py
  spacy/tests/conftest.py
  spacy/tests/lang/lb/__init__.py
  spacy/tests/lang/lb/test_exceptions.py
  spacy/tests/lang/lb/test_prefix_suffix_infix.py
  spacy/tests/lang/lb/test_text.py
Labels: enhancement, lang / lb

#4375 KB extensions and better parsing of WikiData
  bin/wiki_entity_linking/README.md
  bin/wiki_entity_linking/__init__.py
  bin/wiki_entity_linking/entity_linker_evaluation.py
  bin/wiki_entity_linking/kb_creator.py
  bin/wiki_entity_linking/train_descriptions.py
  bin/wiki_entity_linking/training_set_creator.py
  bin/wiki_entity_linking/wiki_io.py
  bin/wiki_entity_linking/wiki_namespaces.py
  bin/wiki_entity_linking/wikidata_pretrain_kb.py
  bin/wiki_entity_linking/wikidata_processor.py
  bin/wiki_entity_linking/wikidata_train_entity_linker.py
  bin/wiki_entity_linking/wikipedia_processor.py
  examples/pipeline/dummy_entity_linking.py
  examples/pipeline/wikidata_entity_linking.py
  spacy/cli/pretrain.py
  spacy/errors.py
  spacy/kb.pyx
  spacy/language.py
  spacy/pipeline/pipes.pyx
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/regression/test_issue1-1000.py
Labels: bug, enhancement, feat / nel

#4454 Fix remove pattern from matcher
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_matcher_logic.py
Labels: bug, feat / matcher

#4444 Allow int values in token patterns
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_pattern_validation.py
Labels: bug, feat / matcher

#4456 Fix documentation for the docs_to_json function
  spacy/gold.pyx
  website/docs/api/goldparse.md
Labels: docs

#4446 Most similar bug
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/vectors.pyx
Labels: bug, feat / vectors

#4449 Misspelling on Lemmatizer Example #4406
  website/docs/api/lemmatizer.md
Labels: docs

#4467 Check for docs with 2+ sentences in debug-data
  spacy/cli/debug_data.py
Labels: enhancement, feat / cli

#4459 Replace Entity/MatchStruct with SpanC
  spacy/matcher/phrasematcher.pxd
  spacy/matcher/phrasematcher.pyx
  spacy/structs.pxd
  spacy/syntax/_state.pxd
  spacy/syntax/stateclass.pxd
Labels: enhancement, feat / doc

#4472 Suppress convert output if writing to stdout
  spacy/cli/convert.py
  spacy/cli/converters/conll_ner2json.py
  spacy/cli/converters/iob2json.py
Labels: bug, feat / cli

#4468 Remove lemma attrs on BaseDefaults
  spacy/language.py
Labels: enhancement, feat / lemmatizer

#4464 Update `vocab.get_vector` docs to include features on Fasttext ngram
  .github/contributors/pberba.md
  spacy/vocab.pyx
  website/docs/api/vocab.md
Labels: docs

#4488 prevent division by zero in most_similar method
  spacy/tests/regression/test_issue3001-3500.py
  spacy/vectors.pyx
Labels: bug, feat / vectors

#4489 Add Entity Linking to menu on website
  website/docs/usage/linguistic-features.md
Labels: docs, feat / nel

#4487 Checks/errors related to ill-formed IOB input in CLI convert and debug-data
  spacy/cli/debug_data.py
  spacy/errors.py
  spacy/gold.pyx
  spacy/tests/test_gold.py
Labels: enhancement, feat / cli, feat / ner, feat / ux

#4422 Adding noun_chunks to the Swedish language model (sv)
  .github/contributors/gustavengstrom.md
  spacy/lang/sv/__init__.py
  spacy/lang/sv/syntax_iterators.py
  spacy/tests/lang/sv/test_noun_chunks.py
Labels: enhancement, lang / sv

#4492 Update information about Rasa
  website/meta/universe.json
Labels: docs

#4499 refactor: remove unused variable
  spacy/gold.pyx
Labels: enhancement

#4498 Add cookiecutter-spacy-fastapi to spacy universe
  website/meta/universe.json
Labels: docs

#4486 Free pointers in parser activations
  spacy/syntax/_parser_model.pxd
  spacy/syntax/_parser_model.pyx
  spacy/syntax/nn_parser.pyx
Labels: bug, feat / parser, perf / memory

#4429 prevent zero-length mem alloc
  spacy/gold.pyx
  spacy/matcher/matcher.pyx
  spacy/syntax/nn_parser.pyx
  spacy/syntax/transition_system.pyx
  spacy/tokenizer.pyx
  spacy/tokens/_retokenize.pyx
  spacy/tokens/doc.pyx
Labels: bug

#4507 Clip most_similar to range [-1, 1] (fixes #4506)
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/vectors.pyx
Labels: feat / vectors

#4510 Fix logic in rules+model entity example
  website/docs/usage/rule-based-matching.md
Labels: bug, docs

#4471 Support train dict format as JSONL
  spacy/gold.pyx
  spacy/tests/test_gold.py
  website/docs/api/cli.md
Labels: bug, enhancement, feat / cli

#4509 Bugfix/fix wikidata train entity linker
  .github/contributors/zhuorulin.md
  bin/wiki_entity_linking/wikidata_train_entity_linker.py
  spacy/pipeline/pipes.pyx
Labels: bug, feat / nel

#4501 Update tag maps and docs for English and German
  spacy/glossary.py
  spacy/lang/de/tag_map.py
  spacy/lang/en/tag_map.py
  website/docs/api/annotation.md
Labels: bug, feat / tagger

#4521 Also support passing list to Language.disable_pipes
  spacy/cli/train.py
  spacy/language.py
  spacy/pipeline/entityruler.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/tests/regression/test_issue3611.py
  spacy/tests/regression/test_issue4030.py
  website/docs/api/language.md
Labels: enhancement, feat / pipeline

#4522 Implement new API for {Phrase}Matcher.add (backwards-compatible)
  spacy/errors.py
  spacy/matcher/dependencymatcher.pyx
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
  spacy/pipeline/entityruler.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/matcher/test_matcher_logic.py
  spacy/tests/matcher/test_pattern_validation.py
  spacy/tests/matcher/test_phrase_matcher.py
  spacy/tests/regression/test_issue1-1000.py
  spacy/tests/regression/test_issue1001-1500.py
  spacy/tests/regression/test_issue1501-2000.py
  spacy/tests/regression/test_issue2001-2500.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3549.py
  spacy/tests/regression/test_issue3555.py
  spacy/tests/regression/test_issue3839.py
  spacy/tests/regression/test_issue3879.py
  spacy/tests/regression/test_issue3951.py
  spacy/tests/regression/test_issue3972.py
  spacy/tests/regression/test_issue4002.py
  spacy/tests/regression/test_issue4120.py
  website/docs/api/matcher.md
  website/docs/api/phrasematcher.md
Labels: enhancement, feat / matcher

#4524 Fix GoldParse init
  spacy/syntax/nn_parser.pyx
Labels: bug, feat / parser

#4518 Refactor Tok2Vec to use architecture registry
  spacy/_ml.py
  spacy/ml/__init__.py
  spacy/ml/_wire.py
  spacy/ml/common.py
  spacy/ml/tok2vec.py
  spacy/util.py
Labels: enhancement, feat / pipeline, feat / tok2vec

#4517 Component decorator and component analysis
  requirements.txt
  setup.cfg
  spacy/__init__.py
  spacy/analysis.py
  spacy/compat.py
  spacy/errors.py
  spacy/language.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/functions.py
  spacy/pipeline/hooks.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/pipes.pyx
  spacy/syntax/nn_parser.pyx
  spacy/tests/pipeline/test_analysis.py
  spacy/util.py
Labels: enhancement, feat / pipeline, feat / ux, ⚠️ wip

#4526 [#4525] fix gold.align
  spacy/gold.pyx
  spacy/tests/test_gold.py
Labels: bug

#4530 [#4529] fix: gold pyx
  spacy/gold.pyx
  spacy/tests/regression/test_issue4529.py
Labels: bug

#4516 Match pop with append for training format
  examples/training/ner_multitask_objective.py
  spacy/gold.pyx
  spacy/language.py
  spacy/pipeline/pipes.pyx
  spacy/syntax/arc_eager.pyx
  spacy/syntax/ner.pyx
  spacy/syntax/nn_parser.pyx
  spacy/syntax/nonproj.pyx
  spacy/tests/regression/test_issue4402.py
Labels: bug, feat / cli, training

#4392 Fix --gold-preproc train cli command
  examples/training/ner_multitask_objective.py
  spacy/gold.pyx
  spacy/language.py
  spacy/pipeline/pipes.pyx
  spacy/syntax/arc_eager.pyx
  spacy/syntax/ner.pyx
  spacy/syntax/nn_parser.pyx
  spacy/syntax/nonproj.pyx
Labels: bug, feat / cli, training

#4535 Fix GPU training for Thinc 7.2+
  spacy/syntax/_parser_model.pyx
Labels: bug, gpu, training, 🔮 thinc

#4534 Flag to ignore examples with mismatched raw/gold text
  spacy/cli/train.py
  spacy/gold.pyx
Labels: feat / cli, feat / ux, training

#4536 Support Mish activation (requires Thinc 7.3)
  requirements.txt
  setup.cfg
  spacy/_ml.py
  spacy/cli/pretrain.py
  spacy/ml/tok2vec.py
  spacy/syntax/nn_parser.pyx
  website/docs/api/cli.md
Labels: enhancement, feat / parser, 🔮 thinc

#4539 Filter subtoken matches in merge_subtokens()
  spacy/pipeline/functions.py
  spacy/tests/pipeline/test_functions.py
Labels: bug

#4537 modified gold.align to handle space tokens
  spacy/gold.pyx
  spacy/tests/test_gold.py
Labels: bug

#4541 Put new alignment behind flag for v2.2.2 release
  spacy/gold.pyx
  spacy/tests/test_gold.py
Labels: enhancement

#4542 Free pointers in parser activations (#4486)
  requirements.txt
  spacy/syntax/_parser_model.pxd
  spacy/syntax/_parser_model.pyx
  spacy/syntax/nn_parser.pyx
Labels: bug, perf / memory

#4551 UTF-8 encodings
  bin/ud/ud_run_test.py
  bin/ud/ud_train.py
  spacy/util.py
Labels: bug, feat / cli, windows

#4455 ✨ project: pySBD - Python Sentence Boundary Disambiguation
  website/meta/universe.json
Labels: docs

#4553 Add "spaCy Server" to spaCy Universe
  .github/contributors/neelkamath.md
  website/meta/universe.json
Labels: docs

#4555 Support span._. in component decorator attrs
  spacy/analysis.py
  spacy/errors.py
  spacy/tests/pipeline/test_analysis.py
Labels: bug, feat / pipeline

#4557 Fix pipeline analysis on remove pipe
  spacy/language.py
  spacy/tests/pipeline/test_analysis.py
Labels: bug, feat / pipeline

#4563 Put Tok2Vec refactor behind feature flag
  spacy/_ml.py
  spacy/ml/_legacy_tok2vec.py
  spacy/ml/tok2vec.py
  spacy/tests/test_tok2vec.py
Labels: feat / tok2vec

#4564 Remove box-decoration-break from entities in displacy
  spacy/displacy/templates.py
  website/docs/images/displacy-ent-custom.html
  website/docs/images/displacy-ent-snek.html
  website/docs/images/displacy-ent1.html
  website/docs/images/displacy-ent2.html
Labels: enhancement, feat / visualizers

#4560 Add LAS per dependency to Scorer
  spacy/scorer.py
  spacy/tests/test_scorer.py
Labels: enhancement
