Repository explosion/spaCy, pull requests merged in 2019-08, with the labels that each got.

#4062 Corrected imported function
  website/docs/api/goldparse.md
Labels: docs

#4064 Add links to tokenizer API docs to refer relevant information.
  website/docs/api/tokenizer.md
Labels: docs

#4057 ensure the lang of vocab and nlp stay consistent
  spacy/errors.py
  spacy/language.py
  spacy/tests/regression/test_issue4054.py
Labels: bug, enhancement, feat / pipeline

#4052 Improve NER per type scoring
  spacy/scorer.py
  spacy/tests/regression/test_issue3968.py
  spacy/tests/test_scorer.py
Labels: bug, feat / ner

#4049 Fix init_model if there's no vocab (closes #4048)
  spacy/cli/init_model.py
Labels: bug, enhancement, feat / cli

#4067 Update gold corpus code to properly ingest a directory of jsonlines f…
  .github/contributors/akornilo.md
  spacy/gold.pyx
Labels: enhancement, training

#4066 added missing punctuation following conventions.
  spacy/lang/char_classes.py
  spacy/lang/ur/__init__.py
  spacy/lang/ur/punctuation.py
  spacy/tests/lang/ur/test_text.py
Labels: enhancement, lang / ur

#4082 Fixed syntax error in lang/ko when using python 2
  .github/contributors/veer-bains.md
  spacy/lang/ko/__init__.py
Labels: bug, lang / ko

#4081 Fix typo in requirements section of pyproject.toml
  pyproject.toml
Labels: bug

#4078 Stopwords for Serbian language.
  .github/contributors/Pavle992.md
  spacy/lang/rs/__init__.py
  spacy/lang/rs/stop_words.py
  spacy/tests/lang/test_initialize.py
Labels: enhancement, lang / sr

#4084 💫 Sync branches
  website/meta/languages.json
Labels: docs

#4080 Fix get_token_attr for NORM
  spacy/tests/regression/test_issue4002.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc, feat / matcher

#4079 Raise error if annotation dict in simple training style has unexpected keys #4074
  .github/contributors/jenojp.md
  spacy/errors.py
  spacy/language.py
  spacy/tests/test_language.py
Labels: enhancement, training

#4089 Add validate option to EntityRuler
  spacy/pipeline/entityruler.py
  spacy/tests/pipeline/test_entity_ruler.py
  website/docs/api/entityruler.md
  website/docs/usage/rule-based-matching.md
Labels: docs, enhancement

#4090 💫 Require downloaded model in pkg_resources so it can be used in same session
  spacy/cli/download.py
Labels: enhancement, feat / cli, models

#4097 Update lemma and vector information after splitting a token
  spacy/tests/regression/test_issue3540.py
  spacy/tokens/_retokenize.pyx
Labels: bug, feat / doc, feat / vectors

#4101 Add entry for Blackstone in universe.json
  .github/contributors/ICLRandD.md
  website/meta/universe.json
Labels: docs

#4103 update lang/zh
  .github/contributors/phiedulxp.md
  spacy/lang/zh/__init__.py
  spacy/lang/zh/examples.py
  spacy/lang/zh/lex_attrs.py
  spacy/lang/zh/tag_map.py
Labels: enhancement, lang / zh

#4091 CLI scripts for entity linking (wikipedia & generic)
  bin/wiki_entity_linking/kb_creator.py
  bin/wiki_entity_linking/train_descriptions.py
  bin/wiki_entity_linking/training_set_creator.py
  bin/wiki_entity_linking/wikidata_pretrain_kb.py
  bin/wiki_entity_linking/wikidata_processor.py
  bin/wiki_entity_linking/wikidata_train_entity_linker.py
  bin/wiki_entity_linking/wikipedia_processor.py
  examples/pipeline/dummy_entity_linking.py
  examples/pipeline/wikidata_entity_linking.py
  examples/training/pretrain_kb.py
  examples/training/train_entity_linker.py
  spacy/_ml.py
  spacy/errors.py
  spacy/kb.pyx
  spacy/pipeline/pipes.pyx
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/serialize/test_serialize_kb.py
  spacy/tokens/doc.pyx
Labels: enhancement, feat / nel, 🔜 v2.2

#4113 💫 Support displaCy user colors via entry point
  spacy/displacy/render.py
Labels: enhancement, feat / visualizers

#4110 Correction of default lemmatizer lookup in English (Issue # 4104)
  .github/contributors/ajrader.md
  spacy/lang/en/lemmatizer/lookup.py
  spacy/tests/regression/test_issue4104.py
Labels: feat / lemmatizer, lang / en, perf / accuracy

#4123 Provide more info in cycle error message E069
  spacy/errors.py
  spacy/gold.pyx
Labels: enhancement, feat / ux

#4021 biluo_tags_from_offsets throw exception for overlapping entities
  .github/contributors/ryanzhe.md
  spacy/gold.pyx
  spacy/tests/test_gold.py
Labels: enhancement, 🔜 v2.2

#4114 WIP: Extending debug-data
  spacy/cli/debug_data.py
  spacy/gold.pyx
Labels: enhancement, feat / cli

#4132 Update universe.json to include negspacy
  website/meta/universe.json
Labels: docs

#4117 Custom entity render
  .github/contributors/yanaiela.md
  spacy/displacy/render.py
Labels: enhancement, feat / visualizers

#4139 Make the emoticon list a raw string
  spacy/lang/tokenizer_exceptions.py
Labels: bug, feat / tokenizer, lang / all

#4143 Issue #1107 - adds examples.py for Croatian language
  .github/contributors/isaric.md
  spacy/lang/hr/examples.py
Labels: enhancement, lang / hr

#4144 Make enabling/disabling jupyter mode more explicit
  website/docs/usage/visualizers.md
Labels: docs

#4150 fix PhraseMatcher link typo in docs
  website/docs/api/entityruler.md
Labels: docs

#4151 Added RONEC to spaCy Universe
  .github/contributors/avramandrei.md
  website/meta/universe.json
Labels: docs, lang / ro

#4153 Unit test for Issue 3879
  spacy/tests/regression/test_issue3879.py
Labels: tests

#4105 Improve token pattern checking without validation
  bin/wiki_entity_linking/kb_creator.py
  bin/wiki_entity_linking/wikidata_pretrain_kb.py
  bin/wiki_entity_linking/wikidata_train_entity_linker.py
  examples/training/pretrain_kb.py
  examples/training/train_entity_linker.py
  spacy/displacy/render.py
  spacy/errors.py
  spacy/matcher/_schemas.py
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
  spacy/pipeline/entityruler.py
  spacy/tests/matcher/test_pattern_validation.py
  spacy/tests/matcher/test_phrase_matcher.py
  spacy/tests/pipeline/test_entity_ruler.py
  website/docs/usage/rule-based-matching.md
Labels: enhancement, feat / matcher, 🔜 v2.2

#4159 Serbian language code update "rs" -> "sr"
  spacy/lang/sr/__init__.py
  spacy/lang/sr/stop_words.py
  spacy/tests/lang/test_initialize.py
  website/meta/languages.json
Labels: bug, lang / sr

#4162 fix retry loop in matcher
  spacy/matcher/matcher.pyx
  spacy/tests/regression/test_issue3879.py
  spacy/tests/regression/test_issue3951.py
Labels: bug, feat / matcher

#4092 Serialize POS attribute when doc.is_tagged
  spacy/tests/regression/test_issue3959.py
  spacy/tests/regression/test_issue4133.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc, feat / serialize, 🔜 v2.2

#4166 Adding double match for optional operator at the end
  spacy/matcher/matcher.pxd
  spacy/matcher/matcher.pyx
  spacy/tests/regression/test_issue4120.py
Labels: bug, feat / matcher

#4169 Serbian language improvement
  spacy/lang/sr/__init__.py
  spacy/lang/sr/examples.py
  spacy/lang/sr/lex_attrs.py
  spacy/lang/sr/norm_exceptions.py
  spacy/lang/sr/tokenizer_exceptions.py
  spacy/tests/conftest.py
  spacy/tests/lang/sr/__init__.py
  spacy/tests/lang/sr/test_tokenizer.py
  spacy/tests/lang/sr/test_еxceptions.py
Labels: enhancement, lang / sr

#4174 Small retokenizer fix
  spacy/tokens/_retokenize.pyx
Labels: enhancement, feat / doc

#4179 Matcher ID fixes
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pxd
  spacy/matcher/phrasematcher.pyx
  spacy/tests/regression/test_issue3972.py
Labels: bug, feat / matcher

#4188 Fix #3830: 'subtok' label being added even if learn_tokens=False
  spacy/cli/train.py
  spacy/pipeline/pipes.pyx
  spacy/syntax/arc_eager.pyx
  spacy/syntax/nn_parser.pyx
  spacy/tests/regression/test_issue3830.py
Labels: bug, feat / parser, models

#4189 DOC Fix pipeline functions examples
  website/docs/api/pipeline-functions.md
Labels: docs

#4191 Add Thai Language tokenizers
  setup.py
Labels: install, lang / th

#4192 new universe project - the numeric fused-head
  website/meta/universe.json
Labels: docs

#4202 Fix visualizer options linking for displaCy.
  website/docs/api/top-level.md
Labels: docs

#4205 Add train_docs() option to add orth variants
  README.md
  spacy/gold.pyx
  spacy/lang/de/__init__.py
  spacy/lang/en/__init__.py
  spacy/language.py
  website/docs/api/top-level.md
  website/meta/languages.json
  website/meta/universe.json
Labels: enhancement, models, training

#4210 Add more token attributes to token pattern schema
  spacy/matcher/_schemas.py
  spacy/tests/matcher/test_matcher_api.py
Labels: bug, feat / matcher

#4186 Updates/bugfixes for NER/IOB converters
  examples/training/ner_example_data/README.md
  examples/training/ner_example_data/ner-sent-per-line.iob
  examples/training/ner_example_data/ner-sent-per-line.json
  examples/training/ner_example_data/ner-token-per-line-conll2003.iob
  examples/training/ner_example_data/ner-token-per-line-conll2003.json
  examples/training/ner_example_data/ner-token-per-line-with-pos.iob
  examples/training/ner_example_data/ner-token-per-line-with-pos.json
  examples/training/ner_example_data/ner-token-per-line.iob
  examples/training/ner_example_data/ner-token-per-line.json
  spacy/cli/convert.py
  spacy/cli/converters/conll_ner2json.py
  spacy/cli/converters/iob2json.py
  spacy/tests/test_cli.py
  website/docs/api/cli.md
Labels: bug, enhancement, feat / cli

#4207 Bugfix for serializing tokenizer rules/exceptions
  spacy/tests/regression/test_issue4190.py
  spacy/tokenizer.pyx
Labels: bug, feat / serialize, feat / tokenizer
