Repository explosion/spaCy, pull requests merged in 2019-01, with the labels that each got.

#3118 Joblib site has moved.
  website/usage/_processing-pipelines/_multithreading.jade
Labels: docs

#3119 Create alvations.md
  .github/contributors/alvations.md
Labels: meta

#3110 Bugfix/get lca matrix
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_span.py
  spacy/tests/regression/test_issue2396.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc

#3126 Support CUDA 10
  .github/contributors/moreymat.md
  setup.py
  website/usage/_install/_instructions.jade
Labels: gpu, install, third-party

#3124 Correct docs of `Token.subtree` and `Span.subtree` (issue #3122)
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
  website/api/span.jade
  website/api/token.jade
Labels: docs, feat / doc

#3078 Making `lang/th/test_tokenizer.py` pass by creating `ThaiTokenizer`
  spacy/lang/ja/__init__.py
  spacy/lang/th/__init__.py
  spacy/util.py
Labels: enhancement, lang / th, tests

#3131 French lemmatization: adding lemmas for adverbs and irregular lemmas for function words
  .github/contributors/amperinet.md
  spacy/lang/fr/lemmatizer/__init__.py
  spacy/lang/fr/lemmatizer/_adp_irreg.py
  spacy/lang/fr/lemmatizer/_adverbs.py
  spacy/lang/fr/lemmatizer/_cconj_irreg.py
  spacy/lang/fr/lemmatizer/_dets_irreg.py
  spacy/lang/fr/lemmatizer/_pronouns_irreg.py
  spacy/lang/fr/lemmatizer/_sconj_irreg.py
  spacy/lang/fr/lemmatizer/lemmatizer.py
Labels: enhancement, lang / fr

#3139 Update call to `mkdir()` to create the parents
  .github/contributors/retnuh.md
  examples/training/train_textcat.py
Labels: examples

#3154 Tamil language support
  .github/contributors/Loghijiaha.md
  spacy/lang/ta/__init__.py
  spacy/lang/ta/examples.py
  spacy/lang/ta/lex_attrs.py
  spacy/lang/ta/stop_words.py
Labels: enhancement, lang / ta

#3156 Fix issue #3150 - Doc.print_tree(flat=True) broken
  spacy/tokens/printers.py
Labels: bug, feat / doc

#3155 Allow vectors to be optional in init-model, more robust string counting
  .github/contributors/DeNeutoy.md
  spacy/cli/init_model.py
Labels: bug, enhancement, feat / cli

#3159 iob converter: add 'exception' for error 'too many values'
  spacy/cli/converters/iob2json.py
Labels: enhancement, feat / cli

#3158 Updated spacy_conll information
  website/universe/universe.json
Labels: docs

#3167 Build metadata modernization - pyproject.toml and python_requires
  MANIFEST.in
  pyproject.toml
  setup.py
Labels: meta

#3179 Create foufaster.md
  .github/contributors/foufaster.md
Labels: meta

#3198 Create PolyglotOpenstreetmap.md
  .github/contributors/PolyglotOpenstreetmap.md
Labels: meta

#3174 Batch UD evaluation script
  spacy/cli/ud/conll17_ud_eval.py
  spacy/cli/ud/run_eval.py
Labels: feat / cli, training

#3180 Fix french lemmatization
  spacy/lang/fr/lemmatizer/lemmatizer.py
  spacy/tests/regression/test_issue3178.py
Labels: bug, lang / fr

#3204 Update TIGER/German dependency relations in documentation
  .github/contributors/adrianeboyd.md
  website/api/_annotation/_dep-labels.jade
Labels: docs, lang / de

#3220 Updated main to make use of lang variable
  examples/information_extraction/phrase_matcher.py
Labels: examples

#3206 add small fix for French lemmatizer
  .github/contributors/amperinet.md
  spacy/lang/fr/lemmatizer/lemmatizer.py
Labels: bug, lang / fr

#3213 Don't check for Jupyter in global scope and fix check
  spacy/displacy/__init__.py
  spacy/util.py
Labels: feat / visualizers, third-party
