Repository explosion/spaCy, pull requests merged in 2019-04, with the labels that each got.

#3515 added tag_map for indonesian
  spacy/lang/id/__init__.py
  spacy/lang/id/tag_map.py
Labels: enhancement, lang / id

#3532 Update links and http -> https
  .github/contributors/ivigamberdiev.md
  README.md
Labels: docs

#3529 Update Thai tokenizer_exception list
  .github/contributors/socool.md
  spacy/lang/th/tokenizer_exceptions.py
Labels: enhancement, lang / th

#3530 Allow English stopwords with any type of apostrophe
  spacy/lang/en/stop_words.py
  spacy/tests/regression/test_issue3449.py
  spacy/tests/regression/test_issue3521.py
Labels: enhancement, lang / en

#3539 Added tags previously missing from Indonesian `tag_map.py`
  spacy/lang/id/tag_map.py
Labels: enhancement, lang / id

#3542 fix typos in tag_map flagged by `python -m debug-data`
  .github/contributors/jeannefukumaru.md
  spacy/lang/id/tag_map.py
Labels: enhancement, lang / id

#3545 Update Thai stop words
  spacy/lang/th/stop_words.py
Labels: enhancement, lang / th

#3548 Added Ludwig among the projects
  .github/contributors/w4nderlust.md
  website/meta/logos.json
  website/meta/universe.json
  website/src/images/logos/index.js
  website/src/images/logos/uber.svg
Labels: docs

#3550 Removes duplicate in table
  website/docs/api/token.md
Labels: docs

#3559 Fix typo in the web documentation of cli.md
  website/docs/api/cli.md
Labels: docs

#3565 Fix website docs for Vectors.from_glove
  .github/contributors/bryant1410.md
  website/docs/api/vectors.md
Labels: docs

#3570 Added project gracyql to Universe
  website/meta/universe.json
Labels: docs

#3575 Add myself to contributors
  .github/contributors/pickfire.md
Labels: meta

#3577 Signed agreement
  .github/contributors/celikomer.md
Labels: meta

#3576 Added Turkish Lira symbol(₺)
  spacy/lang/norm_exceptions.py
Labels: enhancement, lang / tr

#3583 Change default output format from `jsonl` to `json` for cli convert
  .github/contributors/xssChauhan.md
  spacy/cli/convert.py
Labels: feat / cli, training

#3538 Improved training and evaluation
  spacy/cli/evaluate.py
  spacy/cli/train.py
Labels: bug, enhancement, feat / cli, training

#3589 Fix symlink creation to show error message on failure
  .github/contributors/BreakBB.md
  spacy/compat.py
  spacy/tests/test_misc.py
Labels: compat, feat / cli, windows

#3601 Create fizban99.md
  .github/contributors/fizban99.md
Labels: meta

#3599 entity types for colors should be in uppercase
  website/docs/usage/visualizers.md
Labels: docs

#3614 Create Dobita21.md
  .github/contributors/Dobita21.md
Labels: meta

#3612 Add Thai norm_exceptions
  spacy/lang/th/__init__.py
  spacy/lang/th/norm_exceptions.py
Labels: enhancement, lang / th

#3510 Add save after `--save-every` batches for `spacy pretrain`
  spacy/cli/pretrain.py
  website/docs/api/cli.md
Labels: enhancement, feat / cli

#3627 update norm_exceptions
  spacy/lang/th/norm_exceptions.py
Labels: enhancement, lang / th

#3641 Update Universe Website for pyInflect
  .github/contributors/bjascob.md
  website/meta/universe.json
Labels: docs

#3643 Improve redundant variable name
  website/docs/usage/rule-based-matching.md
Labels: docs

#3651 Updates to docs for website build
  CONTRIBUTING.md
  website/README.md
Labels: docs

#3658 Create yaph.md so I can contribute
  .github/contributors/yaph.md
Labels: meta

#3656 Fix broken link to Dive Into Python 3 website
  .github/contributors/amitness.md
  website/docs/usage/101/_serialization.md
Labels: docs

#3657 Remove dangling M
  website/docs/usage/spacy-101.md
Labels: docs
