Repository explosion/spaCy, pull requests merged in 2019-09, with the labels that each got.

#4245 Fix ValueError exception on empty Korean text.
  spacy/lang/ko/__init__.py
  spacy/tests/lang/ko/test_tokenizer.py
Labels: bug, feat / tokenizer, lang / ko

#4246 Make pos/tag distinction more clear in docs
  website/docs/usage/linguistic-features.md
Labels: docs, feat / tagger

#4247 Docs: bufsize instead of buffsize
  website/docs/api/top-level.md
Labels: docs

#4219 Modify retokenizer to use span root attributes
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tokens/_retokenize.pyx
Labels: bug, feat / doc

#4257 adding Romanian tag_map
  .github/contributors/mihaigliga21.md
  spacy/lang/ro/__init__.py
  spacy/lang/ro/tag_map.py
Labels: enhancement, lang / ro

#4263 pulling tqdm imports in functions to avoid bug
  bin/ud/ud_run_test.py
  bin/ud/ud_train.py
  examples/training/conllu.py
  examples/training/pretrain_textcat.py
  examples/vectors_tensorboard.py
  spacy/cli/init_model.py
  spacy/cli/profile.py
  spacy/cli/train.py
Labels: third-party, windows

#4178 💫 WIP: Basic lookup class scaffolding and JSON for all lemmatizer data
  .flake8
  spacy/errors.py
  spacy/lookups.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tests/serialize/test_serialize_vocab_strings.py
  spacy/tests/vocab_vectors/test_lookups.py
  spacy/util.py
  spacy/vocab.pyx
Labels: enhancement, ⚠️ wip

#4248 Allow period as suffix following punctuation
  spacy/lang/punctuation.py
  spacy/tests/lang/en/test_prefix_suffix_infix.py
Labels: enhancement, feat / tokenizer

#4266 Update Ukrainian create_lemmatizer kwargs
  spacy/lang/uk/__init__.py
Labels: bug, lang / uk

#4275 💫 Fix bug in Parser.labels and add test
  spacy/pipeline/pipes.pyx
  spacy/tests/parser/test_add_label.py
Labels: bug, feat / parser

#4284 Fix handling of spaces in Japanese
  spacy/lang/ja/__init__.py
  spacy/lang/ja/tag_map.py
  spacy/tests/lang/ja/test_tokenizer.py
Labels: bug, lang / ja

#4285 Bugfix for dimensions in el_pipe
  spacy/errors.py
  spacy/pipeline/pipes.pyx
Labels: bug, feat / nel

#4235 Changes to wiki_entity_linker
  bin/wiki_entity_linking/__init__.py
  bin/wiki_entity_linking/entity_linker_evaluation.py
  bin/wiki_entity_linking/kb_creator.py
  bin/wiki_entity_linking/train_descriptions.py
  bin/wiki_entity_linking/training_set_creator.py
  bin/wiki_entity_linking/wikidata_pretrain_kb.py
  bin/wiki_entity_linking/wikidata_processor.py
  bin/wiki_entity_linking/wikidata_train_entity_linker.py
  bin/wiki_entity_linking/wikipedia_processor.py
Labels: enhancement, feat / nel

#4288 Add Kannada, Tamil, and Telugu unicode blocks
  spacy/lang/char_classes.py
Labels: bug, lang / kn, lang / ta, lang / te

#4290 Extend default punct for sentencizer
  spacy/pipeline/pipes.pyx
  spacy/tests/pipeline/test_sentencizer.py
Labels: enhancement, feat / pipeline, lang / all

#4289 💫 Adjust Table API and add docs
  spacy/lang/el/lemmatizer/__init__.py
  spacy/lang/fr/lemmatizer/__init__.py
  spacy/lang/nl/lemmatizer/__init__.py
  spacy/lang/ru/lemmatizer.py
  spacy/lang/uk/lemmatizer.py
  spacy/lemmatizer.py
  spacy/lookups.py
  spacy/morphology.pyx
  spacy/tests/lang/lt/test_lemmatizer.py
  spacy/tests/lang/nl/test_lemmatizer.py
  spacy/tests/vocab_vectors/test_lookups.py
  spacy/tokens/token.pyx
  website/docs/api/lemmatizer.md
  website/docs/api/lookups.md
Labels: enhancement

#4226 Add textcat to train CLI
  examples/training/textcat_example_data/CC0.txt
  examples/training/textcat_example_data/CC_BY-SA-3.0.txt
  examples/training/textcat_example_data/CC_BY-SA-4.0.txt
  examples/training/textcat_example_data/README.md
  examples/training/textcat_example_data/cooking.json
  examples/training/textcat_example_data/cooking.jsonl
  examples/training/textcat_example_data/jigsaw-toxic-comment.json
  examples/training/textcat_example_data/jigsaw-toxic-comment.jsonl
  examples/training/textcat_example_data/textcatjsonl_to_trainjson.py
  spacy/cli/debug_data.py
  spacy/cli/evaluate.py
  spacy/cli/train.py
  spacy/errors.py
  spacy/gold.pyx
  spacy/language.py
  spacy/pipeline/pipes.pyx
  spacy/scorer.py
  spacy/syntax/arc_eager.pyx
  spacy/syntax/ner.pyx
  spacy/syntax/nn_parser.pyx
  spacy/tests/test_gold.py
  spacy/tests/test_scorer.py
  website/docs/api/annotation.md
  website/docs/api/cli.md
  website/docs/api/scorer.md
Labels: enhancement, feat / cli, feat / textcat

#4294 Ensure that doc.ents preserves kb_id annotations
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc, feat / nel

#4305 remove redundant __call__ method in pipes.TextCategorizer
  spacy/pipeline/pipes.pyx
  spacy/tests/regression/test_issue4278.py
Labels: bug, feat / textcat

#4300 Improve speed of _merge method
  .github/contributors/Hazoom.md
  spacy/tokens/_retokenize.pyx
Labels: feat / tokenizer, perf / speed

#4307 Distinction between outside, missing and blocked NER annotations
  spacy/errors.py
  spacy/syntax/ner.pyx
  spacy/syntax/nn_parser.pyx
  spacy/tests/doc/test_add_entities.py
  spacy/tests/parser/test_ner.py
  spacy/tests/regression/test_issue1-1000.py
  spacy/tests/regression/test_issue4267.py
  spacy/tokens/doc.pyx
  spacy/tokens/token.pyx
Labels: enhancement, feat / ner

#4303 add return_matches and as_tuples back to Matcher.pipe
  .github/contributors/seanBE.md
  spacy/matcher/matcher.pyx
Labels: enhancement, feat / matcher

#4314 Improve Morphology errors
  spacy/errors.py
  spacy/morphology.pyx
  spacy/syntax/transition_system.pyx
  spacy/util.py
Labels: enhancement, feat / ux

#4317 update neuralcoref example
  website/meta/universe.json
Labels: docs

#4320 update sense2vec version
  website/meta/universe.json
Labels: docs

#4321 Allow vectors name to be set in init-model
  spacy/cli/init_model.py
  website/docs/api/cli.md
Labels: bug, feat / cli, feat / vectors

#4322 Fix typo in documentation
  .github/contributors/zqianem.md
  website/docs/usage/101/_pos-deps.md
Labels: docs

#4326 typo fix for wordnet_annotator
  website/meta/universe.json
Labels: docs

#4325 Update stop_words.py and add name in contributors
  .github/contributors/jaydeepborkar.md
  spacy/lang/hi/stop_words.py
Labels: enhancement, lang / hi

#4327 fix typo in first token
  .github/contributors/EARL_GREYT.md
  examples/training/training-data.json
Labels: examples

#4316 Refactor language update
  spacy/language.py
Labels: enhancement

#4315 Update UD bin scripts
  bin/ud/run_eval.py
  bin/ud/ud_run_test.py
  bin/ud/ud_train.py
Labels: enhancement, training

#4309 Replace PhraseMatcher with trie-based search
  spacy/errors.py
  spacy/matcher/phrasematcher.pxd
  spacy/matcher/phrasematcher.pyx
  spacy/tests/matcher/test_phrase_matcher.py
Labels: bug, enhancement, feat / matcher

#4330 Ensure the NER remains consistent after resizing
  spacy/pipeline/entityruler.py
  spacy/syntax/nn_parser.pyx
  spacy/syntax/transition_system.pyx
  spacy/tests/regression/test_issue4042.py
  spacy/tests/regression/test_issue4313.py
Labels: bug, feat / ner

#4335 Install from sdist in CI
  azure-pipelines.yml
Labels: enhancement, tests

#4336 Fix PhraseMatcher to remember attr on pickling
  spacy/matcher/phrasematcher.pyx
Labels: bug, feat / matcher, feat / serialize

#4339 Skip duplicate spans in Doc.retokenize
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tokens/_retokenize.pyx
Labels: enhancement, feat / doc

#4345 Add test for ASCII filenames
  spacy/tests/test_misc.py
Labels: tests

#4344 Tidy up and modernize setup and config
  .flake8
  MANIFEST.in
  pyproject.toml
  setup.cfg
  setup.py
  spacy/about.py
Labels: enhancement, install, meta

#4343 Fix example sentences in Hindi for grammatical errors
  .github/contributors/er-raoniz.md
  spacy/lang/hi/examples.py
Labels: enhancement, lang / hi
