Repository explosion/spaCy, pull requests merged in 2019-12, with the labels that each got.

#4734 Tokenization fixes & new tests for Luxembourgish
  spacy/lang/lb/norm_exceptions.py
  spacy/lang/lb/punctuation.py
  spacy/lang/lb/tokenizer_exceptions.py
  spacy/tests/lang/lb/test_exceptions.py
  spacy/tests/lang/lb/test_text.py
Labels: enhancement, lang / lb

#4738 Improvements to the Finnish language data
  .github/contributors/aajanki.md
  spacy/lang/fi/__init__.py
  spacy/lang/fi/lex_attrs.py
  spacy/lang/fi/punctuation.py
  spacy/tests/lang/fi/test_text.py
  spacy/tests/lang/fi/test_tokenizer.py
Labels: enhancement, lang / fi

#4774 Include Doc.cats in serialization of Doc and DocBin
  spacy/tests/serialize/test_serialize_doc.py
  spacy/tokens/_serialize.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc, feat / serialize

#4778 Fix link to user hooks in docs
  .github/contributors/mr-bjerre.md
  website/docs/usage/vectors-similarity.md
Labels: docs

#4779 fix bug in EL predict
  spacy/pipeline/pipes.pyx
Labels: bug, feat / nel

#4767 Update token.md
  website/docs/api/token.md
Labels: docs

#4749 Fix int value handling in Matcher
  spacy/matcher/matcher.pyx
Labels: bug, feat / matcher

#4686 Add destructors for states in TransitionSystem
  spacy/syntax/_beam_utils.pyx
  spacy/syntax/arc_eager.pyx
  spacy/syntax/transition_system.pxd
  spacy/syntax/transition_system.pyx
Labels: bug, feat / ner, feat / parser, perf / memory

#4789 Update EL example
  examples/training/pretrain_kb.py
  examples/training/train_entity_linker.py
  spacy/errors.py
  spacy/pipeline/pipes.pyx
Labels: bug, enhancement, feat / nel

#4763 Add NER map option to convert CLI
  spacy/cli/convert.py
  spacy/cli/converters/conllu2json.py
  spacy/tests/test_cli.py
Labels: enhancement, feat / cli

#4796 Update doc.md
  website/docs/api/doc.md
Labels: docs

#4794 More robust set entities method in KB
  spacy/errors.py
  spacy/kb.pyx
  spacy/tests/regression/test_issue4674.py
Labels: bug, feat / nel

#4750 Add tag map argument to CLI debug-data and train
  spacy/cli/debug_data.py
  spacy/cli/train.py
Labels: enhancement, feat / cli

#4793 [New feature] add `char_span` to Span
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
Labels: enhancement, feat / doc

#4801 NEL requires doc.sents
  spacy/pipeline/pipes.pyx
Labels: feat / nel, feat / ux

#4804 Restore tqdm imports
  bin/ud/ud_train.py
  bin/wiki_entity_linking/entity_linker_evaluation.py
  bin/wiki_entity_linking/wikipedia_processor.py
  examples/training/conllu.py
  examples/training/pretrain_textcat.py
  examples/vectors_tensorboard.py
  requirements.txt
  spacy/cli/init_model.py
  spacy/cli/profile.py
  spacy/cli/train.py
Labels: third-party, windows

#4826 Documentation for PhraseMatcher constructor
  spacy/errors.py
  website/docs/api/phrasematcher.md
Labels: docs, feat / matcher, feat / ux

#4614 Adding support for Yoruba Language
  .github/contributors/Olamyy.md
  spacy/lang/yo/__init__.py
  spacy/lang/yo/examples.py
  spacy/lang/yo/lex_attrs.py
  spacy/lang/yo/stop_words.py
  spacy/tests/conftest.py
  spacy/tests/lang/test_attrs.py
  spacy/tests/lang/test_initialize.py
  spacy/tests/lang/yo/__init__.py
  spacy/tests/lang/yo/test_text.py
Labels: enhancement, lang / yo

#4827 facilitate larger training files
  spacy/errors.py
  spacy/gold.pyx
Labels: enhancement, feat / cli, feat / ux, training

#4831 Add better schemas and validation using Pydantic
  requirements.txt
  setup.cfg
  spacy/cli/_schemas.py
  spacy/errors.py
  spacy/matcher/_schemas.py
  spacy/matcher/dependencymatcher.pyx
  spacy/matcher/matcher.pxd
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
  spacy/schemas.py
  spacy/tests/doc/test_to_json.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/matcher/test_matcher_logic.py
  spacy/tests/matcher/test_pattern_validation.py
  spacy/tests/test_json_schemas.py
  spacy/util.py
Labels: enhancement, feat / ux

#4839 sign contributor agreement for AlJohri (#4839) [ci skip]
  .github/contributors/AlJohri.md
Labels: meta

#4842 Add n_process to Language.pipe documentation (#4842) [ci skip]
  .github/contributors/iechevarria.md
  spacy/errors.py
  website/docs/api/language.md
Labels: docs

#4843 Fixes typos
  .github/contributors/iurshina.md
  spacy/_align.pyx
  spacy/tokens/doc.pyx
Labels: docs

#4846 Adds script shebang
  bin/spacy
Labels: enhancement, feat / cli
