Repository explosion/spaCy, pull requests merged in 2019-03, with the labels that each got.

#3369 Fix egg fragments in direct download
  .github/contributors/adrienball.md
  spacy/cli/download.py
Labels: bug, enhancement, feat / cli

#3370 Tidy up and improve docs and docstrings
  spacy/compat.py
  spacy/displacy/__init__.py
  spacy/errors.py
  spacy/gold.pyx
  spacy/language.py
  spacy/lemmatizer.py
  spacy/lexeme.pyx
  spacy/matcher/__init__.py
  spacy/matcher/dependencymatcher.pyx
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
  spacy/pipeline/__init__.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/functions.py
  spacy/pipeline/hooks.py
  spacy/pipeline/pipes.pyx
  spacy/strings.pyx
  spacy/tokenizer.pyx
  spacy/tokens/__init__.py
  spacy/tokens/_retokenize.pyx
  spacy/tokens/_serialize.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
  spacy/vectors.pyx
  spacy/vocab.pyx
  website/docs/api/dependencyparser.md
  website/docs/api/doc.md
  website/docs/api/entityrecognizer.md
  website/docs/api/entityruler.md
  website/docs/api/pipeline-functions.md
  website/docs/api/sentencesegmenter.md
  website/docs/api/span.md
  website/docs/api/tagger.md
  website/docs/api/textcategorizer.md
  website/docs/api/token.md
  website/docs/api/tokenizer.md
  website/docs/api/top-level.md
  website/docs/usage/rule-based-matching.md
Labels: docs, enhancement, 🌙 nightly

#3374 💫 Improve converters and training data file formats
  spacy/cli/convert.py
  spacy/errors.py
  spacy/gold.pyx
  website/docs/api/cli.md
Labels: enhancement, feat / cli, training, 🌙 nightly

#3378 💫 Only link model after download if shortcut link
  spacy/cli/download.py
Labels: enhancement, feat / cli, models, 🌙 nightly

#3379 💫 Fix NER when preset entities cross sentence boundaries
  spacy/syntax/_parser_model.pyx
  spacy/syntax/_state.pxd
  spacy/syntax/ner.pyx
  spacy/syntax/nn_parser.pyx
  spacy/tests/regression/test_issue3345.py
Labels: bug, feat / ner, 🌙 nightly

#3381 💫 Improve Doc.to_json and add Doc.is_nered
  spacy/tests/doc/test_doc_api.py
  spacy/tokens/doc.pyx
  website/docs/api/doc.md
Labels: enhancement, feat / doc, 🌙 nightly

#3385 💫 Make serialization methods consistent
  spacy/errors.py
  spacy/language.py
  spacy/pipeline/pipes.pyx
  spacy/strings.pyx
  spacy/syntax/nn_parser.pyx
  spacy/syntax/transition_system.pyx
  spacy/tests/doc/test_doc_api.py
  spacy/tests/serialize/test_serialize_doc.py
  spacy/tests/serialize/test_serialize_language.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tokenizer.pyx
  spacy/tokens/doc.pyx
  spacy/util.py
  spacy/vectors.pyx
  spacy/vocab.pyx
  website/docs/api/dependencyparser.md
  website/docs/api/doc.md
  website/docs/api/entityrecognizer.md
  website/docs/api/language.md
  website/docs/api/stringstore.md
  website/docs/api/tagger.md
  website/docs/api/textcategorizer.md
  website/docs/api/tokenizer.md
  website/docs/api/vectors.md
  website/docs/api/vocab.md
Labels: bug, enhancement, feat / serialize, 🌙 nightly

#3387 Fixed typo in example of html visualizer
  .github/contributors/tmetzl.md
  website/usage/_visualizers/_html.jade
Labels: docs

#3386 💫 Allow passing of config parameters to specific pipeline components
  spacy/language.py
  website/docs/api/language.md
Labels: enhancement, feat / pipeline, 🌙 nightly

#3388 💫 Fix interaction of lemmatizer and tokenizer exceptions
  spacy/morphology.pyx
  spacy/tests/regression/test_issue2001-2500.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc, feat / serialize

#3389 💫 Support mutable default values for extension attributes
  spacy/tests/doc/test_underscore.py
  spacy/tokens/underscore.py
  website/docs/usage/processing-pipelines.md
Labels: enhancement, feat / doc, 🌙 nightly

#3390 Add support for vocab.writing_system property
  spacy/lang/fa/__init__.py
  spacy/lang/he/__init__.py
  spacy/lang/ja/__init__.py
  spacy/lang/zh/__init__.py
  spacy/language.py
  spacy/tests/vocab_vectors/test_vocab_api.py
  spacy/util.py
  spacy/vocab.pyx
Labels: enhancement, lang / all, 🌙 nightly

#3391 💫 Tidy up property syntax
  spacy/lexeme.pyx
  spacy/syntax/arc_eager.pyx
  spacy/syntax/ner.pyx
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
  spacy/vocab.pyx
Labels: enhancement, 🌙 nightly

#3392 Fix token.conjuncts (closes #795)
  spacy/tests/doc/test_token_api.py
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
  website/docs/api/span.md
  website/docs/api/token.md
Labels: bug, feat / doc, 🌙 nightly

#3393 💫 Fix displaCy support for RTL languages
  spacy/displacy/__init__.py
  spacy/displacy/render.py
  spacy/displacy/templates.py
  spacy/tests/test_displacy.py
Labels: bug, enhancement, lang / ar, lang / fa, lang / he, 🌙 nightly

#3408 label in span not writable anymore
  spacy/errors.py
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
Labels: enhancement, feat / doc, 🌙 nightly

#3405 Merging conversion scripts for conll formats
  .github/contributors/Poluglottos.md
  spacy/cli/convert.py
  spacy/cli/converters/__init__.py
  spacy/cli/converters/conllu2json.py
  spacy/cli/converters/conllubio2json.py
  spacy/tests/test_cli.py
  spacy/tests/test_misc.py
Labels: enhancement, feat / cli

#3416 Improve beam search support
  spacy/cli/train.py
  spacy/language.py
  spacy/syntax/_beam_utils.pxd
  spacy/syntax/_beam_utils.pyx
  spacy/syntax/_parser_model.pyx
  spacy/syntax/nn_parser.pyx
Labels: enhancement, feat / ner, training

#3417 Expose batch size and length caps on CLI for pretrain
  spacy/cli/pretrain.py
  website/docs/api/cli.md
Labels: enhancement, feat / cli

#3415 Revert changes to optimizer default hyper-params (WIP)
  spacy/_ml.py
Labels: bug

#3419 Fix jsonl to json conversion
  spacy/cli/converters/jsonl2json.py
  spacy/gold.pyx
Labels: bug

#3414 💫 v2.1.0 launch updates (only merge on launch!)
  README.md
  website/docs/styleguide.md
  website/gatsby-node.js
  website/meta/site.json
  website/src/components/search.js
  website/src/templates/index.js
Labels: enhancement, ⚠️ wip, 🌙 nightly

#3440 💫 Fix similarity calculation if vectors are on GPU
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
Labels: bug, feat / vectors, gpu

#3441 💫 Move UD scripts to bin
  bin/ud/__init__.py
  bin/ud/conll17_ud_eval.py
  bin/ud/run_eval.py
  bin/ud/ud_run_test.py
  bin/ud/ud_train.py
  spacy/__main__.py
  spacy/cli/__init__.py
Labels: enhancement, feat / cli

#3434 Raise Error for a narrow unicode build of Python
  .github/contributors/Bharat123rox.md
  spacy/__init__.py
  spacy/errors.py
Labels: compat, enhancement

#3455 💫 Bring English tag_map in line with UD Treebank
  spacy/lang/en/morph_rules.py
  spacy/lang/en/tag_map.py
Labels: bug, feat / tagger

#3460 Fix tokenizer on Python2.7
  spacy/compat.py
  spacy/tests/regression/test_issue3356.py
  spacy/tokenizer.pyx
Labels: bug, compat, feat / tokenizer, lang / all

#3462 Add missing space in website's landing page
  website/src/widgets/landing.js
Labels: docs

#3470 💫 Fix class mismap on parser deserializing (closes #3433)
  spacy/syntax/nn_parser.pyx
  spacy/tests/parser/test_add_label.py
Labels: bug, feat / parser

#3471 💫 Add better and serializable sentencizer
  netlify.toml
  spacy/language.py
  spacy/pipeline/__init__.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/hooks.py
  spacy/pipeline/pipes.pyx
  spacy/tests/pipeline/test_sentencizer.py
  spacy/tests/regression/test_issue3468.py
  spacy/tokens/doc.pyx
  spacy/tokens/token.pyx
  website/docs/api/sentencesegmenter.md
  website/docs/api/sentencizer.md
  website/docs/usage/101/_architecture.md
  website/docs/usage/linguistic-features.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/v2-1.md
  website/meta/sidebars.json
Labels: bug, enhancement, feat / pipeline

#3472 Bug fixes and options for TextCategorizer
  examples/training/train_textcat.py
  spacy/_ml.py
  spacy/pipeline/pipes.pyx
  website/docs/api/textcategorizer.md
Labels: bug, enhancement, feat / textcat

#3480 Update Thai tag map
  .github/contributors/wannaphongcom.md
  spacy/lang/th/tag_map.py
Labels: enhancement, lang / th

#3492 DOC: Include default value for batch_size in tokenizer pipe in docs
  spacy/tokenizer.pyx
  website/docs/api/tokenizer.md
Labels: docs

#3499 Fix/irreg adverbs extension
  spacy/lang/en/lemmatizer/_adverbs_irreg.py
  spacy/tests/lang/en/test_exceptions.py
Labels: feat / lemmatizer, perf / accuracy

#3495 fix(util): fix decaying function output
  .github/contributors/SamuelLKane.md
  spacy/tests/regression/test_issue3447.py
  spacy/util.py
  website/docs/api/top-level.md
Labels: bug

#3500 adds textpipe to universe
  .github/contributors/graus.md
  website/meta/universe.json
Labels: docs

#3491 Tags are joined with a comma and padded with asterisks
  .github/contributors/HiromuHota.md
  spacy/tests/lang/ja/test_tokenizer.py
Labels: bug, lang / ja, tests

#3459 Basic framework and APIs for entity linker
  examples/pipeline/dummy_entity_linking.py
  setup.py
  spacy/errors.py
  spacy/kb.pxd
  spacy/kb.pyx
  spacy/language.py
  spacy/pipeline/__init__.py
  spacy/pipeline/pipes.pyx
  spacy/structs.pxd
  spacy/tests/doc/test_span.py
  spacy/tests/pipeline/test_el.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pxd
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
Labels: enhancement, feat / ner, feat / pipeline
