Repository explosion/spaCy, pull requests merged in 2019-07, with the labels that each got.

#3916 Update example and sign contributor agreement
  .github/contributors/askhogan.md
  examples/information_extraction/entity_relations.py
Labels: examples

#3894 Norwegian tweaks
  .github/contributors/khellan.md
  spacy/lang/nb/lemmatizer/_lemma_rules.py
  spacy/lang/nb/tokenizer_exceptions.py
Labels: enhancement, lang / nb

#3918 Added support for serializing overwrite and ent_id_sep
  .github/contributors/kognate.md
  spacy/pipeline/entityruler.py
  spacy/tests/regression/test_issue3526.py
Labels: enhancement, feat / pipeline, feat / serialize

#3925 added contributor agreement ameyuuno.md
  .github/contributors/ameyuuno.md
Labels: meta

#3919 Added an argument to `EntityRuler` constructor to pass attrs to the `PhraseMatcher`
  spacy/pipeline/entityruler.py
  spacy/tests/pipeline/test_entity_ruler.py
  spacy/tests/regression/test_issue3526.py
  website/docs/api/entityruler.md
Labels: enhancement, feat / pipeline

#3911 Evaluation of NER model per entity type, closes #3490
  spacy/scorer.py
Labels: enhancement, feat / ner, training

#3902 Update pretrain to prevent unintended overwriting of weight files
  spacy/cli/pretrain.py
  website/docs/api/cli.md
Labels: bug, feat / cli

#3901 Korean support
  .github/contributors/cedar101.md
  .gitignore
  setup.py
  spacy/lang/ko/__init__.py
  spacy/lang/ko/examples.py
  spacy/lang/ko/stop_words.py
  spacy/lang/ko/tag_map.py
  spacy/tests/conftest.py
  spacy/tests/lang/ko/__init__.py
  spacy/tests/lang/ko/test_lemmatization.py
  spacy/tests/lang/ko/test_tokenizer.py
  website/meta/languages.json
Labels: enhancement, lang / ko

#3939 Update tokenizer and doc init example
  spacy/tokens/doc.pyx
  website/docs/api/doc.md
  website/docs/api/tokenizer.md
Labels: docs

#3864 Entity linking using Wikipedia & Wikidata
  bin/__init__.py
  bin/ud/conll17_ud_eval.py
  bin/wiki_entity_linking/__init__.py
  bin/wiki_entity_linking/kb_creator.py
  bin/wiki_entity_linking/train_descriptions.py
  bin/wiki_entity_linking/training_set_creator.py
  bin/wiki_entity_linking/wikidata_processor.py
  bin/wiki_entity_linking/wikipedia_processor.py
  examples/pipeline/dummy_entity_linking.py
  examples/pipeline/wikidata_entity_linking.py
  spacy/_ml.py
  spacy/attrs.pxd
  spacy/attrs.pyx
  spacy/cli/pretrain.py
  spacy/errors.py
  spacy/gold.pxd
  spacy/gold.pyx
  spacy/kb.pxd
  spacy/kb.pyx
  spacy/pipeline/pipes.pyx
  spacy/structs.pxd
  spacy/symbols.pxd
  spacy/symbols.pyx
  spacy/tests/pipeline/test_el.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/serialize/test_serialize_kb.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pxd
Labels: enhancement, feat / nel, feat / ner

#3946 more friendly textcat errors
  requirements.txt
  spacy/errors.py
  spacy/pipeline/pipes.pyx
Labels: enhancement, feat / textcat

#3949 💫 Fix issue #3839: Incorrect entity IDs from Matcher with operators
  spacy/matcher/matcher.pyx
  spacy/tests/regression/test_issue3839.py
Labels: bug, feat / matcher

#3948 Fix default punctuation rules for splitting Hindi text
  .github/contributors/yashpatadia.md
  spacy/lang/char_classes.py
  spacy/tests/regression/test_issue3625.py
Labels: lang / hi, perf / accuracy

#3950 Fix doc.count_by functionality
  bin/train_word_vectors.py
  spacy/tests/regression/test_issue3869.py
  spacy/tokens/doc.pxd
  spacy/tokens/doc.pyx
Labels: bug, feat / doc

#3953 Fixing ngram bug
  spacy/tests/regression/test_issue3611.py
Labels: bug, feat / textcat, 🔮 thinc

#3957 Make Danish tokenizer split on forward slash
  spacy/lang/da/punctuation.py
  spacy/lang/da/tokenizer_exceptions.py
  spacy/tests/lang/da/test_exceptions.py
Labels: enhancement, lang / da

#3964 Fix Links to Custom Attributes Documentation in Rule-Based Matching Documentation
  .github/contributors/pmbaumgartner.md
  website/docs/usage/rule-based-matching.md
Labels: docs

#3980 💫 Document spacy.gold.align
  spacy/gold.pyx
  website/docs/api/goldparse.md
  website/docs/usage/linguistic-features.md
Labels: docs

#3982 Bugfix/issue 3968
  .github/contributors/FallakAsad.md
  spacy/scorer.py
  spacy/tests/regression/test_issue3968.py
Labels: bug, feat / ner

#3992 Minor fixes to the docs
  spacy/lang/en/tokenizer_exceptions.py
  website/docs/api/cli.md
Labels: docs, lang / en

#4001 Update annotation docs for German
  website/docs/api/annotation.md
Labels: docs

#3969 Fix dependency copy for as_doc
  spacy/tests/regression/test_issue3962.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
Labels: bug, feat / doc

#4012 Remove old comment about using French parser in Norwegian
  spacy/lang/nb/__init__.py
Labels: lang / nb

#4003 API changes for Entity linking functionality
  bin/wiki_entity_linking/kb_creator.py
  bin/wiki_entity_linking/training_set_creator.py
  bin/wiki_entity_linking/wikipedia_processor.py
  examples/pipeline/dummy_entity_linking.py
  examples/pipeline/wikidata_entity_linking.py
  spacy/_ml.py
  spacy/errors.py
  spacy/gold.pxd
  spacy/gold.pyx
  spacy/kb.pxd
  spacy/kb.pyx
  spacy/pipeline/pipes.pyx
  spacy/structs.pxd
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/serialize/test_serialize_kb.py
  spacy/tokenizer.pyx
Labels: enhancement, feat / nel

#4014 💫 Improve error message when model.from_bytes() dies
  spacy/errors.py
  spacy/pipeline/pipes.pyx
  spacy/syntax/nn_parser.pyx
Labels: enhancement, 🔮 thinc

#4023 Update GoldParse attributes in API docs
  website/docs/api/goldparse.md
Labels: docs

#4022 Fix error when Korean text contains regexp special characters.
  .github/contributors/b1uec0in.md
  spacy/lang/ko/__init__.py
  spacy/tests/lang/ko/test_tokenizer.py
Labels: bug, lang / ko

#4031 💫 Support custom language factory setting in meta.json
  spacy/util.py
Labels: enhancement, feat / serialize

#4033 💫 Support simple training format in nlp.evaluate and add tests
  spacy/language.py
  spacy/tests/test_language.py
  website/docs/api/language.md
Labels: enhancement, training

#4035 Resolve edge case when calling textcat.predict with empty doc
  spacy/pipeline/pipes.pyx
  spacy/tests/regression/test_issue4030.py
Labels: bug, feat / textcat

#4050 Correct typo for AllenAI url on homepage
  .github/contributors/mdaudali.md
  website/meta/logos.json
Labels: docs
