Repository explosion/spaCy, pull requests merged in 2019-06, with the labels that each got.

#3807 Create NirantK.md
  .github/contributors/NirantK.md
Labels: meta

#3806 Add Baderlab/saber to universe.json
  website/meta/universe.json
Labels: docs

#3810 Overwrites default getter for like_num in Spanish by adding _num_words and like_num to lex_attrs.py
  .github/contributors/munozbravo.md
  spacy/lang/es/__init__.py
  spacy/lang/es/lex_attrs.py
  spacy/tests/regression/test_issue3803.py
Labels: enhancement, lang / es

#3809 Add multiple packages to universe.json (#3809) [ci skip]
  website/meta/universe.json
Labels: docs

#3819 Minor fix to broken link in documentation
  website/docs/usage/processing-pipelines.md
Labels: docs

#3836 Create Azagh3l.md
  .github/contributors/Azagh3l.md
Labels: meta

#3835 Update lex_attrs.py
  spacy/lang/fr/lex_attrs.py
Labels: enhancement, lang / fr

#3652 Add resume logic to spacy pretrain
  spacy/cli/pretrain.py
  website/docs/api/cli.md
Labels: enhancement, feat / cli

#3838 Update exemples.py
  spacy/lang/fr/examples.py
Labels: enhancement, lang / fr

#3843 Update error raising for CLI pretrain to fix #3840
  spacy/cli/pretrain.py
  spacy/errors.py
  spacy/tests/test_cli.py
  website/docs/api/cli.md
Labels: enhancement, feat / cli

#3757 Change vector training to work with latest gensim (fix #3749)
  bin/train_word_vectors.py
Labels: feat / vectors, third-party

#3465 Dependency tree pattern matcher
  spacy/matcher/__init__.py
  spacy/matcher/dependencymatcher.pyx
  spacy/tests/matcher/test_matcher_api.py
Labels: enhancement, feat / matcher

#3591 Add optional `id` property to EntityRuler patterns
  .github/contributors/kabirkhan.md
  spacy/pipeline/entityruler.py
  spacy/tests/pipeline/test_entity_ruler.py
Labels: enhancement, feat / pipeline

#3790 Update tokenizer.md for construction example
  .github/contributors/demongolem.md
  website/docs/api/tokenizer.md
Labels: docs

#3855 Changed learning rate by its param name.
  .github/contributors/elbaulp.md
  website/docs/usage/training.md
Labels: docs

#3860 Update pretrain docs and add unsupported loss_func error
  spacy/cli/pretrain.py
  spacy/errors.py
  website/docs/api/cli.md
Labels: docs, feat / cli

#3865 Typo
  .github/contributors/clarus.md
  website/docs/api/span.md
Labels: docs

#3873 Update CITATION
  CITATION
Labels: meta
