Repository explosion/spaCy, pull requests merged in 2020-01, with the labels that each got.

#4840 stop rendering mathjax by default in displacy
  spacy/displacy/__init__.py
Labels: feat / visualizers

#4836 Modernize plac commands for Python 3
  spacy/cli/convert.py
  spacy/cli/debug_data.py
  spacy/cli/download.py
  spacy/cli/evaluate.py
  spacy/cli/info.py
  spacy/cli/init_model.py
  spacy/cli/link.py
  spacy/cli/package.py
  spacy/cli/pretrain.py
  spacy/cli/profile.py
  spacy/cli/train.py
Labels: compat, enhancement, feat / cli

#4851 Warning goldparse
  spacy/errors.py
  spacy/gold.pyx
Labels: feat / cli, feat / ux, training

#4875 remove extra word typo
  website/docs/usage/rule-based-matching.md
Labels: docs

#4852 serialize ENT_ID
  spacy/attrs.pxd
  spacy/attrs.pyx
  spacy/language.py
  spacy/symbols.pxd
  spacy/symbols.pyx
  spacy/tests/regression/test_issue4849.py
  spacy/tests/serialize/test_serialize_extension_attrs.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pxd
Labels: bug, feat / serialize

#4882 Fix and improve URL pattern
  spacy/lang/tokenizer_exceptions.py
  spacy/tests/tokenizer/test_urls.py
Labels: bug, enhancement, feat / tokenizer

#4877 Add trailing whitespace to multiline test text for Tatar
  spacy/tests/lang/tt/test_tokenizer.py
Labels: lang / tt, tests

#4853 Warn for punctuation in entities when training with noise
  spacy/cli/debug_data.py
  spacy/errors.py
Labels: feat / cli, feat / ux, training

#4811 Reduce mem usage in training Entity Linker
  bin/wiki_entity_linking/README.md
  bin/wiki_entity_linking/entity_linker_evaluation.py
  bin/wiki_entity_linking/wikidata_train_entity_linker.py
  bin/wiki_entity_linking/wikipedia_processor.py
  spacy/pipeline/pipes.pyx
Labels: enhancement, feat / nel, perf / memory

#4889 Update vectors-similarity.md to fix broken URLs
  website/docs/usage/vectors-similarity.md
Labels: docs

#4884 Add CJK to character classes
  spacy/lang/char_classes.py
  spacy/tests/tokenizer/test_urls.py
Labels: enhancement, lang / all

#4890 Add sentrec shortcut to Language
  spacy/language.py
Labels: enhancement, feat / sentencizer

#4891 Report length of dev dataset correctly
  spacy/cli/debug_data.py
Labels: bug, feat / cli

#4892 Improve train CLI sentrec scoring
  spacy/cli/train.py
Labels: bug, feat / cli, feat / sentencizer

#4881 Friendly error warning for NEL example script
  bin/wiki_entity_linking/README.md
  bin/wiki_entity_linking/wikidata_pretrain_kb.py
  examples/training/pretrain_kb.py
Labels: feat / nel, feat / ux

#4909 bugfix typo conv_window
  spacy/syntax/nn_parser.pyx
Labels: bug, feat / parser

#4914 Changes to spacy_conll in universe
  website/meta/universe.json
Labels: docs

#4911 Improve train CLI with base model
  spacy/cli/train.py
Labels: enhancement, feat / cli

#4834 run normal textcat train script with transformers
  examples/training/pretrain_textcat.py
  examples/training/rehearsal.py
  examples/training/train_entity_linker.py
  examples/training/train_intent_parser.py
  examples/training/train_ner.py
  examples/training/train_new_entity_type.py
  examples/training/train_parser.py
  examples/training/train_textcat.py
Labels: enhancement, feat / cli, training

#4900 Fix ent_ids and labels properties when id attribute used in patterns
  spacy/pipeline/entityruler.py
  spacy/tests/pipeline/test_entity_ruler.py
Labels: feat / pipeline

#4925 fix nlp.evaluate (#4924)
  spacy/gold.pyx
  spacy/tests/regression/test_issue4924.py
Labels: bug, feat / cli

#4927 Update docs for train CLI --use_gpu option
  website/docs/api/cli.md
Labels: docs, feat / cli

#4938 Fix gold training
  spacy/gold.pyx
Labels: bug, training

#4932 Modify morphology to support arbitrary features
  spacy/errors.py
  spacy/lang/bn/tag_map.py
  spacy/lang/ca/tag_map.py
  spacy/lang/da/__init__.py
  spacy/lang/el/tag_map.py
  spacy/lang/fr/lemmatizer.py
  spacy/lang/ga/__init__.py
  spacy/lang/ga/tag_map.py
  spacy/lang/nb/morph_rules.py
  spacy/lang/sv/morph_rules.py
  spacy/lang/uk/tag_map.py
  spacy/lang/ur/tag_map.py
  spacy/lang/vi/tag_map.py
  spacy/morphology.pxd
  spacy/morphology.pyx
  spacy/structs.pxd
  spacy/symbols.pxd
  spacy/symbols.pyx
  spacy/tests/doc/test_morphanalysis.py
  spacy/tests/morphology/test_morph_converters.py
  spacy/tests/morphology/test_morph_features.py
  spacy/tests/regression/test_issue1-1000.py
  spacy/tests/regression/test_issue1001-1500.py
  spacy/tokens/__init__.py
  spacy/tokens/morphanalysis.pxd
  spacy/tokens/morphanalysis.pyx
  spacy/tokens/token.pyx
Labels: enhancement

#4941 Add support for pos/morphs/lemmas in training data
  spacy/gold.pxd
  spacy/gold.pyx
  spacy/tests/test_gold.py
Labels: enhancement, training

#4940 Fix Sentencizer.pipe() for empty doc
  spacy/pipeline/pipes.pyx
  spacy/tests/pipeline/test_sentencizer.py
Labels: bug, feat / sentencizer

#4942 Submitting `PyTextRank` for inclusion in the spaCy uniVerse
  .github/contributors/ceteri.md
  website/meta/universe.json
Labels: docs

#4722 Add convert CLI option to merge CoNLL-U subtokens
  spacy/cli/convert.py
  spacy/cli/converters/conllu2json.py
  spacy/tests/test_cli.py
Labels: feat / cli

#4947 Add MORPH attr, add support in retokenizer
  spacy/attrs.pxd
  spacy/attrs.pyx
  spacy/symbols.pxd
  spacy/symbols.pyx
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tests/doc/test_retokenize_split.py
  spacy/tokens/_retokenize.pyx
  spacy/tokens/token.pxd
Labels: enhancement, feat / doc
