Repository explosion/spaCy, pull requests merged in 2020-10, with the labels that each got.

#6165 Update [initialize] block in languages
  spacy/errors.py
  spacy/lang/da/__init__.py
  spacy/lang/de/__init__.py
  spacy/lang/el/__init__.py
  spacy/lang/en/__init__.py
  spacy/lang/id/__init__.py
  spacy/lang/ja/__init__.py
  spacy/lang/ko/__init__.py
  spacy/lang/lb/__init__.py
  spacy/lang/pt/__init__.py
  spacy/lang/ru/__init__.py
  spacy/lang/sr/__init__.py
  spacy/lang/ta/__init__.py
  spacy/lang/th/__init__.py
  spacy/lang/vi/__init__.py
  spacy/lang/zh/__init__.py
  spacy/tests/conftest.py
  spacy/tests/lang/zh/test_serialize.py
  spacy/tests/parser/test_ner.py
Labels: enhancement, feat / config, feat / tokenizer, lang / zh, 🔜 v3.0

#6083 Fix/span.sent
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
Labels: bug, feat / doc

#6174 Update import from collections.abc
  spacy/training/example.pyx
Labels: feat / gold, 🔜 v3.0

#6173 Switch Doc.__init__(ents=) to IOB tags
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tests/doc/test_to_json.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/test_scorer.py
  spacy/tests/training/test_training.py
  spacy/tokens/doc.pyx
Labels: feat / doc, 🔜 v3.0

#6170 Add FeatureExtractor from Thinc
  spacy/ml/featureextractor.py
  spacy/ml/models/textcat.py
  spacy/ml/models/tok2vec.py
  website/docs/api/architectures.md
  website/docs/usage/embeddings-transformers.md
Labels: enhancement

#6172 Minor edit to CoNLL-U converter
  spacy/training/converters/conllu_to_docs.py
Labels: feat / cli

#6175 Refactor Token morph setting
  spacy/errors.py
  spacy/pipeline/morphologizer.pyx
  spacy/tests/doc/test_array.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_morphanalysis.py
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tests/doc/test_retokenize_split.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/matcher/test_phrase_matcher.py
  spacy/tests/pipeline/test_attributeruler.py
  spacy/tests/pipeline/test_morphologizer.py
  spacy/tests/test_scorer.py
  spacy/tests/training/test_new_example.py
  spacy/tests/training/test_training.py
  spacy/tokens/_serialize.py
  spacy/tokens/doc.pyx
  spacy/tokens/token.pyx
  spacy/training/example.pyx
  spacy/training/gold_io.pyx
Labels: feat / doc, 🔜 v3.0

#6176 Avoid relying on NORM in default v3 models
  spacy/ml/models/tok2vec.py
Labels: enhancement, feat / tok2vec, 🔜 v3.0

#6178 Integrate file readers via srsly, update orth_variants loading
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/default_config_pretraining.cfg
  spacy/errors.py
  spacy/tests/training/test_training.py
  spacy/training/augment.py
  spacy/training/corpus.py
  spacy/util.py
  website/docs/api/corpus.md
  website/docs/api/data-formats.md
  website/docs/api/top-level.md
  website/docs/usage/embeddings-transformers.md
  website/meta/type-annotations.json
Labels: enhancement, feat / config, 🔜 v3.0

#6180 Update docs: Chinese, Japanese, etc.
  setup.cfg
  website/docs/usage/models.md
  website/docs/usage/training.md
Labels: docs, 🔜 v3.0

#6179 Minor Token.morph / docs updates
  spacy/tests/doc/test_morphanalysis.py
  spacy/tokens/token.pyx
  website/docs/api/token.md
  website/docs/usage/linguistic-features.md
Labels: docs, feat / doc, 🔜 v3.0

#6182 Make lemmatizers use initialize logic
  spacy/errors.py
  spacy/lang/bn/__init__.py
  spacy/lang/el/__init__.py
  spacy/lang/en/__init__.py
  spacy/lang/fa/__init__.py
  spacy/lang/fr/__init__.py
  spacy/lang/nb/__init__.py
  spacy/lang/nl/__init__.py
  spacy/lang/pl/__init__.py
  spacy/lang/ru/__init__.py
  spacy/lang/sv/__init__.py
  spacy/lang/uk/__init__.py
  spacy/pipeline/lemmatizer.py
  spacy/tests/lang/test_lemmatizers.py
  spacy/tests/pipeline/test_lemmatizer.py
  website/docs/api/lemmatizer.md
Labels: enhancement, feat / config, feat / lemmatizer, 🔜 v3.0

#6167 small UX fix for DocBin
  spacy/errors.py
  spacy/tests/serialize/test_serialize_doc.py
  spacy/tokens/_serialize.py
  website/docs/api/docbin.md
Labels: feat / doc, feat / ux

#6185 Relax model meta performance schema
  spacy/schemas.py
Labels: bug, 🔜 v3.0

#6183 Add morphologizer to quickstart template
  spacy/cli/templates/quickstart_training.jinja
Labels: feat / cli, 🔜 v3.0

#6188 Few minor fixes
  spacy/language.py
  spacy/ml/models/tok2vec.py
  spacy/util.py
  website/docs/api/cli.md
Labels: enhancement, 🔜 v3.0

#6184 Improve control of training progress and logging
  spacy/cli/train.py
  spacy/training/initialize.py
  spacy/training/loggers.py
  spacy/training/loop.py
  website/docs/usage/training.md
Labels: enhancement, feat / cli, 🔜 v3.0

#6190 Fix label initialization of textcat component
  spacy/errors.py
  spacy/pipeline/senter.pyx
  spacy/pipeline/textcat.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/training/initialize.py
  website/docs/api/textcategorizer.md
Labels: feat / textcat, 🔜 v3.0

#6187 compat warning for pipe.begin_training
  spacy/errors.py
  spacy/pipeline/pipe.pyx
Labels: compat, feat / pipeline, 🔜 v3.0

#6192 Update attribute ruler initialization
  spacy/pipeline/attributeruler.py
  spacy/tests/pipeline/test_attributeruler.py
  website/docs/api/attributeruler.md
  website/docs/usage/linguistic-features.md
  website/docs/usage/v3.md
Labels: enhancement, feat / pipeline, 🔜 v3.0

#6193 Adjust [initialize.components] on Language.remove_pipe and Language.rename_pipe
  spacy/language.py
  spacy/tests/pipeline/test_pipe_methods.py
Labels: bug, feat / config, feat / pipeline, 🔜 v3.0

#6194 Sync develop and master
  .github/contributors/Stannislav.md
  .github/contributors/rasyidf.md
  spacy/lang/de/syntax_iterators.py
  spacy/lang/id/examples.py
  spacy/tests/doc/test_retokenize_split.py
  spacy/tests/doc/test_span.py
  spacy/tokens/_retokenize.pyx
  spacy/tokens/span.pyx
Labels: 🔜 v3.0

#6196 Update data augmenters
  spacy/tests/training/test_augmenters.py
  spacy/tests/training/test_training.py
  spacy/training/augment.py
  spacy/training/example.pyx
  website/docs/api/top-level.md
Labels: enhancement, feat / training, ⚠️ wip, 🔜 v3.0

#6199 Update ru/uk lemmatizers for new nlp.initialize
  spacy/lang/ru/__init__.py
  spacy/lang/ru/lemmatizer.py
  spacy/lang/uk/__init__.py
  spacy/lang/uk/lemmatizer.py
  spacy/tests/conftest.py
Labels: bug, feat / lemmatizer, lang / ru, lang / uk, 🔜 v3.0

#6197 docs on implementing new pipe component
  website/docs/api/pipe.md
  website/docs/usage/layers-architectures.md
  website/docs/usage/processing-pipelines.md
Labels: docs, 🔜 v3.0

#6201 fix error numbering
  spacy/errors.py
  spacy/training/converters/conll_ner_to_docs.py
  spacy/training/converters/iob_to_docs.py
Labels: bug, feat / ux

#6198 update blis
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/about.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/pipe.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
Labels: 🔜 v3.0

#6200 Always serialize lookups and vectors to disk
  spacy/lookups.py
  spacy/vocab.pyx
Labels: bug

#6204 Remove output dirs before training
  spacy/errors.py
  spacy/training/loop.py
Labels: bug, feat / cli, feat / training, 🔜 v3.0

#6203 Update Chinese tokenizer for spacy-pkuseg fork
  Makefile
  spacy/lang/zh/__init__.py
  spacy/tests/conftest.py
Labels: enhancement, lang / zh, 🔜 v3.0

#6202 Include spaCy version check in project CLI
  spacy/about.py
  spacy/cli/_util.py
  spacy/cli/project/remote_storage.py
  spacy/cli/project/run.py
  spacy/schemas.py
  spacy/tests/test_misc.py
  spacy/util.py
  website/docs/usage/projects.md
Labels: enhancement, feat / cli, projects, 🔜 v3.0

#6205 Improve MultiHashEmbed arguments
  spacy/cli/templates/quickstart_training.jinja
  spacy/ml/models/tok2vec.py
  spacy/tests/pipeline/test_tok2vec.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/tests/test_models.py
  website/docs/api/architectures.md
Labels: enhancement, feat / tok2vec, 🔜 v3.0

#6209 Doc updates
  spacy/cli/_util.py
  website/docs/api/cli.md
  website/docs/api/data-formats.md
  website/docs/usage/training.md
Labels: docs, 🔜 v3.0

#6206 EntityRuler from config
  spacy/language.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/multitask.pyx
  spacy/pipeline/pipe.pyx
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/tok2vec.py
  spacy/pipeline/transition_parser.pyx
  spacy/schemas.py
  spacy/tests/pipeline/test_attributeruler.py
  spacy/tests/pipeline/test_entity_ruler.py
  spacy/training/initialize.py
  spacy/training/loggers.py
  spacy/training/loop.py
  website/docs/api/entityruler.md
  website/docs/api/pipe.md
Labels: enhancement, feat / cli, feat / matcher, feat / pipeline, feat / training, 🔜 v3.0

#6208 Fix Issue 6207
  .github/contributors/florijanstamenkovic.md
  spacy/tests/regression/test_issue6207.py
  spacy/util.py
Labels: bug

#6138 Website (Universe): An entry for rita-dsl
  .github/contributors/zaibacu.md
  website/meta/universe.json
Labels: docs

#6210 Various v3 docs updates
  README.md
  website/docs/usage/models.md
Labels: docs, 🔜 v3.0

#6211 Fix empty input into StaticVectors layer
  spacy/ml/staticvectors.py
  spacy/tests/test_models.py
Labels: bug

#6212 Fix packaging pin
  requirements.txt
  setup.cfg
  spacy/tests/package/test_requirements.py
Labels: install, 🔜 v3.0

#6114 Reflect on usage doc that IS_SENT_START attribute exist
  .github/contributors/delzac.md
  website/docs/usage/rule-based-matching.md
Labels: docs, enhancement

#6102 Update morph_rules.py
  .github/contributors/Nuccy90.md
  spacy/lang/sv/morph_rules.py
Labels: lang / sv

#5829 Hindi: Adds tests for lexical attributes (norm and like_num)
  .github/contributors/rahul1990gupta.md
  spacy/lang/hi/lex_attrs.py
  spacy/tests/conftest.py
  spacy/tests/lang/hi/__init__.py
  spacy/tests/lang/hi/test_lex_attrs.py
Labels: enhancement, lang / hi

#6142 Ordinal numbers for Turkish
  spacy/lang/tr/lex_attrs.py
  spacy/tests/lang/tr/test_text.py
Labels: enhancement, lang / tr

#6141 Turkish tag map and morph rules addition
  spacy/lang/tr/__init__.py
  spacy/lang/tr/morph_rules.py
Labels: enhancement, lang / tr

#6191 Turkish language syntax iterators
  spacy/lang/tr/__init__.py
  spacy/lang/tr/syntax_iterators.py
  spacy/tests/conftest.py
  spacy/tests/lang/tr/test_noun_chunks.py
  spacy/tests/lang/tr/test_parser.py
Labels: enhancement, lang / tr

#6163 Add Thai tag map (LST20 Corpus)
  spacy/lang/th/tag_map.py
Labels: lang / th

#6218 Reproducibility for TextCat and Tok2Vec
  spacy/_ml.py
  spacy/ml/_legacy_tok2vec.py
  spacy/ml/tok2vec.py
  spacy/tests/regression/test_issue6177.py
Labels: bug, training

#6219 Fix serialization of disabled 'base' components
  spacy/cli/train.py
Labels: bug, feat / cli, feat / serialize, training

#6222 Clear rule-based components on initialize
  spacy/pipeline/attributeruler.py
  spacy/pipeline/entityruler.py
  spacy/tests/pipeline/test_attributeruler.py
  spacy/tests/pipeline/test_entity_ruler.py
Labels: bug, feat / pipeline, 🔜 v3.0

#6216 kb_loader in NEL's initialize method
  spacy/language.py
  spacy/pipeline/entity_linker.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/regression/test_issue5230.py
  spacy/tests/serialize/test_serialize_kb.py
  website/docs/api/language.md
  website/docs/usage/saving-loading.md
  website/docs/usage/v3.md
Labels: feat / nel, feat / pipeline, 🔜 v3.0

#6224 Fix morph in Doc.to_json
  spacy/tests/doc/test_to_json.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc

#6213 TrainablePipe
  setup.py
  spacy/about.py
  spacy/errors.py
  spacy/kb.pxd
  spacy/kb.pyx
  spacy/language.py
  spacy/pipeline/__init__.py
  spacy/pipeline/attributeruler.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/lemmatizer.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/multitask.pyx
  spacy/pipeline/pipe.pxd
  spacy/pipeline/pipe.pyx
  spacy/pipeline/sentencizer.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/tok2vec.py
  spacy/pipeline/trainable_pipe.pxd
  spacy/pipeline/trainable_pipe.pyx
  spacy/pipeline/transition_parser.pxd
  spacy/pipeline/transition_parser.pyx
  spacy/schemas.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_morphologizer.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/tests/pipeline/test_senter.py
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/regression/test_issue4001-4500.py
  spacy/tests/regression/test_issue5230.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/training/__init__.py
  spacy/training/example.pyx
  spacy/training/loggers.py
  spacy/training/loop.py
  spacy/util.py
  website/docs/api/pipe.md
  website/docs/usage/101/_architecture.md
  website/docs/usage/layers-architectures.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/v3.md
Labels: feat / pipeline, 🔜 v3.0

#6227 Update develop from master
  .github/contributors/delzac.md
  .github/contributors/florijanstamenkovic.md
  .github/contributors/zaibacu.md
  spacy/lang/tr/__init__.py
  spacy/lang/tr/lex_attrs.py
  spacy/lang/tr/syntax_iterators.py
  spacy/tests/conftest.py
  spacy/tests/lang/tr/test_noun_chunks.py
  spacy/tests/lang/tr/test_parser.py
  spacy/tests/lang/tr/test_text.py
  spacy/tests/regression/test_issue6207.py
  spacy/util.py
  website/docs/usage/rule-based-matching.md
  website/meta/universe.json
Labels: 🔜 v3.0

#6232 Remove Span._recalculate_indices
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tokens/span.pxd
  spacy/tokens/span.pyx
Labels: feat / doc, 🔜 v3.0

#6231 Also rename to include_static_vectors in CharEmbed
  spacy/ml/models/tok2vec.py
  spacy/pipeline/morphologizer.pyx
  spacy/tests/pipeline/test_tok2vec.py
  website/docs/usage/embeddings-transformers.md
Labels: 🔜 v3.0

#6229 Bugfix in disabled context manager
  spacy/errors.py
  spacy/language.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/training/loop.py
Labels: bug, feat / pipeline, 🔜 v3.0

#6234 Various small fixes
  spacy/cli/convert.py
  spacy/ml/models/textcat.py
  spacy/ml/models/tok2vec.py
  spacy/util.py
  website/docs/usage/embeddings-transformers.md
Labels: bug, 🔜 v3.0

#6236 Revert added_strings change
  spacy/about.py
  spacy/errors.py
  spacy/kb.pxd
  spacy/kb.pyx
  spacy/pipeline/attributeruler.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/lemmatizer.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/tok2vec.py
  spacy/pipeline/trainable_pipe.pxd
  spacy/pipeline/trainable_pipe.pyx
  spacy/pipeline/transition_parser.pyx
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_morphologizer.py
  spacy/tests/pipeline/test_senter.py
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/regression/test_issue5230.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/util.py
Labels: feat / pipeline, 🔜 v3.0

#6238 Add test for vocab after serializing KB
  spacy/pipeline/trainable_pipe.pyx
  spacy/tests/pipeline/test_entity_linker.py
Labels: feat / nel, feat / serialize, tests

#6239 Make console logger table more compact
  spacy/training/loggers.py
Labels: enhancement, feat / training, feat / ux

#6242 update NEL docs after latest refactor
  spacy/ml/models/entity_linker.py
  website/docs/api/architectures.md
  website/docs/api/entitylinker.md
Labels: docs, feat / nel, 🔜 v3.0

#6245 bugfix in _pipe
  spacy/util.py
Labels: bug, feat / pipeline

#6221 added sentences
  spacy/lang/ta/examples.py
Labels: lang / ta

#6247 Avoid dropout at runtime
  spacy/about.py
  spacy/ml/staticvectors.py
Labels: bug

#6252 Small fixes
  spacy/pipeline/tagger.pyx
  spacy/pipeline/trainable_pipe.pyx
  website/docs/usage/layers-architectures.md
Labels: docs, feat / pipeline

#6253 Second round of proof-reading
  website/docs/usage/101/_named-entities.md
  website/docs/usage/101/_tokenization.md
  website/docs/usage/index.md
  website/docs/usage/layers-architectures.md
  website/docs/usage/linguistic-features.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/projects.md
  website/docs/usage/rule-based-matching.md
  website/docs/usage/saving-loading.md
  website/docs/usage/training.md
Labels: docs, 🔜 v3.0

#6249 Test runtime reproducibility
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_parse.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_models.py
  spacy/tests/pipeline/test_morphologizer.py
  spacy/tests/pipeline/test_senter.py
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/pipeline/test_textcat.py
Labels: enhancement, tests

#6255 Sync develop and master
  .github/contributors/Nuccy90.md
  .github/contributors/rahul1990gupta.md
  spacy/lang/hi/lex_attrs.py
  spacy/lang/ta/examples.py
  spacy/lang/tr/lex_attrs.py
  spacy/lang/tr/syntax_iterators.py
  spacy/tests/conftest.py
  spacy/tests/lang/hi/__init__.py
  spacy/tests/lang/hi/test_lex_attrs.py
  website/docs/usage/rule-based-matching.md
Labels: 🔜 v3.0

#6256 Use null raw for has_unknown_spaces in docs_to_json
  spacy/training/gold_io.pyx
Labels: bug, feat / training

#6230 Include Macedonian language
  .github/contributors/borijang.md
  spacy/lang/char_classes.py
  spacy/lang/mk/__init__.py
  spacy/lang/mk/lemmatizer.py
  spacy/lang/mk/lex_attrs.py
  spacy/lang/mk/morph_rules.py
  spacy/lang/mk/stop_words.py
  spacy/lang/mk/tokenizer_exceptions.py
  spacy/tests/conftest.py
  spacy/tests/lang/mk/__init__.py
  spacy/tests/lang/mk/test_text.py
Labels: enhancement, lang / mk

#6259 Fix TokenPatternSchema validation
  .github/contributors/jmargeta.md
  spacy/schemas.py
  spacy/tests/regression/test_issue6258.py
Labels: bug, feat / config, 🔜 v3.0

#6262 Update quickstart vectors recommendations
  spacy/cli/templates/quickstart_training_recommendations.yml
Labels: bug, feat / cli, 🔜 v3.0

#6264 Add and update website license links
  website/meta/languages.json
Labels: docs, 🔜 v3.0

#6263 TextCat updates and fixes
  spacy/about.py
  spacy/cli/init_pipeline.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/cli/train.py
  spacy/errors.py
  spacy/ml/models/textcat.py
  spacy/ml/models/tok2vec.py
  spacy/pipeline/textcat.py
  spacy/scorer.py
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/test_models.py
  spacy/tests/test_scorer.py
  spacy/tests/training/test_readers.py
  spacy/training/initialize.py
  website/docs/api/architectures.md
  website/docs/api/scorer.md
  website/docs/usage/layers-architectures.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/training.md
Labels: bug, docs, enhancement, feat / cli, feat / textcat, 🔜 v3.0

#6274 User contributor agreement
  .github/contributors/walterhenry.md
Labels: meta

#6271 Proofread remarks
  website/docs/usage/101/_vectors-similarity.md
  website/docs/usage/visualizers.md
Labels: docs

#6273 Add detailed scores to evaluate output
  spacy/cli/evaluate.py
  website/src/templates/models.js
Labels: enhancement, feat / cli, 🔜 v3.0

#6276 Add dependency for jinja2
  setup.cfg
Labels: feat / cli, 🔜 v3.0

#6275 Adding MindMeld to Universe JSON
  .github/contributors/KKsharma99.md
  website/meta/universe.json
Labels: docs

#6285 Fill contributor agreement by robertsipek
  .github/contributors/robertsipek.md
Labels: docs

#6308 Limit pydantic pin
  requirements.txt
  setup.cfg
Labels: bug, install, 🔜 v3.0

#6315 Add Nepali to supported languages on website
  website/meta/languages.json
Labels: docs, lang / ne

#6311 Fix node name typo in dependency matcher example
  website/docs/usage/rule-based-matching.md
Labels: docs, 🔜 v3.0

#6268 Turkish tokenization improvements
  spacy/lang/tr/__init__.py
  spacy/lang/tr/tokenizer_exceptions.py
  spacy/tests/lang/tr/test_text.py
  spacy/tests/lang/tr/test_tokenizer.py
Labels: enhancement, feat / tokenizer, lang / tr

#6326 Fix pretrain
  spacy/training/pretrain.py
Labels: bug, feat / cli, feat / tok2vec, 🌙 nightly

#6317 Identify final Matcher pattern node by quantifier
  spacy/matcher/matcher.pxd
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_matcher_api.py
Labels: bug, feat / matcher

#6313 Fix on_match callback for DependencyMatcher
  spacy/matcher/dependencymatcher.pyx
  spacy/tests/matcher/test_dependency_matcher.py
Labels: bug, feat / matcher, 🔜 v3.0
