Repository explosion/spaCy, pull requests merged in 2020-07, with the labels that each got.

#5681 bugfix exec usage in dvc.yaml
  spacy/cli/project.py
Labels: bug, feat / cli, 🔜 v3.0

#5686 ♻ Refactor CLI setup for completion
  .github/contributors/tiangolo.md
  bin/spacy
  requirements.txt
  setup.cfg
Labels: enhancement, feat / cli, 🔜 v3.0

#5690 Fix multiple context managers in examples
  examples/training/rehearsal.py
  examples/training/train_ner.py
  examples/training/train_new_entity_type.py
Labels: bug, examples

#5687 Fixing init_model
  spacy/cli/init_model.py
Labels: bug, feat / cli, 🔜 v3.0

#5693 Bugfix/nel v3
  spacy/errors.py
  spacy/gold/example.pyx
  spacy/tests/test_new_example.py
Labels: bug, feat / nel, 🔜 v3.0

#5688 Remove deprecated methods: Doc.print_tree, Doc.merge, Span.merge
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
Labels: enhancement, feat / doc, 🔜 v3.0

#5694 Include git commit in package and model meta
  .gitignore
  MANIFEST.in
  setup.py
  spacy/language.py
Labels: enhancement, install

#5691 Add strings and ENT_KB_ID to Doc serialization
  spacy/tests/doc/test_doc_api.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc, feat / serialize

#5685 DocBin: add version number, missing attributes and strings
  spacy/tokens/_serialize.py
  website/docs/api/docbin.md
Labels: enhancement, feat / serialize, 🔜 v3.0

#5699 fix to pretrain script
  spacy/cli/pretrain.py
Labels: bug, feat / cli, training, 🔜 v3.0

#5676 Fixed vocabulary in the entity linker training example
  examples/training/train_entity_linker.py
Labels: enhancement, examples, feat / nel

#5032 Merging multiple docs into one
  spacy/errors.py
  spacy/tests/doc/test_doc_api.py
  spacy/tokens/doc.pyx
  website/docs/api/doc.md
Labels: enhancement, feat / doc, 🔜 v3.0

#5697 Record whether Doc objects are built from known spacing
  spacy/cli/convert.py
  spacy/gold/converters/json2docs.py
  spacy/gold/corpus.py
  spacy/gold/example.pyx
  spacy/tests/serialize/test_serialize_doc.py
  spacy/tokens/_serialize.py
  spacy/tokens/doc.pxd
  spacy/tokens/doc.pyx
Labels: enhancement, feat / doc, feat / serialize, 🔜 v3.0

#5706 Refactor pretrain and support character-based objective for v3
  examples/experiments/onto-joint/pretrain.cfg
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/pretrain.py
  spacy/ml/models/multi_task.py
Labels: enhancement, feat / cli, training, 🔜 v3.0

#5700 Experimental character-based pretraining
  spacy/_ml.py
  spacy/cli/pretrain.py
  spacy/cli/train.py
  spacy/ml/_legacy_tok2vec.py
  spacy/pipeline/pipes.pyx
  website/docs/api/cli.md
Labels: enhancement, feat / cli, training

#5696 Fix typo in test function docstring
  spacy/tests/regression/test_issue2501-3000.py
Labels: enhancement

#5707 Feature/example only
  examples/training/rehearsal.py
  examples/training/train_entity_linker.py
  examples/training/train_intent_parser.py
  examples/training/train_morphologizer.py
  examples/training/train_ner.py
  examples/training/train_new_entity_type.py
  examples/training/train_parser.py
  examples/training/train_tagger.py
  spacy/cli/profile.py
  spacy/cli/train.py
  spacy/errors.py
  spacy/language.py
  spacy/pipeline/pipes.pyx
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_parse.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_morphologizer.py
  spacy/tests/pipeline/test_senter.py
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/regression/test_issue3611.py
  spacy/tests/regression/test_issue4030.py
  spacy/tests/regression/test_issue4348.py
  spacy/tests/regression/test_issue4924.py
  spacy/tests/test_gold.py
  spacy/tests/test_language.py
Labels: enhancement, 🔜 v3.0

#5710 Remove dead and/or deprecated code
  spacy/__init__.py
  spacy/cli/evaluate.py
  spacy/cli/pretrain.py
  spacy/cli/train.py
  spacy/errors.py
  spacy/language.py
  spacy/lemmatizer.py
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/pipes.pyx
  spacy/pipeline/tok2vec.py
  spacy/syntax/nn_parser.pyx
  spacy/syntax/transition_system.pyx
  spacy/tests/doc/test_span.py
  spacy/tests/parser/test_add_label.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3611.py
  spacy/tests/regression/test_issue4030.py
  spacy/tests/regression/test_issue4348.py
  spacy/tests/serialize/test_serialize_doc.py
  spacy/tests/serialize/test_serialize_language.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tests/test_gold.py
  spacy/tokenizer.pxd
  spacy/tokenizer.pyx
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
  spacy/util.py
  spacy/vocab.pyx
Labels: enhancement, 🔜 v3.0

#5714 Make docs to JSON conversion backwards-compatible with v2
  spacy/cli/convert.py
  spacy/gold/gold_io.pyx
Labels: bug, feat / cli

#5701 fix bug in Korean language, resulting in 100x speedup by reducing overhead of mecab
  .github/contributors/mikeizbicki.md
  spacy/lang/ko/__init__.py
Labels: enhancement, lang / ko, perf / speed

#5711 Improve gold-standard alignment
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
  spacy/gold/__init__.py
  spacy/gold/align.pxd
  spacy/gold/align.py
  spacy/gold/align.pyx
  spacy/gold/example.pxd
  spacy/gold/example.pyx
  spacy/scorer.py
  spacy/tests/test_gold.py
  spacy/tests/test_new_example.py
Labels: enhancement, 🔜 v3.0

#5715 Tidy up and merge regression tests
  spacy/tests/regression/test_issue2001-2500.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3501-4000.py
  spacy/tests/regression/test_issue3521.py
  spacy/tests/regression/test_issue3526.py
  spacy/tests/regression/test_issue3531.py
  spacy/tests/regression/test_issue3540.py
  spacy/tests/regression/test_issue3549.py
  spacy/tests/regression/test_issue3555.py
  spacy/tests/regression/test_issue3611.py
  spacy/tests/regression/test_issue3625.py
  spacy/tests/regression/test_issue3803.py
  spacy/tests/regression/test_issue3830.py
  spacy/tests/regression/test_issue3839.py
  spacy/tests/regression/test_issue3869.py
  spacy/tests/regression/test_issue3879.py
  spacy/tests/regression/test_issue3880.py
  spacy/tests/regression/test_issue3882.py
  spacy/tests/regression/test_issue3951.py
  spacy/tests/regression/test_issue3959.py
  spacy/tests/regression/test_issue3962.py
  spacy/tests/regression/test_issue3972.py
  spacy/tests/regression/test_issue4001-4500.py
  spacy/tests/regression/test_issue4002.py
  spacy/tests/regression/test_issue4030.py
  spacy/tests/regression/test_issue4042.py
  spacy/tests/regression/test_issue4054.py
  spacy/tests/regression/test_issue4120.py
  spacy/tests/regression/test_issue4133.py
  spacy/tests/regression/test_issue4190.py
  spacy/tests/regression/test_issue4267.py
  spacy/tests/regression/test_issue4272.py
  spacy/tests/regression/test_issue4278.py
  spacy/tests/regression/test_issue4313.py
  spacy/tests/regression/test_issue4348.py
  spacy/tests/regression/test_issue4367.py
  spacy/tests/regression/test_issue4373.py
  spacy/tests/regression/test_issue4402.py
  spacy/tests/regression/test_issue4501-5000.py
  spacy/tests/regression/test_issue4528.py
  spacy/tests/regression/test_issue4529.py
  spacy/tests/regression/test_issue4590.py
  spacy/tests/regression/test_issue4651.py
  spacy/tests/regression/test_issue4665.py
  spacy/tests/regression/test_issue4674.py
  spacy/tests/regression/test_issue4707.py
  spacy/tests/regression/test_issue4725.py
  spacy/tests/regression/test_issue4849.py
  spacy/tests/regression/test_issue4903.py
  spacy/tests/regression/test_issue4924.py
  spacy/tests/regression/test_issue5152.py
  spacy/tests/regression/test_issue5230.py
Labels: enhancement, tests, 🔜 v3.0

#5720 Few more Example unit tests
  spacy/errors.py
  spacy/gold/example.pyx
  spacy/tests/parser/test_nonproj.py
  spacy/tests/test_gold.py
Labels: enhancement, 🔜 v3.0

#5719 Improve assets and DVC handling
  spacy/cli/project.py
  spacy/schemas.py
Labels: enhancement, feat / cli, third-party, 🔜 v3.0

#5716 Add texthero to universe.json
  .github/contributors/jbesomi.md
  website/meta/universe.json
Labels: docs

#5717 Adding spaczz package to universe.json
  .github/contributors/gandersen101.md
  website/meta/universe.json
Labels: docs

#5723 Fix quote issue in spaczz universe.json
  website/meta/universe.json
Labels: docs

#5724 Update get_loss for senter and morphologizer
  spacy/morphology.pyx
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/pipes.pyx
Labels: enhancement, feat / pipeline

#5722 Deprecate model shortcuts and simplify download
  spacy/about.py
  spacy/cli/download.py
Labels: enhancement, feat / cli, models, 🔜 v3.0

#5730 Fix get_loss for values outside of labels in senter
  spacy/pipeline/pipes.pyx
  spacy/tests/pipeline/test_senter.py
Labels: bug, feat / pipeline

#5732 Refactor project CLI
  spacy/cli/__init__.py
  spacy/cli/_app.py
  spacy/cli/project.py
  spacy/cli/project/__init__.py
  spacy/cli/project/assets.py
  spacy/cli/project/clone.py
  spacy/cli/project/dvc.py
  spacy/cli/project/run.py
  spacy/cli/project/util.py
  spacy/schemas.py
  spacy/tests/test_projects.py
  spacy/util.py
Labels: enhancement, feat / cli, 🔜 v3.0

#5735 Fixing reproducible training
  spacy/ml/models/textcat.py
  spacy/ml/models/tok2vec.py
  spacy/tests/regression/test_issue5551.py
  spacy/tests/test_models.py
Labels: bug, training

#5718 Minor refactor to conversion of output docs
  spacy/cli/convert.py
Labels: enhancement, feat / cli

#5726 cleanup components API
  spacy/errors.py
  spacy/gold/example.pyx
  spacy/language.py
  spacy/pipeline/pipes.pyx
  spacy/pipeline/simple_ner.py
  spacy/pipeline/tok2vec.py
  spacy/syntax/nn_parser.pyx
  spacy/tests/regression/test_issue4001-4500.py
  spacy/tests/test_gold.py
  spacy/tokens/doc.pyx
Labels: bug, enhancement, feat / pipeline, 🔜 v3.0

#5733 Remove is_base_form from French lemmatizer
  spacy/lang/fr/lemmatizer.py
Labels: bug, lang / fr

#5734 Fix lemmatizer is_base_form for python2.7
  spacy/lang/en/__init__.py
  spacy/lemmatizer.py
  spacy/tests/regression/test_issue3001-3500.py
Labels: bug, compat, feat / lemmatizer

#5741 Update project CLI hashes, directories, skipping
  spacy/cli/project/assets.py
  spacy/cli/project/clone.py
  spacy/cli/project/dvc.py
  spacy/cli/project/run.py
  spacy/cli/project/util.py
  spacy/schemas.py
  spacy/util.py
Labels: enhancement, feat / cli, 🔜 v3.0

#5749 debug-model script
  spacy/cli/__init__.py
  spacy/cli/debug_model.py
  spacy/cli/train.py
  spacy/tests/test_models.py
Labels: enhancement, feat / cli, 🔜 v3.0, 🔮 thinc

#5752 Remove object subclassing
  spacy/cli/pretrain.py
  spacy/displacy/render.py
  spacy/errors.py
  spacy/language.py
  spacy/lemmatizer.py
  spacy/lookups.py
  spacy/matcher/matcher.pyx
  spacy/ml/models/multi_task.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/hooks.py
  spacy/pipeline/pipes.pyx
  spacy/scorer.py
  spacy/tests/parser/test_ner.py
  spacy/tests/pipeline/test_analysis.py
  spacy/tests/regression/test_issue5137.py
  spacy/tests/regression/test_issue5230.py
  spacy/tests/test_errors.py
  spacy/tokens/_serialize.py
  spacy/tokens/underscore.py
  spacy/util.py
  spacy/vectors.pyx
  website/docs/usage/linguistic-features.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/rule-based-matching.md
  website/docs/usage/saving-loading.md
Labels: compat, 🔜 v3.0

#5757 fix doc.to_utf8 on GPU
  spacy/ml/_character_embed.py
Labels: bug, feat / tok2vec

#5762 Add morph to morphology in Doc.from_array
  spacy/tests/doc/test_doc_api.py
  spacy/tests/test_gold.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc

#5761 Clarify warning W030 for misaligned BILUO tags
  spacy/errors.py
Labels: feat / ux

#5774 Update pkuseg version
  Makefile
  spacy/lang/zh/__init__.py
  website/docs/usage/models.md
Labels: enhancement, lang / zh

#5773 Lower upper pin for cupy to <8.0.0
  setup.cfg
Labels: bug, install

#5776 Upgrade of UD eval script
  bin/ud/run_eval.py
  bin/ud/ud_train.py
Labels: enhancement, feat / cli

#5766 Update morphologizer
  spacy/morphology.pyx
  spacy/pipeline/morphologizer.pyx
  spacy/tests/pipeline/test_morphologizer.py
Labels: bug, enhancement, feat / morphologizer

#5768 Improve tag map initialization and updating
  spacy/cli/debug_data.py
  spacy/cli/train.py
  spacy/morphology.pyx
Labels: bug, feat / cli

#5764 Improve tag map initialization and updating
  spacy/cli/debug_data.py
  spacy/cli/train.py
  spacy/morphology.pyx
  spacy/tests/pipeline/test_tagger.py
Labels: bug, feat / cli, feat / tagger

#5736 Refactor Chinese tokenizer configuration
  spacy/errors.py
  spacy/lang/zh/__init__.py
  spacy/tests/conftest.py
  spacy/tests/lang/zh/test_serialize.py
  spacy/tests/lang/zh/test_tokenizer.py
  website/docs/usage/models.md
Labels: enhancement, lang / zh

#5777 Add VA COVID-19 NLP project to spaCy Universe
  .github/contributors/abchapman93.md
  website/meta/universe.json
Labels: docs

#5784 Provide default output for evaluate in CLI
  spacy/cli/evaluate.py
Labels: bug, feat / cli

#5770 Hyphen infix
  spacy/lang/en/__init__.py
  spacy/lang/en/punctuation.py
  spacy/tests/lang/en/test_text.py
  spacy/tests/lang/fr/test_exceptions.py
Labels: enhancement, feat / tokenizer, lang / en

#5781 Test suite clean up
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/errors.py
  spacy/tests/lang/en/test_prefix_suffix_infix.py
  spacy/tests/lang/en/test_sbd.py
  spacy/tests/lang/fr/test_exceptions.py
  spacy/tests/lang/uk/test_tokenizer.py
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_neural_parser.py
  spacy/tests/parser/test_parse.py
  spacy/tests/parser/test_space_attachment.py
  spacy/tests/regression/test_issue1-1000.py
  spacy/tests/regression/test_issue1001-1500.py
  spacy/tests/regression/test_issue2001-2500.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3501-4000.py
  spacy/tests/serialize/test_serialize_vocab_strings.py
  spacy/tests/test_gold.py
  spacy/tests/test_tok2vec.py
  spacy/tests/vocab_vectors/test_stringstore.py
Labels: enhancement, tests

#5788 Sync develop and master
  .github/contributors/PluieElectrique.md
  .github/contributors/abchapman93.md
  .github/contributors/gandersen101.md
  .github/contributors/jbesomi.md
  .github/contributors/mikeizbicki.md
  .github/contributors/rameshhpathak.md
  .github/contributors/richardliaw.md
  .gitignore
  MANIFEST.in
  Makefile
  examples/training/train_entity_linker.py
  setup.py
  spacy/lang/en/__init__.py
  spacy/lang/fr/lemmatizer.py
  spacy/lang/hy/examples.py
  spacy/lang/hy/lex_attrs.py
  spacy/lang/ja/__init__.py
  spacy/lang/ja/bunsetu.py
  spacy/lang/ko/__init__.py
  spacy/lang/ne/__init__.py
  spacy/lang/ne/examples.py
  spacy/lang/ne/lex_attrs.py
  spacy/lang/ne/stop_words.py
  spacy/lang/zh/__init__.py
  spacy/language.py
  spacy/lemmatizer.py
  spacy/lexeme.pyx
  spacy/lookups.py
  spacy/pipeline/pipes.pyx
  spacy/tests/conftest.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/lang/ja/test_tokenizer.py
  spacy/tests/lang/ne/__init__.py
  spacy/tests/lang/ne/test_text.py
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/regression/test_issue1-1000.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/test_lemmatizer.py
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/tokens/doc.pyx
  spacy/tokens/token.pyx
  spacy/util.py
  website/docs/usage/models.md
  website/meta/universe.json
  website/package-lock.json
Labels: 🔜 v3.0

#5792 Fix exceptions for Morphology.__reduce__
  spacy/morphology.pyx
  spacy/tests/morphology/test_morph_pickle.py
Labels: bug

#5796 Update invalid tag maps
  spacy/lang/bn/__init__.py
  spacy/lang/bn/tag_map.py
  spacy/lang/eu/__init__.py
  spacy/lang/eu/tag_map.py
  spacy/lang/hy/tag_map.py
  spacy/lang/pl/tag_map.py
  spacy/lang/ro/tag_map.py
  spacy/lang/ru/tag_map.py
Labels: bug, lang / bn, lang / eu, lang / hy, lang / pl, lang / ro, lang / ru

#5794 Improve warnings around normalization tables
  spacy/errors.py
  spacy/pipeline/pipes.pyx
  spacy/syntax/nn_parser.pyx
Labels: enhancement, feat / ux, training

#5787 Initial draft of Morphologizer API docs
  website/docs/api/morphologizer.md
Labels: docs

#5803 Mark Japanese documents as tagged.
  .github/contributors/solarmist.md
  spacy/lang/ja/__init__.py
Labels: bug, lang / ja

#5808 Remove hard-coded GPU ID from pretrain
  spacy/cli/pretrain.py
Labels: bug, feat / cli

#5804 Minor refactor for Morphology and MorphAnalysis
  spacy/morphology.pyx
  spacy/tests/doc/test_morphanalysis.py
  spacy/tests/morphology/test_morph_converters.py
  spacy/tokens/morphanalysis.pyx
Labels: enhancement, feat / morphology

#5807 Update Japanese tests
  spacy/tests/lang/ja/test_tokenizer.py
Labels: lang / ja

#5731 Refactor the Scorer to improve flexibility
  spacy/cli/evaluate.py
  spacy/cli/train.py
  spacy/default_config.cfg
  spacy/gold/example.pyx
  spacy/language.py
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/ner.pyx
  spacy/pipeline/pipe.pyx
  spacy/pipeline/pipes.pyx
  spacy/pipeline/sentencizer.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/scorer.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/test_scorer.py
  spacy/tokenizer.pyx
  website/docs/api/language.md
  website/docs/api/scorer.md
Labels: enhancement, feat / cli, feat / pipeline

#5791 Add Morphology and MorphAnalysis API docs
  website/docs/api/morphanalysis.md
  website/docs/api/morphology.md
  website/docs/api/token.md
  website/docs/usage/101/_architecture.md
  website/meta/sidebars.json
Labels: docs

#5813 Tidy up, autoformat, add types
  .gitignore
  setup.cfg
  spacy/cli/convert.py
  spacy/cli/evaluate.py
  spacy/cli/train.py
  spacy/compat.py
  spacy/displacy/__init__.py
  spacy/displacy/render.py
  spacy/errors.py
  spacy/gold/align.py
  spacy/language.py
  spacy/ml/_precomputable_affine.py
  spacy/ml/models/tok2vec.py
  spacy/pipeline/__init__.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/hooks.py
  spacy/pipeline/textcat.py
  spacy/pipeline/tok2vec.py
  spacy/schemas.py
  spacy/tests/doc/test_add_entities.py
  spacy/tests/lang/en/test_sbd.py
  spacy/tests/lang/ja/test_tokenizer.py
  spacy/tests/lang/ne/test_text.py
  spacy/tests/lang/zh/test_serialize.py
  spacy/tests/parser/test_add_label.py
  spacy/tests/parser/test_arc_eager_oracle.py
  spacy/tests/parser/test_neural_parser.py
  spacy/tests/parser/test_parse.py
  spacy/tests/parser/test_preset_sbd.py
  spacy/tests/parser/test_space_attachment.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tests/test_gold.py
  spacy/tests/test_new_example.py
  spacy/tests/test_scorer.py
  spacy/util.py
Labels: enhancement, 🔜 v3.0

#5812 Add smart_open dependency to fetch project assets
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/project/assets.py
Labels: enhancement, feat / cli, third-party

#5821 ✏️ typo in pysbd code example
  website/meta/universe.json
Labels: docs

#5814 Sentence transformers added to spaCy universe
  website/meta/universe.json
Labels: docs

#5822 Normalize spelling of spaCy in universe
  website/meta/universe.json
Labels: docs

#5823 Fix typo in unit tests
  spacy/tests/tokenizer/test_whitespace.py
Labels: tests

#5819 Allow pipeline components to set default scores and weights
  spacy/cli/evaluate.py
  spacy/cli/train.py
  spacy/default_config.cfg
  spacy/language.py
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/entityruler.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/ner.pyx
  spacy/pipeline/sentencizer.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/simple_ner.py
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/scorer.py
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/tests/pipeline/test_textcat.py
  spacy/util.py
  website/docs/api/scorer.md
Labels: enhancement, feat / pipeline, training, 🔜 v3.0

#5824 dot notation to object - util function
  examples/training/train_textcat.py
  examples/training/train_textcat_config.cfg
  spacy/cli/debug_model.py
  spacy/errors.py
  spacy/tests/test_util.py
  spacy/util.py
Labels: enhancement, 🔜 v3.0

#5820 Update examples.py
  spacy/lang/hi/examples.py
Labels: enhancement, lang / hi

#5836 Move timing into Language.evaluate
  spacy/cli/evaluate.py
  spacy/cli/train.py
  spacy/language.py
Labels: enhancement, feat / cli

#5835 Fix score_weights typo in train CLI
  spacy/cli/train.py
Labels: bug, feat / cli

#5771 Option for returning only greedy matches
  spacy/errors.py
  spacy/matcher/matcher.pxd
  spacy/matcher/matcher.pyx
  spacy/pipeline/functions.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/matcher/test_matcher_logic.py
Labels: enhancement, feat / matcher

#5839 Fix on EntityRendered to support break lines (after last entity) (closes #5838)
  .github/contributors/leyendecker.md
  spacy/displacy/render.py
  spacy/tests/regression/test_issue5838.py
Labels: bug, feat / visualizers

#5834 Pretrained vectors for v3
  examples/experiments/onto-joint/defaults.cfg
  examples/experiments/ptb-joint-pos-dep/defaults.cfg
  spacy/cli/project/assets.py
  spacy/cli/train.py
  spacy/language.py
  spacy/ml/_character_embed.py
  spacy/ml/models/textcat.py
  spacy/ml/models/tok2vec.py
  spacy/ml/spacy_vectors.py
  spacy/ml/staticvectors.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/multitask.pyx
  spacy/pipeline/pipe.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/simple_ner.py
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/tok2vec.py
  spacy/syntax/_parser_model.pyx
  spacy/syntax/nn_parser.pyx
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/tests/test_models.py
  spacy/tests/test_tok2vec.py
  spacy/util.py
  spacy/vocab.pyx
  website/docs/usage/vectors-embeddings.md
Labels: feat / tok2vec, 🔜 v3.0

#5830 English: Identifies ordinal numbers as numbers
  spacy/lang/en/lex_attrs.py
  spacy/tests/lang/en/test_text.py
Labels: enhancement, lang / en

#5845 Create holubvl3
  .github/contributors/holubvl3.md
Labels: docs

#5833 Small adjustments to Scorer and docs
  spacy/language.py
  spacy/pipeline/dep_parser.pyx
  spacy/scorer.py
  spacy/tests/pipeline/test_textcat.py
  website/docs/api/language.md
  website/docs/api/scorer.md
Labels: enhancement, 🔜 v3.0

#5843 Prefer earlier spans in EntityRuler
  spacy/pipeline/entityruler.py
  spacy/tests/pipeline/test_entity_ruler.py
Labels: bug
