Repository explosion/spaCy, pull requests merged in 2020-04, with the labels that each got.

#5236 fix NEL overfitting test for GPU
  spacy/pipeline/pipes.pyx
Labels: enhancement, feat / nel, gpu

#5227 Extend and fix Danish examples
  .github/contributors/jacse.md
  spacy/lang/da/examples.py
Labels: enhancement, lang / da

#5228 Raise error for inplace resize with new vector dim
  spacy/errors.py
  spacy/vectors.pyx
Labels: bug, feat / vectors

#5108 Update morphologizer
  examples/training/train_morphologizer.py
  spacy/cli/evaluate.py
  spacy/cli/train.py
  spacy/ml/models/defaults/morphologizer_defaults.cfg
  spacy/ml/models/tok2vec.py
  spacy/pipeline/morphologizer.pyx
  spacy/scorer.py
  spacy/tests/pipeline/test_morphologizer.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/test_scorer.py
  spacy/tokens/doc.pxd
Labels: enhancement, feat / pipeline

#5234 Remove duplicated branch in if/else-if statement
  .github/contributors/leicmi.md
  spacy/lemmatizer.py
Labels: enhancement, feat / lemmatizer

#5159 avoid enumerate to avoid long waiting at 0%
  bin/wiki_entity_linking/wikipedia_processor.py
Labels: enhancement, feat / nel

#5250 Small doc fixes
  website/docs/usage/linguistic-features.md
  website/meta/universe.json
Labels: docs

#5246 Armenian language support
  .github/contributors/YohannesDatasci.md
  spacy/lang/hy/__init__.py
  spacy/lang/hy/examples.py
  spacy/lang/hy/lex_attrs.py
  spacy/lang/hy/stop_words.py
  spacy/lang/hy/tag_map.py
  spacy/tests/conftest.py
  spacy/tests/lang/hy/test_text.py
  spacy/tests/lang/hy/test_tokenizer.py
Labels: enhancement

#5244 Optimizer defaults
  spacy/about.py
  spacy/tests/pipeline/test_senter.py
  spacy/util.py
Labels: training

#5252 add "whatlies" to spaCy universe
  .github/contributors/koaning.md
  website/meta/universe.json
Labels: docs

#5259 Improve tokenization for UD Dutch corpora
  spacy/lang/nl/__init__.py
  spacy/lang/nl/punctuation.py
  spacy/lang/nl/tokenizer_exceptions.py
Labels: enhancement, lang / nl

#5253 Improve tokenization for UD Spanish AnCora
  spacy/lang/es/__init__.py
  spacy/lang/es/punctuation.py
  spacy/lang/es/tokenizer_exceptions.py
Labels: enhancement, lang / es

#5257 Use inline flags in token_match patterns
  spacy/lang/fr/tokenizer_exceptions.py
  spacy/lang/tokenizer_exceptions.py
  spacy/tokenizer.pyx
Labels: bug, feat / tokenizer, lang / fr

#5266 Set rank for new vector in Vocab.set_vector
  spacy/vocab.pyx
Labels: bug, feat / vectors

#5267 fix json
  website/meta/universe.json
Labels: docs

#5263 Add ideographic full stops to sentencizer
  spacy/pipeline/pipes.pyx
Labels: enhancement, feat / sentencizer

#5278 Add __init__.py to eu and hy tests
  spacy/tests/lang/eu/__init__.py
  spacy/tests/lang/hy/__init__.py
Labels: bug, tests

#5265 Remove `pala` tokenizer exception
  spacy/lang/es/tokenizer_exceptions.py
Labels: feat / tokenizer, lang / es

#5284 Fixed Typo in Warning
  .github/contributors/umarbutler.md
  spacy/cli/train.py
Labels: bug, feat / cli, training

#5293 [Closes #5292] Fix typo in option name "--n-save_every"
  .github/contributors/chopeen.md
  website/docs/api/cli.md
Labels: docs, feat / cli

#5289 Docs: tag-map-path since 2.2.4 instead of 2.2.3
  website/docs/api/cli.md
Labels: docs, feat / cli

#5282 Comparison predicate handling for `!=`
  .github/contributors/paoloq.md
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_matcher_api.py
Labels: enhancement, feat / matcher

#5251 Add Doc init from list of words and text
  spacy/errors.py
  spacy/tests/doc/test_creation.py
  spacy/util.py
Labels: enhancement, feat / doc

#5303 Use max(uint64) for OOV lexeme rank
  spacy/_ml.py
  spacy/cli/init_model.py
  spacy/lexeme.pxd
  spacy/lexeme.pyx
  spacy/tests/vocab_vectors/test_lexeme.py
  spacy/util.py
  spacy/vocab.pyx
Labels: bug, feat / vectors

#5271 Add spacy_fastlang to universe
  .github/contributors/thomasthiebaud.md
  website/meta/universe.json
Labels: docs

#5113 Matcher support for Span as well as Doc
  .github/contributors/paoloq.md
  spacy/errors.py
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_matcher_api.py
Labels: enhancement, feat / matcher

#5316 contrib: add contributor agreement for user sebastienharinck
  .github/contributors/sebastienharinck.md
Labels: docs

#5315 Fixes #5413
  .github/contributors/elben10
  bin/wiki_entity_linking/wikipedia_processor.py
  spacy/tests/regression/test_issue5314.py
Labels: bug, examples, feat / nel

#5319 Amend documentation to Language.evaluate
  .github/contributors/laszabine.md
  website/docs/api/language.md
Labels: docs

#5308 Add pkuseg and serialization support for Chinese
  spacy/lang/zh/__init__.py
  spacy/language.py
  spacy/tests/conftest.py
  spacy/tests/lang/zh/test_serialize.py
  spacy/tests/lang/zh/test_text.py
  spacy/tests/lang/zh/test_tokenizer.py
Labels: enhancement, lang / zh

#5317 Tidy up and fix alignment of landing cards
  website/src/components/landing.js
  website/src/styles/landing.module.sass
  website/src/widgets/landing.js
Labels: docs

#5330 Improve GPU usage for train-with-config
  spacy/cli/train_from_config.py
  spacy/ml/_precomputable_affine.py
  spacy/syntax/nn_parser.pyx
  spacy/util.py
Labels: feat / cli, gpu, training

#5328 Modify jieba install message
  spacy/lang/zh/__init__.py
Labels: bug, feat / ux, lang / zh

#5325 [minor doc change] embedding vis. link is broken in `website/docs/usage/examples.md`
  .github/contributors/Mlawrence95.md
  website/docs/usage/examples.md
Labels: docs

#5342 Gh 5339 language class for malayalam
  .github/contributors/sabiqueqb.md
  spacy/lang/ml/__init__.py
  spacy/lang/ml/examples.py
  spacy/lang/ml/lex_attrs.py
  spacy/lang/ml/stop_words.py
  spacy/tests/conftest.py
  spacy/tests/lang/ml/test_text.py
Labels: enhancement, lang / ml

#5357 Update nlp.vectors to nlp.vocab.vectors
  website/docs/api/vectors.md
Labels: docs, feat / vectors

#5355 This PR adds Gujarati Language class along with
  .github/contributors/punitvara.md
  spacy/lang/gu/__init__.py
  spacy/lang/gu/examples.py
  spacy/lang/gu/stop_words.py
  spacy/tests/conftest.py
  spacy/tests/lang/gu/test_text.py
Labels: enhancement, lang / gu

#5359 add 2 ini files in tests/lang
  spacy/tests/lang/gu/__init__.py
  spacy/tests/lang/ml/__init__.py
Labels: bug, lang / gu, lang / ml

#5358 Backport: bugfix in span similarity (#5155)
  spacy/tests/regression/test_issue5152.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
Labels: bug, feat / doc

#5360 Remove references to textcat spans
  website/docs/api/doc.md
  website/docs/api/goldparse.md
Labels: docs, feat / doc, feat / textcat

#5344 Prevent pip from installing spaCy on Python 3.4
  .github/contributors/michael-k.md
  setup.cfg
Labels: install

#5352 Add mlflow to spaCy universe
  .github/contributors/louisguitton.md
  website/meta/universe.json
Labels: docs

#5377 Add cuda101 and cuda102 options to setup
  setup.cfg
  website/docs/usage/index.md
Labels: install

#5376 update is_new_osx function
  setup.py
Labels: bug, install, osx

#5258 add missing Urdu tags
  spacy/lang/ur/tag_map.py
Labels: enhancement, lang / ur

#5177 Update universe.json
  website/meta/universe.json
Labels: docs

#5375 Add is_sent_end token property
  .github/contributors/MiniLau.md
  spacy/attrs.pxd
  spacy/attrs.pyx
  spacy/errors.py
  spacy/structs.pxd
  spacy/symbols.pxd
  spacy/tests/doc/test_token_api.py
  spacy/tests/pipeline/test_sentencizer.py
  spacy/tokens/token.pyx
  website/docs/api/token.md
Labels: enhancement, feat / doc

#5370 Update NEL examples and documentation
  bin/wiki_entity_linking/README.md
  bin/wiki_entity_linking/__init__.py
  bin/wiki_entity_linking/entity_linker_evaluation.py
  bin/wiki_entity_linking/kb_creator.py
  bin/wiki_entity_linking/train_descriptions.py
  bin/wiki_entity_linking/wiki_io.py
  bin/wiki_entity_linking/wiki_namespaces.py
  bin/wiki_entity_linking/wikidata_pretrain_kb.py
  bin/wiki_entity_linking/wikidata_processor.py
  bin/wiki_entity_linking/wikidata_train_entity_linker.py
  bin/wiki_entity_linking/wikipedia_processor.py
  examples/training/create_kb.py
  examples/training/train_entity_linker.py
  spacy/tests/regression/test_issue5314.py
  website/docs/usage/examples.md
  website/docs/usage/linguistic-features.md
  website/docs/usage/training.md
Labels: docs, enhancement, feat / nel

#5312 Fix/website documentation spacy lookup
  website/meta/universe.json
Labels: docs

#5367 Simplify warnings
  spacy/__init__.py
  spacy/_ml.py
  spacy/analysis.py
  spacy/cli/init_model.py
  spacy/displacy/__init__.py
  spacy/errors.py
  spacy/gold.pyx
  spacy/kb.pyx
  spacy/language.py
  spacy/lexeme.pyx
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
  spacy/pipeline/pipes.pyx
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_span.py
  spacy/tokenizer.pyx
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
  spacy/util.py
Labels: enhancement, feat / ux

#5374 Fix passing of component configuration
  spacy/tests/regression/test_issue5137.py
  spacy/util.py
  website/docs/usage/saving-loading.md
Labels: bug, feat / pipeline, feat / serialize

#5362 Various updates/additions to CLI scripts
  spacy/cli/debug_data.py
  spacy/cli/evaluate.py
  spacy/cli/init_model.py
  spacy/cli/train.py
  website/docs/api/cli.md
Labels: feat / cli

#5346 Normalize TokenC.sent_start values for Matcher
  spacy/matcher/matcher.pyx
  spacy/tokens/doc.pxd
  spacy/tokens/doc.pyx
Labels: bug, feat / matcher

#5361 Fix problems with lower and whitespace in variants
  spacy/gold.pyx
Labels: bug, feat / cli, training

#5371 Swedish like_num
  .github/contributors/vondersam.md
  spacy/lang/sv/__init__.py
  spacy/lang/sv/lex_attrs.py
  spacy/tests/lang/sv/test_lex_attrs.py
Labels: enhancement, lang / sv

#5381 Spanish like num improvement
  spacy/lang/es/lex_attrs.py
  spacy/tests/lang/es/test_text.py
Labels: enhancement, lang / es
