Repository explosion/spaCy, pull requests merged in 2020-08, with the labels that each got.

#5851 Integrate and simplify pipe analysis
  spacy/errors.py
  spacy/language.py
  spacy/pipe_analysis.py
  spacy/tests/pipeline/test_analysis.py
  website/docs/api/language.md
  website/docs/usage/processing-pipelines.md
Labels: enhancement, feat / pipeline, 🔜 v3.0

#5854 Add init CLI and init config
  spacy/cli/__init__.py
  spacy/cli/_util.py
  spacy/cli/debug_data.py
  spacy/cli/debug_model.py
  spacy/cli/init_config.py
  spacy/cli/init_model.py
  spacy/cli/pretrain.py
  spacy/cli/train.py
  spacy/cli/validate.py
  website/docs/api/cli.md
  website/docs/usage/training.md
  website/docs/usage/transformers.md
Labels: enhancement, feat / cli, 🔜 v3.0

#5855 Fixes in cli scripts
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/debug_model.py
  spacy/cli/train.py
Labels: bug, enhancement, feat / cli

#5860 Fix span boundary handling in Spanish noun_chunks
  spacy/lang/es/syntax_iterators.py
Labels: bug, feat / pipeline, lang / es

#5861 Add Span index boundary checks
  spacy/errors.py
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
Labels: bug, feat / doc

#5849 Allow Doc.char_span to snap to token boundaries
  spacy/tests/doc/test_span.py
  spacy/tokens/doc.pyx
  website/docs/api/doc.md
Labels: enhancement, feat / doc

#5868 Recalculate alignment if tokenization differs
  spacy/gold/example.pxd
  spacy/gold/example.pyx
  spacy/tests/test_gold.py
Labels: bug, feat / gold

#5872 Default empty KB in EL component
  examples/training/create_kb.py
  spacy/errors.py
  spacy/kb.pyx
  spacy/ml/models/entity_linker.py
  spacy/pipeline/entity_linker.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/regression/test_issue4501-5000.py
  spacy/tests/regression/test_issue5230.py
  spacy/tests/serialize/test_serialize_kb.py
Labels: enhancement, feat / nel, 🔜 v3.0

#5865 Create corpus iterator and batcher from registry during training
  examples/experiments/onto-joint/defaults.cfg
  examples/experiments/ptb-joint-pos-dep/defaults.cfg
  spacy/cli/debug_data.py
  spacy/cli/evaluate.py
  spacy/cli/train.py
  spacy/default_config.cfg
  spacy/gold/__init__.py
  spacy/gold/batchers.py
  spacy/gold/corpus.py
  spacy/schemas.py
  spacy/tests/parser/test_ner.py
  spacy/tests/regression/test_issue4001-4500.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/tests/test_gold.py
  spacy/tests/test_util.py
  spacy/util.py
Labels: enhancement, feat / cli, training, 🔜 v3.0

#5867 Prevent alignment when texts don't match
  spacy/errors.py
  spacy/gold.pyx
  spacy/gold/align.py
  spacy/tests/test_gold.py
Labels: enhancement, feat / gold, feat / ux

#5842 Add AttributeRuler for token attribute exceptions
  spacy/errors.py
  spacy/pipeline/__init__.py
  spacy/pipeline/attributeruler.py
  spacy/tests/doc/test_span.py
  spacy/tests/pipeline/test_attributeruler.py
  spacy/tokens/_retokenize.pyx
  spacy/tokens/span.pyx
Labels: enhancement, feat / pipeline, 🔜 v3.0

#5858 Example Dict format consistency
  spacy/gold/example.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/tagger.pyx
  spacy/tests/test_gold.py
  spacy/tests/test_new_example.py
Labels: enhancement, feat / gold

#5857 Allow adding pipeline components from source model
  examples/experiments/onto-joint/defaults.cfg
  spacy/cli/_util.py
  spacy/cli/debug_data.py
  spacy/cli/train.py
  spacy/default_config.cfg
  spacy/errors.py
  spacy/language.py
  spacy/schemas.py
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/util.py
Labels: enhancement, feat / pipeline, 🔜 v3.0

#5875 Bugfix in nlp.replace_pipe
  spacy/language.py
  spacy/tests/pipeline/test_pipe_methods.py
Labels: bug, feat / pipeline

#5871 Update universe details spacy_conll
  website/meta/universe.json
Labels: docs

#5878 Update SimpleNER
  spacy/pipeline/simple_ner.py
  spacy/tests/pipeline/test_simple_ner.py
Labels: feat / pipeline, 🔜 v3.0

#5873 Add warning when Matcher subpattern is discarded
  spacy/errors.py
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_pattern_validation.py
Labels: enhancement, feat / matcher, feat / ux

#5866 Add config callbacks for modifying nlp object before and after init
  spacy/default_config.cfg
  spacy/errors.py
  spacy/language.py
  spacy/schemas.py
  spacy/tests/test_language.py
  spacy/util.py
Labels: enhancement, feat / pipeline, 🔜 v3.0

#5880 Simplify config overrides in CLI and deserialization
  spacy/__init__.py
  spacy/cli/debug_data.py
  spacy/cli/debug_model.py
  spacy/cli/pretrain.py
  spacy/cli/train.py
  spacy/language.py
  spacy/tests/regression/test_issue5137.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/util.py
  website/docs/api/top-level.md
Labels: enhancement, feat / cli, feat / serialize, 🔜 v3.0, 🔮 thinc

#5881 Add better error for failed model shortcut loading
  spacy/cli/download.py
  spacy/errors.py
  spacy/util.py
Labels: enhancement, feat / ux, models, 🔜 v3.0

#5883 Sync develop with nightly docs state
  spacy/cli/debug_model.py
  website/docs/api/cli.md
  website/docs/api/data-formats.md
  website/docs/api/entitylinker.md
  website/docs/api/example.md
  website/docs/api/top-level.md
  website/docs/usage/linguistic-features.md
Labels: docs, 🔜 v3.0

#5882 Use "raise ... from" in custom errors for better tracebacks
  spacy/cli/train.py
  spacy/gold/example.pyx
  spacy/lang/ja/__init__.py
  spacy/lang/ko/__init__.py
  spacy/lang/ru/lemmatizer.py
  spacy/lang/th/__init__.py
  spacy/lang/uk/lemmatizer.py
  spacy/lang/vi/__init__.py
  spacy/lang/zh/__init__.py
  spacy/language.py
  spacy/matcher/matcher.pyx
  spacy/pipeline/attributeruler.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/multitask.pyx
  spacy/pipeline/pipe.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/transition_parser.pyx
  spacy/tokens/doc.pyx
  spacy/util.py
Labels: enhancement, feat / ux, 🔜 v3.0

#5885 Fix return values for per feat score
  spacy/scorer.py
  spacy/tests/test_scorer.py
Labels: bug, 🔜 v3.0

#5879 Be less choosy about reporting textcat scores
  spacy/scorer.py
  spacy/tests/pipeline/test_textcat.py
Labels: enhancement, feat / cli, training

#5889 Add pipe to AttributeRuler
  spacy/pipeline/attributeruler.py
Labels: bug

#5890 EL docs update
  spacy/errors.py
  spacy/gold/corpus.py
  website/docs/api/architectures.md
  website/docs/api/cli.md
  website/docs/api/data-formats.md
  website/docs/api/entitylinker.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/spacy-101.md
Labels: docs, 🔜 v3.0

#5891 Add AttributeRuler API docs
  spacy/pipeline/attributeruler.py
  website/docs/api/attributeruler.md
  website/meta/sidebars.json
Labels: docs, 🔜 v3.0

#5892 Add DocBin to/from_disk methods and update docs
  spacy/gold/corpus.py
  spacy/tests/test_gold.py
  spacy/tokens/_serialize.py
  website/docs/api/data-formats.md
  website/docs/api/docbin.md
Labels: docs, enhancement, feat / serialize, 🔜 v3.0

#5848 Add Lemmatizer and simplify related components
  spacy/default_config.cfg
  spacy/errors.py
  spacy/lang/el/__init__.py
  spacy/lang/el/lemmatizer.py
  spacy/lang/en/__init__.py
  spacy/lang/en/lemmatizer.py
  spacy/lang/fr/__init__.py
  spacy/lang/fr/lemmatizer.py
  spacy/lang/ja/__init__.py
  spacy/lang/ko/__init__.py
  spacy/lang/nl/__init__.py
  spacy/lang/nl/lemmatizer.py
  spacy/lang/pl/__init__.py
  spacy/lang/pl/lemmatizer.py
  spacy/lang/ru/__init__.py
  spacy/lang/ru/lemmatizer.py
  spacy/lang/uk/__init__.py
  spacy/lang/uk/lemmatizer.py
  spacy/language.py
  spacy/lemmatizer.py
  spacy/lookups.py
  spacy/morphology.pxd
  spacy/morphology.pyx
  spacy/pipeline/__init__.py
  spacy/pipeline/lemmatizer.py
  spacy/pipeline/tagger.pyx
  spacy/schemas.py
  spacy/tests/conftest.py
  spacy/tests/doc/test_creation.py
  spacy/tests/doc/test_morphanalysis.py
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tests/lang/en/test_tagger.py
  spacy/tests/lang/ru/test_lemmatizer.py
  spacy/tests/lang/test_lemmatizers.py
  spacy/tests/morphology/test_morph_features.py
  spacy/tests/morphology/test_morph_pickle.py
  spacy/tests/parser/test_parse.py
  spacy/tests/pipeline/test_lemmatizer.py
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/regression/test_issue1-1000.py
  spacy/tests/regression/test_issue1001-1500.py
  spacy/tests/regression/test_issue1501-2000.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3501-4000.py
  spacy/tests/regression/test_issue4001-4500.py
  spacy/tests/regression/test_issue5230.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tests/serialize/test_serialize_vocab_strings.py
  spacy/tests/test_lemmatizer.py
  spacy/tests/tokenizer/test_tokenizer.py
  spacy/tokens/_retokenize.pyx
  spacy/tokens/doc.pyx
  spacy/tokens/token.pyx
  spacy/vocab.pyx
  website/docs/api/lemmatizer.md
  website/docs/api/morphology.md
  website/docs/api/tagger.md
  website/docs/api/vocab.md
Labels: enhancement, feat / lemmatizer, feat / morphology, feat / tagger

#5893 Update to latest Thinc, use validate arg name, update attribute ruler
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/pipeline/attributeruler.py
  spacy/pipeline/entityruler.py
  website/docs/api/attributeruler.md
  website/docs/api/entityruler.md
Labels: enhancement, feat / pipeline, 🔮 thinc

#5894 Add docstrings for model architectures
  spacy/ml/models/parser.py
  spacy/ml/models/simple_ner.py
  spacy/ml/models/tagger.py
  spacy/ml/models/textcat.py
  spacy/ml/models/tok2vec.py
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/entity_linker.py
  spacy/pipeline/multitask.pyx
  spacy/pipeline/ner.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/simple_ner.py
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/tok2vec.py
  spacy/tests/serialize/test_serialize_config.py
  website/docs/api/architectures.md
  website/docs/api/data-formats.md
Labels: docs, 🔜 v3.0

#5895 Draft docstrings for batchers
  spacy/gold/batchers.py
Labels: docs

#5906 Tidy up pipes
  spacy/cli/train.py
  spacy/errors.py
  spacy/gold/__init__.py
  spacy/gold/example.pyx
  spacy/language.py
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/entity_linker.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/lemmatizer.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/multitask.pyx
  spacy/pipeline/ner.pyx
  spacy/pipeline/pipe.pxd
  spacy/pipeline/pipe.pyx
  spacy/pipeline/sentencizer.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/simple_ner.py
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/tok2vec.py
  spacy/pipeline/transition_parser.pxd
  spacy/pipeline/transition_parser.pyx
  spacy/tests/doc/test_add_entities.py
  spacy/tests/parser/test_add_label.py
  spacy/tests/parser/test_preset_sbd.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/regression/test_issue4001-4500.py
  spacy/tests/regression/test_issue5230.py
  spacy/tokenizer.pyx
  website/docs/api/pipe.md
  website/docs/usage/processing-pipelines.md
Labels: docs, enhancement, feat / pipeline, 🔜 v3.0

#5920 Replace verbose warnings with logging, tidy up, small fixes
  spacy/__init__.py
  spacy/cli/evaluate.py
  spacy/cli/train.py
  spacy/errors.py
  spacy/gold/corpus.py
  spacy/pipeline/tok2vec.py
  spacy/pipeline/transition_parser.pyx
  spacy/tests/parser/test_ner.py
  spacy/tests/regression/test_issue2001-2500.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3501-4000.py
  spacy/tests/regression/test_issue4001-4500.py
  spacy/tests/regression/test_issue4501-5000.py
  spacy/tests/regression/test_issue5152.py
  spacy/tests/test_gold.py
  spacy/tests/test_new_example.py
  spacy/util.py
Labels: bug, enhancement, feat / cli, feat / ux, tests, 🔜 v3.0

#5916 Update for new Thinc, adjust config, support preserving variables in config
  MANIFEST.in
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/__init__.py
  spacy/cli/_util.py
  spacy/cli/debug_data.py
  spacy/cli/debug_model.py
  spacy/cli/init_config.py
  spacy/cli/pretrain.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/cli/templates/quickstart_training_recommendations.json
  spacy/cli/train.py
  spacy/language.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/tests/test_cli.py
  spacy/util.py
  website/docs/api/cli.md
  website/docs/api/data-formats.md
  website/docs/usage/training.md
  website/docs/usage/transformers.md
  website/docs/usage/v3.md
  website/setup/jinja_to_js.py
  website/setup/quickstart_training_cpu.jinja
  website/setup/quickstart_training_gpu.jinja
  website/setup/setup.sh
  website/src/styles/quickstart.module.sass
  website/src/widgets/quickstart-training-generator.js
  website/src/widgets/quickstart-training.js
Labels: enhancement, feat / cli, 🔮 thinc

#5925 Update the 'vectors' docs page
  website/docs/usage/vectors-embeddings.md
Labels: docs, enhancement

#5931 Train CLI script fixes
  spacy/cli/_util.py
  spacy/cli/train.py
  spacy/errors.py
  spacy/gold/corpus.py
Labels: bug, feat / cli, feat / ux, training

#5876 Define candidate generator in EL config
  bin/ud/ud_train.py
  examples/training/create_kb.py
  examples/training/train_entity_linker.py
  spacy/errors.py
  spacy/kb.pxd
  spacy/kb.pyx
  spacy/language.py
  spacy/ml/models/entity_linker.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/nn_parser.pyx
  spacy/pipeline/tagger.pyx
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/tests/regression/test_issue4501-5000.py
  spacy/tests/regression/test_issue5230.py
  spacy/tests/serialize/test_serialize_kb.py
  website/docs/api/kb.md
Labels: enhancement, feat / nel, 🔜 v3.0

#5933 docs: custom reader and batcher
  CONTRIBUTING.md
  spacy/cli/train.py
  website/docs/api/architectures.md
  website/docs/api/corpus.md
  website/docs/api/data-formats.md
  website/docs/usage/index.md
  website/docs/usage/saving-loading.md
  website/docs/usage/training.md
  website/package.json
  website/setup/jinja_to_js.py
Labels: docs, 🔜 v3.0

#5938 Update docs (again)
  spacy/cli/templates/quickstart_training_recommendations.yml
  website/docs/api/architectures.md
  website/docs/api/cli.md
  website/docs/api/entitylinker.md
  website/docs/api/top-level.md
  website/docs/usage/projects.md
  website/docs/usage/training.md
  website/docs/usage/v3.md
Labels: docs, 🔜 v3.0

#5939 Update Thinc and config variables
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/templates/quickstart_training.jinja
  spacy/default_config.cfg
  spacy/tests/serialize/test_serialize_config.py
  website/docs/api/architectures.md
  website/docs/api/corpus.md
  website/docs/api/data-formats.md
  website/docs/api/top-level.md
  website/docs/usage/training.md
Labels: docs, enhancement, 🔜 v3.0, 🔮 thinc

#5942 add coding
  spacy/tests/regression/test_issue5838.py
Labels: bug, tests

#5941 small doc additions
  website/docs/api/data-formats.md
  website/docs/api/doc.md
  website/docs/api/top-level.md
Labels: docs, 🔜 v3.0

#5952 Hebrew like num
  .github/contributors/idoshr.md
  spacy/lang/en/lex_attrs.py
  spacy/lang/he/__init__.py
  spacy/lang/he/lex_attrs.py
  spacy/lang/he/stop_words.py
  spacy/lang/lex_attrs.py
  spacy/lang/tokenizer_exceptions.py
  spacy/tests/lang/he/test_tokenizer.py
Labels: enhancement, lang / he

#5954 Fix handling of optional [pretraining] block
  spacy/cli/debug_model.py
  spacy/cli/init_config.py
  spacy/cli/pretrain.py
  spacy/cli/train.py
  spacy/default_config.cfg
  spacy/default_config_pretraining.cfg
  spacy/language.py
  spacy/schemas.py
  spacy/tests/serialize/test_serialize_config.py
Labels: bug, feat / cli, ⚠️ wip, 🔜 v3.0

#5966 Support removing extra values in fill-config
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/init_config.py
  spacy/tests/serialize/test_serialize_config.py
Labels: enhancement, feat / cli, 🔜 v3.0

#5960 Rename Polish lemmatizer method
  spacy/lang/pl/__init__.py
  spacy/lang/pl/lemmatizer.py
Labels: feat / lemmatizer, lang / pl, 🔜 v3.0

#5956 Added support for Sanskrit language
  .github/contributors/snsten.md
  spacy/lang/sa/__init__.py
  spacy/lang/sa/examples.py
  spacy/lang/sa/lex_attrs.py
  spacy/lang/sa/stop_words.py
  spacy/tests/conftest.py
  spacy/tests/lang/sa/__init__.py
  spacy/tests/lang/sa/test_text.py
Labels: enhancement, lang / sa

#5969 fix ja leading spaces
  spacy/lang/ja/__init__.py
  spacy/tests/tokenizer/test_naughty_strings.py
Labels: bug, lang / ja

#5968 Remove PRON_LEMMA symbol
  spacy/symbols.pyx
Labels: enhancement, 🔜 v3.0

#5972 Fix raw strings in URL pattern
  spacy/lang/tokenizer_exceptions.py
Labels: bug, compat, lang / all

#5975 Set macro AUC score in Scorer.score_cats
  spacy/scorer.py
Labels: bug, 🔜 v3.0

#5974 Add "project document" and more project.yml meta fields
  spacy/cli/__init__.py
  spacy/cli/init_config.py
  spacy/cli/project/assets.py
  spacy/cli/project/document.py
  spacy/cli/project/run.py
  spacy/schemas.py
  website/docs/api/cli.md
  website/docs/images/project_document.jpg
  website/docs/usage/projects.md
Labels: enhancement, feat / cli, 🔜 v3.0

#5971 Weights & Biases logger for train CLI
  spacy/__init__.py
  spacy/cli/train.py
  spacy/default_config.cfg
  spacy/gold/__init__.py
  spacy/gold/loggers.py
  spacy/pipeline/entityruler.py
  spacy/schemas.py
  spacy/util.py
Labels: enhancement, feat / cli, third-party, training, 🔜 v3.0

#5963 Add AttributeRuler.score
  spacy/pipeline/attributeruler.py
  spacy/pipeline/tagger.pyx
  spacy/tests/pipeline/test_attributeruler.py
  website/docs/api/attributeruler.md
  website/docs/api/tagger.md
Labels: enhancement, feat / pipeline, 🔜 v3.0

#5978 Update wasabi: new diff_strings and MarkdownRenderer
  requirements.txt
  setup.cfg
  spacy/cli/info.py
  spacy/cli/project/document.py
Labels: enhancement, 🔜 v3.0

#5977 Remove the 'fix pretrained vector names' hack
  spacy/errors.py
  spacy/language.py
Labels: feat / vectors, 🔜 v3.0

#5990 update error type
  spacy/tests/test_cli.py
Labels: bug, tests

#5987 Add more info to debug config
  requirements.txt
  setup.cfg
  spacy/cli/__init__.py
  spacy/cli/debug_config.py
  spacy/cli/debug_data.py
  website/docs/api/cli.md
Labels: enhancement, feat / cli, 🔜 v3.0

#5986 Don't interpolate config on Language deserialization
  spacy/language.py
  spacy/tests/serialize/test_serialize_config.py
Labels: bug, feat / serialize

#5992 prevent uploading from some config fields to W&B
  spacy/gold/loggers.py
Labels: enhancement, feat / cli, third-party, training

#5996 custom transformer examples
  website/docs/usage/embeddings-transformers.md
Labels: docs, 🔜 v3.0

#5995 Fix AttributeRuler serialization and rule ordering
  spacy/pipeline/attributeruler.py
  spacy/tests/pipeline/test_attributeruler.py
Labels: bug, feat / pipeline, 🔜 v3.0

#5991 Update sentence segmentation usage docs
  website/docs/api/sentencerecognizer.md
  website/docs/usage/linguistic-features.md
Labels: docs, feat / senter, 🔜 v3.0

#5994 Allow component decorators to re-run with same function
  spacy/errors.py
  spacy/language.py
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/util.py
Labels: enhancement, feat / pipeline, 🔜 v3.0

#5979 🚮 Remove more unused files
  .buildkite/sdist.yml
  .buildkite/train.yml
  fabfile.py
  include/msvc9/stdint.h
  include/murmurhash/MurmurHash2.h
  include/murmurhash/MurmurHash3.h
  include/numpy/__multiarray_api.h
  include/numpy/__ufunc_api.h
  include/numpy/_neighborhood_iterator_imp.h
  include/numpy/_numpyconfig.h
  include/numpy/arrayobject.h
  include/numpy/arrayscalars.h
  include/numpy/halffloat.h
  include/numpy/multiarray_api.txt
  include/numpy/ndarrayobject.h
  include/numpy/ndarraytypes.h
  include/numpy/noprefix.h
  include/numpy/npy_3kcompat.h
  include/numpy/npy_common.h
  include/numpy/npy_cpu.h
  include/numpy/npy_deprecated_api.h
  include/numpy/npy_endian.h
  include/numpy/npy_interrupt.h
  include/numpy/npy_math.h
  include/numpy/npy_no_deprecated_api.h
  include/numpy/npy_os.h
  include/numpy/numpyconfig.h
  include/numpy/old_defines.h
  include/numpy/oldnumeric.h
  include/numpy/ufunc_api.txt
  include/numpy/ufuncobject.h
  include/numpy/utils.h
  setup.py
Labels: enhancement, meta, 🔜 v3.0

#5993 Add support for loaded but disabled components
  spacy/__init__.py
  spacy/cli/project/dvc.py
  spacy/cli/project/run.py
  spacy/default_config.cfg
  spacy/errors.py
  spacy/language.py
  spacy/pipeline/attributeruler.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/entityruler.py
  spacy/schemas.py
  spacy/scorer.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/tests/regression/test_issue4501-5000.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tests/test_util.py
  spacy/tokens/_serialize.py
  spacy/util.py
  website/docs/api/data-formats.md
  website/docs/api/language.md
  website/docs/api/top-level.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/v3.md
Labels: enhancement, feat / pipeline, 🔜 v3.0

#5998 Update usage docs for lemmatization and morphology
  website/docs/api/lemmatizer.md
  website/docs/usage/101/_language-data.md
  website/docs/usage/101/_pipelines.md
  website/docs/usage/index.md
  website/docs/usage/linguistic-features.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/v3.md
Labels: docs, feat / lemmatizer, feat / morphologizer, 🔜 v3.0

#6000 Restrict tokenizer exceptions to ORTH and NORM
  spacy/errors.py
  spacy/tests/tokenizer/test_tokenizer.py
  spacy/tokenizer.pyx
  website/docs/usage/v3.md
Labels: enhancement, feat / tokenizer, 🔜 v3.0

#6001 Rename Transformer listener
  spacy/cli/templates/quickstart_training.jinja
  spacy/pipeline/pipe.pyx
  spacy/pipeline/tok2vec.py
  spacy/tests/test_tok2vec.py
  website/docs/api/architectures.md
  website/docs/usage/embeddings-transformers.md
  website/docs/usage/v3.md
Labels: feat / tok2vec

#5989 Update suffixes example
  .github/contributors/jgutix.md
  website/docs/usage/linguistic-features.md
Labels: docs

#6002 Loggers documentation
  spacy/cli/train.py
  website/docs/api/architectures.md
  website/docs/api/top-level.md
  website/docs/api/transformer.md
  website/docs/usage/embeddings-transformers.md
  website/docs/usage/training.md
Labels: docs, 🔜 v3.0

#6004 console logging example
  website/docs/api/top-level.md
Labels: docs, 🔜 v3.0

#6003 Add as_spans to Matcher/PhraseMatcher and deprecate .pipe
  spacy/errors.py
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/matcher/test_phrase_matcher.py
  website/docs/api/matcher.md
  website/docs/api/phrasematcher.md
  website/docs/usage/rule-based-matching.md
  website/docs/usage/v3.md
Labels: enhancement, feat / matcher, 🔜 v3.0

#5984 Prevent Tagger model init with 0 labels
  spacy/errors.py
  spacy/pipeline/tagger.pyx
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/regression/test_issue4001-4500.py
  spacy/tests/regression/test_issue5230.py
  spacy/tests/serialize/test_serialize_config.py
Labels: bug, feat / tagger
