Repository explosion/spaCy, pull requests merged in 2020-05, with the labels that each got.

#5387 Fix logic in train CLI timing eval on CPU/GPU
  spacy/cli/train.py
Labels: bug, feat / cli

#5395 Fixed tests for Swedish that were written in Danish.
  spacy/tests/lang/sv/test_exceptions.py
Labels: enhancement, lang / sv, tests

#5418 Fix Token API docs from #5375
  website/docs/api/token.md
Labels: docs

#5419 Clarify Token.pos as UPOS
  website/docs/api/token.md
  website/docs/usage/101/_pos-deps.md
Labels: docs, feat / doc

#5404 Add method to update / reset pkuseg user dict
  spacy/lang/zh/__init__.py
  spacy/tests/lang/zh/test_tokenizer.py
Labels: enhancement, lang / zh

#5414 Added author information for NLPre
  .github/contributors/thoppe.md
  website/meta/universe.json
Labels: docs

#5379 Improve exceptions for 'd (would/had) in English
  spacy/lang/en/tokenizer_exceptions.py
Labels: bug, lang / en

#5386 Few more updates to the EL documentation
  examples/training/train_entity_linker.py
  website/docs/usage/training.md
Labels: docs, feat / nel

#5429 Modify array type to accommodate OOV_RANK
  spacy/vocab.pyx
Labels: bug, feat / vectors

#5428 Remove TAG from da/sv tokenizer exceptions
  spacy/lang/da/tokenizer_exceptions.py
  spacy/lang/sv/tokenizer_exceptions.py
Labels: lang / da, lang / sv

#5430 Check that row is within bounds when adding vector
  spacy/cli/init_model.py
  spacy/errors.py
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/vectors.pyx
  spacy/vocab.pyx
Labels: bug, feat / vectors

#5425 prevent None in gold fields
  spacy/gold.pyx
  spacy/tests/parser/test_ner.py
Labels: bug, feat / ner, training

#5396 Limiting noun_chunks for specific languages
  .github/contributors/vishnupriyavr.md
  spacy/lang/de/syntax_iterators.py
  spacy/lang/el/syntax_iterators.py
  spacy/lang/en/syntax_iterators.py
  spacy/lang/es/syntax_iterators.py
  spacy/lang/fa/syntax_iterators.py
  spacy/lang/fr/syntax_iterators.py
  spacy/lang/id/syntax_iterators.py
  spacy/lang/nb/syntax_iterators.py
  spacy/lang/sv/syntax_iterators.py
  spacy/tests/conftest.py
  spacy/tests/lang/de/test_noun_chunks.py
  spacy/tests/lang/el/test_noun_chunks.py
  spacy/tests/lang/en/test_noun_chunks.py
  spacy/tests/lang/es/test_noun_chunks.py
  spacy/tests/lang/fa/test_noun_chunks.py
  spacy/tests/lang/fr/test_noun_chunks.py
  spacy/tests/lang/id/test_noun_chunks.py
  spacy/tests/lang/nb/test_noun_chunks.py
  spacy/tests/lang/sv/test_noun_chunks.py
  spacy/tokens/doc.pyx
Labels: docs, enhancement, feat / ux

#5437 Fix syntax iterators for Persian
  spacy/lang/fa/__init__.py
  spacy/tests/lang/fa/__init__.py
Labels: bug, lang / fa

#5439 Use Token.sent_start for Span.sent
  spacy/tokens/span.pyx
Labels: bug, feat / doc

#5413 Add Polish lemmatizer
  setup.cfg
  spacy/lang/pl/__init__.py
  spacy/lang/pl/lemmatizer.py
Labels: enhancement, feat / lemmatizer, lang / pl

#5401 Skip duplicate lexeme rank setting
  spacy/_ml.py
  spacy/language.py
Labels: enhancement, feat / pipeline, feat / vectors

#5446 Very minor issues in Korean example sentences
  .github/contributors/osori.md
  spacy/lang/ko/examples.py
Labels: enhancement, lang / ko

#5436 Fix ErrorsWithCodes().__class__ return value
  .github/contributors/ilivans.md
  spacy/errors.py
  spacy/tests/test_errors.py
Labels: bug

#5449 Adapt parser and NER for transformers
  examples/experiments/tok2vec-ner/multihashembed_tok2vec.cfg
  examples/training/train_ner.py
  spacy/cli/train_from_config.py
  spacy/gold.pyx
  spacy/language.py
  spacy/ml/_biluo.py
  spacy/ml/_iob.py
  spacy/ml/_precomputable_affine.py
  spacy/ml/models/__init__.py
  spacy/ml/models/defaults/__init__.py
  spacy/ml/models/defaults/simple_ner_defaults.cfg
  spacy/ml/models/parser.py
  spacy/ml/models/simple_ner.py
  spacy/ml/models/tagger.py
  spacy/ml/tb_framework.py
  spacy/pipeline/__init__.py
  spacy/pipeline/pipes.pyx
  spacy/pipeline/simple_ner.py
  spacy/syntax/_parser_model.pyx
  spacy/syntax/nn_parser.pyx
  spacy/tests/parser/test_add_label.py
  spacy/tests/parser/test_neural_parser.py
  spacy/tests/pipeline/test_simple_ner.py
  spacy/tests/regression/test_issue2001-2500.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tests/test_misc.py
  spacy/util.py
Labels: enhancement, feat / ner, feat / parser, feat / tok2vec, 🔜 v3.0

#5378 Feature toggle_pipes
  bin/wiki_entity_linking/README.md
  bin/wiki_entity_linking/__init__.py
  bin/wiki_entity_linking/entity_linker_evaluation.py
  bin/wiki_entity_linking/kb_creator.py
  bin/wiki_entity_linking/train_descriptions.py
  bin/wiki_entity_linking/wiki_io.py
  bin/wiki_entity_linking/wiki_namespaces.py
  bin/wiki_entity_linking/wikidata_pretrain_kb.py
  bin/wiki_entity_linking/wikidata_processor.py
  bin/wiki_entity_linking/wikidata_train_entity_linker.py
  bin/wiki_entity_linking/wikipedia_processor.py
  examples/training/pretrain_textcat.py
  examples/training/rehearsal.py
  examples/training/textcat_example_data/textcatjsonl_to_trainjson.py
  examples/training/train_entity_linker.py
  examples/training/train_intent_parser.py
  examples/training/train_ner.py
  examples/training/train_new_entity_type.py
  examples/training/train_parser.py
  examples/training/train_textcat.py
  spacy/cli/train.py
  spacy/errors.py
  spacy/language.py
  spacy/pipeline/entityruler.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/tests/regression/test_issue3611.py
  spacy/tests/regression/test_issue4030.py
  website/docs/api/language.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/rule-based-matching.md
  website/docs/usage/spacy-101.md
  website/docs/usage/training.md
Labels: enhancement, feat / pipeline, 🔜 v3.0

#5238 Reduce stored lexemes data, move feats to lookups
  spacy/attrs.pxd
  spacy/attrs.pyx
  spacy/cli/init_model.py
  spacy/cli/train.py
  spacy/lang/da/__init__.py
  spacy/lang/da/norm_exceptions.py
  spacy/lang/de/__init__.py
  spacy/lang/de/norm_exceptions.py
  spacy/lang/el/__init__.py
  spacy/lang/el/norm_exceptions.py
  spacy/lang/en/__init__.py
  spacy/lang/en/norm_exceptions.py
  spacy/lang/id/__init__.py
  spacy/lang/id/norm_exceptions.py
  spacy/lang/lb/__init__.py
  spacy/lang/lb/norm_exceptions.py
  spacy/lang/lex_attrs.py
  spacy/lang/pt/__init__.py
  spacy/lang/pt/norm_exceptions.py
  spacy/lang/ru/__init__.py
  spacy/lang/ru/norm_exceptions.py
  spacy/lang/sr/__init__.py
  spacy/lang/sr/norm_exceptions.py
  spacy/lang/ta/norm_exceptions.py
  spacy/lang/th/__init__.py
  spacy/lang/th/norm_exceptions.py
  spacy/language.py
  spacy/lexeme.pxd
  spacy/lexeme.pyx
  spacy/lookups.py
  spacy/structs.pxd
  spacy/symbols.pxd
  spacy/symbols.pyx
  spacy/tests/lang/da/test_exceptions.py
  spacy/tests/lang/de/test_exceptions.py
  spacy/tests/lang/en/test_exceptions.py
  spacy/tests/lang/lb/test_exceptions.py
  spacy/tests/serialize/test_serialize_vocab_strings.py
  spacy/tests/test_lemmatizer.py
  spacy/tests/vocab_vectors/test_lexeme.py
  spacy/tests/vocab_vectors/test_lookups.py
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/tokens/token.pyx
  spacy/vocab.pxd
  spacy/vocab.pyx
Labels: enhancement, feat / serialize

#5432 Update Polish tokenizer for UD_Polish-PDB
  spacy/lang/pl/__init__.py
  spacy/lang/pl/_tokenizer_exceptions_list.py
  spacy/lang/pl/polish_srx_rules_LICENSE.txt
  spacy/lang/pl/punctuation.py
  spacy/lang/pl/tokenizer_exceptions.py
  spacy/tests/lang/pl/test_tokenizer.py
Labels: enhancement, lang / pl

#5007 Add warning for misaligned character offset spans
  examples/training/rehearsal.py
  examples/training/train_ner.py
  examples/training/train_new_entity_type.py
  spacy/errors.py
  spacy/gold.pyx
  spacy/tests/test_gold.py
Labels: feat / ux

#5452 default models defined in component decorator
  spacy/language.py
  spacy/pipeline/defaults/__init__.py
  spacy/pipeline/defaults/entity_linker_defaults.cfg
  spacy/pipeline/defaults/morphologizer_defaults.cfg
  spacy/pipeline/defaults/ner_defaults.cfg
  spacy/pipeline/defaults/parser_defaults.cfg
  spacy/pipeline/defaults/senter_defaults.cfg
  spacy/pipeline/defaults/simple_ner_defaults.cfg
  spacy/pipeline/defaults/tagger_defaults.cfg
  spacy/pipeline/defaults/tensorizer_defaults.cfg
  spacy/pipeline/defaults/textcat_bow_defaults.cfg
  spacy/pipeline/defaults/textcat_cnn_defaults.cfg
  spacy/pipeline/defaults/textcat_defaults.cfg
  spacy/pipeline/defaults/tok2vec_defaults.cfg
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/pipes.pyx
  spacy/pipeline/simple_ner.py
  spacy/pipeline/tok2vec.py
  spacy/tests/doc/test_add_entities.py
  spacy/tests/parser/test_add_label.py
  spacy/tests/parser/test_arc_eager_oracle.py
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_neural_parser.py
  spacy/tests/parser/test_nn_beam.py
  spacy/tests/parser/test_preset_sbd.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/regression/test_issue1501-2000.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3830.py
  spacy/tests/regression/test_issue4042.py
  spacy/tests/regression/test_issue4313.py
  spacy/tests/serialize/test_serialize_pipeline.py
Labels: enhancement, 🔜 v3.0

#5348 Fix most_similar for vectors with unused rows
  spacy/errors.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/vectors.pyx
Labels: bug, feat / vectors

#5460 Various fixes to NEL functionality, Example class etc
  examples/experiments/ptb-joint-pos-dep/bilstm_tok2vec.cfg
  examples/experiments/ptb-joint-pos-dep/defaults.cfg
  examples/experiments/tok2vec-ner/charembed_tok2vec.cfg
  examples/experiments/tok2vec-ner/multihashembed_tok2vec.cfg
  examples/training/train_entity_linker.py
  pyproject.toml
  setup.cfg
  spacy/cli/train_from_config.py
  spacy/errors.py
  spacy/gold.pyx
  spacy/language.py
  spacy/ml/models/entity_linker.py
  spacy/pipeline/pipes.pyx
  spacy/tests/pipeline/test_entity_linker.py
  spacy/util.py
Labels: bug, enhancement, feat / nel, feat / pipeline, feat / ux, 🔜 v3.0

#5456 Remove peeking from Parser.begin_training
  spacy/syntax/nn_parser.pyx
Labels: bug, feat / parser

#5467 Add option for base model in init-model CLI
  spacy/cli/init_model.py
Labels: enhancement, feat / cli

#5461 Update universe.json
  .github/contributors/kevinlu1248.md
  website/meta/universe.json
Labels: docs

#5473 Fix Python 2.7 compat
  spacy/lang/zh/__init__.py
  spacy/tests/lang/hy/test_text.py
Labels: bug, compat

#5462 Extend lemmatizer rules for all UPOS tags
  spacy/lemmatizer.py
Labels: enhancement, feat / lemmatizer

#5468 Improve handling of NER in CoNLL-U MISC
  spacy/cli/converters/conllu2json.py
  spacy/tests/test_cli.py
Labels: enhancement, feat / cli

#5466 Add option to omit extra lexeme tables in CLI
  spacy/cli/init_model.py
  spacy/cli/train.py
Labels: enhancement, feat / cli

#5457 Update website models for v2.3.0
  website/meta/languages.json
Labels: docs, models

#5474 Docs for Chinese word segmentation
  website/docs/usage/models.md
Labels: docs, lang / zh

#5470 Bugfix in noun chunks
  spacy/lang/el/syntax_iterators.py
  spacy/lang/en/syntax_iterators.py
  spacy/lang/fa/syntax_iterators.py
  spacy/lang/fr/syntax_iterators.py
  spacy/lang/id/syntax_iterators.py
  spacy/lang/nb/syntax_iterators.py
  spacy/lang/sv/syntax_iterators.py
  spacy/language.py
  spacy/tests/regression/test_issue5458.py
Labels: bug, feat / pipeline

#5482 Use backwards-compatible super() for v2.x branch
  spacy/errors.py
  spacy/lang/pl/lemmatizer.py
Labels: bug, compat

#5481 Add blank:{lang} shortcut support to util.load_model
  spacy/tests/test_misc.py
  spacy/util.py
Labels: enhancement

#5264 Fix ResourceWarnings during unittest
  .github/contributors/lfiedler.md
  spacy/kb.pyx
  spacy/language.py
  spacy/pipeline/pipes.pyx
  spacy/tests/regression/test_issue5230.py
  spacy/vectors.pyx
Labels: bug, feat / pipeline, feat / serialize

#5485 Disallow merging 0-length spans
  spacy/errors.py
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tokens/_retokenize.pyx
Labels: bug, feat / doc

#5121 Revert token_match priority changes from #4374 and extend token match options
  spacy/lang/fr/tokenizer_exceptions.py
  spacy/lang/hu/punctuation.py
  spacy/lang/hu/tokenizer_exceptions.py
  spacy/lang/tokenizer_exceptions.py
  spacy/language.py
  spacy/tests/tokenizer/test_urls.py
  spacy/tokenizer.pxd
  spacy/tokenizer.pyx
  website/docs/api/tokenizer.md
  website/docs/usage/linguistic-features.md
Labels: bug, feat / tokenizer

#5486 Fix compat for v2.x branch
  spacy/tests/regression/test_issue5152.py
  spacy/tests/regression/test_issue5230.py
  spacy/tests/regression/test_issue5458.py
  spacy/tests/serialize/test_serialize_vocab_strings.py
  spacy/tests/vocab_vectors/test_vectors.py
Labels: compat

#5488 Better model compatibility and validation
  requirements.txt
  setup.cfg
  spacy/cli/info.py
  spacy/cli/package.py
  spacy/cli/train.py
  spacy/cli/validate.py
  spacy/language.py
  spacy/util.py
Labels: enhancement, feat / cli, models, 🔜 v3.0

#5490 Remove jsonschema from dependencies
  Makefile
  requirements.txt
  spacy/tests/package/test_requirements.py
Labels: install, 🔜 v3.0

#5489 Support training of connected components
  spacy/analysis.py
  spacy/language.py
  spacy/tests/pipeline/test_analysis.py
Labels: enhancement, feat / pipeline, 🔜 v3.0

#5492 Documentation Typo Fix
  .github/contributors/JannisTriesToCode.md
  website/docs/usage/adding-languages.md
Labels: docs

#5491 Rename spacy.analysis to spacy.pipe_analysis
  spacy/language.py
  spacy/pipe_analysis.py
  spacy/tests/pipeline/test_analysis.py
Labels: enhancement, feat / pipeline, 🔜 v3.0

#5495 Simplify is_package check for installed model packages
  spacy/cli/download.py
  spacy/tests/test_misc.py
  spacy/util.py
Labels: enhancement, models, 🔜 v3.0

#5497 update spacy universe with my project
  .github/contributors/R1j1t.md
  website/meta/universe.json
Labels: docs

#5498 Switch to new add API in PhraseMatcher unpickle
  spacy/matcher/phrasematcher.pyx
  spacy/tests/matcher/test_phrase_matcher.py
Labels: bug, feat / matcher

#5499 Bump version and deps for v2.3.0
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/about.py
Labels: install

#5502 Update Makefile for v2.3.0
  Makefile
Labels: install

#5503 Handle spacy.pex renaming in Makefile
  Makefile
Labels: install

#5496 unicode -> str consistency
  spacy/cli/converters/conllu2json.py
  spacy/cli/info.py
  spacy/displacy/__init__.py
  spacy/displacy/render.py
  spacy/errors.py
  spacy/glossary.py
  spacy/gold.pyx
  spacy/kb.pyx
  spacy/language.py
  spacy/lemmatizer.py
  spacy/lexeme.pyx
  spacy/lookups.py
  spacy/matcher/dependencymatcher.pyx
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
  spacy/morphology.pyx
  spacy/pipe_analysis.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/functions.py
  spacy/strings.pyx
  spacy/tokenizer.pyx
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
  spacy/util.py
  spacy/vectors.pyx
  spacy/vocab.pyx
  website/docs/api/cli.md
  website/docs/api/cython-classes.md
  website/docs/api/dependencyparser.md
  website/docs/api/doc.md
  website/docs/api/entitylinker.md
  website/docs/api/entityrecognizer.md
  website/docs/api/entityruler.md
  website/docs/api/goldcorpus.md
  website/docs/api/goldparse.md
  website/docs/api/kb.md
  website/docs/api/language.md
  website/docs/api/lemmatizer.md
  website/docs/api/lexeme.md
  website/docs/api/lookups.md
  website/docs/api/matcher.md
  website/docs/api/phrasematcher.md
  website/docs/api/pipeline-functions.md
  website/docs/api/sentencizer.md
  website/docs/api/span.md
  website/docs/api/stringstore.md
  website/docs/api/tagger.md
  website/docs/api/textcategorizer.md
  website/docs/api/token.md
  website/docs/api/tokenizer.md
  website/docs/api/top-level.md
  website/docs/api/vectors.md
  website/docs/api/vocab.md
  website/docs/usage/linguistic-features.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/rule-based-matching.md
  website/docs/usage/saving-loading.md
  website/docs/usage/visualizers.md
Labels: docs, 🔜 v3.0

#5506 Fix Polish lemmatizer for deserialized models
  spacy/lang/pl/lemmatizer.py
Labels: bug, feat / lemmatizer, lang / pl

#5512 Map NR to PROPN
  spacy/lang/zh/tag_map.py
Labels: bug, lang / zh

#5514 Improve vector name loading from model meta
  spacy/language.py
Labels: bug, feat / serialize, feat / vectors

#5508 Prefer _SP over SP for default tag map space attrs
  spacy/morphology.pyx
Labels: bug, feat / tagger

#5518 Pretrain fixes
  examples/training/pretrain_textcat.py
  spacy/cli/train.py
  spacy/errors.py
  website/docs/api/cli.md
Labels: docs, enhancement, feat / cli

#5517 Remove MorphAnalysis __str__ and __repr__
  spacy/tokens/morphanalysis.pyx
Labels: bug

#5521 fix deserialization order
  spacy/vectors.pyx
Labels: bug, feat / serialize, feat / vectors

#5516 Improve model version dependency handling
  requirements.txt
  setup.cfg
  spacy/cli/download.py
  spacy/cli/package.py
  spacy/cli/train.py
  spacy/cli/validate.py
  spacy/errors.py
  spacy/language.py
  spacy/tests/test_misc.py
  spacy/util.py
Labels: feat / cli, models, ⚠️ wip, 🔜 v3.0

#5526 corrected issue #5524 changed <U+009C> 'STRING TERMINATOR' for <U+0153> LATIN SMALL LIGATURE OE'
  spacy/lang/fr/_tokenizer_exceptions_list.py
Labels: feat / tokenizer, lang / fr
