Repository explosion/spaCy, pull requests merged in 2020-06, with the labels that each got.

#5527 Preserve _SP when filtering tag map in Tagger
  spacy/pipeline/pipes.pyx
Labels: bug, feat / tagger

#5531 Spanish tokenizer exception and examples improvement
  spacy/lang/es/examples.py
  spacy/lang/es/tokenizer_exceptions.py
Labels: feat / tokenizer, lang / es

#5533 add oversize examples before StopIteration returns
  spacy/tests/test_util.py
  spacy/tests/util.py
  spacy/util.py
Labels: bug, enhancement, 🔜 v3.0

#5535 Add rudimentary version checks on model load
  spacy/errors.py
  spacy/tests/test_misc.py
  spacy/util.py
Labels: enhancement, feat / serialize, models

#5544 Add Japanese Model
  spacy/lang/ja/__init__.py
  spacy/lang/ja/bunsetu.py
  spacy/lang/ja/syntax_iterators.py
  spacy/lang/ja/tag_bigram_map.py
  spacy/lang/ja/tag_map.py
  spacy/lang/ja/tag_orth_map.py
  spacy/tests/lang/ja/test_lemmatization.py
  spacy/tests/lang/ja/test_tokenizer.py
Labels: enhancement, lang / ja

#5542 add tag variant for 2.3
  website/docs/api/cli.md
Labels: docs, feat / cli

#5545 Avoid libc.stdint for UINT64_MAX
  spacy/lexeme.pyx
Labels: bug

#5536 Add warning for loose version constraints
  spacy/errors.py
  spacy/tests/test_misc.py
  spacy/util.py
Labels: enhancement, feat / ux, models, 🔜 v3.0

#5560 Fix Japanese Tokenizer (revised)
  .github/contributors/hiroshi-matsuda-rit.md
  spacy/lang/ja/__init__.py
Labels: bug, feat / tokenizer, lang / ja

#5562 Update Japanese tokenizer config and add serialization
  spacy/lang/ja/__init__.py
  spacy/tests/lang/ja/test_serialize.py
  spacy/tests/lang/ja/test_tokenizer.py
Labels: enhancement, lang / ja

#5563 bot for answered issues
  .github/workflows/issue-manager.yml
Labels: meta

#5534 adding spacy-universal-sentence-encoder
  .github/contributors/MartinoMensio.md
  website/meta/universe.json
Labels: docs

#5564 Handle empty and whitespace-only docs for Japanese
  spacy/lang/ja/__init__.py
  spacy/tests/lang/ja/test_tokenizer.py
Labels: bug, lang / ja

#5558 More steps on reforming spacy.gold
  spacy/cli/train_from_config.py
  spacy/gold/__init__.py
  spacy/gold/align.py
  spacy/gold/annotation.py
  spacy/gold/corpus.py
  spacy/gold/example.py
  spacy/gold/gold_io.pyx
  spacy/language.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/pipes.pyx
  spacy/scorer.py
  spacy/syntax/gold_parse.pyx
  spacy/syntax/nn_parser.pyx
  spacy/tests/parser/test_add_label.py
  spacy/tests/parser/test_neural_parser.py
  spacy/tests/parser/test_preset_sbd.py
  spacy/tests/test_gold.py
  spacy/tests/test_language.py
Labels: 🔜 v3.0

#5566 Disable sentence segmentation in ja tokenizer
  spacy/lang/ja/__init__.py
  spacy/tests/lang/ja/test_tokenizer.py
Labels: bug, lang / ja

#5574 Update pytest conf for sudachipy with Japanese
  spacy/tests/conftest.py
Labels: bug, lang / ja, tests

#5572 Expand Japanese requirements warning
  spacy/lang/ja/__init__.py
Labels: enhancement, lang / ja

#5575 train is from-config by default
  examples/experiments/onto-joint/defaults.cfg
  examples/experiments/onto-joint/pretrain.cfg
  examples/experiments/ptb-joint-pos-dep/bilstm_tok2vec.cfg
  examples/experiments/ptb-joint-pos-dep/defaults.cfg
  examples/training/train_textcat.py
  spacy/cli/evaluate.py
  spacy/cli/pretrain.py
  spacy/cli/train.py
  spacy/cli/train_from_config.py
  spacy/errors.py
  spacy/gold.pyx
  spacy/language.py
  spacy/ml/models/multi_task.py
  spacy/ml/models/textcat.py
  spacy/pipeline/defaults/multitask_defaults.cfg
  spacy/pipeline/pipes.pyx
  spacy/pipeline/tok2vec.py
  spacy/scorer.py
  spacy/syntax/nn_parser.pyx
  spacy/tests/doc/test_add_entities.py
  spacy/tests/parser/test_add_label.py
  spacy/tests/parser/test_arc_eager_oracle.py
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_neural_parser.py
  spacy/tests/parser/test_nn_beam.py
  spacy/tests/parser/test_preset_sbd.py
  spacy/tests/regression/test_issue1501-2000.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3830.py
  spacy/tests/regression/test_issue4042.py
  spacy/tests/regression/test_issue4313.py
  spacy/tests/regression/test_issue4725.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/util.py
  website/docs/api/scorer.md
Labels: enhancement, feat / cli, feat / textcat, training, 🔜 v3.0

#5548 Added Parameter to NEL to take n sentences into account
  .github/contributors/theudas.md
  spacy/pipeline/pipes.pyx
Labels: enhancement, feat / nel

#5583 Added Tamil Example Sentences
  .github/contributors/Arvindcheenu.md
  spacy/lang/ta/examples.py
Labels: enhancement, lang / ta

#5588 Fix and add warnings related to spacy-lookups-data
  spacy/errors.py
  spacy/pipeline/pipes.pyx
  spacy/syntax/nn_parser.pyx
  spacy/tests/parser/test_ner.py
  spacy/tests/test_lemmatizer.py
Labels: enhancement, feat / parser, feat / tagger, feat / ux

#5589 Updates to docstrings
  spacy/gold.pyx
  spacy/vocab.pyx
Labels: docs

#5593 Documentation updates for v2.3.0
  README.md
  website/docs/api/cli.md
  website/docs/api/cython-structs.md
  website/docs/api/goldparse.md
  website/docs/api/lexeme.md
  website/docs/api/matcher.md
  website/docs/api/sentencizer.md
  website/docs/api/token.md
  website/docs/api/vocab.md
  website/docs/usage/adding-languages.md
  website/docs/usage/linguistic-features.md
  website/docs/usage/models.md
  website/docs/usage/v2-3.md
  website/meta/languages.json
  website/meta/sidebars.json
  website/src/templates/models.js
  website/src/widgets/landing.js
  website/src/widgets/languages.js
Labels: docs

#5599 Minor v2.3.0 doc updates
  website/docs/usage/101/_pos-deps.md
  website/docs/usage/adding-languages.md
  website/docs/usage/linguistic-features.md
  website/docs/usage/rule-based-matching.md
Labels: docs

#5611 Warning for sudachipy 0.4.5
  website/docs/usage/models.md
Labels: docs

#5612 Create myavrum.md
  .github/contributors/myavrum.md
Labels: docs

#5608 Update lex_attrs.py
  spacy/lang/hy/lex_attrs.py
Labels: enhancement, lang / hy

#5615 Create mahnerak.md
  .github/contributors/mahnerak.md
Labels: docs

#5617 Tidy up and auto-format
  spacy/cli/pretrain.py
  spacy/cli/train_from_config.py
  spacy/lemmatizer.py
  spacy/ml/__init__.py
  spacy/ml/_biluo.py
  spacy/ml/_iob.py
  spacy/ml/_precomputable_affine.py
  spacy/ml/models/__init__.py
  spacy/ml/models/multi_task.py
  spacy/ml/models/parser.py
  spacy/ml/models/simple_ner.py
  spacy/ml/models/tagger.py
  spacy/ml/models/textcat.py
  spacy/ml/models/tok2vec.py
  spacy/ml/tb_framework.py
  spacy/pipeline/simple_ner.py
  spacy/scorer.py
  spacy/tests/doc/test_add_entities.py
  spacy/tests/parser/test_add_label.py
  spacy/tests/parser/test_arc_eager_oracle.py
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_neural_parser.py
  spacy/tests/parser/test_nn_beam.py
  spacy/tests/parser/test_preset_sbd.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_morphologizer.py
  spacy/tests/pipeline/test_simple_ner.py
  spacy/tests/regression/test_issue1501-2000.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3830.py
  spacy/tests/regression/test_issue4042.py
  spacy/tests/regression/test_issue4313.py
  spacy/tests/regression/test_issue4924.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tests/serialize/test_serialize_vocab_strings.py
  spacy/tests/test_scorer.py
  spacy/tests/test_util.py
  spacy/util.py
Labels: enhancement, 🔜 v3.0

#5618 Add --code-path option to train CLI
  spacy/cli/train_from_config.py
Labels: enhancement, feat / cli, training, 🔜 v3.0

#5616 Some changes for Armenian
  spacy/lang/hy/examples.py
  spacy/lang/hy/lex_attrs.py
Labels: enhancement, lang / hy

#5622 Add Nepali Language
  .github/contributors/rameshhpathak.md
  spacy/lang/ne/__init__.py
  spacy/lang/ne/examples.py
  spacy/lang/ne/lex_attrs.py
  spacy/lang/ne/stop_words.py
  spacy/tests/conftest.py
  spacy/tests/lang/ne/__init__.py
  spacy/tests/lang/ne/test_text.py
Labels: lang / ne

#5627 Add warnings example in v2.3 migration guide
  website/docs/usage/v2-3.md
Labels: docs

#5626 Refactor CLI
  requirements.txt
  setup.cfg
  spacy/__init__.py
  spacy/__main__.py
  spacy/about.py
  spacy/cli/__init__.py
  spacy/cli/_app.py
  spacy/cli/convert.py
  spacy/cli/debug_data.py
  spacy/cli/download.py
  spacy/cli/evaluate.py
  spacy/cli/info.py
  spacy/cli/init_model.py
  spacy/cli/package.py
  spacy/cli/pretrain.py
  spacy/cli/profile.py
  spacy/cli/train_from_config.py
  spacy/cli/validate.py
  spacy/schemas.py
  spacy/util.py
Labels: enhancement, feat / cli, 🔜 v3.0

#5634 Fix polarity of Token.is_oov and Lexeme.is_oov
  spacy/lexeme.pyx
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/tokens/token.pyx
Labels: bug, feat / doc

#5635 Extend what's new in v2.3 with vocab / is_oov
  website/docs/usage/v2-3.md
Labels: docs

#5624 Skip vocab in component config overrides
  spacy/util.py
Labels: bug, feat / cli, feat / pipeline

#5640 Fix backslashes in warnings config diff
  website/docs/usage/v2-3.md
Labels: docs

#5641 Disregard special tag _SP in check for new tag map
  spacy/pipeline/pipes.pyx
  spacy/tests/pipeline/test_tagger.py
Labels: bug, feat / tagger

#5606 Reduce memory usage of Lookup's BloomFilter
  .github/contributors/PluieElectrique.md
  spacy/lookups.py
Labels: enhancement, feat / lemmatizer, feat / serialize

#5653 Extend v2.3 migration guide
  website/docs/usage/v2-3.md
Labels: docs

#5656 NER align tests
  spacy/gold/example.pyx
  spacy/tests/test_gold.py
Labels: tests, 🔜 v3.0

#5636 Update v2.3.x branch
  .github/contributors/mahnerak.md
  .github/contributors/myavrum.md
  .github/contributors/rameshhpathak.md
  .github/contributors/richardliaw.md
  spacy/lang/hy/examples.py
  spacy/lang/hy/lex_attrs.py
  spacy/lang/ja/__init__.py
  spacy/lang/ja/bunsetu.py
  spacy/lang/ne/__init__.py
  spacy/lang/ne/examples.py
  spacy/lang/ne/lex_attrs.py
  spacy/lang/ne/stop_words.py
  spacy/lexeme.pyx
  spacy/pipeline/pipes.pyx
  spacy/tests/conftest.py
  spacy/tests/lang/ja/test_tokenizer.py
  spacy/tests/lang/ne/__init__.py
  spacy/tests/lang/ne/test_text.py
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/tokens/token.pyx
  spacy/util.py
  website/docs/api/goldparse.md
  website/docs/api/matcher.md
  website/docs/usage/101/_pos-deps.md
  website/docs/usage/adding-languages.md
  website/docs/usage/linguistic-features.md
  website/docs/usage/models.md
  website/docs/usage/rule-based-matching.md
  website/docs/usage/v2-3.md
  website/meta/site.json
Labels: ⚠️ wip

#5663 Move lemmatizer is_base_form to language settings
  spacy/lang/en/__init__.py
  spacy/language.py
  spacy/lemmatizer.py
  spacy/tests/regression/test_issue1-1000.py
  spacy/tests/test_lemmatizer.py
Labels: bug, feat / lemmatizer

#5652 Convert custom user_data to token extension format for Japanese tokenizer
  spacy/lang/ja/__init__.py
  spacy/tests/lang/ja/test_tokenizer.py
Labels: enhancement, lang / ja

#5674 Fixes to project CLI
  spacy/cli/project.py
  spacy/errors.py
  spacy/util.py
Labels: bug, feat / cli, windows

#5669 Website: fixed the token span in the text about the rule-based matching example
  .github/contributors/hertelm.md
  website/docs/usage/rule-based-matching.md
Labels: docs

#5680 Minor fix in PhraseMatcher api docs: pipe(docs) instead of pipe(texts)
  website/docs/api/phrasematcher.md
Labels: docs
