Repository explosion/spaCy, pull requests merged in 2020-11, with the labels that each got.

#6286 Handle missing reference values in scorer
  spacy/cli/evaluate.py
  spacy/pipeline/attributeruler.py
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/entityruler.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/ner.pyx
  spacy/pipeline/sentencizer.pyx
  spacy/pipeline/senter.pyx
  spacy/scorer.py
  spacy/tests/pipeline/test_attributeruler.py
  spacy/tests/test_scorer.py
  spacy/tokens/doc.pyx
  website/docs/api/doc.md
  website/docs/api/scorer.md
Labels: enhancement, 🔜 v3.0

#6293 Replace pytokenizations with internal alignment
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
  spacy/errors.py
  spacy/tests/training/test_training.py
  spacy/training/__init__.py
  spacy/training/align.pyx
  spacy/training/alignment.py
  spacy/training/example.pyx
Labels: enhancement, feat / training, 🔜 v3.0

#6343 fix embed_size in Entity Linker architecture
  spacy/pipeline/entity_linker.py
  website/docs/api/architectures.md
Labels: feat / nel, 🔜 v3.0

#6312 Fix on_match callback and exclude empty match lists from results
  spacy/matcher/dependencymatcher.pyx
  spacy/tests/matcher/test_matcher_api.py
Labels: bug, feat / matcher

#6302 add oprd to the list of accepted deps for noun chunking
  .github/contributors/vha14.md
  spacy/lang/en/syntax_iterators.py
Labels: lang / en

#6344 Update TIGER link and tag description
  website/docs/api/annotation.md
Labels: docs

#6284 Add tag map to cs language
  spacy/lang/cs/__init__.py
  spacy/lang/cs/tag_map.py
Labels: enhancement, lang / cs

#6248 Added Multext-East V5 tagset for Croatian language
  .github/contributors/danielvasic.md
  spacy/lang/hr/__init__.py
  spacy/lang/hr/tag_map.py
Labels: lang / hr

#6297 Setup / install / quickstart updates
  setup.cfg
  spacy/lang/zh/__init__.py
  website/docs/usage/index.md
  website/src/widgets/quickstart-install.js
Labels: docs, install, 🔜 v3.0

#6322 add medspacy to universe and fix example w/ cov-bsv
  website/meta/universe.json
Labels: docs

#6305 Document score method
  spacy/scorer.py
  website/docs/usage/layers-architectures.md
Labels: docs, 🔜 v3.0

#6371 Fix textcat + transformer architecture
  spacy/cli/templates/quickstart_training.jinja
  spacy/ml/models/textcat.py
Labels: bug, feat / cli, feat / textcat, 🌙 nightly

#6363 Ignore misaligned in Morphologizer.get_loss
  spacy/pipeline/morphologizer.pyx
  spacy/tests/pipeline/test_morphologizer.py
Labels: bug, feat / morphologizer, 🔜 v3.0

#6353 Add ent_id_ to strings serialized with Doc
  spacy/tests/doc/test_doc_api.py
  spacy/tests/pipeline/test_entity_ruler.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc

#6396 Fix DocBin init in training example
  website/docs/usage/training.md
Labels: docs, 🔜 v3.0

#6395 Added spaCyTextBlob to universe.json
  website/meta/universe.json
Labels: docs

#6399 Update universe.json (include PatternOmatic)
  .github/contributors/revuel.md
  website/meta/universe.json
Labels: docs

#6404 Fix typo in transformer docs
  website/docs/api/transformer.md
Labels: docs, 🌙 nightly

#6428 Avoid a SyntaxError in self-attentive-parser
  .github/contributors/forest1988.md
  website/meta/universe.json
Labels: docs, enhancement

#6338 Updates for python 3.9
  README.md
  azure-pipelines.yml
  pyproject.toml
  requirements.txt
  setup.cfg
Labels: compat, install

#6408 Add all vectors to vocab before pruning
  spacy/vocab.pyx
Labels: bug, feat / vectors

#6414 Remove Beam cleanup
  spacy/syntax/_beam_utils.pyx
  spacy/syntax/nn_parser.pyx
Labels: feat / ner, feat / parser

#6413 Use int8_t instead of char in Matcher
  spacy/matcher/matcher.pyx
  spacy/typedefs.pxd
  spacy/vocab.pxd
Labels: bug, compat, feat / matcher

#6418 Dynamically include numpy headers
  build-constraints.txt
  include/numpy/__multiarray_api.h
  include/numpy/__ufunc_api.h
  include/numpy/_neighborhood_iterator_imp.h
  include/numpy/_numpyconfig.h
  include/numpy/arrayobject.h
  include/numpy/arrayscalars.h
  include/numpy/halffloat.h
  include/numpy/multiarray_api.txt
  include/numpy/ndarrayobject.h
  include/numpy/ndarraytypes.h
  include/numpy/noprefix.h
  include/numpy/npy_3kcompat.h
  include/numpy/npy_common.h
  include/numpy/npy_cpu.h
  include/numpy/npy_deprecated_api.h
  include/numpy/npy_endian.h
  include/numpy/npy_interrupt.h
  include/numpy/npy_math.h
  include/numpy/npy_no_deprecated_api.h
  include/numpy/npy_os.h
  include/numpy/numpyconfig.h
  include/numpy/old_defines.h
  include/numpy/oldnumeric.h
  include/numpy/ufunc_api.txt
  include/numpy/ufuncobject.h
  include/numpy/utils.h
  pyproject.toml
  setup.cfg
  setup.py
Labels: compat, install

#6411 Bugfix textcat reproducibility on GPU
  spacy/_ml.py
  spacy/tests/regression/test_issue6177.py
Labels: bug, feat / textcat, gpu, training

#6437 Fix tag map clobbering in spacy train
  spacy/cli/train.py
Labels: bug, feat / cli

#6422 Add jabortell to the contributors
  .github/contributors/jabortell.md
Labels: docs

#6421 Update rule-based-matching.md
  website/docs/usage/rule-based-matching.md
Labels: docs

#6394 Add error message if DocBin zlib decompress fails
  spacy/errors.py
  spacy/tokens/_serialize.py
Labels: enhancement, feat / doc, feat / ux, 🔜 v3.0

#6465 Small fix for config resolving when pretraining
  spacy/training/pretrain.py
Labels: bug, feat / tok2vec, 🌙 nightly

#6463 Add SPACY as a Matcher attribute
  spacy/matcher/_schemas.py
  spacy/tests/matcher/test_matcher_api.py
  website/docs/usage/rule-based-matching.md
Labels: enhancement, feat / matcher

#6464 Only set NORM on Token in retokenizer
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tokens/_retokenize.pyx
Labels: enhancement, feat / doc

#6438 Improve simple training example in v3 migration
  website/docs/usage/v3.md
Labels: docs, 🔜 v3.0
