Repository explosion/spaCy, pull requests merged in 2020-03, with the labels that each got.

#5071 Tidy up compiler flags and imports
  spacy/gold.pxd
  spacy/kb.pxd
  spacy/kb.pyx
  spacy/lexeme.pxd
  spacy/matcher/dependencymatcher.pyx
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pxd
  spacy/matcher/phrasematcher.pyx
  spacy/morphology.pxd
  spacy/morphology.pyx
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/pipes.pyx
  spacy/strings.pxd
  spacy/strings.pyx
  spacy/structs.pxd
  spacy/syntax/_beam_utils.pyx
  spacy/syntax/_parser_model.pyx
  spacy/syntax/_state.pxd
  spacy/syntax/arc_eager.pxd
  spacy/syntax/arc_eager.pyx
  spacy/syntax/ner.pyx
  spacy/syntax/nn_parser.pyx
  spacy/syntax/nonproj.pyx
  spacy/syntax/transition_system.pxd
  spacy/syntax/transition_system.pyx
  spacy/tokenizer.pxd
  spacy/tokenizer.pyx
  spacy/tokens/_retokenize.pyx
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pxd
  spacy/tokens/token.pyx
  spacy/vocab.pxd
Labels: enhancement

#5049 Bugfix/get doc
  spacy/errors.py
  spacy/pipeline/pipes.pyx
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_token_api.py
  spacy/tests/parser/test_parse_navigate.py
  spacy/tests/regression/test_issue2001-2500.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/regression/test_issue4590.py
  spacy/tests/regression/test_issue5048.py
  spacy/tests/test_displacy.py
  spacy/tests/util.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc, tests

#5026 Restore empty tokenizer properties
  spacy/tests/serialize/test_serialize_tokenizer.py
  spacy/tokenizer.pyx
Labels: bug, feat / tokenizer

#5080 Normalize IS_SENT_START to SENT_START for Matcher
  spacy/matcher/_schemas.py
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_pattern_validation.py
Labels: bug, feat / matcher

#5077 Break out of infinite loop when setting children from heads
  spacy/tokens/doc.pyx
Labels: bug, feat / doc

#5081 take care of global vectors in multiprocessing
  spacy/_ml.py
  spacy/language.py
  spacy/tests/regression/test_issue4725.py
  spacy/tests/regression/test_issue4849.py
  spacy/tests/regression/test_issue4903.py
Labels: bug, scaling

#5078 prevent updating cfg if the Model was already defined
  spacy/syntax/nn_parser.pyx
Labels: bug, feat / ner, feat / serialize

#5093 Fix model-final/model-best meta from train CLI
  spacy/cli/train.py
Labels: enhancement, feat / cli

#5079 Improve token head verification
  spacy/errors.py
  spacy/tests/doc/test_array.py
  spacy/tests/doc/test_token_api.py
  spacy/tokens/doc.pyx
  spacy/tokens/token.pyx
Labels: bug, feat / doc

#5100 Require srsly >=1.0.2
  requirements.txt
  setup.cfg
Labels: upgrade

#5097 Basque language support added.
  spacy/lang/eu/__init__.py
  spacy/lang/eu/examples.py
  spacy/lang/eu/lex_attrs.py
  spacy/lang/eu/punctuation.py
  spacy/lang/eu/stop_words.py
  spacy/lang/eu/tag_map.py
  spacy/tests/conftest.py
  spacy/tests/lang/eu/test_text.py
Labels: enhancement, lang / eu

#5099 Update Makefile
  Makefile
Labels: bug, install

#5114 Unit test for NEL functionality
  spacy/pipeline/pipes.pyx
  spacy/tests/pipeline/test_entity_linker.py
Labels: bug, feat / nel

#5109 Update sentence recognizer
  spacy/cli/train.py
  spacy/language.py
  spacy/ml/models/defaults/__init__.py
  spacy/ml/models/defaults/senter_defaults.cfg
  spacy/pipeline/pipes.pyx
  spacy/tests/pipeline/test_senter.py
  spacy/tests/serialize/test_serialize_pipeline.py
Labels: enhancement, feat / pipeline

#5085 set vector of merged entity
  spacy/tests/regression/test_issue5082.py
  spacy/tokens/_retokenize.pyx
Labels: enhancement, feat / doc, feat / vectors

#5110 fix typo in svg file - caused documentation build error
  .github/contributors/dhpollack.md
  website/src/images/logos/allenai.svg
Labels: bug, docs

#5101 Remove unnecessary iterator in Language.pipe
  spacy/language.py
Labels: enhancement, feat / pipeline, perf / memory

#5102 Tok2Vec: extract-embed-encode
  examples/experiments/ptb-joint-pos-dep/bilstm_tok2vec.cfg
  examples/experiments/tok2vec-ner/charembed_tok2vec.cfg
  examples/experiments/tok2vec-ner/multihashembed_tok2vec.cfg
  spacy/language.py
  spacy/ml/_character_embed.py
  spacy/ml/models/tok2vec.py
  spacy/ml/tok2vec.py
  spacy/pipeline/tok2vec.py
  spacy/tests/pipeline/test_senter.py
  spacy/util.py
Labels: enhancement, feat / tok2vec, 🔜 v3.0

#5105 Improve Makefile
  Makefile
Labels: bug, install

#5106 fix typo in bin/wiki_entity_linking/README.md
  bin/wiki_entity_linking/README.md
Labels: docs, feat / nel

#5130 DOC : Update LICENSE Year
  .github/contributors/merrcury.md
  LICENSE
Labels: meta

#5127 is_XXX is True if doc is empty
  spacy/tokens/doc.pyx
  website/docs/api/doc.md
Labels: docs, feat / doc

#5125 small typo in code sample
  website/docs/usage/rule-based-matching.md
Labels: bug, docs

#5146 Fix sents comparison in test util
  spacy/tests/util.py
Labels: bug, docs

#5147 Fix broken link in docs
  website/docs/usage/saving-loading.md
Labels: docs

#5150 add spacy_syllables to universe
  .github/contributors/sloev.md
  website/meta/universe.json
Labels: docs

#5153 Fix website typos and weird sentences
  .github/contributors/pinealan.md
  website/docs/api/cli.md
  website/docs/usage/adding-languages.md
Labels: docs

#5148 Fix serialization of empty doc
  spacy/tests/regression/test_issue5141.py
  spacy/tokens/_serialize.py
Labels: bug, feat / doc, feat / serialize

#5157 remove unnecessary itertools call
  spacy/language.py
Labels: bug, feat / pipeline, perf / memory

#5161 add gobbli to spacy-universe 🥳
  website/meta/universe.json
Labels: docs

#5168 fix showing dep arcs in streamlit script
  examples/streamlit_spacy.py
Labels: bug, examples, feat / visualizers

#5187 Update from macOS-10.13 to macOS-10.14
  azure-pipelines.yml
Labels: meta

#5190 Remove max_length parameter in PhraseMatcher example
  .github/contributors/guerda.md
  examples/information_extraction/phrase_matcher.py
Labels: docs, enhancement

#5174 Add Ligurian language
  .github/contributors/Baciccin.md
  spacy/lang/lij/__init__.py
  spacy/lang/lij/examples.py
  spacy/lang/lij/punctuation.py
  spacy/lang/lij/stop_words.py
  spacy/lang/lij/tokenizer_exceptions.py
  website/meta/languages.json
Labels: enhancement

#5185 Improve German tokenizer settings style
  spacy/lang/de/punctuation.py
Labels: feat / tokenizer, lang / de

#5196 Bugfix linking vectors
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/about.py
  spacy/cli/train.py
  spacy/syntax/_parser_model.pyx
Labels: bug, feat / cli, training

#5065 Add a few more Danish tokenizer exceptions
  spacy/lang/da/tokenizer_exceptions.py
  spacy/tests/lang/da/test_exceptions.py
Labels: enhancement, feat / tokenizer, lang / da

#5201 Improved tokenization for UD_Norwegian-Bokmaal
  spacy/lang/nb/__init__.py
  spacy/lang/nb/punctuation.py
  spacy/lang/nb/tokenizer_exceptions.py
Labels: enhancement, feat / tokenizer, lang / nb

#5202 Improve French tokenization
  spacy/lang/fr/__init__.py
  spacy/lang/fr/punctuation.py
  spacy/lang/fr/tokenizer_exceptions.py
Labels: enhancement, feat / tokenizer, lang / fr

#5203 Modifications/updates to Portuguese tokenization
  spacy/lang/pt/tokenizer_exceptions.py
Labels: enhancement, feat / tokenizer, lang / pt

#5204 Improve Italian tokenization
  spacy/lang/it/__init__.py
  spacy/lang/it/punctuation.py
  spacy/lang/it/tokenizer_exceptions.py
Labels: enhancement, feat / tokenizer, lang / it

#5205 Improve Lithuanian tokenization
  spacy/lang/lt/__init__.py
  spacy/lang/lt/punctuation.py
  spacy/lang/lt/tokenizer_exceptions.py
  spacy/tests/lang/lt/test_text.py
Labels: enhancement, feat / tokenizer, lang / lt

#5209 Remove Vectors.from_glove
  spacy/vectors.pyx
  website/docs/api/vectors.md
  website/docs/usage/vectors-similarity.md
Labels: docs, feat / vectors

#5191 Fix GoldParse init in Scorer when token count differs
  spacy/scorer.py
Labels: bug

#5186 Minor bugfixes for train CLI
  spacy/cli/train.py
Labels: bug, feat / cli

#5197 Describing priority rules for overlapping matches
  .github/contributors/Tiljander.md
  website/docs/api/entityruler.md
  website/docs/usage/rule-based-matching.md
Labels: docs, enhancement

#5218 Fixing pickling of the parser
  spacy/pipeline/pipes.pyx
  spacy/syntax/nn_parser.pyx
  spacy/tests/regression/test_issue4725.py
  website/docs/usage/saving-loading.md
Labels: bug, feat / parser, feat / serialize

#5210 Fix parser @ GPU
  spacy/ml/_layers.py
  spacy/syntax/_parser_model.pyx
Labels: bug, feat / ner, gpu

#5216 Modify Vector.resize to work with cupy and improve resizing
  spacy/errors.py
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/vectors.pyx
Labels: bug, feat / vectors, ⚠️ wip

#5194 Do not use cupy-cuda v8, as it contains breaking changes
  .github/contributors/tommilligan.md
  setup.cfg
Labels: install, third-party, 🔮 thinc

#5166 Fix exclusive_classes in textcat ensemble
  spacy/_ml.py
Labels: bug, feat / textcat

#5162 Add kannada examples
  .github/contributors/nikhilsaldanha.md
  spacy/lang/kn/examples.py
Labels: enhancement, lang / kn

#5155 bugfix in span similarity
  spacy/tests/regression/test_issue5152.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
Labels: bug, feat / doc, feat / vectors

#5167 Check whether doc is instantiated in Example.get_gold_parses()
  spacy/gold.pyx
  spacy/tests/regression/test_issue4924.py
  spacy/tests/test_gold.py
Labels: bug, feat / doc

#5223 update docs for return type of EntityRecognizer.predict
  website/docs/api/entityrecognizer.md
Labels: docs

#5143 Train textcat with config
  examples/training/train_textcat.py
  examples/training/train_textcat_config.cfg
  spacy/ml/_precomputable_affine.py
  spacy/ml/extract_ngrams.py
  spacy/ml/models/defaults/textcat_bow_defaults.cfg
  spacy/ml/models/defaults/textcat_cnn_defaults.cfg
  spacy/ml/models/defaults/textcat_defaults.cfg
  spacy/ml/models/parser.py
  spacy/ml/models/textcat.py
  spacy/ml/models/tok2vec.py
  spacy/ml/spacy_vectors.py
  spacy/pipeline/pipes.pyx
  spacy/pipeline/tok2vec.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/test_misc.py
  spacy/tests/test_tok2vec.py
  spacy/tests/util.py
Labels: bug, enhancement, feat / textcat, 🔜 v3.0
