Repository explosion/spaCy, pull requests merged in 2020-09, with the labels that each got.

#6007 Remove 'cleanup' of strings
  spacy/language.py
  spacy/strings.pxd
  spacy/strings.pyx
Labels: enhancement

#6008 Fix sparse checkout for 'spacy project'
  spacy/cli/_util.py
  spacy/cli/project/clone.py
Labels: bug, feat / cli

#6005 Bugfix in merge_entities
  spacy/tests/regression/test_issue5918.py
  spacy/tokens/_retokenize.pyx
Labels: bug, feat / doc

#6010 Fix significant performance bug in parser training
  spacy/pipeline/_parser_internals/_state.pxd
  spacy/pipeline/_parser_internals/stateclass.pyx
  spacy/pipeline/transition_parser.pyx
Labels: bug, feat / parser

#6013 Fix Hungarian % tokenization
  spacy/lang/hu/punctuation.py
Labels: bug, feat / tokenizer, lang / hu

#6011 Fix overfitting test
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/pipeline/test_textcat.py
Labels: bug, tests

#6016 Fix off-by-one error for best iteration calculation (closes #6014)
  spacy/cli/train.py
Labels: bug, feat / cli

#6012 Refactor specials and cache checks in tokenizer
  spacy/tokenizer.pxd
  spacy/tokenizer.pyx
Labels: feat / tokenizer, 🔜 v3.0

#6017 Intro to layers/architectures docs
  website/docs/api/architectures.md
  website/docs/usage/layers-architectures.md
  website/docs/usage/training.md
Labels: docs, 🔜 v3.0

#6023 "model" terminology consistency in docs, messages, CLI
  netlify.toml
  spacy/cli/__init__.py
  spacy/cli/_util.py
  spacy/cli/convert.py
  spacy/cli/debug_data.py
  spacy/cli/download.py
  spacy/cli/evaluate.py
  spacy/cli/info.py
  spacy/cli/init_config.py
  spacy/cli/init_model.py
  spacy/cli/package.py
  spacy/cli/pretrain.py
  spacy/cli/profile.py
  spacy/cli/train.py
  spacy/cli/validate.py
  spacy/language.py
  website/docs/api/cli.md
  website/docs/api/data-formats.md
  website/docs/api/dependencymatcher.md
  website/docs/api/entitylinker.md
  website/docs/api/language.md
  website/docs/api/pipe.md
  website/docs/api/top-level.md
  website/docs/models/index.md
  website/docs/usage/101/_pipelines.md
  website/docs/usage/101/_pos-deps.md
  website/docs/usage/101/_serialization.md
  website/docs/usage/101/_training.md
  website/docs/usage/101/_vectors-similarity.md
  website/docs/usage/index.md
  website/docs/usage/linguistic-features.md
  website/docs/usage/models.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/projects.md
  website/docs/usage/rule-based-matching.md
  website/docs/usage/saving-loading.md
  website/docs/usage/spacy-101.md
  website/docs/usage/training.md
  website/docs/usage/v3.md
  website/docs/usage/visualizers.md
  website/meta/sidebars.json
  website/src/components/tag.js
  website/src/templates/models.js
  website/src/widgets/quickstart-install.js
  website/src/widgets/quickstart-models.js
Labels: docs, enhancement, feat / ux, 🔜 v3.0

#6020 Updates spaCy Universe for amrlib
  website/meta/universe.json
Labels: docs

#6024 Registry renaming
  extra/experiments/onto-joint/defaults.cfg
  extra/experiments/ptb-joint-pos-dep/defaults.cfg
  spacy/cli/templates/quickstart_training.jinja
  spacy/default_config.cfg
  spacy/displacy/render.py
  spacy/errors.py
  spacy/gold/batchers.py
  spacy/ml/models/entity_linker.py
  spacy/pipeline/entity_linker.py
  spacy/tests/lang/test_lemmatizers.py
  spacy/tests/pipeline/test_attributeruler.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_lemmatizer.py
  spacy/tests/regression/test_issue5230.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/tests/serialize/test_serialize_kb.py
  spacy/util.py
  website/docs/api/architectures.md
  website/docs/api/cli.md
  website/docs/api/entitylinker.md
  website/docs/api/top-level.md
  website/docs/api/transformer.md
  website/docs/usage/embeddings-transformers.md
  website/docs/usage/processing-pipelines.md
Labels: enhancement, 🔜 v3.0

#5985 Create examples.py
  spacy/lang/cs/examples.py
Labels: enhancement, lang / cs

#6028 Update docs links in codebase
  spacy/cli/_util.py
  spacy/cli/convert.py
  spacy/cli/debug_config.py
  spacy/cli/debug_data.py
  spacy/cli/debug_model.py
  spacy/cli/download.py
  spacy/cli/evaluate.py
  spacy/cli/info.py
  spacy/cli/init_config.py
  spacy/cli/init_model.py
  spacy/cli/package.py
  spacy/cli/pretrain.py
  spacy/cli/profile.py
  spacy/cli/project/assets.py
  spacy/cli/project/clone.py
  spacy/cli/project/document.py
  spacy/cli/project/dvc.py
  spacy/cli/project/pull.py
  spacy/cli/project/push.py
  spacy/cli/project/run.py
  spacy/cli/train.py
  spacy/cli/validate.py
  spacy/displacy/__init__.py
  spacy/errors.py
  spacy/gold/converters/conll_ner2docs.py
  spacy/gold/converters/iob2docs.py
  spacy/gold/corpus.py
  spacy/kb.pyx
  spacy/language.py
  spacy/lexeme.pyx
  spacy/lookups.py
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
  spacy/pipeline/attributeruler.py
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/entity_linker.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/functions.py
  spacy/pipeline/lemmatizer.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/ner.pyx
  spacy/pipeline/pipe.pyx
  spacy/pipeline/sentencizer.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/simple_ner.py
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/tok2vec.py
  spacy/scorer.py
  spacy/strings.pyx
  spacy/tokenizer.pyx
  spacy/tokens/_retokenize.pyx
  spacy/tokens/_serialize.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
  spacy/vectors.pyx
  spacy/vocab.pyx
Labels: docs, 🔜 v3.0

#6029 Sync develop with master
  .github/contributors/bittlingmayer.md
  .github/contributors/graue70.md
  .github/contributors/holubvl3.md
  .github/contributors/idoshr.md
  .github/contributors/jgutix.md
  .github/contributors/leyendecker.md
  .github/contributors/lizhe2004.md
  .github/contributors/snsten.md
  .github/contributors/solarmist.md
  .github/contributors/tilusnet.md
  licenses/3rd_party_licenses.txt
  spacy/displacy/render.py
  spacy/errors.py
  spacy/lang/cs/__init__.py
  spacy/lang/cs/examples.py
  spacy/lang/cs/lex_attrs.py
  spacy/lang/cs/stop_words.py
  spacy/lang/cs/test_text.py
  spacy/lang/en/lex_attrs.py
  spacy/lang/es/syntax_iterators.py
  spacy/lang/he/__init__.py
  spacy/lang/he/lex_attrs.py
  spacy/lang/he/stop_words.py
  spacy/lang/hi/examples.py
  spacy/lang/ja/__init__.py
  spacy/lang/lex_attrs.py
  spacy/lang/ne/stop_words.py
  spacy/lang/sa/__init__.py
  spacy/lang/sa/examples.py
  spacy/lang/sa/lex_attrs.py
  spacy/lang/sa/stop_words.py
  spacy/lang/tokenizer_exceptions.py
  spacy/language.py
  spacy/matcher/matcher.pyx
  spacy/pipeline/entityruler.py
  spacy/schemas.py
  spacy/tests/conftest.py
  spacy/tests/doc/test_span.py
  spacy/tests/lang/cs/__init__.py
  spacy/tests/lang/cs/test_text.py
  spacy/tests/lang/en/test_text.py
  spacy/tests/lang/he/test_tokenizer.py
  spacy/tests/lang/ne/test_text.py
  spacy/tests/lang/sa/__init__.py
  spacy/tests/lang/sa/test_text.py
  spacy/tests/matcher/test_pattern_validation.py
  spacy/tests/pipeline/test_entity_ruler.py
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/regression/test_issue5838.py
  spacy/tests/regression/test_issue5918.py
  spacy/tests/test_tok2vec.py
  spacy/tests/tokenizer/test_naughty_strings.py
  spacy/tests/tokenizer/test_whitespace.py
  spacy/tokens/_retokenize.pyx
  spacy/tokens/doc.pyx
  website/docs/api/doc.md
  website/docs/usage/linguistic-features.md
  website/meta/universe.json
Labels: 🔜 v3.0

#6018 Officially support DependencyMatcher
  spacy/errors.py
  spacy/matcher/dependencymatcher.pyx
  spacy/tests/matcher/test_dependency_matcher.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/regression/test_issue4501-5000.py
  website/docs/api/dependencymatcher.md
  website/docs/images/dep-match-diagram.svg
  website/docs/images/displacy-dep-founded.html
  website/docs/usage/rule-based-matching.md
  website/docs/usage/v3.md
Labels: enhancement, feat / matcher, ⚠️ wip, 🔜 v3.0

#6034 Pipe API
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/debug_model.py
  spacy/errors.py
  spacy/gold/iob_utils.py
  spacy/language.py
  spacy/ml/_iob.py
  spacy/ml/models/simple_ner.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/multitask.pyx
  spacy/pipeline/pipe.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/simple_ner.py
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/tok2vec.py
  spacy/pipeline/transition_parser.pyx
  spacy/tests/doc/test_add_entities.py
  spacy/tests/parser/test_add_label.py
  spacy/tests/parser/test_parse.py
  spacy/tests/parser/test_preset_sbd.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_morphologizer.py
  spacy/tests/pipeline/test_senter.py
  spacy/tests/pipeline/test_simple_ner.py
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/regression/test_issue3501-4000.py
  spacy/tests/regression/test_issue5230.py
  spacy/tests/test_tok2vec.py
Labels: enhancement, feat / pipeline, 🔜 v3.0

#6041 Remove simple_ner code
  extra/experiments/tok2vec-ner/multihashembed_tok2vec.cfg
  spacy/ml/_biluo.py
  spacy/ml/_iob.py
  spacy/ml/models/__init__.py
  spacy/ml/models/simple_ner.py
  spacy/pipeline/__init__.py
  spacy/pipeline/simple_ner.py
  spacy/tests/pipeline/test_simple_ner.py
  website/docs/api/architectures.md
Labels: 🔜 v3.0

#6045 Documentation on custom models and Pipe API
  spacy/ml/models/tok2vec.py
  spacy/tokens/doc.pyx
  website/docs/api/architectures.md
  website/docs/api/dependencyparser.md
  website/docs/api/entityrecognizer.md
  website/docs/api/language.md
  website/docs/api/morphologizer.md
  website/docs/api/pipe.md
  website/docs/api/tagger.md
  website/docs/api/textcategorizer.md
  website/docs/usage/layers-architectures.md
  website/docs/usage/processing-pipelines.md
  website/meta/type-annotations.json
Labels: docs, enhancement, 🔜 v3.0

#6036 Update to latest spacy-lookups-data
  setup.cfg
Labels: lang / all, 🔜 v3.0

#6047 Fix branch for spacy clone + UX
  spacy/cli/_util.py
  spacy/cli/project/clone.py
  website/docs/api/dependencyparser.md
  website/docs/api/entityrecognizer.md
  website/docs/api/language.md
  website/docs/api/morphologizer.md
  website/docs/api/pipe.md
  website/docs/api/tagger.md
  website/docs/api/textcategorizer.md
Labels: bug, docs, feat / cli, feat / ux

#6049 project bug fixes
  spacy/cli/_util.py
  spacy/cli/project/assets.py
Labels: bug, feat / cli

#6053 prevent overwriting score_weights
  spacy/language.py
Labels: bug, training

#6048 Fix project clone compatibility
  spacy/cli/_util.py
  spacy/cli/project/clone.py
  spacy/util.py
Labels: feat / cli, feat / ux, ⚠️ wip, 🔜 v3.0

#6051 Support "list" pipeline argument
  spacy/cli/_util.py
  spacy/cli/debug_model.py
  spacy/cli/init_config.py
  spacy/tests/test_cli.py
Labels: enhancement, feat / cli

#6052 Raise if empty examples
  spacy/language.py
  spacy/training/corpus.py
Labels: enhancement, feat / ux, training

#6040 Improve v3 pretrain command
  spacy/cli/pretrain.py
  spacy/schemas.py
  spacy/tests/test_cli.py
  spacy/training/corpus.py
Labels: feat / cli, feat / tok2vec, training, ⚠️ wip, 🔜 v3.0

#6035 Fix token.idx for special cases with affixes
  spacy/tests/tokenizer/test_tokenizer.py
  spacy/tokenizer.pyx
Labels: bug, feat / tokenizer, 🔜 v3.0

#6043 Modify Token.morph to enable unsetting
  spacy/errors.py
  spacy/tests/doc/test_morphanalysis.py
  spacy/tokens/token.pyx
Labels: enhancement, feat / doc, 🔜 v3.0

#6055 define threshold for scoring textcat in TextCat config
  spacy/pipeline/textcat.py
  spacy/tests/serialize/test_serialize_pipeline.py
  website/docs/api/textcategorizer.md
Labels: enhancement, feat / textcat, training, 🔜 v3.0

#6063 doc fixes
  website/docs/api/dependencymatcher.md
  website/docs/api/dependencyparser.md
  website/docs/api/entitylinker.md
  website/docs/api/entityrecognizer.md
  website/docs/api/entityruler.md
  website/docs/api/lemmatizer.md
  website/docs/api/morphologizer.md
  website/docs/api/phrasematcher.md
  website/docs/api/pipe.md
  website/docs/api/sentencerecognizer.md
  website/docs/api/sentencizer.md
  website/docs/api/tagger.md
  website/docs/api/textcategorizer.md
  website/docs/api/tok2vec.md
Labels: docs

#6062 positive_label config for textcat
  spacy/cli/train.py
  spacy/errors.py
  spacy/pipeline/textcat.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/serialize/test_serialize_pipeline.py
  website/docs/api/textcategorizer.md
Labels: bug, enhancement, feat / textcat, 🔜 v3.0

#6064 Fix sparse checkout and error handling
  spacy/cli/_util.py
  spacy/cli/project/assets.py
  spacy/cli/project/clone.py
  spacy/util.py
Labels: feat / cli, feat / ux, 🔜 v3.0

#6068 fix W&B logger
  spacy/training/loggers.py
Labels: bug, feat / cli

#6067 Handle config and meta correctly in spacy.blank
  spacy/__init__.py
  spacy/errors.py
  spacy/language.py
  spacy/tests/test_language.py
  website/docs/api/language.md
  website/docs/api/top-level.md
Labels: bug, 🔜 v3.0

#6072 Fix unit test with ExceptionInfo
  spacy/tests/test_language.py
Labels: bug, tests

#6076 Set rule-based lemmatizers as default
  spacy/lang/bn/__init__.py
  spacy/lang/fa/__init__.py
  spacy/lang/nb/__init__.py
  spacy/lang/sv/__init__.py
  spacy/tests/lang/test_lemmatizers.py
Labels: enhancement, feat / lemmatizer, lang / bn, lang / fa, lang / nb, lang / sv, 🔜 v3.0

#6074 Remove unneeded methods in senter and morphologizer
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/senter.pyx
Labels: feat / morphologizer, feat / senter, 🔜 v3.0

#6069 Add vectors option to CharacterEmbed
  spacy/ml/models/tok2vec.py
  spacy/pipeline/morphologizer.pyx
  spacy/tests/test_tok2vec.py
Labels: enhancement, feat / tok2vec, ⚠️ wip, 🔜 v3.0

#6046 Clean up spacy.tokens
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/pipeline/_parser_internals/nonproj.pyx
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_token_api.py
  spacy/tests/parser/test_parse.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tokens/_retokenize.pyx
  spacy/tokens/doc.pxd
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
Labels: enhancement, feat / doc, 🔜 v3.0

#6044 Refactor Docs.is_ flags
  spacy/displacy/__init__.py
  spacy/errors.py
  spacy/lang/de/syntax_iterators.py
  spacy/lang/el/syntax_iterators.py
  spacy/lang/en/syntax_iterators.py
  spacy/lang/es/syntax_iterators.py
  spacy/lang/fa/syntax_iterators.py
  spacy/lang/fr/syntax_iterators.py
  spacy/lang/id/syntax_iterators.py
  spacy/lang/nb/syntax_iterators.py
  spacy/lang/sv/syntax_iterators.py
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/pipeline/functions.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/tagger.pyx
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_span.py
  spacy/tests/doc/test_token_api.py
  spacy/tests/lang/de/test_noun_chunks.py
  spacy/tests/lang/el/test_noun_chunks.py
  spacy/tests/lang/en/test_noun_chunks.py
  spacy/tests/lang/en/test_sbd.py
  spacy/tests/lang/es/test_noun_chunks.py
  spacy/tests/lang/fa/test_noun_chunks.py
  spacy/tests/lang/fr/test_noun_chunks.py
  spacy/tests/lang/id/test_noun_chunks.py
  spacy/tests/lang/nb/test_noun_chunks.py
  spacy/tests/lang/sv/test_noun_chunks.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/matcher/test_phrase_matcher.py
  spacy/tests/parser/test_parse.py
  spacy/tests/parser/test_parse_navigate.py
  spacy/tests/parser/test_space_attachment.py
  spacy/tests/pipeline/test_attributeruler.py
  spacy/tests/pipeline/test_functions.py
  spacy/tests/pipeline/test_sentencizer.py
  spacy/tests/regression/test_issue1-1000.py
  spacy/tests/regression/test_issue1501-2000.py
  spacy/tests/regression/test_issue2001-2500.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3501-4000.py
  spacy/tests/regression/test_issue4001-4500.py
  spacy/tests/test_scorer.py
  spacy/tests/test_training.py
  spacy/tokens/_serialize.py
  spacy/tokens/doc.pxd
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
  spacy/training/converters/conllu2docs.py
  spacy/training/gold_io.pyx
  website/docs/api/doc.md
  website/docs/usage/v3.md
Labels: enhancement, feat / doc, 🔜 v3.0

#6084 add pretraining option to init config
  spacy/cli/init_config.py
  website/docs/api/cli.md
Labels: docs, enhancement, feat / cli, feat / tok2vec, 🔜 v3.0

#6085 Draft text for static vectors intro
  website/docs/usage/embeddings-transformers.md
Labels: docs, 🔜 v3.0

#6087 Draft docs for pretrain usage
  website/docs/usage/embeddings-transformers.md
Labels: docs, 🔜 v3.0

#6086 Remove W106: HEAD and SENT_START in doc.from_array
  spacy/errors.py
  spacy/tests/doc/test_doc_api.py
  spacy/tokens/doc.pyx
Labels: feat / doc, 🔜 v3.0

#6078 More extensible corpus in config
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/pretrain.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/cli/train.py
  spacy/default_config.cfg
  spacy/default_config_pretraining.cfg
  spacy/pipeline/textcat.py
  spacy/schemas.py
  spacy/tests/pipeline/test_tok2vec.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/tests/training/__init__.py
  spacy/tests/training/test_readers.py
  spacy/tests/training/test_training.py
  website/docs/api/cli.md
  website/docs/api/corpus.md
  website/docs/api/data-formats.md
  website/docs/api/top-level.md
  website/docs/usage/projects.md
  website/docs/usage/training.md
Labels: feat / cli, training, 🔜 v3.0

#6091 Introducing the gpu_allocator
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/debug_model.py
  spacy/cli/pretrain.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/cli/train.py
  spacy/default_config.cfg
  spacy/schemas.py
  website/docs/api/cli.md
  website/docs/api/data-formats.md
  website/docs/api/top-level.md
  website/docs/usage/layers-architectures.md
Labels: gpu, 🔜 v3.0

#6092 Load vocab lookups tables at beginning of training
  spacy/cli/train.py
  spacy/default_config.cfg
  spacy/language.py
  spacy/schemas.py
  spacy/tests/test_util.py
  spacy/util.py
  spacy/vocab.pxd
  spacy/vocab.pyx
Labels: bug, 🔜 v3.0

#6094 Improve subprocess handling and git clone
  spacy/cli/_util.py
  spacy/cli/package.py
  spacy/cli/project/run.py
  spacy/util.py
Labels: enhancement, feat / cli, feat / ux

#6099 Alphabetize API sidebars
  website/meta/sidebars.json
Labels: docs, 🔜 v3.0

#6096 Allow config overrides from environment variables
  spacy/cli/_util.py
  spacy/tests/test_cli.py
Labels: enhancement, feat / cli, ⚠️ wip, 🔜 v3.0

#6098 Extend Doc.__init__ with additional annotation
  spacy/errors.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/util.py
  spacy/tokens/doc.pyx
  spacy/training/converters/conllu2docs.py
  website/docs/api/doc.md
Labels: enhancement, feat / doc, 🔜 v3.0

#6104 Fix 'debug model' script
  spacy/cli/debug_model.py
  spacy/errors.py
Labels: bug, feat / cli, 🔜 v3.0

#6105 Various minor v3 docs updates
  website/docs/api/doc.md
  website/docs/usage/101/_architecture.md
  website/docs/usage/saving-loading.md
  website/meta/sidebars.json
Labels: docs, 🔜 v3.0

#6103 Tidy up tests and docs
  CONTRIBUTING.md
  spacy/errors.py
  spacy/tests/README.md
  spacy/tests/conftest.py
  spacy/tests/doc/test_add_entities.py
  spacy/tests/doc/test_array.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tests/doc/test_retokenize_split.py
  spacy/tests/doc/test_span.py
  spacy/tests/doc/test_to_json.py
  spacy/tests/doc/test_token_api.py
  spacy/tests/lang/de/test_parser.py
  spacy/tests/lang/en/test_noun_chunks.py
  spacy/tests/lang/en/test_parser.py
  spacy/tests/lang/en/test_sbd.py
  spacy/tests/lang/ru/test_lemmatizer.py
  spacy/tests/lang/sv/test_noun_chunks.py
  spacy/tests/matcher/test_dependency_matcher.py
  spacy/tests/matcher/test_phrase_matcher.py
  spacy/tests/parser/test_nonproj.py
  spacy/tests/parser/test_parse.py
  spacy/tests/parser/test_parse_navigate.py
  spacy/tests/parser/test_space_attachment.py
  spacy/tests/pipeline/test_attributeruler.py
  spacy/tests/pipeline/test_functions.py
  spacy/tests/regression/test_issue1-1000.py
  spacy/tests/regression/test_issue1501-2000.py
  spacy/tests/regression/test_issue2001-2500.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3501-4000.py
  spacy/tests/regression/test_issue5001-5500.py
  spacy/tests/regression/test_issue5048.py
  spacy/tests/regression/test_issue5082.py
  spacy/tests/regression/test_issue5137.py
  spacy/tests/regression/test_issue5141.py
  spacy/tests/regression/test_issue5152.py
  spacy/tests/regression/test_issue5458.py
  spacy/tests/regression/test_issue5918.py
  spacy/tests/test_displacy.py
  spacy/tests/test_scorer.py
  spacy/tests/training/test_training.py
  spacy/tests/util.py
  spacy/tokens/doc.pyx
  spacy/training/example.pyx
  website/docs/api/doc.md
  website/docs/usage/v3.md
Labels: docs, enhancement, tests, 🔜 v3.0

#6110 Validate section refs in debug config
  spacy/cli/debug_config.py
  spacy/tests/test_cli.py
Labels: enhancement, feat / cli, feat / ux, 🔜 v3.0

#6100 avoid None callback
  spacy/pipeline/tok2vec.py
  spacy/tests/pipeline/test_tok2vec.py
Labels: bug, feat / tok2vec, 🔜 v3.0

#6112 Fix overlapping German noun chunks
  spacy/lang/de/syntax_iterators.py
Labels: bug, lang / de

#6118 fix KB IO
  spacy/kb.pxd
  spacy/kb.pyx
  spacy/tests/pipeline/test_entity_linker.py
Labels: bug, feat / nel, feat / serialize

#6111 Fix norm in retokenizer split
  spacy/tests/doc/test_retokenize_split.py
  spacy/tokens/_retokenize.pyx
Labels: bug, feat / doc

#6113 Fix tok2vec call
  spacy/cli/debug_model.py
  spacy/tests/pipeline/test_tok2vec.py
Labels: bug

#6109 consistent convertor names
  spacy/cli/_util.py
  spacy/cli/convert.py
  spacy/errors.py
  spacy/tests/regression/test_issue4001-4500.py
  spacy/tests/regression/test_issue4501-5000.py
  spacy/tests/test_cli.py
  spacy/tests/test_scorer.py
  spacy/tests/training/test_training.py
  spacy/training/__init__.py
  spacy/training/converters/__init__.py
  spacy/training/converters/conll_ner_to_docs.py
  spacy/training/converters/conllu_to_docs.py
  spacy/training/converters/iob_to_docs.py
  spacy/training/converters/json_to_docs.py
  spacy/training/example.pyx
  spacy/training/gold_io.pyx
  spacy/training/iob_utils.py
  website/docs/api/data-formats.md
  website/docs/api/top-level.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/v3.md
Labels: 🔜 v3.0

#6106 extend quickstart components
  spacy/cli/init_config.py
  spacy/cli/templates/quickstart_training.jinja
Labels: enhancement, feat / cli, training, 🔜 v3.0

#6123 avoid logging performance of frozen components
  spacy/cli/train.py
  spacy/training/loggers.py
Labels: bug, feat / cli, training

#6124 Update Indonesian Example Phrases
  .github/contributors/rasyidf.md
  spacy/lang/id/examples.py
Labels: lang / id

#6127 Use Literal type for nr_feature_tokens
  requirements.txt
  setup.cfg
  spacy/compat.py
  spacy/ml/models/parser.py
  spacy/tests/serialize/test_serialize_config.py
  website/docs/api/architectures.md
Labels: enhancement, 🔜 v3.0

#6128 replace 'nr_feature_tokens'
  spacy/cli/templates/quickstart_training.jinja
  spacy/errors.py
  spacy/ml/models/parser.py
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/ner.pyx
  spacy/tests/serialize/test_serialize_config.py
  website/docs/api/architectures.md
  website/docs/usage/embeddings-transformers.md
Labels: feat / ner, feat / parser, 🔜 v3.0

#6131 Make project pull order insensitive
  spacy/cli/project/pull.py
Labels: bug, feat / cli, 🔜 v3.0

#6130 fix micro PRF for textcat
  spacy/scorer.py
  spacy/tests/pipeline/test_textcat.py
Labels: bug, feat / textcat

#6133 Fix handling of score_weights
  spacy/cli/templates/quickstart_training.jinja
  spacy/cli/train.py
  spacy/errors.py
  spacy/lang/bn/__init__.py
  spacy/lang/el/__init__.py
  spacy/lang/en/__init__.py
  spacy/lang/fa/__init__.py
  spacy/lang/fr/__init__.py
  spacy/lang/nb/__init__.py
  spacy/lang/nl/__init__.py
  spacy/lang/pl/__init__.py
  spacy/lang/ru/__init__.py
  spacy/lang/sv/__init__.py
  spacy/lang/uk/__init__.py
  spacy/language.py
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/entityruler.py
  spacy/pipeline/lemmatizer.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/ner.pyx
  spacy/pipeline/sentencizer.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/schemas.py
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/training/loggers.py
  spacy/util.py
  website/docs/api/language.md
  website/docs/usage/training.md
Labels: bug, feat / pipeline, training, 🔜 v3.0

#6134 Add [training.before_to_disk] callback
  spacy/cli/train.py
  spacy/default_config.cfg
  spacy/errors.py
  spacy/schemas.py
  website/docs/api/data-formats.md
Labels: enhancement, feat / cli, training, 🔜 v3.0

#6089 Modify setting missing and blocked entity tokens
  spacy/errors.py
  spacy/tests/doc/test_add_entities.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/parser/test_ner.py
  spacy/tokens/doc.pyx
  spacy/training/example.pyx
  spacy/training/iob_utils.py
  website/docs/api/doc.md
Labels: feat / doc, 🔜 v3.0

#6132 updates to NEL functionality
  spacy/errors.py
  spacy/kb.pyx
  spacy/pipeline/entity_linker.py
  spacy/scorer.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/training/test_new_example.py
  website/docs/api/entitylinker.md
  website/docs/api/scorer.md
Labels: bug, enhancement, feat / cli, feat / nel, 🔜 v3.0

#6125 Add option to disable Matcher errors
  spacy/errors.py
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
  spacy/pipeline/attributeruler.py
  spacy/tests/matcher/test_matcher_api.py
Labels: enhancement, feat / matcher, feat / pipeline, 🔜 v3.0

#6107 Add MORPH handling to Matcher
  spacy/matcher/matcher.pyx
  spacy/schemas.py
  spacy/tests/matcher/test_matcher_api.py
  website/docs/api/matcher.md
  website/docs/usage/rule-based-matching.md
Labels: enhancement, feat / matcher, 🔜 v3.0

#6139 Make a pre-check to speed up alignment cache
  spacy/training/example.pxd
  spacy/training/example.pyx
Labels: training, 🔜 v3.0

#6137 Fix skipped documents in entity scorer
  spacy/pipeline/ner.pyx
  spacy/scorer.py
Labels: feat / ner, 🔜 v3.0

#6145 Revert changes to Scorer.score_spans
  spacy/scorer.py
Labels: 🔜 v3.0

#6143 Fix pretraining in train script
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/about.py
  spacy/cli/train.py
  spacy/errors.py
  spacy/training/corpus.py
  website/docs/api/cli.md
  website/docs/usage/embeddings-transformers.md
  website/docs/usage/training.md
Labels: bug, feat / cli, feat / tok2vec, training

#6146 Clean up MorphAnalysisC struct
  spacy/structs.pxd
Labels: feat / morphology, 🔜 v3.0

#6150 Improve CLI config validation with latest Thinc
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/_util.py
  spacy/cli/debug_config.py
  spacy/cli/train.py
  spacy/tests/lang/zh/test_tokenizer.py
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/tests/test_cli.py
Labels: enhancement, feat / cli, feat / ux, 🔜 v3.0, 🔮 thinc

#6149 Simplify string match IDs for AttributeRuler
  spacy/pipeline/attributeruler.py
Labels: feat / pipeline, 🔜 v3.0

#6151 Construct nlp from uninterpolated config before training
  spacy/cli/train.py
Labels: bug, feat / cli, feat / config, training, 🔜 v3.0

#6153 Add _ as a symbol
  spacy/morphology.pyx
  spacy/symbols.pxd
  spacy/symbols.pyx
Labels: bug, feat / morphology

#6152 Add tokenizer scoring to ja / ko / zh
  spacy/lang/ja/__init__.py
  spacy/lang/ko/__init__.py
  spacy/lang/zh/__init__.py
Labels: enhancement, lang / ja, lang / ko, lang / zh, 🔜 v3.0

#6156 Update config resolution to use new Thinc
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/debug_config.py
  spacy/cli/debug_data.py
  spacy/cli/debug_model.py
  spacy/cli/init_config.py
  spacy/cli/pretrain.py
  spacy/cli/train.py
  spacy/language.py
  spacy/schemas.py
  spacy/tests/doc/test_add_entities.py
  spacy/tests/parser/test_add_label.py
  spacy/tests/parser/test_arc_eager_oracle.py
  spacy/tests/parser/test_neural_parser.py
  spacy/tests/parser/test_preset_sbd.py
  spacy/tests/pipeline/test_tok2vec.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3501-4000.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tests/test_misc.py
  spacy/tests/test_util.py
  spacy/tests/training/test_readers.py
  spacy/util.py
Labels: enhancement, feat / config, 🔜 v3.0, 🔮 thinc

#6155 Support data augmentation in Corpus
  spacy/cli/templates/quickstart_training.jinja
  spacy/default_config.cfg
  spacy/tests/training/test_training.py
  spacy/training/__init__.py
  spacy/training/augment.py
  spacy/training/corpus.py
  spacy/util.py
  website/docs/api/corpus.md
  website/docs/usage/training.md
Labels: enhancement, training, 🔜 v3.0

#6159 upgrade pydantic pin
  requirements.txt
  setup.cfg
Labels: install

#6161 encoding UTF8
  spacy/cli/project/document.py
  website/docs/usage/training.md
  website/setup/jinja_to_js.py
Labels: bug, feat / cli

#6135 Proofread documentation
  website/docs/api/architectures.md
  website/docs/api/attributeruler.md
  website/docs/api/cli.md
  website/docs/api/data-formats.md
  website/docs/api/dependencyparser.md
  website/docs/api/doc.md
  website/docs/api/entitylinker.md
  website/docs/api/entityrecognizer.md
  website/docs/api/entityruler.md
  website/docs/api/example.md
  website/docs/api/language.md
  website/docs/api/lemmatizer.md
  website/docs/api/matcher.md
  website/docs/api/morphology.md
  website/docs/api/sentencerecognizer.md
  website/docs/api/sentencizer.md
  website/docs/api/span.md
  website/docs/api/textcategorizer.md
  website/docs/api/tok2vec.md
  website/docs/api/token.md
  website/docs/api/tokenizer.md
  website/docs/api/top-level.md
  website/docs/api/transformer.md
  website/docs/api/vectors.md
  website/docs/api/vocab.md
  website/docs/usage/embeddings-transformers.md
Labels: docs, 🔜 v3.0

#6154 Update ChineseTokenizer
  Makefile
  spacy/errors.py
  spacy/lang/zh/__init__.py
  spacy/tests/conftest.py
  spacy/tests/lang/zh/test_serialize.py
Labels: bug, lang / zh, 🔜 v3.0

#6168 Make corpus paths default to None and improve errors
  spacy/cli/templates/quickstart_training.jinja
  spacy/default_config.cfg
  spacy/errors.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/training/corpus.py
Labels: bug, enhancement, feat / config, feat / ux, 🔜 v3.0

#6164 reorder so tagmap is replaced only if a custom file is provided.
  spacy/cli/debug_data.py
Labels: bug, feat / cli
