Repository explosion/spaCy, pull requests merged in 2021-01, with the labels that each got.

#6651 Fixing CLI info command
  spacy/cli/info.py
  spacy/tests/test_cli.py
  website/docs/api/cli.md
Labels: bug, enhancement, feat / cli, 🌙 nightly

#6646 (pre)train CLI examples
  website/docs/api/cli.md
  website/docs/api/data-formats.md
Labels: docs, enhancement, 🌙 nightly

#6654 Unskipping tests
  spacy/tests/lang/en/test_exceptions.py
  spacy/tests/lang/uk/test_tokenizer.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tests/serialize/test_serialize_tokenizer.py
  spacy/tests/vocab_vectors/test_lookups.py
Labels: enhancement, tests, 🔜 v3.0

#6671 Tidy up and auto-format
  .gitignore
  spacy/cli/download.py
  spacy/cli/evaluate.py
  spacy/lang/char_classes.py
  spacy/lang/cs/__init__.py
  spacy/lang/cs/tag_map.py
  spacy/lang/mk/lemmatizer.py
  spacy/lang/mk/lex_attrs.py
  spacy/lang/mk/tokenizer_exceptions.py
  spacy/lang/tr/tokenizer_exceptions.py
  spacy/ml/extract_ngrams.py
  spacy/ml/models/parser.py
  spacy/ml/models/textcat.py
  spacy/ml/staticvectors.py
  spacy/ml/tb_framework.py
  spacy/pipeline/attributeruler.py
  spacy/scorer.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/lang/mk/test_text.py
  spacy/tests/lang/tr/test_text.py
  spacy/tests/lang/tr/test_tokenizer.py
  spacy/tests/parser/test_arc_eager_oracle.py
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_nn_beam.py
  spacy/tests/parser/test_state.py
  spacy/tests/pipeline/test_attributeruler.py
  spacy/tests/pipeline/test_entity_ruler.py
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/regression/test_issue6258.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tests/test_misc.py
  spacy/tests/test_scorer.py
  spacy/tests/training/test_readers.py
  spacy/training/initialize.py
  spacy/training/pretrain.py
  spacy/util.py
Labels: 🔜 v3.0

#6647 prevent overwriting existing config file
  spacy/cli/init_config.py
  website/docs/api/cli.md
Labels: enhancement, feat / cli, 🔜 v3.0

#6653 Prevent 0-length mem alloc
  spacy/morphology.pyx
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/pipeline/_parser_internals/ner.pyx
  spacy/tokenizer.pyx
  spacy/tokens/doc.pyx
  spacy/vocab.pyx
Labels: bug, perf / memory

#6629 spaCy v3 is not saving the best version in training loop
  .github/contributors/bratao.md
  spacy/training/loop.py
Labels: feat / cli, feat / training, 🌙 nightly

#6668 Use special matcher for exceptions with spaces
  spacy/tests/tokenizer/test_tokenizer.py
  spacy/tokenizer.pyx
Labels: bug, feat / tokenizer, 🔜 v3.0

#6667 Set default lemmas in retokenizer
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tests/doc/test_retokenize_split.py
  spacy/tokens/_retokenize.pyx
Labels: feat / doc, 🔜 v3.0

#6636 remove cause without apostrophe from norm exceptions
  spacy/lang/en/tokenizer_exceptions.py
  spacy/tests/lang/en/test_exceptions.py
Labels: enhancement, feat / tokenizer, lang / en

#6605 Docs for pretrain architectures
  website/docs/api/architectures.md
  website/docs/usage/embeddings-transformers.md
Labels: docs, feat / tok2vec, 🔜 v3.0

#6575 Getting scores out of beam_ner
  spacy/pipeline/_parser_internals/_beam_utils.pyx
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/pipeline/_parser_internals/ner.pyx
  spacy/pipeline/ner.pyx
  spacy/tests/parser/test_ner.py
  spacy/tests/regression/test_issue4001-4500.py
Labels: feat / ner, 🔜 v3.0

#6431 Fix Transformer width in TextCatEnsemble
  spacy/ml/models/textcat.py
  spacy/ml/models/tok2vec.py
Labels: bug, feat / textcat, feat / transformer, 🌙 nightly

#6684 Getting scores out of beam_parser
  spacy/pipeline/_parser_internals/arc_eager.pxd
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/pipeline/_parser_internals/ner.pyx
  spacy/pipeline/dep_parser.pyx
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_parse.py
Labels: feat / parser, 🔜 v3.0

#6246 Add (noun chunks) syntax iterators for Danish
  .github/contributors/ophelielacroix.md
  spacy/lang/da/__init__.py
  spacy/lang/da/syntax_iterators.py
  spacy/tests/lang/da/test_noun_chunks.py
Labels: enhancement, lang / da

#6442 Fix types of Tok2Vec encoding architectures
  spacy/cli/templates/quickstart_training.jinja
  spacy/ml/models/tok2vec.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/textcat.py
  spacy/tests/pipeline/test_tok2vec.py
  website/docs/api/architectures.md
  website/docs/usage/embeddings-transformers.md
  website/docs/usage/layers-architectures.md
Labels: bug, docs, feat / tok2vec

#6625 convert tuple to list, because the type mismatches
  spacy/tokens/doc.pyx
Labels: feat / doc

#6621 add new Romanian stopwords
  .github/contributors/lorenanda.md
  spacy/lang/ro/stop_words.py
Labels: enhancement, lang / ro

#6345 Update stop_words.py in Portuguese (a,o,e)
  .github/contributors/cristianasp.md
  spacy/lang/pt/stop_words.py
Labels: enhancement, lang / pt

#6310 Remove questionable French stopwords
  .github/contributors/alexcombessie.md
  spacy/lang/fr/stop_words.py
Labels: enhancement, lang / fr

#6698 Fixing small typos in docs
  website/docs/usage/layers-architectures.md
  website/docs/usage/training.md
Labels: docs, 🌙 nightly

#6693 Fix train loop to avoid swallowing tracebacks
  spacy/training/loop.py
Labels: bug, feat / training, 🔜 v3.0

#6689 Sync missing and misaligned values in Tagger loss
  spacy/pipeline/tagger.pyx
  spacy/tests/pipeline/test_tagger.py
Labels: bug, feat / tagger, 🔜 v3.0

#6715 Add initialize.before_init and after_init callbacks
  spacy/default_config.cfg
  spacy/language.py
  spacy/schemas.py
  spacy/tests/test_language.py
  website/docs/usage/training.md
  website/docs/usage/v3.md
Labels: enhancement, feat / config, 🔜 v3.0

#6702 spaCy Universe: New project; SpacyDotNet
  .github/contributors/AMArostegui.md
  website/meta/universe.json
Labels: docs

#6696 Add SpanGroup and Graph container types to represent arbitrary annotations
  setup.py
  spacy/structs.pxd
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_graph.py
  spacy/tests/serialize/test_serialize_doc.py
  spacy/tokens/_dict_proxies.py
  spacy/tokens/_serialize.py
  spacy/tokens/doc.pxd
  spacy/tokens/doc.pyx
  spacy/tokens/graph.pxd
  spacy/tokens/graph.pyx
  spacy/tokens/span.pxd
  spacy/tokens/span.pyx
  spacy/tokens/span_group.pxd
  spacy/tokens/span_group.pyx
  website/docs/api/doc.md
  website/docs/api/spangroup.md
  website/docs/usage/101/_architecture.md
  website/docs/usage/v3.md
  website/meta/sidebars.json
  website/meta/type-annotations.json
Labels: enhancement, feat / coref, feat / doc

#6705 Override language defaults for null token and URL match
  spacy/tests/serialize/test_serialize_tokenizer.py
  spacy/tokenizer.pyx
Labels: bug, feat / serialize, feat / tokenizer

#6712 Prevent overlapping noun chunks for Spanish
  spacy/lang/da/syntax_iterators.py
  spacy/lang/es/syntax_iterators.py
Labels: bug, lang / es

#6691 Train on partial parsing information
  spacy/cli/debug_data.py
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/pipeline/dep_parser.pyx
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tests/doc/test_retokenize_split.py
  spacy/tests/doc/test_token_api.py
  spacy/tests/parser/test_nonproj.py
  spacy/tests/parser/test_parse.py
  spacy/tests/training/test_new_example.py
  spacy/tests/training/test_training.py
  spacy/tokens/doc.pyx
  spacy/tokens/token.pxd
  spacy/tokens/token.pyx
  spacy/training/example.pyx
Labels: feat / parser, feat / training, 🔜 v3.0

#6727 Update develop from master
  .github/contributors/AMArostegui.md
  .github/contributors/alexcombessie.md
  .github/contributors/cristianasp.md
  .github/contributors/lorenanda.md
  .github/contributors/ophelielacroix.md
  .github/contributors/rafguns.md
  .github/contributors/thomasbird.md
  .github/contributors/yosiasz.md
  CITATION
  spacy/lang/am/__init__.py
  spacy/lang/am/examples.py
  spacy/lang/am/lex_attrs.py
  spacy/lang/am/punctuation.py
  spacy/lang/am/stop_words.py
  spacy/lang/am/tokenizer_exceptions.py
  spacy/lang/char_classes.py
  spacy/lang/da/__init__.py
  spacy/lang/da/syntax_iterators.py
  spacy/lang/en/tokenizer_exceptions.py
  spacy/lang/es/syntax_iterators.py
  spacy/lang/fr/stop_words.py
  spacy/lang/pt/stop_words.py
  spacy/lang/ro/stop_words.py
  spacy/lang/ti/__init__.py
  spacy/lang/ti/examples.py
  spacy/lang/ti/lex_attrs.py
  spacy/lang/ti/punctuation.py
  spacy/lang/ti/stop_words.py
  spacy/lang/ti/tokenizer_exceptions.py
  spacy/tests/conftest.py
  spacy/tests/lang/am/__init__.py
  spacy/tests/lang/am/test_exception.py
  spacy/tests/lang/am/test_text.py
  spacy/tests/lang/da/test_noun_chunks.py
  spacy/tests/lang/en/test_exceptions.py
  spacy/tests/lang/ti/__init__.py
  spacy/tests/lang/ti/test_exception.py
  spacy/tests/lang/ti/test_text.py
  spacy/tests/serialize/test_serialize_tokenizer.py
  spacy/tokenizer.pyx
  website/docs/api/tokenizer.md
  website/gatsby-config.js
  website/meta/universe.json
  website/package-lock.json
  website/package.json
  website/src/components/footer.js
  website/src/components/icon.js
  website/src/components/navigation.js
  website/src/images/logos/index.js
  website/src/widgets/styleguide.js
Labels: 🔜 v3.0

#6720 Expand initialize/training config validation
  spacy/cli/debug_config.py
  spacy/errors.py
  spacy/training/initialize.py
Labels: enhancement, feat / ux, 🔜 v3.0

#6729 Tidy up and auto-format
  spacy/cli/debug_data.py
  spacy/cli/info.py
  spacy/lang/am/lex_attrs.py
  spacy/lang/am/tokenizer_exceptions.py
  spacy/lang/es/syntax_iterators.py
  spacy/lang/pt/stop_words.py
  spacy/lang/ti/lex_attrs.py
  spacy/lang/ti/tokenizer_exceptions.py
  spacy/ml/models/textcat.py
  spacy/ml/models/tok2vec.py
  spacy/pipeline/textcat.py
  spacy/pipeline/textcat_multilabel.py
  spacy/tests/conftest.py
  spacy/tests/doc/test_graph.py
  spacy/tests/doc/test_token_api.py
  spacy/tests/lang/am/test_text.py
  spacy/tests/lang/en/test_exceptions.py
  spacy/tests/lang/ti/test_text.py
  spacy/tests/parser/test_ner.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/regression/test_issue4001-4500.py
  spacy/tests/test_language.py
  spacy/tests/training/test_new_example.py
Labels: 🔜 v3.0

#6694 Questionable fix for parser training bug with misaligned sentences
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/training/example.pyx
Labels: feat / parser, 🔜 v3.0

#6704 Handle unset token.morph in Morphologizer
  spacy/pipeline/morphologizer.pyx
  spacy/tests/pipeline/test_morphologizer.py
  spacy/tokens/token.pyx
  website/docs/api/token.md
Labels: feat / morphologizer, 🔜 v3.0

#6736 Add all strings from source models
  spacy/language.py
Labels: bug, feat / pipeline

#6738 Fix assertion in default get oracle sequence usage
  spacy/pipeline/_parser_internals/arc_eager.pyx
Labels: bug, feat / parser, 🔜 v3.0

#6743 Remove unused is_base_form for mk lemmatizer
  spacy/lang/mk/lemmatizer.py
Labels: bug, lang / mk, 🔜 v3.0

#6726 Add token_splitter component
  spacy/pipeline/functions.py
  spacy/tests/pipeline/test_functions.py
  website/docs/api/pipeline-functions.md
  website/docs/usage/embeddings-transformers.md
Labels: enhancement, feat / pipeline, 🔜 v3.0

#6711 raise NotImplementedError when noun_chunks iterator is not implemented
  spacy/errors.py
  spacy/lang/he/lex_attrs.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/lang/en/test_noun_chunks.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  website/docs/api/doc.md
  website/docs/api/span.md
  website/docs/usage/linguistic-features.md
Labels: feat / doc, feat / ux, 🔜 v3.0

#6731 Support spacy-legacy via the registry
  requirements.txt
  setup.cfg
  spacy/errors.py
  spacy/ml/models/textcat.py
  spacy/ml/models/tok2vec.py
  spacy/util.py
Labels: enhancement, 🔜 v3.0

#6758 Fix parser resizing for cupy
  spacy/ml/models/parser.py
Labels: bug, feat / ner, feat / parser, 🔜 v3.0

#6760 rewrite Maxout layer
  spacy/ml/models/textcat.py
Labels: bug, feat / textcat, feat / transformer, 🌙 nightly

#6759 Skip 0-length matches
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_matcher_api.py
Labels: bug, feat / matcher

#6757 Update languages for website
  website/meta/languages.json
Labels: docs, 🔜 v3.0

#6761 Add xx_sent_ud_sm model to website
  website/meta/languages.json
Labels: docs, 🔜 v3.0

#6765 Copy the Example objects (and their predicted Doc) in nlp.evaluate() and nlp.update()
  spacy/language.py
Labels: feat / pipeline, 🔜 v3.0

#6766 warn when frozen components break listener pattern
  spacy/language.py
  spacy/pipeline/tok2vec.py
  spacy/training/initialize.py
  website/docs/usage/processing-pipelines.md
  website/docs/usage/training.md
Labels: feat / cli, feat / tok2vec, feat / ux, training, 🌙 nightly

#6767 Set annotations in update
  spacy/about.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/multitask.pyx
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/tok2vec.py
  spacy/pipeline/trainable_pipe.pyx
  spacy/pipeline/transition_parser.pyx
  spacy/tests/pipeline/test_entity_linker.py
  website/docs/api/dependencyparser.md
  website/docs/api/entitylinker.md
  website/docs/api/entityrecognizer.md
  website/docs/api/morphologizer.md
  website/docs/api/multilabel_textcategorizer.md
  website/docs/api/pipe.md
  website/docs/api/sentencerecognizer.md
  website/docs/api/tagger.md
  website/docs/api/textcategorizer.md
  website/docs/api/tok2vec.md
  website/docs/api/transformer.md
  website/docs/usage/layers-architectures.md
Labels: feat / pipeline, 🔜 v3.0

#6771 support IS_SENT_START in PhraseMatcher
  spacy/matcher/phrasematcher.pyx
  spacy/tests/matcher/test_phrase_matcher.py
Labels: enhancement, feat / matcher

#6781 Fix default config init in Transformer API docs
  website/docs/api/transformer.md
Labels: docs, feat / transformer, 🔜 v3.0

#6772 ensure span.text works for an empty span
  spacy/tests/regression/test_issue6755.py
  spacy/tokens/span.pyx
Labels: bug, feat / doc

#6744 DependencyMatcher improvements (fix #6678)
  .github/contributors/werew.md
  spacy/matcher/dependencymatcher.pyx
  spacy/tokens/token.pyx
Labels: enhancement, feat / matcher, perf / speed, 🌙 nightly

#6800 Avoid assuming encode nO dimension is preset in tok2vec
  spacy/ml/models/tok2vec.py
Labels: bug, feat / tok2vec

#6807 Remove transformers model max length section
  website/docs/api/pipeline-functions.md
  website/docs/usage/embeddings-transformers.md
Labels: docs, 🔜 v3.0

#6808 Fix types for exclude args in info CLI
  spacy/cli/info.py
Labels: feat / cli, 🔜 v3.0

#6818 WIP: Various small training changes
  requirements.txt
  setup.cfg
  spacy/cli/init_pipeline.py
  spacy/errors.py
  spacy/scorer.py
  spacy/training/initialize.py
  spacy/training/loop.py
Labels: bug, enhancement, 🔜 v3.0

#6811 Update develop from master for v3.0.0rc5
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/matcher/test_phrase_matcher.py
  spacy/tests/regression/test_issue6755.py
  spacy/tokens/span.pyx
Labels: 🔜 v3.0

#6794 Implement overwrite param for all custom lemmatizers
  spacy/lang/bn/__init__.py
  spacy/lang/el/__init__.py
  spacy/lang/en/__init__.py
  spacy/lang/fa/__init__.py
  spacy/lang/fr/__init__.py
  spacy/lang/mk/__init__.py
  spacy/lang/nb/__init__.py
  spacy/lang/nl/__init__.py
  spacy/lang/pl/__init__.py
  spacy/lang/ru/__init__.py
  spacy/lang/sv/__init__.py
  spacy/lang/uk/__init__.py
Labels: bug, feat / lemmatizer, 🔜 v3.0

#6825 Update --code arg in evaluate CLI docs
  website/docs/api/cli.md
Labels: docs, feat / cli, 🔜 v3.0

#6796 Add speed benchmark
  website/docs/usage/_benchmarks-models.md
  website/docs/usage/facts-figures.md
Labels: docs, 🔜 v3.0

#6802 Add Kyrgyz language (ky) support
  .github/contributors/jumasheff.md
  spacy/lang/ky/__init__.py
  spacy/lang/ky/examples.py
  spacy/lang/ky/lex_attrs.py
  spacy/lang/ky/punctuation.py
  spacy/lang/ky/stop_words.py
  spacy/lang/ky/tokenizer_exceptions.py
  spacy/tests/conftest.py
  spacy/tests/lang/ky/__init__.py
  spacy/tests/lang/ky/test_tokenizer.py
  website/meta/languages.json
Labels: enhancement, lang / ky

#6822 semantically more correct explanation of is_oov in docs
  .github/contributors/jganseman.md
  website/docs/api/lexeme.md
  website/docs/api/token.md
Labels: docs

#6827 Restore implicit label addition for NER
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/pipeline/_parser_internals/ner.pyx
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/transition_parser.pyx
  spacy/tests/parser/test_add_label.py
Labels: enhancement, feat / ner, feat / parser, 🔜 v3.0

#6833 Add Spanish rule-based lemmatizer
  spacy/lang/es/__init__.py
  spacy/lang/es/lemmatizer.py
  spacy/tests/lang/test_lemmatizers.py
Labels: enhancement, feat / lemmatizer, lang / es, 🔜 v3.0

#6834 Fix beam NER resizing
  spacy/pipeline/transition_parser.pyx
  spacy/tests/parser/test_add_label.py
  spacy/tests/regression/test_issue4001-4500.py
Labels: enhancement, feat / ner, 🔜 v3.0

#6820 Add alignment mode error and fix Doc.char_span docs
  spacy/errors.py
  spacy/tests/doc/test_span.py
  spacy/tokens/doc.pyx
  website/docs/api/doc.md
Labels: bug, feat / doc

#6832 Update config generation defaults and transformers
  spacy/cli/init_config.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/cli/templates/quickstart_training_recommendations.yml
  website/src/widgets/quickstart-training.js
Labels: docs, feat / config, feat / transformer, feat / ux

#6835 Improve Example error handling for NER data
  spacy/training/example.pyx
Labels: feat / training, feat / ux, 🔜 v3.0

#6817 Error handling in nlp.pipe
  spacy/language.py
  spacy/pipeline/attributeruler.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/lemmatizer.py
  spacy/pipeline/pipe.pyx
  spacy/pipeline/sentencizer.pyx
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/tok2vec.py
  spacy/pipeline/trainable_pipe.pyx
  spacy/pipeline/transition_parser.pyx
  spacy/tests/test_language.py
  spacy/util.py
  website/docs/api/language.md
  website/docs/api/pipe.md
Labels: enhancement, feat / pipeline, feat / ux, 🔜 v3.0

#6840 avoid empty KB alias
  spacy/errors.py
  spacy/kb.pyx
  spacy/tests/regression/test_issue6730.py
  website/docs/api/kb.md
Labels: bug, feat / nel, feat / ux, 🌙 nightly

#6824 Forbid OP matching 2+ tokens in DependencyMatcher
  spacy/errors.py
  spacy/matcher/dependencymatcher.pyx
  spacy/tests/matcher/test_dependency_matcher.py
Labels: feat / matcher, 🔜 v3.0

#6853 adding new="3" mentions in the doc
  website/docs/api/language.md
  website/docs/api/pipe.md
Labels: docs, 🔜 v3.0

#6855 Update transfomers install docs
  website/docs/usage/embeddings-transformers.md
Labels: docs, 🔜 v3.0

#6856 Rephrase transformers PyTorch instructions
  website/docs/usage/embeddings-transformers.md
Labels: docs, 🔜 v3.0

#6852 Add option to replace listeners for sourced components
  setup.cfg
  spacy/errors.py
  spacy/language.py
  spacy/pipeline/tok2vec.py
  spacy/tests/pipeline/test_tok2vec.py
  spacy/tests/test_misc.py
  spacy/training/initialize.py
  spacy/util.py
  website/docs/api/language.md
  website/docs/usage/training.md
Labels: enhancement, feat / tok2vec, 🔜 v3.0

#6645 Update tokenizer_exceptions.py
  spacy/lang/es/tokenizer_exceptions.py
Labels: enhancement, feat / tokenizer, lang / es

#6858 update pytest pin to match Thinc 8.0
  requirements.txt
Labels: install

#6857 Remove --no-cache-dir when downloading models
  .github/contributors/tupui.md
  spacy/cli/download.py
Labels: feat / cli, models

#6860 Support building wheel in spacy package
  spacy/cli/package.py
  website/docs/api/cli.md
  website/docs/usage/v3.md
Labels: enhancement, feat / cli, 🔜 v3.0

#6861 Support downloading .whl files in spacy download
  spacy/cli/_util.py
  spacy/cli/download.py
  spacy/cli/package.py
Labels: enhancement, feat / cli, models, 🔜 v3.0

#6864 Extend Amharic stopwords
  spacy/lang/am/stop_words.py
Labels: enhancement, lang / am
