Repository explosion/spaCy, pull requests merged in 2021-04, with the labels that each got.

#7541 Add Tokenwiser to Projects
  website/meta/universe.json
Labels: docs

#7429 W&B integration: Optional support for dataset and model checkpoint logging and versioning
  .github/contributors/AyushExel.md
  requirements.txt
  setup.cfg
  spacy/training/loggers.py
  spacy/training/loop.py
  website/docs/api/legacy.md
  website/docs/api/top-level.md
  website/docs/usage/projects.md
Labels: enhancement, legacy, training

#7641 Add warning if initial vectors are empty
  spacy/errors.py
  spacy/training/initialize.py
Labels: feat / cli, feat / ux, feat / vectors

#7650 Add Numerizer to SpaCy universe
  website/meta/universe.json
Labels: docs

#7557 Fix __add__ method of PRFScore
  spacy/scorer.py
  spacy/tests/test_scorer.py
Labels: bug, feat / training

#7208 Support large/infinite training corpora
  spacy/default_config.cfg
  spacy/training/corpus.py
  spacy/training/initialize.py
  spacy/training/loop.py
Labels: enhancement, feat / training, 🔜 v3.1

#7321 Support match alignments
  .github/contributors/broaddeep.md
  spacy/matcher/matcher.pxd
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_matcher_logic.py
  website/docs/api/matcher.md
Labels: enhancement, feat / matcher, 🔜 v3.1

#7620 Implement replace_listeners for source in config
  spacy/language.py
Labels: bug, feat / config, feat / pipeline

#7655 Fix is_sent_start when converting from JSON (fix #7635)
  spacy/training/gold_io.pyx
Labels: bug, feat / training

#7209 Extend score_spans for overlapping & non-labeled spans
  spacy/scorer.py
  spacy/tests/test_scorer.py
  spacy/tests/training/test_training.py
  spacy/training/example.pyx
  website/docs/api/example.md
  website/docs/api/scorer.md
Labels: enhancement, feat / doc, feat / training

#7631 Fix parser sourcing in NER converter
  spacy/training/converters/conll_ner_to_docs.py
Labels: bug, feat / training

#7615 Update quickstart with new cuda
  website/src/widgets/quickstart-install.js
Labels: docs, install

#7690 Use morph hash in lemmatizer cache key
  spacy/pipeline/lemmatizer.py
  spacy/tests/pipeline/test_lemmatizer.py
Labels: bug, feat / lemmatizer

#7603 Make vocab update in get_docs deterministic
  spacy/strings.pyx
  spacy/tests/serialize/test_serialize_vocab_strings.py
Labels: feat / doc, feat / serialize

#7602 Update debug data further for v3
  spacy/cli/debug_data.py
Labels: enhancement, feat / cli

#7693 Add usage docs for streamed train corpora
  website/docs/api/data-formats.md
  website/docs/usage/training.md
Labels: docs, feat / training

#7630 Bugfix/nel crossing sentence
  spacy/pipeline/entity_linker.py
  spacy/tests/regression/test_issue7065.py
Labels: bug, feat / nel

#7642 Ensure hyphen in config file works as string value
  requirements.txt
  setup.cfg
  spacy/tests/serialize/test_serialize_config.py
Labels: bug, feat / config, feat / serialize

#7621 Terminology: deprecated vs obsolete
  spacy/cli/__init__.py
  spacy/errors.py
  website/docs/usage/v3.md
Labels: feat / ux

#7626 Fix vectors data on GPU
  spacy/vectors.pyx
  spacy/vocab.pyx
Labels: bug, feat / vectors, gpu

#7490 Improve checks for sourced components
  spacy/errors.py
  spacy/language.py
  spacy/tests/pipeline/test_pipe_factories.py
Labels: enhancement, feat / pipeline, feat / ux

#7762 Set catalogue lower pin to v2.0.3
  requirements.txt
  setup.cfg
  spacy/util.py
Labels: install

#7783 assemble CLI command
  spacy/cli/__init__.py
  spacy/cli/assemble.py
  website/docs/api/cli.md
Labels: enhancement, feat / cli

#7805 Register CharEmbed layer
  spacy/ml/_character_embed.py
Labels: enhancement, feat / tok2vec

#7749 Update Tokenizer.explain with special matches
  spacy/tests/tokenizer/test_explain.py
  spacy/tokenizer.pyx
  website/docs/usage/linguistic-features.md
Labels: bug, feat / tokenizer

#7480 Update processing-pipelines.md to mention method for doc metadata
  website/docs/usage/processing-pipelines.md
Labels: docs

#7826 Add entry for Coreferee project to universe.json
  website/meta/universe.json
Labels: docs

#7738 Default code for Setting Entity annotations on the website errors
  .github/contributors/armsp.md
  website/docs/usage/linguistic-features.md
Labels: docs

#7851 adding skweak to the SpaCy universe
  .github/contributors/plison.md
  website/meta/universe.json
Labels: docs

#7754 Add TRUNAJOD to spaCy universe.
  website/meta/universe.json
Labels: docs

#7818 Added a logo to spaCyTextBlob
  website/meta/universe.json
Labels: docs

#7845 Project Idea : denomme | Multilingual Name Detection
  .github/contributors/meghanabhange.md
  website/meta/universe.json
Labels: docs

#7839 update EL training data format in docs
  website/docs/api/data-formats.md
Labels: docs

#7674 Replace negative rows with 0 in StaticVectors
  requirements.txt
  setup.cfg
  spacy/cli/templates/quickstart_training.jinja
  spacy/ml/models/tok2vec.py
  spacy/ml/staticvectors.py
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/entity_linker.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/multitask.pyx
  spacy/pipeline/ner.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/textcat_multilabel.py
  spacy/pipeline/tok2vec.py
  website/docs/api/architectures.md
  website/docs/api/data-formats.md
  website/docs/api/legacy.md
  website/docs/usage/embeddings-transformers.md
  website/docs/usage/layers-architectures.md
Labels: bug, feat / vectors

#7755 fix config parsing of ints/strings
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/tests/test_cli.py
Labels: feat / cli, feat / config, feat / serialize

#7836 Fix tokenizer cache flushing
  spacy/tests/serialize/test_serialize_tokenizer.py
  spacy/tests/tokenizer/test_tokenizer.py
  spacy/tokenizer.pxd
  spacy/tokenizer.pyx
Labels: bug, feat / tokenizer

#7847 Update sent_starts in Example.from_dict
  spacy/tests/training/test_new_example.py
  spacy/training/example.pyx
  spacy/util.py
  website/docs/api/data-formats.md
  website/docs/api/doc.md
  website/docs/api/token.md
Labels: feat / training

#7750 Add callback to copy vocab/tokenizer from model
  spacy/errors.py
  spacy/training/__init__.py
  spacy/training/callbacks.py
  website/docs/api/top-level.md
Labels: enhancement, feat / training

#7417 Optionally append lang for packaged model name
  spacy/cli/package.py
Labels: enhancement, feat / cli, 🔜 v3.1

#7629 Fix scoring normalization
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/util.py
Labels: bug, feat / cli, feat / training, 🔜 v3.1

#7634 Remove torino from stop words for Italian
  spacy/lang/it/stop_words.py
Labels: enhancement, lang / it, 🔜 v3.1

#7767 Add training option to set annotations on update
  spacy/default_config.cfg
  spacy/language.py
  spacy/schemas.py
  spacy/tests/pipeline/test_annotates_on_update.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/training/loop.py
  website/docs/api/data-formats.md
  website/docs/api/transformer.md
  website/docs/usage/training.md
Labels: enhancement, feat / pipeline, feat / training, 🔜 v3.1

#7834 Replace cpdef variables with cdef
  spacy/kb.pxd
  spacy/tokenizer.pxd
  spacy/vocab.pxd
Labels: 🔜 v3.1

#7441 Clean up Morphology imports and definitions
  spacy/morphology.pxd
  spacy/morphology.pyx
Labels: feat / morphology, 🔜 v3.1

#7897 Set spacy-legacy to >=3.0.5
  requirements.txt
  setup.cfg
Labels: bug, feat / vectors

#7907 Update load_lookups return type and docstring
  .github/contributors/jklaise.md
  spacy/lookups.py
Labels: docs

#7886 Fix percent unk display in debug data
  spacy/cli/debug_data.py
Labels: bug, feat / cli

#7919 Check if the resume path points to a directory
  spacy/cli/pretrain.py
Labels: feat / cli, feat / tok2vec, feat / ux

#7911 Azerbaijani language added
  .github/contributors/sevdimali.md
  spacy/lang/az/__init__.py
  spacy/lang/az/examples.py
  spacy/lang/az/lex_attrs.py
  spacy/lang/az/stop_words.py
Labels: enhancement, lang / az

#7944 Refactor util.to_ternary_int
  spacy/tests/test_misc.py
  spacy/util.py
Labels: bug

#7963 Fix Transformer.initialize example
  website/docs/api/transformer.md
Labels: docs, feat / transformer
