Repository explosion/spaCy, pull requests merged in 2021-08, with the labels that each got.

#8810 Make ConsoleLogger flush after each logging line
  spacy/training/loggers.py
Labels: enhancement, feat / cli, feat / training

#8860 Add logger debug for project push and pull
  .github/contributors/nsorros.md
  spacy/cli/project/pull.py
  spacy/cli/project/push.py
Labels: enhancement, feat / cli, feat / ux, projects

#8830 Only add sourced vectors hashes to meta if necessary
  spacy/language.py
Labels: feat / pipeline

#8816 Fix start/end chars for empty and out-of-bounds spans
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
Labels: bug, feat / doc

#8784 Support list values and INTERSECTS in Matcher
  spacy/matcher/matcher.pyx
  spacy/schemas.py
  spacy/tests/matcher/test_matcher_api.py
  website/docs/api/matcher.md
  website/docs/usage/rule-based-matching.md
Labels: bug, docs, enhancement, feat / matcher

#8824 Pass excludes when serializing vocab
  spacy/language.py
  spacy/pipeline/attributeruler.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/lemmatizer.py
  spacy/pipeline/trainable_pipe.pyx
  spacy/pipeline/transition_parser.pyx
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tokenizer.pyx
Labels: bug, feat / serialize, feat / vectors

#8807 Fix check for RIGHT_ATTRS in dep matcher
  spacy/errors.py
  spacy/matcher/dependencymatcher.pyx
Labels: feat / matcher, feat / ux

#8872 Fix spancat tests on GPU
  spacy/tests/pipeline/test_spancat.py
Labels: bug, tests

#8885 No output info message in train
  spacy/cli/train.py
Labels: enhancement, feat / cli, feat / ux

#8427 Add stub files for main cython classes
  .github/contributors/ezorita.md
  spacy/lexeme.pyi
  spacy/matcher/matcher.pyi
  spacy/strings.pyi
  spacy/tokens/_retokenize.pyi
  spacy/tokens/doc.pyi
  spacy/tokens/morphanalysis.pyi
  spacy/tokens/span.pyi
  spacy/tokens/span_group.pyi
  spacy/tokens/token.pyi
  spacy/vocab.pyi
Labels: enhancement, types

#8910 updated unv json for new book
  website/meta/universe.json
Labels: docs

#8911 Update develop from master
  .github/contributors/ezorita.md
  .github/contributors/nsorros.md
  spacy/cli/project/pull.py
  spacy/cli/project/push.py
  spacy/cli/train.py
  spacy/errors.py
  spacy/language.py
  spacy/lexeme.pyi
  spacy/matcher/dependencymatcher.pyx
  spacy/matcher/matcher.pyi
  spacy/matcher/matcher.pyx
  spacy/pipeline/attributeruler.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/lemmatizer.py
  spacy/pipeline/trainable_pipe.pyx
  spacy/pipeline/transition_parser.pyx
  spacy/schemas.py
  spacy/strings.pyi
  spacy/tests/doc/test_span.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/pipeline/test_spancat.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tokenizer.pyx
  spacy/tokens/_retokenize.pyi
  spacy/tokens/doc.pyi
  spacy/tokens/morphanalysis.pyi
  spacy/tokens/span.pyi
  spacy/tokens/span.pyx
  spacy/tokens/span_group.pyi
  spacy/tokens/token.pyi
  spacy/training/loggers.py
  spacy/vocab.pyi
  website/docs/api/architectures.md
  website/docs/api/data-formats.md
  website/docs/api/entityruler.md
  website/docs/api/matcher.md
  website/docs/api/vocab.md
  website/docs/usage/rule-based-matching.md
  website/docs/usage/training.md
  website/docs/usage/v3.md
Labels: 🔜 v3.2

#8862 Improve the stop words and the tokenizer exceptions in Bulgarian language.
  .github/contributors/syrull.md
  spacy/lang/bg/stop_words.py
  spacy/lang/bg/tokenizer_exceptions.py
Labels: lang / bg, 🔜 v3.2

#8855 Add scores to output in spancat
  spacy/pipeline/spancat.py
  spacy/tests/pipeline/test_spancat.py
  website/docs/api/spancategorizer.md
Labels: enhancement, feat / doc, feat / spancat

#8900 Update Tigrinya ትግርኛ language support
  .github/contributors/fgaim.md
  spacy/lang/am/punctuation.py
  spacy/lang/ti/lex_attrs.py
  spacy/lang/ti/punctuation.py
  spacy/lang/ti/stop_words.py
  spacy/tests/lang/ti/test_text.py
Labels: enhancement, lang / ti, 🔜 v3.2

#8766 Refactor scoring methods to use registered functions
  spacy/lang/bn/__init__.py
  spacy/lang/ca/__init__.py
  spacy/lang/el/__init__.py
  spacy/lang/en/__init__.py
  spacy/lang/es/__init__.py
  spacy/lang/fa/__init__.py
  spacy/lang/fr/__init__.py
  spacy/lang/it/__init__.py
  spacy/lang/mk/__init__.py
  spacy/lang/nb/__init__.py
  spacy/lang/nl/__init__.py
  spacy/lang/pl/__init__.py
  spacy/lang/ru/__init__.py
  spacy/lang/ru/lemmatizer.py
  spacy/lang/sv/__init__.py
  spacy/lang/uk/__init__.py
  spacy/lang/uk/lemmatizer.py
  spacy/pipeline/attributeruler.py
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/entity_linker.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/lemmatizer.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/ner.pyx
  spacy/pipeline/pipe.pyx
  spacy/pipeline/sentencizer.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/spancat.py
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/textcat_multilabel.py
  spacy/pipeline/trainable_pipe.pxd
  spacy/pipeline/transition_parser.pyx
  spacy/scorer.py
  spacy/tests/pipeline/test_attributeruler.py
  spacy/util.py
Labels: enhancement, feat / scorer, 🔜 v3.2

#8882 Allow passing in array vars for speedup
  spacy/tokens/span.pyx
  website/docs/api/span.md
Labels: enhancement, feat / doc

#8929 Document scorers in registry and components from #8766
  spacy/pipeline/attributeruler.py
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/entity_linker.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/lemmatizer.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/ner.pyx
  spacy/pipeline/sentencizer.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/spancat.py
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/transition_parser.pyx
  website/docs/api/attributeruler.md
  website/docs/api/dependencyparser.md
  website/docs/api/entitylinker.md
  website/docs/api/entityrecognizer.md
  website/docs/api/entityruler.md
  website/docs/api/lemmatizer.md
  website/docs/api/morphologizer.md
  website/docs/api/pipe.md
  website/docs/api/scorer.md
  website/docs/api/sentencerecognizer.md
  website/docs/api/sentencizer.md
  website/docs/api/spancategorizer.md
  website/docs/api/tagger.md
  website/docs/api/textcategorizer.md
  website/docs/api/top-level.md
Labels: docs, 🔜 v3.2

#8938 Update Prodigy project template for v1.11
  website/docs/images/prodigy_train_curve.jpg
  website/docs/usage/projects.md
Labels: docs

#8921 Update da trf recommendation
  spacy/cli/templates/quickstart_training_recommendations.yml
Labels: lang / da, feat / cli, feat / transformer

#8951 Add TextDescriptives to the spaCy universe
  .github/contributors/hlasse.md
  website/meta/universe.json
Labels: docs

#8964 Add notes on preparing training data to docs
  website/docs/api/data-formats.md
  website/docs/usage/training.md
Labels: docs

#8745 Add development docs for Language and code conventions
  CONTRIBUTING.md
  extra/DEVELOPER_DOCS/Code Conventions.md
  extra/DEVELOPER_DOCS/Language.md
  extra/DEVELOPER_DOCS/README.md
Labels: docs, meta

#8975 Fix making span_group
  spacy/pipeline/spancat.py
  spacy/tests/pipeline/test_spancat.py
Labels: bug, feat / spancat

#8948 Auto-detect package dependencies in spacy package
  licenses/3rd_party_licenses.txt
  spacy/cli/package.py
  spacy/compat.py
  spacy/language.py
  spacy/tests/test_cli.py
  spacy/util.py
Labels: enhancement, third-party, feat / cli

#8956 Refactor dependencymatcher.pyx to use list comps and enumerate.
  .github/contributors/swfarnsworth.md
  spacy/matcher/dependencymatcher.pyx
Labels: feat / matcher

#8970 Fix allow_overlap default for spancat scoring
  spacy/pipeline/spancat.py
Labels: bug, feat / spancat

#8972 Update custom tokenizer APIs and pickling
  spacy/lang/ja/__init__.py
  spacy/lang/ko/__init__.py
  spacy/lang/th/__init__.py
  spacy/lang/vi/__init__.py
  spacy/lang/zh/__init__.py
  spacy/tests/lang/ja/test_serialize.py
  spacy/tests/lang/ko/test_serialize.py
  spacy/tests/lang/th/test_serialize.py
  spacy/tests/lang/vi/test_serialize.py
Labels: bug, lang / zh, lang / ko, lang / ja, lang / th, feat / serialize, lang / vi

#9003 Added Spacy API v3 docker
  .github/contributors/bbieniek.md
  website/meta/universe.json
Labels: docs

#8980 Warn and document spangroup.doc weakref
  spacy/errors.py
  spacy/tests/pipeline/test_spancat.py
  spacy/tokens/span_group.pyx
  website/docs/api/spangroup.md
Labels: bug, docs, feat / ux, feat / spancat

#8983 Add glossary entry for _SP (fix #8982)
  spacy/glossary.py
Labels: docs

#9007 Fix spancat training on nested entities
  spacy/pipeline/spancat.py
  spacy/tests/pipeline/test_spancat.py
Labels: bug, feat / spancat

#9008 bump to 3.1.2
  spacy/about.py
Labels: meta

#9009 Include component factories in third-party dependencies resolver
  requirements.txt
  setup.cfg
  spacy/cli/package.py
  spacy/tests/test_cli.py
Labels: enhancement, third-party, feat / cli

#9033 Fix verbs list in lang/fr/tokenizer_exceptions.py
  spacy/lang/fr/tokenizer_exceptions.py
Labels: lang / fr

#9023 fix docs for Span constructor arguments
  spacy/tokens/span.pyx
  website/docs/api/span.md
Labels: docs, feat / doc

#9081 benepar usage example has deprecated imports
  website/meta/universe.json
Labels: docs

#9059 Pass overrides to subcommands in workflows
  spacy/cli/project/run.py
Labels: bug, feat / cli

#9061 Dev docs: listeners
  extra/DEVELOPER_DOCS/Listeners.md
Labels: docs, feat / tok2vec, feat / transformer

#9089 Allow typer 0.4
  requirements.txt
  setup.cfg
Labels: third-party
