Repository explosion/spaCy, pull requests merged in 2021-05, with the labels that each got.

#7958 Fix typo in Language docstrings
  spacy/language.py
Labels: docs

#7991 Add / to nb infixes
  spacy/lang/nb/punctuation.py
Labels: lang / nb

#7982 Update details in universe denomme | Multilingual Name Detection
  website/meta/universe.json
Labels: docs

#8009 Fix Docs.from_docs for all empty docs
  spacy/tests/doc/test_doc_api.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc

#8005 Fix pretraining objectives fragment
  website/docs/usage/embeddings-transformers.md
Labels: docs

#7930 Small fix for EL
  spacy/ml/models/entity_linker.py
Labels: bug, feat / nel

#7925 Skip vector ngram backoff if minn is not set
  spacy/vocab.pyx
Labels: bug, feat / vectors

#7992 Fix span offsets for Matcher(as_spans) on spans
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_matcher_api.py
Labels: bug, feat / matcher

#7993 Add Chinese PTB tags to glossary
  spacy/glossary.py
Labels: lang / zh

#7973 Fix 'debug model' for transformers + generalize
  spacy/cli/debug_model.py
  website/docs/api/cli.md
Labels: feat / cli, training

#7988 Preserve existing ENT_KB_ID annotation in NER
  spacy/pipeline/_parser_internals/ner.pyx
  spacy/tests/parser/test_ner.py
Labels: bug, feat / ner

#8022 Update negspacy example code for spaCy 3.0
  website/meta/universe.json
Labels: docs

#8021 Fix new version for match_alignments
  website/docs/api/matcher.md
Labels: docs

#8028 Fix/fix en ordinals
  spacy/lang/en/lex_attrs.py
  spacy/tests/lang/en/test_text.py
Labels: enhancement, lang / en

#8072 Added eMFDscore to universe.json
  website/meta/universe.json
Labels: docs

#8096 Add NLP Cloud API to spaCy Universe
  .github/contributors/juliensalinas.md
  website/meta/universe.json
Labels: docs

#8062 Make all Span attrs writable
  spacy/errors.py
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
Labels: feat / doc

#8054 Add ENT_ID and NORM to DocBin strings
  spacy/tests/serialize/test_serialize_doc.py
  spacy/tokens/_serialize.py
Labels: bug, feat / doc, feat / serialize

#8099 Update Vietnamese tokenizer
  licenses/3rd_party_licenses.txt
  spacy/lang/vi/__init__.py
  spacy/tests/conftest.py
  spacy/tests/lang/vi/__init__.py
  spacy/tests/lang/vi/test_serialize.py
  spacy/tests/lang/vi/test_tokenizer.py
Labels: bug, lang / vi, 🔜 v3.1

#8066 Update debug data for textcat
  spacy/cli/debug_data.py
Labels: feat / cli

#8004 Handle errors while multiprocessing
  spacy/errors.py
  spacy/language.py
  spacy/tests/test_language.py
Labels: bug, feat / pipeline, scaling

#8069 Custom warning if the doc_bin is too large
  spacy/errors.py
  spacy/tokens/_serialize.py
Labels: feat / doc, feat / serialize, feat / ux

#8115 Fix range in Span.get_lca_matrix
  spacy/tests/doc/test_span.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc, v2

#8116 Fix offsets in Span.get_lca_matrix
  spacy/tests/doc/test_span.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc

#7965 Minor updates to quickstart settings/instructions
  website/docs/usage/training.md
  website/src/widgets/quickstart-training.js
Labels: docs

#8143 Disable GPU CI tests
  azure-pipelines.yml
Labels: gpu, tests

#8113 KB & NEL to/from bytes
  spacy/kb.pyx
  spacy/pipeline/entity_linker.py
  spacy/tests/pipeline/test_entity_linker.py
  website/docs/api/entitylinker.md
Labels: enhancement, feat / nel, feat / serialize

#8142 Switch default train corpus max_length to 0 in quickstart
  spacy/cli/templates/quickstart_training.jinja
Labels: feat / config

#8158 ensure tolerance is properly passed on
  spacy/training/batchers.py
Labels: bug, feat / training

#8200 Fix docs iob_utils
  spacy/training/iob_utils.py
  website/docs/api/top-level.md
Labels: docs

#8112 Support replace_listener for transformers
  spacy/language.py
  spacy/tests/pipeline/test_tok2vec.py
Labels: bug, feat / transformer

#7799 ensure 'spacy ray' works
  setup.cfg
Labels: enhancement, feat / cli, install, scaling

#8201 Additions to "neg examples" PR
  spacy/errors.py
  spacy/pipeline/_parser_internals/ner.pyx
  spacy/pipeline/transition_parser.pyx
  spacy/tests/parser/test_ner.py
Labels: enhancement, feat / ner, training

#8212 Add all symbols in Unicode Currency Symbols block
  spacy/lang/char_classes.py
  spacy/tests/training/test_training.py
Labels: enhancement, feat / tokenizer

#7807 Show warning if entity_ruler runs without patterns
  spacy/__init__.py
  spacy/errors.py
  spacy/matcher/matcher.pyx
  spacy/pipeline/entityruler.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/pipeline/test_entity_ruler.py
Labels: feat / matcher, feat / ux

#8012 Ensemble textcat with listener
  spacy/pipeline/tok2vec.py
  spacy/tests/pipeline/test_tok2vec.py
Labels: bug, feat / textcat, feat / tok2vec, tests

#8208 Address missing config overrides post load of models
  .github/contributors/narayanacharya6.md
  spacy/language.py
  spacy/tests/regression/test_issue8190.py
  spacy/util.py
Labels: bug, feat / config

#7728 Add project urls to package metadata
  setup.cfg
Labels: meta

#8169 Fix bug from Entityruler: ent_ids returns None for phrases
  spacy/pipeline/entityruler.py
  spacy/tests/regression/test_issue8168.py
Labels: enhancement, feat / matcher

#8129 Add hmrb to spaCy Universe
  .github/contributors/bodak.md
  website/meta/universe.json
Labels: docs

#8245 Close files properly
  spacy/cli/convert.py
  spacy/pipeline/entity_linker.py
  spacy/tests/tokenizer/test_tokenizer.py
Labels: enhancement
