Repository explosion/spaCy, pull requests merged in 2021-12, with the labels that each got.

#9655 Migrate regression tests into the main test suite
  CONTRIBUTING.md
  extra/DEVELOPER_DOCS/Code Conventions.md
  spacy/tests/doc/test_array.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_retokenize_split.py
  spacy/tests/doc/test_span.py
  spacy/tests/lang/en/test_sbd.py
  spacy/tests/lang/en/test_tokenizer.py
  spacy/tests/lang/es/test_text.py
  spacy/tests/lang/hi/test_text.py
  spacy/tests/lang/it/test_text.py
  spacy/tests/lang/ja/test_tokenizer.py
  spacy/tests/lang/sv/test_exceptions.py
  spacy/tests/lang/test_attrs.py
  spacy/tests/matcher/test_matcher_logic.py
  spacy/tests/matcher/test_phrase_matcher.py
  spacy/tests/parser/test_arc_eager_oracle.py
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_parse.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_entity_ruler.py
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/regression/__init__.py
  spacy/tests/regression/test_issue1-1000.py
  spacy/tests/regression/test_issue1001-1500.py
  spacy/tests/regression/test_issue1501-2000.py
  spacy/tests/regression/test_issue2001-2500.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3501-4000.py
  spacy/tests/regression/test_issue4001-4500.py
  spacy/tests/regression/test_issue4501-5000.py
  spacy/tests/regression/test_issue5001-5500.py
  spacy/tests/regression/test_issue5501-6000.py
  spacy/tests/regression/test_issue6001-6500.py
  spacy/tests/regression/test_issue6501-7000.py
  spacy/tests/regression/test_issue7001-8000.py
  spacy/tests/regression/test_issue7716.py
  spacy/tests/regression/test_issue8168.py
  spacy/tests/regression/test_issue8190.py
  spacy/tests/regression/test_issue8216.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/tests/serialize/test_serialize_doc.py
  spacy/tests/serialize/test_serialize_docbin.py
  spacy/tests/serialize/test_serialize_language.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tests/serialize/test_serialize_tokenizer.py
  spacy/tests/serialize/test_serialize_vocab_strings.py
  spacy/tests/test_cli.py
  spacy/tests/test_displacy.py
  spacy/tests/test_misc.py
  spacy/tests/tokenizer/test_tokenizer.py
  spacy/tests/training/test_training.py
  spacy/tests/vocab_vectors/test_lexeme.py
  spacy/tests/vocab_vectors/test_similarity.py
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/tests/vocab_vectors/test_vocab_api.py
Labels: tests, meta

#9699 Added sents property to Span for Spans spanning over several sentences
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
  website/docs/api/span.md
Labels: enhancement, feat / doc

#9685 Entity ruler remove pattern
  spacy/errors.py
  spacy/matcher/phrasematcher.pyi
  spacy/pipeline/entityruler.py
  spacy/tests/pipeline/test_entity_ruler.py
  website/docs/api/entityruler.md
Labels: enhancement, feat / pipeline

#9802 Make the Tagger neg_prefix configurable
  spacy/pipeline/tagger.pyx
Labels: bug, feat / tagger

#9800 Use Language.pipe in evaluate
  spacy/language.py
Labels: enhancement, feat / pipeline

#9821 Document Tagger neg_prefix, fix typo
  website/docs/api/entityrecognizer.md
  website/docs/api/tagger.md
Labels: docs, feat / tagger

#9820 Remove NER words from stop words in Norwegian
  spacy/lang/nb/stop_words.py
Labels: enhancement, lang / nb, 🔜 v3.3

#9823 Set version to v3.2.1
  spacy/about.py
Labels: meta

#9861 Support Google Sheets embeds in docs
  website/src/components/embed.js
  website/src/styles/embed.module.sass
  website/src/templates/index.js
Labels: docs

#9859 Update Tokenizer documentation
  spacy/tokenizer.pyx
Labels: docs, feat / tokenizer

#9838 Add healthsea to universe
  website/meta/universe.json
Labels: enhancement, docs

#9868 Use dict.copy().items() instead of list(.items())
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/vectors.pyx
Labels: feat / parser, feat / vectors

#9873 Pin mypy to 0.910 until there is a compatible pydantic version
  requirements.txt
Labels: bug, third-party, types

#9911 Extend cupy to v10.x
  setup.cfg
Labels: gpu

#9735 Make floret murmurhash endian-neutral
  spacy/vectors.pyx
Labels: compat, feat / vectors

#9903 Handle "_" value for token pos in conllu data
  spacy/training/converters/conllu_to_docs.py
Labels: enhancement, feat / cli

#9878 added ellided forms
  spacy/lang/it/stop_words.py
  spacy/tests/lang/it/test_stopwords.py
Labels: enhancement, lang / it

#9918 MultiHashEmbed Docs correction
  spacy/ml/models/tok2vec.py
  website/docs/api/architectures.md
Labels: enhancement, docs

#9941 Update UNIVERSE.md
  website/UNIVERSE.md
Labels: enhancement, docs

#9951 Update develop branch with master
  MANIFEST.in
  setup.cfg
  spacy/ml/models/tok2vec.py
  spacy/vectors.pyx
  website/UNIVERSE.md
  website/docs/api/architectures.md
Labels: meta

#9443 Fix Scorer.score_cats for missing labels
  spacy/pipeline/senter.pyx
  spacy/pipeline/spancat.py
  spacy/pipeline/textcat.py
  spacy/pipeline/textcat_multilabel.py
  spacy/scorer.py
  spacy/tests/pipeline/test_textcat.py
  website/docs/api/textcategorizer.md
Labels: bug, feat / textcat

#9952 Remove denomme from universe
  website/meta/universe.json
Labels: docs
