Repository explosion/spaCy, pull requests merged in 2021-11, with the labels that each got.

#9574 Adding LingFeat Software to spaCy Universe.
  website/meta/universe.json
Labels: docs

#9572 Add WordDumb to spaCy Universe
  website/meta/universe.json
Labels: docs

#9582 Add initial Tagalog (tl) tests
  spacy/tests/conftest.py
  spacy/tests/lang/tl/__init__.py
  spacy/tests/lang/tl/test_indices.py
  spacy/tests/lang/tl/test_punct.py
  spacy/tests/lang/tl/test_text.py
Labels: tests, lang / tl

#9594 Temporarily skip compat tests
  spacy/tests/test_cli.py
Labels: tests, 🔜 v3.2

#9592 Set as_tuples on Doc during processing
  spacy/language.py
  spacy/tokens/doc.pxd
  spacy/tokens/doc.pyi
Labels: feat / pipeline, 🔜 v3.2

#9597 Serialize _context separately in multiprocessing pipe
  spacy/language.py
Labels: bug, feat / doc, 🔜 v3.2

#9603 Pickle Doc._context
  spacy/tests/doc/test_pickle_doc.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc, 🔜 v3.2

#9583 Add note about round-trip serializing pipeline to API docs
  website/docs/api/language.md
Labels: docs, feat / serialize

#9589 Update website model display
  website/src/templates/models.js
Labels: docs, 🔜 v3.2

#9608 Add test for Language.pipe as_tuples with custom error handlers
  spacy/language.py
  spacy/tests/test_language.py
Labels: tests, feat / pipeline

#9610 Fix tok2vec-less textcat generation in website quickstart
  spacy/cli/templates/quickstart_training.jinja
Labels: docs

#9564 Fix typo about receptive field size
  spacy/ml/models/tok2vec.py
  website/docs/api/architectures.md
Labels: docs

#9593 Use metaclass to subclass errors to allow better pickling
  spacy/errors.py
  spacy/tests/test_errors.py
Labels: enhancement, feat / serialize

#9559 Portuguese noun chunks review
  spacy/lang/pt/__init__.py
  spacy/lang/pt/syntax_iterators.py
  spacy/tests/conftest.py
  spacy/tests/lang/pt/test_noun_chunks.py
Labels: enhancement, lang / pt

#9537 Spanish noun chunks review
  spacy/lang/es/syntax_iterators.py
  spacy/tests/conftest.py
  spacy/tests/lang/es/test_noun_chunks.py
Labels: enhancement, lang / es

#9596 Reenable tests for v3.2.0
  .github/azure-steps.yml
  spacy/tests/test_cli.py
Labels: tests, 🔜 v3.2

#9633 What's new in v3.2
  website/docs/usage/v3-2.md
  website/meta/sidebars.json
  website/src/templates/index.js
Labels: docs, 🔜 v3.2

#9629 Migrate regression and other tests to the new pytest marker
  spacy/tests/lang/en/test_prefix_suffix_infix.py
  spacy/tests/lang/fr/test_prefix_suffix_infix.py
  spacy/tests/matcher/test_dependency_matcher.py
  spacy/tests/matcher/test_matcher_logic.py
  spacy/tests/regression/test_issue1-1000.py
  spacy/tests/regression/test_issue1001-1500.py
  spacy/tests/regression/test_issue1501-2000.py
  spacy/tests/regression/test_issue2001-2500.py
  spacy/tests/regression/test_issue2501-3000.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3501-4000.py
  spacy/tests/regression/test_issue4001-4500.py
  spacy/tests/regression/test_issue4501-5000.py
  spacy/tests/regression/test_issue5001-5500.py
  spacy/tests/regression/test_issue5501-6000.py
  spacy/tests/regression/test_issue6001-6500.py
  spacy/tests/regression/test_issue6501-7000.py
  spacy/tests/regression/test_issue7001-8000.py
  spacy/tests/regression/test_issue7716.py
  spacy/tests/regression/test_issue8190.py
  spacy/tests/regression/test_issue8216.py
  spacy/tests/serialize/test_serialize_pipeline.py
Labels: tests

#9638 Make Jsonl Corpus reader path optional again
  spacy/training/corpus.py
Labels: feat / tok2vec, types

#9654 Fix spancat for empty docs and zero suggestions
  spacy/ml/extract_spans.py
  spacy/pipeline/spancat.py
  spacy/tests/pipeline/test_spancat.py
Labels: bug, feat / spancat

#9679 Update universe.json with new library eng_spacysentiment
  website/meta/universe.json
Labels: docs

#9639 Clarify how to fill in init_tok2vec after pretraining
  spacy/training/pretrain.py
  website/docs/api/data-formats.md
  website/docs/usage/embeddings-transformers.md
Labels: docs, feat / cli, feat / tok2vec

#9697 Exclude strings from v3.2+ source vector checks
  spacy/language.py
  spacy/training/initialize.py
Labels: bug, feat / vectors

#9694 Convert labels to strings for README in package CLI
  spacy/cli/package.py
Labels: bug, feat / cli

#9678 update docs with version tag
  website/docs/api/data-formats.md
Labels: docs

#9707 Edited Slovenian stop words list
  spacy/lang/sl/stop_words.py
Labels: enhancement, 🔜 v3.3, lang / sl

#9691 Add note on batch contract for listeners
  website/docs/api/architectures.md
Labels: docs, feat / tok2vec

#9722 Use reference parse to initialize parser moves
  spacy/pipeline/_parser_internals/arc_eager.pyx
Labels: bug, feat / parser

#9701 Allow Scorer.score_spans to handle pred docs with missing annotation
  spacy/scorer.py
Labels: enhancement, feat / scorer

#9659 Add doc_cleaner component
  spacy/errors.py
  spacy/pipeline/functions.py
  spacy/tests/pipeline/test_functions.py
  website/docs/api/pipeline-functions.md
Labels: enhancement, feat / pipeline

#9658 EntityRuler improve disk load error message
  spacy/errors.py
  spacy/pipeline/entityruler.py
  spacy/tests/pipeline/test_entity_ruler.py
Labels: enhancement, feat / serialize, feat / matcher, feat / ux

#9662 Noun chunks for Italian
  spacy/lang/it/__init__.py
  spacy/lang/it/syntax_iterators.py
  spacy/tests/conftest.py
  spacy/tests/lang/it/test_noun_chunks.py
Labels: enhancement, lang / it, 🔜 v3.3

#9737 Create Pantalaymon.md
  .github/contributors/Pantalaymon.md
Labels: meta

#9688 Allow Matcher to match on ENT_ID and ENT_KB_ID
  spacy/schemas.py
  spacy/tests/matcher/test_pattern_validation.py
  website/docs/api/matcher.md
Labels: enhancement, feat / matcher, feat / nel

#9755 Add entry for Applied Language Technology under "Courses"
  website/meta/universe.json
Labels: docs

#9703 New tests for a number of alpha languages
  spacy/tests/conftest.py
  spacy/tests/lang/af/__init__.py
  spacy/tests/lang/af/test_text.py
  spacy/tests/lang/af/test_tokenizer.py
  spacy/tests/lang/et/__init__.py
  spacy/tests/lang/et/test_text.py
  spacy/tests/lang/et/test_tokenizer.py
  spacy/tests/lang/hr/__init__.py
  spacy/tests/lang/hr/test_text.py
  spacy/tests/lang/hr/test_tokenizer.py
  spacy/tests/lang/is/__init__.py
  spacy/tests/lang/is/test_text.py
  spacy/tests/lang/is/test_tokenizer.py
  spacy/tests/lang/lv/__init__.py
  spacy/tests/lang/lv/test_text.py
  spacy/tests/lang/lv/test_tokenizer.py
  spacy/tests/lang/sk/__init__.py
  spacy/tests/lang/sk/test_text.py
  spacy/tests/lang/sk/test_tokenizer.py
  spacy/tests/lang/sl/__init__.py
  spacy/tests/lang/sl/test_text.py
  spacy/tests/lang/sl/test_tokenizer.py
  spacy/tests/lang/sq/__init__.py
  spacy/tests/lang/sq/test_text.py
  spacy/tests/lang/sq/test_tokenizer.py
  spacy/tests/lang/xx/__init__.py
  spacy/tests/lang/xx/test_text.py
  spacy/tests/lang/xx/test_tokenizer.py
Labels: enhancement, tests, lang / hr, lang / sk, lang / is, lang / et, lang / lv, lang / af, lang / sq, lang / sl

#9674 Fix Language-specific factory handling in package command
  spacy/cli/package.py
  spacy/tests/test_cli.py
Labels: bug, feat / pipeline, feat / config

#9763 Update Catalan acknowledgements for v3.2
  website/docs/usage/v3-2.md
Labels: docs

#9748 Displacy serve entity linking support without `manual=True` support.
  spacy/displacy/__init__.py
  spacy/tests/test_displacy.py
  website/docs/api/top-level.md
Labels: enhancement, feat / visualizers, feat / nel

#9773 Switch to latest CI images
  azure-pipelines.yml
Labels: meta

#9764 morphologizer: avoid recreating label tuple for each token
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/tagger.pyx
Labels: enhancement, perf / speed

#9667 French NP review
  spacy/lang/fr/syntax_iterators.py
  spacy/tests/conftest.py
  spacy/tests/lang/fr/test_noun_chunks.py
Labels: enhancement, lang / fr, 🔜 v3.3

#9742 Add Japanese kana characters to default tokenizer exceptions (fix #9693)
  spacy/lang/char_classes.py
Labels: lang / ja, feat / tokenizer, 🔜 v3.3
