Repository explosion/spaCy, pull requests merged in 2021-09, with the labels that each got.

#9084 Fix inference of epoch_resume
  spacy/errors.py
  spacy/training/pretrain.py
Labels: bug, feat / tok2vec

#9041 Document Assigned Attributes of Pipeline Components
  website/docs/api/architectures.md
  website/docs/api/dependencyparser.md
  website/docs/api/doc.md
  website/docs/api/entitylinker.md
  website/docs/api/entityrecognizer.md
  website/docs/api/entityruler.md
  website/docs/api/legacy.md
  website/docs/api/lemmatizer.md
  website/docs/api/morphologizer.md
  website/docs/api/morphology.md
  website/docs/api/phrasematcher.md
  website/docs/api/scorer.md
  website/docs/api/sentencerecognizer.md
  website/docs/api/sentencizer.md
  website/docs/api/tagger.md
  website/docs/api/textcategorizer.md
  website/docs/api/transformer.md
  website/docs/api/vectors.md
  website/docs/api/vocab.md
Labels: docs

#9074 Fix surprises when asking for the root of a git repo
  spacy/cli/_util.py
  spacy/cli/project/assets.py
  spacy/tests/test_cli.py
  website/docs/usage/projects.md
Labels: enhancement, feat / cli, feat / ux

#9115 matcher doc corrections
  spacy/matcher/matcher.pyx
  website/docs/usage/rule-based-matching.md
Labels: docs, feat / matcher

#9001 Pass alignments to Matcher callbacks
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_matcher_api.py
Labels: enhancement, feat / matcher

#9133 bump thinc to 8.0.9
  pyproject.toml
  requirements.txt
  setup.cfg
Labels: install, 🔮 thinc

#9163 Handle spacy-legacy in package CLI for dependencies
  spacy/cli/package.py
  spacy/tests/test_cli.py
  spacy/util.py
Labels: bug, feat / cli

#9143 Update Cython string types
  spacy/attrs.pyx
  spacy/kb.pyx
  spacy/lang/en/lemmatizer.py
  spacy/lexeme.pyx
  spacy/matcher/dependencymatcher.pyx
  spacy/matcher/matcher.pyx
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/strings.pxd
  spacy/strings.pyx
  spacy/tests/lang/ky/test_tokenizer.py
  spacy/tokenizer.pxd
  spacy/tokenizer.pyx
  spacy/tokens/_serialize.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
  spacy/vocab.pxd
  spacy/vocab.pyx
Labels: enhancement, 🔜 v3.2

#9150 Remove two attributes marked for removal in 3.1
  spacy/tokenizer.pxd
  spacy/vocab.pxd
  spacy/vocab.pyi
  spacy/vocab.pyx
Labels: enhancement, 🔜 v3.2

#9211 Only include runtime-relevant config in package CLI dependency detection
  spacy/cli/package.py
Labels: feat / cli

#9142 StringStore/Vocab dev docs
  extra/DEVELOPER_DOCS/StringStore-Vocab.md
Labels: docs

#9202 feat: add `spacy.WandbLogger.v3` with optional `run_name` and `entity` parameters
  spacy/training/loggers.py
  website/docs/api/top-level.md
Labels: enhancement, third-party, feat / training

#9148 Validate pos values when creating Doc
  spacy/errors.py
  spacy/tests/doc/test_creation.py
  spacy/tests/doc/test_token_api.py
  spacy/tokens/doc.pyx
  spacy/tokens/token.pyx
Labels: enhancement, feat / doc, feat / ux

#9218 Update Hammurabi example code to v3
  website/meta/universe.json
Labels: docs

#9244 Fix vector for 0-length span
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
Labels: bug, feat / doc

#9248 Allow overriding vars in the project assets subcommand
  spacy/cli/project/assets.py
Labels: enhancement, feat / cli, projects

#9069 Accept Doc input in pipelines
  spacy/errors.py
  spacy/language.py
  spacy/tests/test_language.py
Labels: feat / pipeline, 🔜 v3.2

#9254 avoid crash when unicode in title
  spacy/cli/project/run.py
Labels: bug, feat / cli, projects

#9269 Add projects to spaCy Universe
  .github/contributors/philipvollet.md
  website/meta/universe.json
Labels: docs

#9199 Add NEL visualisation (links to entities in a knowledge base)
  spacy/displacy/render.py
  spacy/displacy/templates.py
  website/docs/usage/visualizers.md
Labels: enhancement, feat / visualizers, feat / nel

#9278 Add universe test
  .github/contributors/Jette16.md
  .gitignore
  setup.py
  spacy/tests/universe/test_universe_json.py
Labels: docs, tests

#9297 Update Catalan tokenizer
  spacy/lang/ca/__init__.py
  spacy/lang/ca/punctuation.py
  spacy/lang/ca/tokenizer_exceptions.py
  spacy/tests/lang/ca/test_exception.py
  spacy/tests/lang/ca/test_prefix_suffix_infix.py
  spacy/tests/lang/ca/test_text.py
Labels: enhancement, lang / ca

#9300 Update slow readers test to use textcat_multilabel
  spacy/tests/training/test_readers.py
Labels: bug, tests

#9247 Raise E983 early on in docbin init
  spacy/errors.py
  spacy/tokens/_serialize.py
Labels: feat / doc, feat / ux

#9305 Restore tokenization timing in Language.evaluate
  spacy/language.py
Labels: bug, feat / pipeline, feat / cli

#9223 Move WandB loggers into spacy-loggers
  requirements.txt
  setup.cfg
  spacy/training/__init__.py
  spacy/training/loggers.py
  website/docs/api/top-level.md
  website/docs/usage/projects.md
  website/docs/usage/training.md
Labels: feat / training, 🔜 v3.2

#9321 Adding PhruzzMatcher to spaCy universe
  website/meta/universe.json
Labels: docs

#9102 Add an Irish lemmatiser, based on BuNaMo
  setup.cfg
  spacy/lang/ga/__init__.py
  spacy/lang/ga/irish_morphology_helpers.py
  spacy/lang/ga/lemmatizer.py
  spacy/lang/ga/tokenizer_exceptions.py
Labels: enhancement, lang / ga, feat / lemmatizer

#9050 Add overwrite settings for more components
  spacy/pipeline/entity_linker.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/sentencizer.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/tagger.pyx
  spacy/tests/pipeline/test_morphologizer.py
Labels: enhancement, feat / tagger, feat / nel, feat / sentencizer, feat / morphologizer, feat / senter, 🔜 v3.2
