Repository explosion/spaCy, pull requests merged in 2021-06, with the labels that each got.

#8132 Remove unsupported attrs from attrs.IDS
  spacy/attrs.pyx
  spacy/tests/vocab_vectors/test_vocab_api.py
Labels: feat / doc

#8265 applying suggestion to avoid mypy errors
  .github/contributors/ZeeD.md
  spacy/ml/models/multi_task.py
Labels: types

#7941 Improvements to French stopwords list
  spacy/lang/fr/stop_words.py
Labels: lang / fr

#8246 Don't add duplicate patterns all the time in EntityRuler (fix #8216)
  spacy/matcher/phrasematcher.pyx
  spacy/pipeline/entityruler.py
  spacy/tests/parser/test_ner.py
  spacy/tests/pipeline/test_entity_ruler.py
  spacy/tests/regression/test_issue8216.py
Labels: bug, feat / matcher

#8271 Exclude generated .cpp files from package
  MANIFEST.in
Labels: 🔜 v3.1

#8287 Fix pip args in download CLI
  spacy/cli/download.py
Labels: bug, feat / cli, v2

#8289 Set version to v2.3.7
  azure-pipelines.yml
  spacy/about.py
Labels: v2

#8290 Update CI for v2.x
  .travis.yml
  README.md
  azure-pipelines.yml
Labels: meta, v2

#8279 Fix typos in comments
  spacy/pipeline/entity_linker.py
Labels: enhancement

#8298 Update CI: update ubuntu image, add download test
  .github/azure-steps.yml
  azure-pipelines.yml
Labels: meta, tests

#8299 Restrict pymorphy2 requirement to pymorphy2 mode
  spacy/lang/ru/lemmatizer.py
  spacy/lang/uk/lemmatizer.py
  spacy/tests/conftest.py
  spacy/tests/lang/uk/test_lemmatizer.py
Labels: bug, feat / lemmatizer, lang / ru, lang / uk

#8285 Refactor warnings
  spacy/__init__.py
  spacy/errors.py
  spacy/language.py
  spacy/matcher/dependencymatcher.pyx
  spacy/matcher/matcher.pyx
  spacy/pipeline/entityruler.py
  spacy/pipeline/lemmatizer.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/pipeline/test_entity_ruler.py
  spacy/tests/pipeline/test_lemmatizer.py
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/tokens/doc.pyx
Labels: feat / ux, 🔜 v3.1

#8297 Move README.md and LICENSES_SOURCES in package
  spacy/cli/package.py
Labels: enhancement, feat / cli, 🔜 v3.1

#8308 Update Catalan language data
  setup.cfg
  spacy/lang/ca/__init__.py
  spacy/lang/ca/lemmatizer.py
  spacy/lang/ca/punctuation.py
  spacy/lang/ca/syntax_iterators.py
  spacy/lang/ca/tokenizer_exceptions.py
  spacy/tests/lang/ca/test_text.py
  spacy/tests/lang/test_lemmatizers.py
Labels: enhancement, lang / ca, 🔜 v3.1

#8378 Add Catalan and Danish trf to website models
  website/meta/languages.json
Labels: docs, 🔜 v3.1

#8358 register extract_ngrams layer
  spacy/ml/extract_ngrams.py
Labels: enhancement

#8379 Set version to v3.1.0.dev0
  spacy/about.py
Labels: 🔜 v3.1

#8353 Various docs updates for v3.0
  website/docs/api/data-formats.md
  website/docs/api/lemmatizer.md
  website/docs/api/scorer.md
  website/docs/models/index.md
  website/meta/universe.json
Labels: docs

#8384 typo fixes
  spacy/lexeme.pyx
  spacy/tokens/token.pyx
  website/docs/api/lexeme.md
  website/docs/api/token.md
  website/docs/usage/models.md
Labels: docs

#8335 Raise error if deps not provided with heads
  spacy/errors.py
  spacy/tests/doc/test_creation.py
  spacy/tests/doc/test_retokenize_merge.py
  spacy/tests/doc/test_retokenize_split.py
  spacy/tests/doc/test_token_api.py
  spacy/tests/parser/test_parse_navigate.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc

#8391 Change span lemmas to use original whitespace (fix #8368)
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
Labels: bug, feat / doc

#8396 Make JsonlReader path optional
  spacy/training/corpus.py
Labels: bug, feat / cli, feat / config

#8105 [Finnish tokenizer] Support for common contractions
  spacy/lang/fi/tokenizer_exceptions.py
  spacy/tests/lang/fi/test_tokenizer.py
Labels: enhancement, lang / fi, 🔜 v3.1

#8079 Added Italian POS-aware lemmatizer.
  .github/contributors/gtoffoli.md
  spacy/lang/it/__init__.py
  spacy/lang/it/lemmatizer.py
Labels: enhancement, feat / lemmatizer, lang / it, 🔜 v3.1

#7862 Resizable textcat
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/templates/quickstart_training.jinja
  spacy/ml/models/textcat.py
  spacy/ml/tb_framework.py
  spacy/pipeline/textcat.py
  spacy/pipeline/textcat_multilabel.py
  spacy/pipeline/trainable_pipe.pyx
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/test_misc.py
  website/docs/api/architectures.md
  website/docs/api/data-formats.md
  website/docs/api/legacy.md
  website/docs/usage/layers-architectures.md
  website/docs/usage/processing-pipelines.md
Labels: enhancement, feat / textcat, 🔜 v3.1

#8421 Fix non-deterministic deduplication in Greek lemmatizer
  spacy/lang/el/lemmatizer.py
Labels: bug, feat / lemmatizer, lang / el

#8106 Support negative examples in partial NER annotations
  spacy/errors.py
  spacy/pipeline/_parser_internals/ner.pyx
  spacy/pipeline/_parser_internals/transition_system.pxd
  spacy/pipeline/_parser_internals/transition_system.pyx
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/ner.pyx
  spacy/pipeline/transition_parser.pyx
  spacy/tests/doc/test_add_entities.py
  spacy/tests/parser/test_add_label.py
  spacy/tests/parser/test_arc_eager_oracle.py
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_parse.py
  spacy/tests/parser/test_preset_sbd.py
  spacy/tests/regression/test_issue3001-3500.py
  spacy/tests/regression/test_issue3501-4000.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/training/example.pyx
  website/docs/api/dependencyparser.md
  website/docs/api/entityrecognizer.md
Labels: enhancement, feat / ner, training, 🔜 v3.1

#8408 Update spacy-lookups-data in Makefile
  Makefile
Labels: meta, 🔜 v3.1

#8426 Fix setting empty entities in Example.from_dict
  spacy/tests/training/test_new_example.py
  spacy/training/example.pyx
Labels: bug, feat / training

#8422 Update package CLI handling of README and LICENSE
  spacy/cli/package.py
Labels: enhancement, feat / cli

#8388 Don't use the same vocab for source models
  spacy/language.py
  spacy/tests/test_language.py
Labels: bug, feat / pipeline

#8406 Various docs updates for v3.1
  website/docs/api/lemmatizer.md
  website/docs/models/index.md
Labels: docs, 🔜 v3.1

#8424 Improve UX for W036 for entity ruler, etc.
  spacy/pipeline/entityruler.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/matcher/test_matcher_logic.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_entity_ruler.py
Labels: enhancement, feat / ner, feat / ux

#8403 Use minor version for compatibility check
  spacy/cli/download.py
  spacy/cli/validate.py
  spacy/errors.py
  spacy/tests/test_cli.py
  spacy/util.py
Labels: enhancement, feat / cli, 🔜 v3.1

#8467 Fix prodigy project recipe
  website/docs/usage/projects.md
Labels: docs

#8477 Fix broken link
  website/docs/usage/linguistic-features.md
Labels: docs

#8487 Various fixes for spans in Docs.from_docs
  spacy/tests/doc/test_doc_api.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc

#8465 Auto-generate README in spacy package
  spacy/cli/package.py
  website/docs/api/cli.md
Labels: enhancement, feat / cli, feat / ux

#8486 Preserve paths.vectors/initialize.vectors setting in quickstart template
  spacy/cli/templates/quickstart_training.jinja
Labels: feat / cli

#6747 Add SpanCategorizer component
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/evaluate.py
  spacy/ml/extract_spans.py
  spacy/ml/models/__init__.py
  spacy/ml/models/spancat.py
  spacy/pipeline/__init__.py
  spacy/pipeline/spancat.py
  spacy/pipeline/trainable_pipe.pyx
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/tests/pipeline/test_spancat.py
  spacy/tests/test_models.py
  spacy/util.py
  website/docs/api/architectures.md
  website/docs/api/spancategorizer.md
  website/meta/sidebars.json
Labels: enhancement, feat / pipeline, ⚠️ wip

#8442 Raise custom error in EntityLinker when KB is not set
  .github/contributors/xadrianzetx.md
  spacy/errors.py
  spacy/pipeline/entity_linker.py
Labels: enhancement, feat / nel, feat / ux

#8507 Fix typo in `train_cli` docstring
  spacy/cli/train.py
Labels: docs

#8512 Updated PyATE syntax to fit spaCy V3 in spaCy universe
  website/meta/universe.json
Labels: docs

#8514 Update New Issue choices
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/03_other.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: meta

#8505 Fix double slash in model release web page
  website/src/templates/models.js
Labels: docs

#8551 Fix duplicate spacy package CLI opts
  spacy/cli/package.py
Labels: bug, feat / cli

#8405 adjust whitespace tokenizer to avoid sep in split()
  spacy/tests/test_language.py
  website/docs/usage/linguistic-features.md
Labels: docs
