Repository explosion/spaCy, pull requests merged in 2022-12, with the labels that each got.

#11908 Fix typo in vocab.md table
  website/docs/api/vocab.md
Labels: bug, docs

#11860 Fix spancat for zero suggestions
  spacy/pipeline/spancat.py
  spacy/tests/pipeline/test_spancat.py
Labels: bug, feat / spancat

#11899 Config generation fails for GPU without transformers
  spacy/cli/templates/quickstart_training.jinja
Labels: bug, docs, feat / cli

#11885 Lock current node version for `/website`
  website/.nvmrc
  website/README.md
  website/package.json
Labels: docs

#11927 fix links in 3.4 release notes
  website/docs/usage/v3-4.md
Labels: docs

#11918 Refactor kwargs in CLI msg for future wasabi compatibility
  spacy/cli/project/run.py
Labels: types

#11930 update lock-threads to v4
  .github/workflows/lock.yml
Labels: meta

#11914 Fix the interpolation in directory names when loading config files using cli.
  spacy/cli/_util.py
  spacy/tests/test_cli.py
Labels: enhancement, feat / cli, projects

#11934 EditTreeLemmatizer: correctly add strings when initializing from labels
  spacy/pipeline/edit_tree_lemmatizer.py
  spacy/tests/pipeline/test_edit_tree_lemmatizer.py
Labels: bug, feat / lemmatizer

#11937 Update scattertext example code
  website/meta/universe.json
Labels: universe

#11935 Add in errors used in the beam code that were removed at some point
  spacy/errors.py
Labels: feat / parser

#11932 Remove spacy-sentence-segmenter from Universe
  website/meta/universe.json
Labels: universe

#11903 Update custom solutions links
  README.md
  website/meta/sidebars.json
  website/meta/site.json
  website/src/widgets/landing.js
Labels: docs, ⚠️ wip

#11943 Remove all references to "begin_training"
  spacy/errors.py
  spacy/language.py
  spacy/pipeline/pipe.pyx
  spacy/tests/pipeline/test_pipe_methods.py
  website/docs/api/dependencyparser.md
  website/docs/api/entitylinker.md
  website/docs/api/entityrecognizer.md
  website/docs/api/language.md
  website/docs/api/pipe.md
  website/docs/api/tagger.md
  website/docs/api/textcategorizer.md
Labels: 🔜 v4.0

#11916 Remove old model shortcuts
  spacy/cli/download.py
  spacy/errors.py
  spacy/util.py
  website/UNIVERSE.md
  website/docs/usage/models.md
  website/meta/universe.json
Labels: feat / ux, 🔜 v4.0

#11919 Remove unused, experimental multi-task components
  setup.py
  spacy/errors.py
  spacy/pipeline/multitask.pyx
Labels: feat / pipeline

#11947 Update images and versions in CI
  azure-pipelines.yml
Labels: meta, v2

#11945 Extend to wasabi v1.1
  requirements.txt
  setup.cfg
Labels: enhancement, 🔜 v3.5

#11933 Cast to uint64 for all array-based doc representations
  spacy/tests/doc/test_array.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/training/example.pyx
Labels: bug, feat / doc, feat / training

#11429 Custom extensions for spans with equal boundaries
  spacy/tests/doc/test_underscore.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/underscore.py
Labels: bug, feat / doc, 🔜 v4.0

#11963 CI: Install thinc-apple-ops through extra
  .github/azure-steps.yml
Labels: tests

#11956 Backport bug fixes to v3.4.x
  .github/azure-steps.yml
  azure-pipelines.yml
  requirements.txt
  setup.cfg
  spacy/about.py
  spacy/cli/_util.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/displacy/__init__.py
  spacy/errors.py
  spacy/pipeline/edit_tree_lemmatizer.py
  spacy/pipeline/spancat.py
  spacy/tests/doc/test_array.py
  spacy/tests/pipeline/test_edit_tree_lemmatizer.py
  spacy/tests/pipeline/test_spancat.py
  spacy/tests/test_cli.py
  spacy/tests/test_displacy.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/training/example.pyx
Labels: bug, v3.4

#11958 Backport bug fixes to v3.3.x
  .github/azure-steps.yml
  .pre-commit-config.yaml
  azure-pipelines.yml
  requirements.txt
  setup.cfg
  spacy/about.py
  spacy/cli/_util.py
  spacy/displacy/__init__.py
  spacy/errors.py
  spacy/lang/ko/punctuation.py
  spacy/ml/_precomputable_affine.py
  spacy/pipeline/edit_tree_lemmatizer.py
  spacy/pipeline/spancat.py
  spacy/tests/doc/test_array.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/lang/ru/test_lemmatizer.py
  spacy/tests/lang/uk/test_lemmatizer.py
  spacy/tests/matcher/test_phrase_matcher.py
  spacy/tests/pipeline/test_edit_tree_lemmatizer.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_spancat.py
  spacy/tests/test_cli.py
  spacy/tests/test_displacy.py
  spacy/tests/test_models.py
  spacy/tests/vocab_vectors/test_similarity.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/training/example.pyx
  spacy/training/initialize.py
Labels: bug, v3.3

#11966 Backport bug fixes to v3.1.x
  .github/azure-steps.yml
  .pre-commit-config.yaml
  azure-pipelines.yml
  requirements.txt
  setup.cfg
  spacy/about.py
  spacy/cli/_util.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/errors.py
  spacy/pipeline/spancat.py
  spacy/tests/doc/test_array.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/lang/ru/test_lemmatizer.py
  spacy/tests/lang/uk/test_lemmatizer.py
  spacy/tests/matcher/test_phrase_matcher.py
  spacy/tests/pipeline/test_spancat.py
  spacy/tests/test_cli.py
  spacy/tests/test_models.py
  spacy/tests/vocab_vectors/test_similarity.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/training/example.pyx
  spacy/training/initialize.py
Labels: bug, v3.1

#11965 Backport bug fixes to v3.0.x
  .github/azure-steps.yml
  azure-pipelines.yml
  requirements.txt
  setup.cfg
  spacy/about.py
  spacy/cli/_util.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/errors.py
  spacy/ml/models/entity_linker.py
  spacy/pipeline/entity_linker.py
  spacy/schemas.py
  spacy/tests/doc/test_array.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/lang/ru/test_lemmatizer.py
  spacy/tests/lang/uk/test_lemmatizer.py
  spacy/tests/matcher/test_phrase_matcher.py
  spacy/tests/regression/test_issue5501-6000.py
  spacy/tests/serialize/test_serialize_kb.py
  spacy/tests/test_cli.py
  spacy/tests/test_models.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/training/example.pyx
  spacy/training/initialize.py
Labels: bug, v3.0

#11940 Cast to uint64 for all array-based doc representations
  spacy/cli/pretrain.py
  spacy/tests/doc/test_array.py
  spacy/tests/lang/en/test_noun_chunks.py
  spacy/tests/util.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
Labels: bug, feat / doc, v2

#11978 Allow conftest.py to run twice for build envs
  spacy/tests/conftest.py
Labels: tests, v2

#11980 Update build constraints for aarch64 and python 3.10
  build-constraints.txt
Labels: meta, v3.0

#11981 Update build constraints for python 3.11
  build-constraints.txt
Labels: meta

#11977 Set version to v2.3.9
  spacy/about.py
Labels: v2

#11982 Update build constraints for python 3.11 (#11981)
  build-constraints.txt
Labels: meta, v3.4

#11973 Update `migration/website` from `master`
  .github/azure-steps.yml
  .github/workflows/lock.yml
  README.md
  azure-pipelines.yml
  requirements.txt
  setup.cfg
  spacy/about.py
  spacy/cli/_util.py
  spacy/cli/debug_data.py
  spacy/cli/project/remote_storage.py
  spacy/cli/project/run.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/errors.py
  spacy/language.py
  spacy/pipeline/edit_tree_lemmatizer.py
  spacy/pipeline/spancat.py
  spacy/pipeline/textcat.py
  spacy/pipeline/textcat_multilabel.py
  spacy/tests/doc/test_array.py
  spacy/tests/pipeline/test_edit_tree_lemmatizer.py
  spacy/tests/pipeline/test_spancat.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/test_cli.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/training/example.pyx
  spacy/util.py
  website/docs/api/cli.mdx
  website/docs/api/top-level.mdx
  website/docs/api/vocab.mdx
  website/docs/usage/projects.mdx
  website/docs/usage/v3-4.mdx
  website/meta/sidebars.json
  website/meta/site.json
  website/meta/universe.json
  website/src/widgets/landing.js
Labels: docs

#11921 Fix v4 branch to build against Thinc v9
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
  spacy/ml/parser_model.pyx
  spacy/pipeline/_parser_internals/_beam_utils.pxd
  spacy/pipeline/_parser_internals/_beam_utils.pyx
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/pipeline/_parser_internals/ner.pyx
  spacy/pipeline/_parser_internals/search.pxd
  spacy/pipeline/_parser_internals/search.pyx
  spacy/pipeline/edit_tree_lemmatizer.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/tagger.pyx
  spacy/pipeline/transition_parser.pyx
  spacy/tests/conftest.py
  spacy/tests/parser/_search.pyx
  spacy/tests/parser/test_search.py
Labels: feat / parser, 🔜 v4.0

#11994 Fix wrong suffix_ doc
  website/docs/api/lexeme.md
Labels: docs

#11997 Fix typo in Dutch stop words - stop_words.py
  spacy/lang/nl/stop_words.py
Labels: enhancement, lang / nl

#11376 Add apply CLI
  spacy/cli/__init__.py
  spacy/cli/_util.py
  spacy/cli/apply.py
  spacy/cli/convert.py
  spacy/tests/test_cli.py
  website/docs/api/cli.md
Labels: enhancement, feat / cli

#11974 Minor website fixes (#11974) [ci skip]
  website/README.md
  website/docs/api/morphology.mdx
  website/docs/api/sentencizer.mdx
  website/docs/api/token.mdx
  website/docs/styleguide.mdx
  website/gatsby-config.js
  website/gatsby-node.js
  website/meta/dynamicMeta.js
  website/meta/site.json
  website/runtime.txt
  website/src/components/accordion.js
  website/src/components/code.js
  website/src/components/footer.js
  website/src/components/infobox.js
  website/src/components/landing.js
  website/src/components/link.js
  website/src/components/quickstart.js
  website/src/components/seo.js
  website/src/components/typography.js
  website/src/components/util.js
  website/src/pages/404.js
  website/src/remark.js
  website/src/styles/aside.module.sass
  website/src/styles/code.module.sass
  website/src/styles/embed.module.sass
  website/src/styles/grid.module.sass
  website/src/styles/layout.sass
  website/src/styles/quickstart.module.sass
  website/src/styles/search.module.sass
  website/src/styles/sidebar.module.sass
  website/src/templates/docs.js
  website/src/templates/index.js
  website/src/templates/models.js
  website/src/templates/universe.js
  website/src/widgets/features.js
  website/src/widgets/landing.js
  website/src/widgets/languages.js
  website/src/widgets/quickstart-install.js
  website/src/widgets/quickstart-models.js
  website/src/widgets/quickstart-training.js
Labels: docs

#12013 Add classifier for python 3.11
  setup.cfg
Labels: meta

#12015 Merge master into v4
  .github/azure-steps.yml
  .github/workflows/lock.yml
  README.md
  build-constraints.txt
  requirements.txt
  setup.cfg
  spacy/cli/__init__.py
  spacy/cli/_util.py
  spacy/cli/apply.py
  spacy/cli/convert.py
  spacy/cli/project/run.py
  spacy/errors.py
  spacy/lang/nl/stop_words.py
  spacy/pipeline/edit_tree_lemmatizer.py
  spacy/pipeline/textcat_multilabel.py
  spacy/tests/doc/test_array.py
  spacy/tests/doc/test_span_group.py
  spacy/tests/pipeline/test_edit_tree_lemmatizer.py
  spacy/tests/test_cli.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyi
  spacy/tokens/span.pyx
  spacy/tokens/span_group.pyi
  spacy/tokens/span_group.pyx
  spacy/training/example.pyx
  website/docs/api/cli.md
  website/docs/api/lexeme.md
  website/docs/api/spangroup.md
  website/meta/sidebars.json
  website/meta/site.json
  website/meta/universe.json
  website/src/widgets/landing.js
Labels: meta

#11972 New console logger with expanded progress tracking
  spacy/errors.py
  spacy/training/loggers.py
  website/docs/api/top-level.md
Labels: enhancement, loggers

#11995 typo fix
  spacy/pipeline/span_ruler.py
Labels: enhancement

#12008 Adjust to new `Schedule` class and pass scores to `Optimizer`
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/training/batchers.py
  spacy/training/loop.py
  spacy/util.py
Labels: enhancement, feat / training, 🔜 v4.0

#11971 Rename modified textcat scorer to v2
  requirements.txt
  setup.cfg
  spacy/pipeline/textcat.py
  spacy/tests/pipeline/test_textcat.py
Labels: bug, feat / textcat, feat / scorer
