Repository explosion/spaCy, pull requests merged in 2022-05, with the labels that each got.

#10718 Remove vestigial debug print statement in `walk_head_nodes`
  spacy/tokens/graph.pyx
Labels: perf / speed

#10729 Refactor error messages to remove hardcoded strings
  spacy/errors.py
  spacy/ml/parser_model.pyx
  spacy/pipeline/_edit_tree_internals/edit_trees.pyx
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/tokens/graph.pyx
  spacy/tokens/span.pyx
Labels: enhancement, feat / ux

#10633 Add back support for beam parsing to the refactored parser
  setup.py
  spacy/ml/tb_framework.py
  spacy/pipeline/_parser_internals/_beam_utils.pyx
  spacy/pipeline/_parser_internals/batch.pxd
  spacy/pipeline/_parser_internals/batch.pyx
  spacy/pipeline/transition_parser.pyx
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_parse.py
Labels: enhancement, feat / parser

#10750 Small doc typos
  website/docs/usage/rule-based-matching.md
Labels: docs

#10741 Fix StringStore.__getitem__ return type depending on parameter types
  spacy/strings.pyi
Labels: types

#10763 Update Coreferee Universe entry
  website/meta/universe.json
Labels: docs

#10762 Document different ways to create a pipeline
  website/docs/usage/models.md
Labels: docs

#10751 Add test for old architectures
  spacy/tests/parser/test_parse.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/pipeline/test_tok2vec.py
  website/docs/api/legacy.md
Labels: tests, feat / textcat, feat / parser, feat / tok2vec

#10714 Allow assets to be optional in spacy project
  spacy/cli/project/assets.py
  spacy/tests/test_cli.py
  website/docs/usage/projects.md
Labels: enhancement, feat / cli

#10780 Add documentation tip about overriding variables
  website/docs/usage/projects.md
Labels: docs, feat / cli

#10772 Override SpanGroups.setdefault to provide default SpanGroup
  spacy/tests/doc/test_doc_api.py
  spacy/tokens/_dict_proxies.py
  website/docs/api/spangroup.md
Labels: feat / doc

#10779 Ignore overrides for pipe names in config argument
  spacy/errors.py
  spacy/language.py
  spacy/tests/pipeline/test_pipe_factories.py
Labels: bug, feat / pipeline

#10734 Fix PhraseMatcher remove overlapping terms
  spacy/matcher/phrasematcher.pyx
  spacy/tests/matcher/test_phrase_matcher.py
Labels: bug, feat / matcher

#10793 Update spaCy Universe: spacytextblob (code example)
  website/meta/universe.json
Labels: docs

#10771 Fuzz tokenizer.explain: draft for fuzzy tests.
  spacy/tests/tokenizer/test_explain.py
Labels: tests, feat / tokenizer

#10821 Add glossary entry for root
  spacy/glossary.py
Labels: bug, docs

#10796 Remove cuda extras for non-linux arm in install widget
  website/docs/usage/index.md
  website/src/widgets/quickstart-install.js
Labels: docs

#10831 Disable weekly GPU/slow tests on forks
  .github/workflows/gputests.yml
  .github/workflows/slowtests.yml
Labels: tests

#10789 Vectorize `example.get_aligned_parses`
  spacy/training/example.pyx
Labels: enhancement, feat / parser, perf / speed, feat / training

#10828 oov confusion fix
  website/docs/models/index.md
Labels: docs

#10457 Fix Entity Linker with tokenization mismatches (fix #9575)
  spacy/pipeline/entity_linker.py
  spacy/tests/pipeline/test_entity_linker.py
Labels: bug, feat / nel

#10786 Fix issues for Mypy 0.950 and Pydantic 1.9.0
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/errors.py
  spacy/lookups.py
  spacy/ml/models/entity_linker.py
  spacy/ml/models/parser.py
  spacy/ml/models/textcat.py
  spacy/ml/models/tok2vec.py
  spacy/ml/staticvectors.py
  spacy/pipeline/edit_tree_lemmatizer.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/legacy/entity_linker.py
  spacy/pipeline/spancat.py
  spacy/schemas.py
  spacy/util.py
Labels: enhancement, types, 🔜 v3.4

#10842 Remove NBSP's across tables in the docs
  website/docs/api/cli.md
  website/docs/api/corpus.md
  website/docs/api/language.md
  website/docs/api/matcher.md
  website/docs/api/top-level.md
  website/docs/usage/linguistic-features.md
  website/docs/usage/rule-based-matching.md
  website/docs/usage/v3-1.md
  website/docs/usage/v3.md
Labels: docs

#10830 Better errors for has_annotation and Matcher
  spacy/errors.py
  spacy/matcher/matcher.pyx
  spacy/tokens/doc.pyx
Labels: feat / matcher, feat / doc, feat / ux

#10773 Parser: use C saxpy/sgemm provided by the Ops implementation
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/ml/parser_model.pxd
  spacy/ml/parser_model.pyx
  spacy/pipeline/transition_parser.pxd
  spacy/pipeline/transition_parser.pyx
Labels: enhancement, feat / parser, perf / speed, plat / m1, 🔜 v3.4

#10867 Fix misspelt keyword in StringStore docs example
  website/docs/api/stringstore.md
Labels: docs

#10841 Update documentation for displacy style kwargs
  website/docs/api/top-level.md
Labels: docs, feat / visualizers, feat / spancat

#10747 Restore C CPU inference in the refactored parser
  setup.py
  spacy/errors.py
  spacy/ml/tb_framework.pxd
  spacy/ml/tb_framework.pyx
  spacy/pipeline/_parser_internals/transition_system.pxd
  spacy/tests/parser/test_add_label.py
Labels: enhancement, feat / parser

#10849 Simplify GPU check
  spacy/cli/_util.py
Labels: enhancement, gpu, 🔜 v3.4

#10860 Minor NEL type fixes
  spacy/ml/models/entity_linker.py
  spacy/pipeline/entity_linker.py
Labels: enhancement, feat / nel, types
