Repository explosion/spaCy, pull requests merged in 2022-08, with the labels that each got.

#11263 Add scorer to textcat API docs config settings
  website/docs/api/textcategorizer.md
Labels: docs, feat / textcat

#11221 Update docs for pipeline initialize() methods
  website/docs/api/dependencyparser.md
  website/docs/api/edittreelemmatizer.md
  website/docs/api/entitylinker.md
  website/docs/api/entityrecognizer.md
  website/docs/api/morphologizer.md
  website/docs/api/sentencerecognizer.md
  website/docs/api/spancategorizer.md
  website/docs/api/tagger.md
  website/docs/api/textcategorizer.md
  website/docs/api/tok2vec.md
  website/docs/api/transformer.md
Labels: docs, feat / pipeline

#11255 chore: add 'concepCy' to spacy universe
  website/meta/universe.json
Labels: docs

#11228 Support full prerelease versions in the compat table
  spacy/cli/download.py
  spacy/util.py
Labels: feat / cli

#11162 Updates to Slovenian language
  spacy/lang/sl/__init__.py
  spacy/lang/sl/lex_attrs.py
  spacy/lang/sl/punctuation.py
  spacy/lang/sl/stop_words.py
  spacy/lang/sl/tokenizer_exceptions.py
  spacy/tests/lang/sl/test_text.py
Labels: enhancement, lang / sl, 🔜 v3.5

#11261 adding spans to doc_annotation in Example.to_dict
  spacy/tests/training/test_new_example.py
  spacy/training/example.pyx
  website/docs/api/data-formats.md
Labels: enhancement, feat / training

#11276 Fix regex invalid escape sequences
  spacy/lang/ko/punctuation.py
  spacy/schemas.py
Labels: bug, lang / ko, feat / tokenizer

#11283 Add W605 to the errors raised by flake8 in the CI
  azure-pipelines.yml
Labels: tests

#11284 Clean up automated label-based issue handling
  .github/no-response.yml
  .github/workflows/issue-manager.yml
Labels: meta

#11275 Fix Dutch noun chunks to skip overlapping spans
  spacy/lang/nl/syntax_iterators.py
  spacy/tests/lang/nl/test_noun_chunks.py
Labels: bug, lang / nl

#11286 Rename modules for consistency
  spacy/pipeline/__init__.py
  spacy/pipeline/attribute_ruler.py
  spacy/pipeline/entity_ruler.py
  website/docs/api/attributeruler.md
  website/docs/api/entityruler.md
  website/docs/usage/saving-loading.md
Labels: meta, 🔜 v4.0, feat / spanruler

#11121 Match private networks as URLs
  spacy/lang/tokenizer_exceptions.py
  spacy/tests/tokenizer/test_urls.py
Labels: enhancement, feat / tokenizer, 🔜 v4.0

#11293 Fix for the `textcat` test failure in `feature/refactor-parser`
  spacy/pipeline/textcat.py
Labels: bug, feat / textcat, 🔜 v4.0

#10950 Docs: displaCy documentation - data types, `parse_{deps,ents,spans}`, spans example
  spacy/displacy/__init__.py
  website/docs/api/top-level.md
  website/docs/usage/visualizers.md
Labels: docs, feat / visualizers

#11319 Remove intify_attrs(_do_deprecated)
  spacy/attrs.pyx
  spacy/tests/lang/test_attrs.py
  spacy/tokenizer.pyx
  spacy/vocab.pyx
Labels: 🔜 v4.0

#11317 Move `thinc.extra.search` to `spacy.pipeline._parser_internals`
  setup.py
  spacy/pipeline/_parser_internals/_beam_utils.pxd
  spacy/pipeline/_parser_internals/_beam_utils.pyx
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/pipeline/_parser_internals/ner.pyx
  spacy/pipeline/_parser_internals/search.pxd
  spacy/pipeline/_parser_internals/search.pyx
  spacy/pipeline/transition_parser.pyx
  spacy/tests/conftest.py
  spacy/tests/parser/_search.pyx
  spacy/tests/parser/test_search.py
Labels: bug, tests, feat / parser, 🔜 v4.0

#11333 include span_ruler for default warning filter
  spacy/errors.py
Labels: feat / ux, feat / spanruler

#11332 Add uk pipelines to website
  website/meta/languages.json
Labels: docs

#11336 Check for . in factory names
  spacy/errors.py
  spacy/language.py
  spacy/tests/test_language.py
Labels: bug, feat / ux, feat / config

#11345 Switch ru and uk lemmatizers to pymorphy3
  spacy/lang/ru/__init__.py
  spacy/lang/ru/lemmatizer.py
  spacy/lang/uk/__init__.py
  spacy/lang/uk/lemmatizer.py
  spacy/tests/conftest.py
  website/docs/api/lemmatizer.md
  website/meta/languages.json
Labels: lang / ru, lang / uk, 🔜 v3.5

#11343 Improve floret vectors display in pipeline docs
  website/src/templates/models.js
Labels: docs

#11331 Clean up warnings in the test suite
  .github/azure-steps.yml
  spacy/tests/doc/test_doc_api.py
  spacy/tests/lang/ru/test_lemmatizer.py
  spacy/tests/lang/uk/test_lemmatizer.py
  spacy/tests/matcher/test_phrase_matcher.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/training/initialize.py
Labels: tests

#11337 Cleanup Cython structs
  spacy/tokenizer.pxd
  spacy/tokenizer.pyx
  spacy/vocab.pxd
  spacy/vocab.pyi
  spacy/vocab.pyx
Labels: feat / doc, 🔜 v4.0

#11334 dev docs: numeric comparators
  extra/DEVELOPER_DOCS/Code Conventions.md
Labels: docs

#11328 Make Span/Doc.ents more consistent for ent_kb_id and ent_id
  spacy/tests/doc/test_add_entities.py
  spacy/tests/doc/test_span.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyi
  spacy/tokens/span.pyx
  website/docs/api/span.md
  website/docs/api/token.md
  website/docs/usage/rule-based-matching.md
Labels: feat / doc, 🔜 v4.0

#11364 Fix menu order in linguistic-features.md
  website/docs/usage/linguistic-features.md
Labels: bug, docs

#11125 Support custom attributes for tokens and spans in json conversion
  spacy/errors.py
  spacy/schemas.py
  spacy/tests/doc/test_json_doc_conversion.py
  spacy/tokens/doc.pyx
Labels: enhancement, feat / doc

#10847 luganda language extension
  spacy/lang/lg/__init__.py
  spacy/lang/lg/examples.py
  spacy/lang/lg/lex_attrs.py
  spacy/lang/lg/punctuation.py
  spacy/lang/lg/stop_words.py
  spacy/tests/conftest.py
  spacy/tests/lang/lg/__init__.py
  spacy/tests/lang/lg/test_tokenizer.py
  website/meta/languages.json
Labels: enhancement, lang / lg, new language

#11366 Update v4 from master
  .github/azure-steps.yml
  .github/no-response.yml
  .github/workflows/issue-manager.yml
  azure-pipelines.yml
  extra/DEVELOPER_DOCS/Code Conventions.md
  spacy/cli/download.py
  spacy/displacy/__init__.py
  spacy/errors.py
  spacy/lang/ko/punctuation.py
  spacy/lang/lg/__init__.py
  spacy/lang/lg/examples.py
  spacy/lang/lg/lex_attrs.py
  spacy/lang/lg/punctuation.py
  spacy/lang/lg/stop_words.py
  spacy/lang/nl/syntax_iterators.py
  spacy/language.py
  spacy/schemas.py
  spacy/tests/conftest.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_json_doc_conversion.py
  spacy/tests/lang/lg/__init__.py
  spacy/tests/lang/lg/test_tokenizer.py
  spacy/tests/lang/nl/test_noun_chunks.py
  spacy/tests/lang/ru/test_lemmatizer.py
  spacy/tests/lang/uk/test_lemmatizer.py
  spacy/tests/matcher/test_phrase_matcher.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/test_language.py
  spacy/tests/training/test_new_example.py
  spacy/tokens/doc.pyx
  spacy/training/example.pyx
  spacy/training/initialize.py
  spacy/util.py
  website/docs/api/data-formats.md
  website/docs/api/dependencyparser.md
  website/docs/api/edittreelemmatizer.md
  website/docs/api/entitylinker.md
  website/docs/api/entityrecognizer.md
  website/docs/api/morphologizer.md
  website/docs/api/sentencerecognizer.md
  website/docs/api/spancategorizer.md
  website/docs/api/tagger.md
  website/docs/api/textcategorizer.md
  website/docs/api/tok2vec.md
  website/docs/api/top-level.md
  website/docs/api/transformer.md
  website/docs/usage/linguistic-features.md
  website/docs/usage/visualizers.md
  website/meta/languages.json
  website/meta/universe.json
  website/src/templates/models.js
Labels: 🔜 v4.0

#11375 Update develop from master for v3.5
  .github/azure-steps.yml
  .github/no-response.yml
  .github/workflows/issue-manager.yml
  azure-pipelines.yml
  extra/DEVELOPER_DOCS/Code Conventions.md
  spacy/displacy/__init__.py
  spacy/errors.py
  spacy/lang/ko/punctuation.py
  spacy/lang/lg/__init__.py
  spacy/lang/lg/examples.py
  spacy/lang/lg/lex_attrs.py
  spacy/lang/lg/punctuation.py
  spacy/lang/lg/stop_words.py
  spacy/lang/nl/syntax_iterators.py
  spacy/language.py
  spacy/schemas.py
  spacy/tests/conftest.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_json_doc_conversion.py
  spacy/tests/lang/lg/__init__.py
  spacy/tests/lang/lg/test_tokenizer.py
  spacy/tests/lang/nl/test_noun_chunks.py
  spacy/tests/lang/ru/test_lemmatizer.py
  spacy/tests/lang/uk/test_lemmatizer.py
  spacy/tests/matcher/test_phrase_matcher.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/test_language.py
  spacy/tests/training/test_new_example.py
  spacy/tokens/doc.pyx
  spacy/training/example.pyx
  spacy/training/initialize.py
  website/docs/api/data-formats.md
  website/docs/api/top-level.md
  website/docs/usage/linguistic-features.md
  website/docs/usage/visualizers.md
  website/meta/languages.json
  website/src/templates/models.js
Labels: 🔜 v3.5

#11377 Update v4 from develop
  spacy/lang/ru/__init__.py
  spacy/lang/ru/lemmatizer.py
  spacy/lang/sl/__init__.py
  spacy/lang/sl/lex_attrs.py
  spacy/lang/sl/punctuation.py
  spacy/lang/sl/stop_words.py
  spacy/lang/sl/tokenizer_exceptions.py
  spacy/lang/uk/__init__.py
  spacy/lang/uk/lemmatizer.py
  spacy/tests/conftest.py
  spacy/tests/lang/sl/test_text.py
  website/docs/api/lemmatizer.md
  website/meta/languages.json
Labels: 🔜 v4.0

#11294 Switch to mecab-ko as default Korean tokenizer
  setup.cfg
  spacy/lang/ko/__init__.py
  spacy/tests/conftest.py
  spacy/tests/lang/ko/test_lemmatization.py
  spacy/tests/lang/ko/test_serialize.py
  spacy/tests/lang/ko/test_tokenizer.py
  spacy/tests/package/test_requirements.py
  website/docs/usage/models.md
Labels: lang / ko, 🔜 v4.0

#11381 Mark third-party deps in setup.cfg
  setup.cfg
Labels: meta

#11383 Remove pathy from pyproject.toml
  pyproject.toml
Labels: meta

#11214 Add ConsoleLogger.v2
  requirements.txt
  setup.cfg
  spacy/tests/training/test_logger.py
  spacy/training/loggers.py
  website/docs/api/legacy.md
  website/docs/api/top-level.md
Labels: enhancement, feat / training, loggers

#11382 Fix lookup usage in French/Catalan (fix #11347)
  spacy/lang/ca/lemmatizer.py
  spacy/lang/fr/lemmatizer.py
Labels: bug, lang / fr, feat / lemmatizer, lang / ca

#11384 Remove setup_requires from setup.cfg
  setup.cfg
  spacy/tests/package/test_requirements.py
Labels: 🔜 v4.0

#11292 Replace references to `thinc.backends.linalg` in the parser
  spacy/ml/tb_framework.pyx
Labels: feat / parser, 🔜 v4.0

#11353 Make stable private modules public and adjust names
  setup.py
  spacy/ml/character_embed.py
  spacy/ml/models/tok2vec.py
  spacy/pipeline/attribute_ruler.py
  spacy/tests/pipeline/test_models.py
  spacy/tests/pipeline/test_spancat.py
  spacy/tests/serialize/test_serialize_span_groups.py
  spacy/tokens/__init__.py
  spacy/tokens/doc.pyi
  spacy/tokens/doc.pyx
  spacy/tokens/doc_bin.py
  spacy/tokens/retokenizer.pyi
  spacy/tokens/retokenizer.pyx
  spacy/tokens/span_groups.py
Labels: 🔜 v4.0, feat / misc

#11349 Add Latin language support
  spacy/lang/la/__init__.py
  spacy/lang/la/lex_attrs.py
  spacy/lang/la/stop_words.py
  spacy/lang/la/tokenizer_exceptions.py
  spacy/tests/conftest.py
  spacy/tests/lang/la/__init__.py
  spacy/tests/lang/la/test_exception.py
  spacy/tests/lang/la/test_text.py
  website/docs/api/top-level.md
Labels: enhancement, lang / la

#11390 Fix `test_{prefer,require}_gpu`
  spacy/tests/test_misc.py
Labels: tests, gpu

#11406 Allow string argument for disable/enable/exclude
  spacy/__init__.py
  spacy/language.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/util.py
  website/docs/api/language.md
  website/docs/api/top-level.md
Labels: feat / serialize, feat / pipeline

#11380 `SpanGroup(s)`-related optimizations
  spacy/tokens/_dict_proxies.py
  spacy/tokens/span_group.pyi
  spacy/tokens/span_group.pyx
  website/docs/api/spangroup.md
Labels: feat / doc, perf / speed, 🔜 v3.5
