Repository explosion/spaCy, pull requests merged in 2022-04, with the labels that each got.

#10593 Revert "Add click pin to avoid typer issues (#10573)"
  requirements.txt
  setup.cfg
Labels: third-party

#10524 Add spancat, trainable_lemmatizer to quickstart
  spacy/cli/templates/quickstart_training.jinja
  website/src/widgets/quickstart-training.js
Labels: docs, feat / cli, 🔜 v3.3

#10319 Alignment: use a simplified ragged type for performance
  setup.py
  spacy/errors.py
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/scorer.py
  spacy/tests/training/test_training.py
  spacy/training/alignment.py
  spacy/training/alignment_array.pxd
  spacy/training/alignment_array.pyx
  spacy/training/example.pyx
Labels: perf / speed, feat / training

#10476 Support more internal methods for SpanGroup
  spacy/errors.py
  spacy/tests/doc/test_span_group.py
  spacy/tokens/span_group.pyx
  website/docs/api/spangroup.md
Labels: enhancement, feat / doc

#10600 Fix loss serialization issue
  .github/azure-steps.yml
  spacy/pipeline/transition_parser.pyx
Labels: bug, feat / parser

#10620 Update link to flake8 config
  CONTRIBUTING.md
Labels: docs

#10617 Update to spacy_conll in universe
  website/meta/universe.json
Labels: docs

#10616 Update default spans_key to sc in API docs
  website/docs/api/spancategorizer.md
Labels: docs

#10534 displacy: avoid overlapping arcs in manual mode
  spacy/displacy/render.py
  spacy/tests/test_displacy.py
Labels: enhancement, feat / visualizers

#10502 Add debug diff command in spaCy CLI
  requirements.txt
  setup.cfg
  spacy/cli/__init__.py
  spacy/cli/debug_diff.py
  website/docs/api/cli.md
Labels: feat / cli

#10629 Basic tests for the Tamil language
  spacy/tests/conftest.py
  spacy/tests/lang/ta/__init__.py
  spacy/tests/lang/ta/test_text.py
  spacy/tests/lang/ta/test_tokenizer.py
Labels: tests, lang / ta

#10580 added crosslingual coreference to spacy universe without additional commits
  website/meta/universe.json
Labels: docs

#10645 Display warning when spacy.explain() finds no term
  spacy/errors.py
  spacy/glossary.py
Labels: enhancement, feat / ux

#10547 Preparing span predictor for predicting from gold
  spacy/ml/models/coref.py
  spacy/pipeline/coref.py
Labels: enhancement, feat / coref

#10650 Fix a few minor bugs in the SpanGroup API web docs
  spacy/tokens/span_group.pyx
  website/docs/api/doc.md
  website/docs/api/spangroup.md
Labels: enhancement, docs, feat / doc

#10642 Batch #1 | spaCy universe cleanup
  website/meta/universe.json
Labels: docs

#10653 Add feminine form of word "one" in French
  .github/contributors/fonfonx.md
  spacy/lang/fr/lex_attrs.py
Labels: enhancement, lang / fr, 🔜 v3.3

#10655 Update newsletter id
  website/meta/site.json
Labels: docs

#10576 Return doc offsets in Matcher on spans
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_matcher_api.py
Labels: bug, feat / matcher, 🔜 v4.0

#10493 Adding and updating content in the spacy universe
  website/meta/universe.json
Labels: docs

#10665 Add numbers and definitions for Vietnamese
  spacy/lang/vi/lex_attrs.py
Labels: enhancement, lang / vi

#10659 `Matcher`: Remove superfluous GIL-acquiring check in `get_is_final`
  spacy/matcher/matcher.pyx
Labels: bug, perf / speed

#10669 Fix some issues in Spanish stop-word list and examples
  spacy/lang/es/examples.py
  spacy/lang/es/stop_words.py
Labels: bug, lang / es

#10677 add readme for explosion-bot
  extra/DEVELOPER_DOCS/ExplosionBot.md
Labels: docs

#10684 Syntax for a branch from a PR
  extra/DEVELOPER_DOCS/ExplosionBot.md
Labels: docs

#10689 Support exclude in Doc.from_docs
  spacy/tests/doc/test_doc_api.py
  spacy/tokens/doc.pyx
  website/docs/api/doc.md
Labels: enhancement, feat / doc, 🔜 v3.3

#10712 removing print statements from the test suite
  spacy/tests/lang/tr/test_tokenizer.py
  spacy/tests/pipeline/test_morphologizer.py
  spacy/tests/test_cli.py
Labels: tests

#10673 #10672: fixes displacy output for manual unsorted entities
  .pre-commit-config.yaml
  spacy/displacy/__init__.py
  spacy/tests/test_displacy.py
  website/docs/api/top-level.md
  website/docs/usage/visualizers.md
Labels: enhancement, feat / visualizers

#10614 Set version to v3.3.0
  .github/azure-steps.yml
  spacy/about.py
  spacy/tests/test_cli.py
Labels: 🔜 v3.3

#10628 Docs for v3.3
  website/docs/api/doc.md
  website/docs/api/span.md
  website/docs/api/vectors.md
  website/docs/images/pipeline-design.svg
  website/docs/models/index.md
  website/docs/usage/v3-3.md
  website/docs/usage/visualizers.md
  website/meta/languages.json
  website/meta/sidebars.json
  website/src/templates/index.js
Labels: docs, 🔜 v3.3
