Repository explosion/spaCy, pull requests merged in 2022-11, with the labels that each got.

#11737 Switch CI to Python 3.11.0
  azure-pipelines.yml
Labels: meta

#11738 Modernize and simplify CI steps
  .github/azure-steps.yml
  azure-pipelines.yml
Labels: meta

#11713 Fix default parameters for load functions (fix #11706)
  .github/azure-steps.yml
  spacy/util.py
Labels: bug, feat / ux

#11700 Restore Doc attr getter values in Doc.to_json
  spacy/tests/doc/test_json_doc_conversion.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc

#11744 Fix types for Span.id and Span.id_
  spacy/tokens/span.pyi
Labels: feat / doc, types

#11720 Raise Typer limit
  requirements.txt
  setup.cfg
Labels: third-party

#11746 Check for unsafe paths in tarfile.extractall (CVE-2007-4559)
  spacy/cli/project/remote_storage.py
  spacy/errors.py
Labels: feat / cli

#11765 Switch CI to python 3.11
  azure-pipelines.yml
Labels: meta

#11735 Add fallback in requirements check, only check once
  spacy/cli/project/run.py
Labels: bug, feat / cli

#11768 Use python 3.10 for GHA universe alert
  .github/workflows/spacy_universe_alert.yml
Labels: meta

#11745 Revert disable/disabled merging behavior
  spacy/errors.py
  spacy/language.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/tests/serialize/test_serialize_pipeline.py
  website/docs/api/language.md
  website/docs/api/top-level.md
  website/docs/usage/processing-pipelines.md
Labels: bug

#11777 Update warning, add tests for project requirements check
  spacy/cli/project/run.py
  spacy/tests/test_cli.py
Labels: feat / cli

#11764 Backport bugfixes for v3.4.x
  .github/azure-steps.yml
  .github/workflows/autoblack.yml
  .github/workflows/explosionbot.yml
  .github/workflows/slowtests.yml
  .github/workflows/spacy_universe_alert.yml
  README.md
  azure-pipelines.yml
  requirements.txt
  setup.cfg
  spacy/cli/project/run.py
  spacy/errors.py
  spacy/language.py
  spacy/ml/models/entity_linker.py
  spacy/tests/doc/test_json_doc_conversion.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tests/test_cli.py
  spacy/tests/test_models.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyi
  spacy/util.py
  website/docs/api/language.md
  website/docs/api/top-level.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/rule-based-matching.md
  website/meta/languages.json
  website/src/styles/quickstart.module.sass
  website/src/widgets/quickstart-install.js
Labels: 🔜 v3.4

#11774 Add greCy to Universe
  website/meta/universe.json
Labels: docs, lang / grc, new language

#11780 Remove new v2.x tags
  website/README.md
  website/docs/api/cli.md
  website/docs/api/doc.md
  website/docs/api/language.md
  website/docs/api/lexeme.md
  website/docs/api/matcher.md
  website/docs/api/phrasematcher.md
  website/docs/api/span.md
  website/docs/api/token.md
  website/docs/api/top-level.md
  website/docs/api/vocab.md
  website/docs/usage/rule-based-matching.md
  website/docs/usage/saving-loading.md
Labels: docs

#11781 Remove spacy-ray from docs
  website/docs/api/cli.md
  website/docs/usage/index.md
  website/docs/usage/projects.md
  website/docs/usage/training.md
  website/meta/universe.json
Labels: docs

#11802 Remove v3 Migration Support Form
  website/docs/usage/v3.md
Labels: docs

#11753 Update russian tokenizer exceptions
  spacy/lang/ru/tokenizer_exceptions.py
Labels: lang / ru, feat / tokenizer, 🔜 v3.5

#11810 prevent rewriting an already raw URL
  spacy/cli/project/assets.py
Labels: bug, projects

#11806 Add equality definition for vectors
  spacy/language.py
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/vectors.pyx
Labels: enhancement, feat / vectors

#11801 Update to mypy 0.990
  requirements.txt
Labels: types

#11763 Check textcat values for validity
  spacy/errors.py
  spacy/pipeline/textcat.py
  spacy/pipeline/textcat_multilabel.py
  spacy/tests/pipeline/test_textcat.py
Labels: enhancement, feat / textcat

#11819 Add transformer recommendation for ca
  spacy/cli/templates/quickstart_training_recommendations.yml
Labels: enhancement, feat / cli, lang / ca

#11825 Remove spikex from Universe
  website/meta/universe.json
Labels: docs

#11834 Vocab.to_disk exclude doesn't respect vectors #11833
  .pre-commit-config.yaml
  spacy/tests/vocab_vectors/test_vocab_api.py
  spacy/vocab.pyx
Labels: bug, feat / vectors

#11837 Remove unused error object in add_pipe
  spacy/language.py
Labels: enhancement, feat / pipeline

#11846 Remove Learning Path from Universe
  website/meta/universe.json
Labels: universe

#11722 Remove sentiment extension
  spacy/lexeme.pyi
  spacy/lexeme.pyx
  spacy/tests/README.md
  spacy/tests/doc/test_doc_api.py
  spacy/tests/doc/test_span.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tokens/doc.pxd
  spacy/tokens/doc.pyi
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyi
  spacy/tokens/span.pyx
  spacy/tokens/token.pyi
  spacy/tokens/token.pyx
  website/docs/api/doc.md
  website/docs/api/lexeme.md
  website/docs/api/span.md
  website/docs/api/token.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/rule-based-matching.md
Labels: feat / doc, 🔜 v4.0

#11867 Fix Matcher cython profile=True header
  spacy/matcher/matcher.pyx
Labels: feat / matcher

#11869 correct Vectors ndim in docs
  website/docs/api/vectors.md
Labels: docs, feat / vectors

#11864 Add smart_open requirement, update deprecated options
  requirements.txt
  setup.cfg
  spacy/cli/_util.py
  spacy/tests/test_cli.py
Labels: tests, meta, feat / cli, 🔜 v3.5

#11879 Add example sentence for Chinese on website.
  website/meta/languages.json
Labels: docs, lang / zh

#11845 Don't throw an error if using displacy on an unset span key
  spacy/displacy/__init__.py
  spacy/errors.py
  spacy/tests/test_displacy.py
Labels: feat / visualizers

#11855 Move Styleguide out of Readme
  website/README.md
  website/docs/styleguide.md
Labels: docs

#11762 Support local filesystem remotes for projects
  requirements.txt
  setup.cfg
  spacy/cli/_util.py
  spacy/cli/project/remote_storage.py
  spacy/tests/test_cli.py
  website/docs/api/cli.md
  website/docs/usage/projects.md
Labels: bug, feat / cli

#11871 Prepare for v3.5.0
  .github/azure-steps.yml
  spacy/about.py
  spacy/tests/test_cli.py
Labels: meta, 🔜 v3.5

#11887 Remove unused logging value from textcat defaults
  spacy/pipeline/textcat.py
  spacy/pipeline/textcat_multilabel.py
Labels: feat / textcat, feat / config
