Repository explosion/spaCy, pull requests merged in 2022-01, with the labels that each got.

#9963 Added spacypdfreader to universe.json
  website/meta/universe.json
Labels: docs

#9979 Fix type of lexeme.rank
  spacy/lexeme.pyi
Labels: bug, feat / doc, types

#9961 Fix references to config file in the docs & UX
  spacy/cli/debug_config.py
  spacy/cli/init_config.py
  spacy/errors.py
  spacy/util.py
  website/docs/api/cli.md
  website/docs/api/data-formats.md
Labels: enhancement, docs, feat / ux

#9960 Feat/debug data warn spread ents
  spacy/cli/debug_data.py
Labels: enhancement, feat / cli

#9981 Add a few docs to the default_config.cfg
  spacy/default_config.cfg
Labels: enhancement, docs, feat / config

#9989 Update website to use new Algolia search API
  website/meta/site.json
  website/src/components/search.js
  website/src/pages/404.js
  website/src/templates/index.js
Labels: docs

#10026 Check for assets with size of 0 bytes
  spacy/cli/project/assets.py
Labels: enhancement, feat / cli

#10037 Update develop with master
  LICENSE
  spacy/cli/project/assets.py
  website/meta/site.json
  website/src/components/search.js
  website/src/pages/404.js
  website/src/templates/index.js
Labels: meta

#9869 Span/SpanGroup: wrap SpanC in shared_ptr
  spacy/pipeline/_parser_internals/ner.pyx
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pxd
  spacy/tokens/span.pyx
  spacy/tokens/span_group.pxd
  spacy/tokens/span_group.pyx
Labels: enhancement, feat / doc

#10002 Fix texcat loss scaling (#9904)
  spacy/pipeline/textcat.py
  spacy/tests/pipeline/test_textcat.py
Labels: bug, feat / textcat

#10019 Speed up the StateC::L feature function
  spacy/pipeline/_parser_internals/_state.pxd
Labels: enhancement, feat / parser, perf / speed

#10043 Update usage example url for GPE span labeling
  website/docs/usage/processing-pipelines.md
Labels: docs

#9956 Span richcmp fix
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
Labels: enhancement, feat / doc

#10072 Update sudachipy extras
  setup.cfg
Labels: lang / ja

#10075 Mark flaky spancat test so it doesn't fail the build
  spacy/tests/pipeline/test_spancat.py
Labels: tests, feat / spancat

#10052 Fix spaces in Doc.from_docs for empty docs
  spacy/tests/doc/test_doc_api.py
  spacy/tokens/doc.pyx
Labels: bug, feat / doc

#9879 User fewer Vector internals
  spacy/language.py
  spacy/ml/models/multi_task.py
  spacy/ml/staticvectors.py
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/training/initialize.py
  spacy/vectors.pyx
  spacy/vocab.pyx
  website/docs/api/vectors.md
Labels: enhancement, feat / vectors

#10091 Add link to pattern file info in EntityRuler.initialize docs
  website/docs/api/entityruler.md
Labels: docs, feat / matcher

#10092 Update quickstart install steps
  website/src/widgets/quickstart-install.js
Labels: docs

#10051 Bugfix for similarity return types
  spacy/lexeme.pyx
  spacy/tests/vocab_vectors/test_similarity.py
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
Labels: bug, gpu, feat / vectors

#10079 Determine labels by factory name in debug data
  spacy/cli/debug_data.py
  spacy/tests/test_cli.py
Labels: bug, feat / cli

#10067 Rename FACILITY to FAC in color list
  spacy/displacy/render.py
Labels: bug, feat / visualizers

#10048 Use constant-time head lookups in StateC::{L,R}
  spacy/pipeline/_parser_internals/_state.pxd
Labels: enhancement, feat / parser, perf / speed

#9649 Add ENT_IOB key to Matcher
  spacy/matcher/matcher.pyx
  spacy/schemas.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/matcher/test_pattern_validation.py
  website/docs/api/matcher.md
Labels: enhancement, feat / matcher

#10100 Update develop with latest from master (2)
  setup.cfg
  spacy/attrs.pyx
  spacy/cli/debug_data.py
  spacy/displacy/render.py
  spacy/errors.py
  spacy/language.py
  spacy/lexeme.pyx
  spacy/matcher/matcher.pyx
  spacy/ml/models/multi_task.py
  spacy/ml/staticvectors.py
  spacy/schemas.py
  spacy/tests/doc/test_doc_api.py
  spacy/tests/lang/test_attrs.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/matcher/test_pattern_validation.py
  spacy/tests/pipeline/test_spancat.py
  spacy/tests/test_cli.py
  spacy/tests/vocab_vectors/test_similarity.py
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
  spacy/training/initialize.py
  spacy/vectors.pyx
  spacy/vocab.pyx
  website/docs/api/entityruler.md
  website/docs/api/matcher.md
  website/docs/api/vectors.md
  website/docs/usage/processing-pipelines.md
  website/meta/universe.json
  website/src/widgets/quickstart-install.js
Labels: meta

#10098 Docker Image for Website Dev
  website/Dockerfile
  website/README.md
Labels: docs, meta

#10093 Support version tags in universe and add note about reporting
  website/meta/universe.json
  website/src/templates/universe.js
Labels: docs

#10103 Consolidate parser refactor branches
  setup.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/ml/_precomputable_affine.py
  spacy/ml/models/parser.py
  spacy/ml/parser_model.pxd
  spacy/ml/parser_model.pyx
  spacy/ml/tb_framework.py
  spacy/pipeline/_parser_internals/_state.pxd
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/pipeline/_parser_internals/ner.pyx
  spacy/pipeline/_parser_internals/stateclass.pyx
  spacy/pipeline/_parser_internals/transition_system.pyx
  spacy/pipeline/dep_parser.py
  spacy/pipeline/ner.py
  spacy/pipeline/transition_parser.pxd
  spacy/pipeline/transition_parser.pyx
  spacy/tests/parser/test_add_label.py
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_nn_beam.py
  spacy/tests/parser/test_parse.py
  spacy/tests/pipeline/test_tok2vec.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/tests/test_misc.py
  spacy/training/example.pyx
  website/docs/api/architectures.md
  website/docs/usage/embeddings-transformers.md
Labels: enhancement, gpu, feat / parser

#10141 Improve unseen label masking
  spacy/ml/tb_framework.py
Labels: feat / parser, perf / speed

#10143 Use simple suggester for spancat initialization
  spacy/pipeline/spancat.py
Labels: bug, feat / spancat

#10109 Update typing hints
  spacy/language.py
  spacy/matcher/dependencymatcher.pyi
  spacy/matcher/matcher.pyi
  spacy/matcher/phrasematcher.pyi
  spacy/tokens/doc.pyi
  spacy/tokens/underscore.py
Labels: enhancement, types

#10140 Fix infix as prefix in Tokenizer.explain
  spacy/tests/tokenizer/test_tokenizer.py
  spacy/tokenizer.pyx
  website/docs/usage/linguistic-features.md
Labels: bug, feat / tokenizer

#10167 fix: Add missing comma to `examples.py`
  spacy/lang/xx/examples.py
Labels: docs

#10166 fix: Add missing comma to `_eleven_to_beyond`
  spacy/lang/hi/lex_attrs.py
Labels: lang / hi

#10154 Clarify Span.ents documentation
  spacy/tokens/span.pyx
  website/docs/api/span.md
Labels: docs
