Repository explosion/spaCy, pull requests merged in 2022-10, with the labels that each got.

#11563 update develop with latest from master
  .github/azure-steps.yml
  .gitignore
  extra/DEVELOPER_DOCS/Satellite Packages.md
  licenses/3rd_party_licenses.txt
  requirements.txt
  setup.cfg
  setup.py
  spacy/__init__.py
  spacy/cli/_util.py
  spacy/cli/debug_data.py
  spacy/cli/info.py
  spacy/cli/package.py
  spacy/cli/project/run.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/cli/templates/quickstart_training_recommendations.yml
  spacy/errors.py
  spacy/language.py
  spacy/matcher/__init__.py
  spacy/matcher/levenshtein.pyx
  spacy/matcher/polyleven.c
  spacy/ml/callbacks.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/pipe.pyx
  spacy/pipeline/trainable_pipe.pyx
  spacy/tests/doc/test_doc_api.py
  spacy/tests/matcher/test_levenshtein.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tests/training/test_augmenters.py
  spacy/tokens/doc.pyi
  spacy/tokens/doc.pyx
  spacy/training/augment.py
  spacy/training/iob_utils.py
  spacy/util.py
  website/docs/api/architectures.md
  website/docs/api/coref.md
  website/docs/api/doc.md
  website/docs/api/example.md
  website/docs/api/language.md
  website/docs/api/pipeline-functions.md
  website/docs/api/scorer.md
  website/docs/api/span-resolver.md
  website/docs/api/top-level.md
  website/docs/usage/linguistic-features.md
  website/docs/usage/projects.md
  website/docs/usage/v3-4.md
  website/meta/sidebars.json
  website/meta/universe.json
  website/src/widgets/quickstart-install.js
Labels: meta

#11570 Remove mention of 1.7 from issue template
  .github/ISSUE_TEMPLATE/01_bugs.md
Labels: meta

#11569 PR to test importlib-metadata
  azure-pipelines.yml
Labels: tests, third-party

#11573 Fix docs for refactored KB
  website/docs/api/kb_in_memory.md
Labels: docs, feat / nel, 🔜 v3.5

#11344 `StringStore` refactoring
  spacy/errors.py
  spacy/matcher/matcher.pyx
  spacy/strings.pxd
  spacy/strings.pyi
  spacy/strings.pyx
  spacy/tests/vocab_vectors/test_stringstore.py
  spacy/tokens/graph.pyx
  spacy/tokens/retokenizer.pyx
  website/docs/api/stringstore.md
Labels: 🔜 v4.0, feat / misc

#11612 Fix mypy error in edittree lemmatizer
  spacy/pipeline/edit_tree_lemmatizer.py
Labels: bug, feat / lemmatizer, types

#11615 remove dtype
  spacy/pipeline/edit_tree_lemmatizer.py
Labels: enhancement, feat / lemmatizer

#11593 Fix example code for spacy-wordnet
  website/meta/universe.json
Labels: docs, third-party

#11631 Fix init for pymorphy2_lookup lemmatizer mode
  spacy/lang/ru/lemmatizer.py
  spacy/lang/uk/lemmatizer.py
  spacy/tests/conftest.py
  spacy/tests/lang/ru/test_lemmatizer.py
  spacy/tests/lang/uk/test_lemmatizer.py
Labels: bug, lang / ru, lang / uk

#11635 Extend to pydantic v1.10
  requirements.txt
  setup.cfg
  spacy/schemas.py
Labels: types

#11618 update default configs to recent tok2vec versions
  spacy/pipeline/spancat.py
  spacy/pipeline/textcat_multilabel.py
Labels: enhancement, feat / textcat, feat / spancat, 🔜 v3.5

#11592 Fix issues with DVC commands
  spacy/cli/project/dvc.py
  website/docs/api/cli.md
Labels: bug, feat / cli, projects

#11667 Add python 3.11.0rc2 to CI
  .github/azure-steps.yml
  azure-pipelines.yml
Labels: meta

#11671 Fix python 2.7 compat in setup.py
  setup.py
Labels: v2

#11677 Add detailed example of env dict usage
  website/docs/usage/projects.md
Labels: docs, projects

#11674 Adding `spacy-cleaner` to the spaCy universe
  website/meta/universe.json
Labels: docs

#11686 Update v4 from master
  .github/azure-steps.yml
  .pre-commit-config.yaml
  azure-pipelines.yml
  requirements.txt
  setup.cfg
  spacy/about.py
  spacy/cli/project/dvc.py
  spacy/lang/ru/lemmatizer.py
  spacy/lang/uk/lemmatizer.py
  spacy/pipeline/edit_tree_lemmatizer.py
  spacy/pipeline/spancat.py
  spacy/pipeline/textcat_multilabel.py
  spacy/schemas.py
  spacy/tests/conftest.py
  spacy/tests/doc/test_json_doc_conversion.py
  spacy/tests/lang/ru/test_lemmatizer.py
  spacy/tests/lang/uk/test_lemmatizer.py
  spacy/tokens/doc.pyx
  website/docs/api/cli.md
  website/docs/api/kb_in_memory.md
  website/docs/usage/projects.md
  website/meta/universe.json
Labels: meta, 🔜 v4.0

#11320 Replace EntityRuler with SpanRuler implementation
  spacy/errors.py
  spacy/pipeline/__init__.py
  spacy/pipeline/entity_ruler.py
  spacy/pipeline/span_ruler.py
  spacy/tests/matcher/test_phrase_matcher.py
  spacy/tests/pipeline/test_entity_ruler.py
  spacy/tests/serialize/test_serialize_pipeline.py
  website/docs/api/entityruler.md
  website/docs/api/spanruler.md
  website/docs/usage/101/_architecture.md
  website/docs/usage/101/_pipelines.md
  website/docs/usage/processing-pipelines.md
  website/docs/usage/rule-based-matching.md
  website/docs/usage/saving-loading.md
  website/docs/usage/training.md
Labels: 🔜 v4.0, feat / spanruler

#11701 Rename test helper method with non-test_ name
  spacy/tests/test_models.py
Labels: tests

#11694 Update languages and version in README and website
  README.md
  website/meta/languages.json
Labels: docs

#11703 Reduce python 3.10 in CI to one OS
  azure-pipelines.yml
Labels: meta

#11698 Adjust default attrs for textcat configs
  spacy/pipeline/textcat.py
  spacy/pipeline/textcat_multilabel.py
Labels: enhancement, feat / textcat

#11666 Add warning to install widget for M1 GPUs
  website/src/styles/quickstart.module.sass
  website/src/widgets/quickstart-install.js
Labels: docs, osx, plat / m1

#11640 Handle Docs with no entities in EntityLinker
  spacy/ml/models/entity_linker.py
  spacy/tests/pipeline/test_entity_linker.py
Labels: bug, feat / nel

#11717 Spelling mistake in rule-based-matching.md
  website/docs/usage/rule-based-matching.md
Labels: docs
