Repository explosion/spaCy, pull requests merged in 2022-07, with the labels that each got.

#11056 dont use get_array_module
  spacy/pipeline/textcat.py
Labels: bug, feat / textcat

#11070 Increase test deadline to 30 minutes to prevent spurious test failures
  spacy/tests/conftest.py
Labels: tests

#11073 Support env var for num build jobs
  setup.py
Labels: enhancement, install

#11069 precompute_hiddens/Parser: do not look up CPU ops (3.4)
  spacy/ml/parser_model.pyx
  spacy/pipeline/transition_parser.pyx
Labels: feat / parser, perf / speed

#11078 Added asent to spacy universe
  website/meta/universe.json
Labels: docs

#11090 Github Action for spaCy universe project alert
  .github/spacy_universe_alert.py
  .github/workflows/spacy_universe_alert.yml
  website/meta/universe.json
Labels: docs

#11097 Use `pull_request_target` event for spaCy universe GA trigger
  .github/workflows/spacy_universe_alert.yml
Labels: docs

#11081 Add docs for compiling with build constraints
  website/docs/usage/index.md
Labels: docs

#11082 Add examples for new explosion bot commands
  extra/DEVELOPER_DOCS/ExplosionBot.md
Labels: docs

#11092 displaCy Spans Vertical Alignment Fix 2
  spacy/displacy/render.py
Labels: feat / visualizers

#11077 Tweak build jobs setting, update install docs
  setup.py
  website/docs/usage/index.md
Labels: docs, install

#11087 Update Coref Docs
  spacy/ml/models/coref.py
  spacy/ml/models/span_predictor.py
  spacy/pipeline/coref.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/span_predictor.py
  website/docs/api/architectures.md
Labels: docs, feat / coref

#11057 Docs for v3.4
  README.md
  website/docs/usage/v3-4.md
  website/meta/languages.json
  website/meta/sidebars.json
  website/src/templates/index.js
Labels: docs, 🔜 v3.4

#11089 Dimension inference in Coref
  spacy/ml/models/coref.py
  spacy/ml/models/coref_util.py
  spacy/ml/models/span_predictor.py
  spacy/pipeline/coref.py
  spacy/pipeline/span_predictor.py
  spacy/tests/pipeline/test_coref.py
  spacy/tests/pipeline/test_span_predictor.py
Labels: feat / coref

#11024 `Morphology`/`Morphologizer` optimizations and refactoring
  spacy/morphology.pxd
  spacy/morphology.pyx
  spacy/pipeline/morphologizer.pyx
  spacy/structs.pxd
  spacy/tokens/morphanalysis.pxd
  spacy/tokens/morphanalysis.pyx
  spacy/tokens/token.pyx
  website/docs/api/morphologizer.md
Labels: enhancement, perf / speed, feat / morphologizer, feat / morphology

#11159 Added BERTopic to Spacy Universe
  website/meta/universe.json
Labels: docs

#11185 Update meta for spacyfishing in spaCy Universe
  website/meta/universe.json
Labels: docs

#11123 Matchers documentation update (error in example)
  website/docs/api/matcher.md
Labels: docs, feat / matcher

#11184 [universe project] create English interpretation project
  website/meta/universe.json
Labels: docs

#11192 Move sent-patterns to correct section of universe.json
  website/meta/universe.json
Labels: docs

#11188 Update link to project ideas
  website/src/templates/universe.js
Labels: docs

#11200 Revert "Temporarily skip tests that require models/compat"
  .github/azure-steps.yml
  spacy/tests/test_cli.py
Labels: tests

#11194 Fix compatibility with CuPy 9.x
  spacy/ml/_precomputable_affine.py
Labels: bug, gpu, feat / parser

#11171 Add link to developer docs code conventions
  CONTRIBUTING.md
Labels: docs

#11209 Set version to v3.4.1
  spacy/about.py
Labels: meta

#11210 Adjust mkdir for pretrain command
  spacy/cli/pretrain.py
Labels: enhancement, feat / tok2vec

#11211 `ExplosionBot`: Add note about case-sensitivity
  extra/DEVELOPER_DOCS/ExplosionBot.md
Labels: docs

#10371 add additional REL_OP
  spacy/matcher/dependencymatcher.pyx
  spacy/tests/matcher/test_dependency_matcher.py
  website/docs/api/dependencymatcher.md
Labels: enhancement, feat / matcher

#11222 Update natto-py version spec
  setup.cfg
Labels: install, lang / ko, third-party

#11068 precompute_hiddens/Parser: look up CPU ops once (v4)
  spacy/ml/parser_model.pyx
  spacy/pipeline/transition_parser.pxd
  spacy/pipeline/transition_parser.pyx
Labels: feat / parser, perf / speed, 🔜 v4.0
