Repository explosion/spaCy, pull requests merged in 2022-09, with the labels that each got.

#11424 Check for any non-Doc returned value for components
  spacy/errors.py
  spacy/language.py
  spacy/tests/test_language.py
Labels: feat / pipeline, feat / ux

#11352 Consolidate and freeze symbols
  spacy/attrs.pxd
  spacy/attrs.pyx
  spacy/parts_of_speech.pxd
  spacy/schemas.py
  spacy/strings.pyx
  spacy/symbols.pxd
  spacy/symbols.pyx
  spacy/tests/test_symbols.py
  spacy/tokens/doc.pyx
Labels: 🔜 v4.0, feat / misc

#11312 Better handling of unexpected types in `SetPredicate`
  spacy/matcher/matcher.pyx
  spacy/tests/matcher/test_matcher_api.py
Labels: bug, feat / matcher

#11175 Add a way to get the URL to download a pipeline to the CLI
  requirements.txt
  spacy/cli/download.py
  spacy/cli/info.py
  spacy/tests/package/test_requirements.py
  website/docs/api/cli.md
  website/docs/usage/models.md
  website/src/templates/models.js
Labels: enhancement, feat / cli, 🔜 v3.5

#11410 New `_parser_utils` Cython module
  setup.py
  spacy/ml/tb_framework.pyx
  spacy/pipeline/_parser_internals/_parser_utils.pxd
  spacy/pipeline/_parser_internals/_parser_utils.pyx
  spacy/pipeline/_parser_internals/transition_system.pyx
Labels: feat / parser

#11448 Merge `develop` into `v4`
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/__init__.py
  spacy/cli/download.py
  spacy/cli/info.py
  spacy/errors.py
  spacy/lang/ca/lemmatizer.py
  spacy/lang/fr/lemmatizer.py
  spacy/lang/la/__init__.py
  spacy/lang/la/lex_attrs.py
  spacy/lang/la/stop_words.py
  spacy/lang/la/tokenizer_exceptions.py
  spacy/language.py
  spacy/matcher/matcher.pyx
  spacy/tests/conftest.py
  spacy/tests/lang/la/__init__.py
  spacy/tests/lang/la/test_exception.py
  spacy/tests/lang/la/test_text.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/package/test_requirements.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/tests/test_language.py
  spacy/tests/test_misc.py
  spacy/tests/training/test_logger.py
  spacy/tokens/span_group.pyi
  spacy/tokens/span_group.pyx
  spacy/tokens/span_groups.py
  spacy/training/loggers.py
  spacy/util.py
  website/docs/api/cli.md
  website/docs/api/language.md
  website/docs/api/legacy.md
  website/docs/api/spangroup.md
  website/docs/api/top-level.md
  website/docs/usage/models.md
  website/meta/universe.json
  website/src/templates/models.js
Labels: meta

#11435 Add dev docs on satellite packages
  extra/DEVELOPER_DOCS/Satellite Packages.md
Labels: enhancement, docs

#11268 Refactor KB for easier customization
  setup.py
  spacy/errors.py
  spacy/kb/__init__.py
  spacy/kb/candidate.pxd
  spacy/kb/candidate.pyx
  spacy/kb/kb.pxd
  spacy/kb/kb.pyx
  spacy/kb/kb_in_memory.pxd
  spacy/kb/kb_in_memory.pyx
  spacy/ml/models/entity_linker.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/legacy/entity_linker.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/serialize/test_resource_warning.py
  spacy/tests/serialize/test_serialize_kb.py
  website/docs/api/architectures.md
  website/docs/api/entitylinker.md
  website/docs/api/kb.md
  website/docs/api/kb_in_memory.md
  website/docs/usage/101/_architecture.md
Labels: enhancement, feat / nel

#11457 Fix DVC command example
  website/docs/usage/projects.md
Labels: bug, docs

#11463 Add docs for the `spacy.models_and_pipes_with_nvtx_range.v1` callback
  website/docs/api/top-level.md
Labels: docs

#11465 Remove has_letters in config template
  spacy/cli/templates/quickstart_training.jinja
  spacy/cli/templates/quickstart_training_recommendations.yml
Labels: docs, feat / cli

#11458 Assets message
  spacy/cli/project/run.py
Labels: enhancement, feat / cli, feat / ux

#11460 Fix config validation failures caused by NVTX pipeline wrappers
  spacy/ml/callbacks.py
  spacy/pipeline/pipe.pyx
  spacy/pipeline/trainable_pipe.pyx
Labels: bug, feat / pipeline, feat / ux

#11385 Prevent tok2vec to broadcast to listeners when predicting
  spacy/errors.py
  spacy/pipeline/tok2vec.py
  spacy/tests/pipeline/test_tok2vec.py
  website/docs/usage/training.md
Labels: bug, feat / pipeline, feat / tok2vec

#11279 Update cupy extras
  setup.cfg
  website/src/widgets/quickstart-install.js
Labels: gpu

#11002 Store activations in `Doc`s when `save_activations` is enabled
  spacy/pipeline/edit_tree_lemmatizer.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/spancat.py
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/textcat_multilabel.py
  spacy/pipeline/trainable_pipe.pxd
  spacy/pipeline/trainable_pipe.pyx
  spacy/tests/pipeline/test_edit_tree_lemmatizer.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_morphologizer.py
  spacy/tests/pipeline/test_senter.py
  spacy/tests/pipeline/test_spancat.py
  spacy/tests/pipeline/test_tagger.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tokens/doc.pxd
  spacy/tokens/doc.pyi
  spacy/tokens/doc.pyx
  website/docs/api/doc.md
  website/docs/api/edittreelemmatizer.md
  website/docs/api/entitylinker.md
  website/docs/api/morphologizer.md
  website/docs/api/sentencerecognizer.md
  website/docs/api/spancategorizer.md
  website/docs/api/tagger.md
  website/docs/api/textcategorizer.md
Labels: enhancement, feat / pipeline, 🔜 v4.0

#11491 Correct alignment example and documentation
  website/docs/api/example.md
  website/docs/usage/linguistic-features.md
Labels: docs

#11418 Add levenshtein from polyleven
  .gitignore
  licenses/3rd_party_licenses.txt
  setup.py
  spacy/matcher/__init__.py
  spacy/matcher/levenshtein.pyx
  spacy/matcher/polyleven.c
  spacy/tests/matcher/test_levenshtein.py
Labels: enhancement, feat / matcher

#11512 Disable mypy for Python 3.10 (v4)
  .github/azure-steps.yml
Labels: tests

#11500 add dot
  spacy/errors.py
Labels: feat / ux

#11511 Disable mypy for Python 3.10 (develop)
  .github/azure-steps.yml
Labels: tests

#11489 more explicit Example constructor example
  website/docs/api/example.md
Labels: docs

#11226 Add dependency check to project step runs
  requirements.txt
  spacy/cli/project/run.py
  website/docs/usage/projects.md
Labels: enhancement, projects

#11530 fix: remove duplicate "New in v3.2" in sidebar
  website/meta/sidebars.json
Labels: docs

#11506 Remove side effects from Doc.__init__()
  spacy/tests/doc/test_doc_api.py
  spacy/tokens/doc.pyi
  spacy/tokens/doc.pyx
  website/docs/api/doc.md
Labels: feat / doc

#11542 Fix English pipeline names in 3.4 release notes
  website/docs/usage/v3-4.md
Labels: bug, docs

#11540 Preserve missing entity annotation in augmenters
  spacy/tests/training/test_augmenters.py
  spacy/training/augment.py
  spacy/training/iob_utils.py
Labels: bug, feat / training

#11291 Add experimental coref docs
  website/docs/api/architectures.md
  website/docs/api/coref.md
  website/docs/api/pipeline-functions.md
  website/docs/api/scorer.md
  website/docs/api/span-resolver.md
  website/meta/sidebars.json
Labels: docs, feat / coref

#11426 add punctuation to grc
  spacy/lang/char_classes.py
  spacy/lang/grc/__init__.py
  spacy/lang/grc/punctuation.py
  spacy/tests/lang/grc/test_tokenizer.py
Labels: enhancement, lang / grc, 🔜 v3.5

#11538 Add spacy-partial-tagger to spaCy Universe
  website/meta/universe.json
Labels: docs

#11459 Simplify and clarify enable/disable behavior of spacy.load()
  spacy/__init__.py
  spacy/errors.py
  spacy/language.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/util.py
Labels: enhancement, feat / ux, feat / config

#11504 `debug data` Spancat Table Improvements
  spacy/cli/_util.py
  spacy/cli/debug_data.py
Labels: enhancement, feat / spancat

#11546 update mypy to latest version
  .github/azure-steps.yml
  requirements.txt
  spacy/pipeline/entityruler.py
Labels: tests
