Repository explosion/spaCy, pull requests merged in 2022-02, with the labels that each got.

#10189 Allow Example to align whitespace annotation
  spacy/tests/training/test_new_example.py
  spacy/training/example.pyx
Labels: bug, feat / training, 🔜 v3.3

#10163 Write moves costs directly into numpy array
  spacy/pipeline/transition_parser.pyx
Labels: feat / parser, perf / speed

#10146 Use paths.vectors for vectors in init config
  spacy/cli/templates/quickstart_training.jinja
Labels: enhancement, feat / cli

#10175 Add Pipe.hide_labels to omit labels from pipeline meta
  spacy/language.py
  spacy/pipeline/pipe.pyi
  spacy/pipeline/pipe.pyx
  spacy/pipeline/senter.pyx
  spacy/tests/pipeline/test_senter.py
Labels: feat / pipeline

#10215 update develop
  spacy/cli/debug_data.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/lang/hi/lex_attrs.py
  spacy/lang/xx/examples.py
  spacy/language.py
  spacy/matcher/dependencymatcher.pyi
  spacy/matcher/matcher.pyi
  spacy/matcher/phrasematcher.pyi
  spacy/pipeline/pipe.pyi
  spacy/pipeline/pipe.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/spancat.py
  spacy/tests/pipeline/test_senter.py
  spacy/tests/pipeline/test_spancat.py
  spacy/tests/tokenizer/test_tokenizer.py
  spacy/tokenizer.pyx
  spacy/tokens/doc.pyi
  spacy/tokens/span.pyx
  spacy/tokens/underscore.py
  website/Dockerfile
  website/README.md
  website/docs/api/span.md
  website/docs/usage/linguistic-features.md
  website/meta/universe.json
  website/src/templates/universe.js
Labels: meta

#10185 Update Ukrainian tokenizer_exceptions
  spacy/lang/uk/tokenizer_exceptions.py
Labels: enhancement, lang / uk, 🔜 v3.3

#10188 Fix debug data check for ents that cross sents
  spacy/cli/debug_data.py
  spacy/tests/test_cli.py
Labels: bug, feat / cli

#10220 Add shuffle parameter to Corpus API docs
  website/docs/api/corpus.md
Labels: docs

#10229 Added Augmenty to universe
  website/meta/universe.json
Labels: docs

#10187 YAML multiline tip for project.yml files
  website/docs/usage/projects.md
Labels: docs

#10164 Token sent attributes more consistent
  spacy/glossary.py
  spacy/tests/doc/test_doc_api.py
  spacy/tokens/doc.pyx
  spacy/tokens/token.pyx
  website/docs/api/doc.md
  website/docs/api/token.md
Labels: docs, feat / doc

#10214 Add a noun chunker for Finnish
  spacy/lang/fi/__init__.py
  spacy/lang/fi/syntax_iterators.py
  spacy/tests/lang/fi/test_noun_chunks.py
Labels: enhancement, lang / fi

#10225 Add github actions for slow and gpu tests
  .github/workflows/gputests.yml
  .github/workflows/slowtests.yml
Labels: tests, meta

#10223 Support mixed case model package names
  spacy/util.py
Labels: feat / pipeline, feat / cli

#10235 fix wrong type annotation in phrasematcher.pyi
  spacy/matcher/phrasematcher.pyi
Labels: bug, types

#10239 Add spaCy Tailored Pipelines
  README.md
  website/docs/images/spacy-tailored-pipelines_wide.png
  website/meta/sidebars.json
  website/meta/site.json
  website/src/components/list.js
  website/src/styles/list.module.sass
  website/src/widgets/landing.js
Labels: docs

#10216 add textnets to spaCy Universe
  website/meta/universe.json
Labels: docs

#10192 Raise error in spacy package when model name is not a valid python identifier
  spacy/cli/package.py
  spacy/tests/test_cli.py
Labels: feat / cli

#10254 Fix the date command and the matrix failure mode
  .github/workflows/gputests.yml
  .github/workflows/slowtests.yml
Labels: tests, meta

#10256 Fix small typo in errors.py
  spacy/errors.py
Labels: docs

#10261 Exclude github workflow edits from CI
  azure-pipelines.yml
Labels: meta

#10245 add tmtoolkit package to spaCy universe
  website/meta/universe.json
Labels: docs

#10305 Also exclude workflows from non-PR CI runs
  azure-pipelines.yml
Labels: meta

#10312 Remove daily/weekly tests for develop branch
  .github/workflows/gputests.yml
  .github/workflows/slowtests.yml
Labels: tests, meta

#10295 Delay loading of mecab in Korean tokenizer
  spacy/lang/ko/__init__.py
Labels: lang / ko, 🔜 v3.3

#10282 Extend list of abbreviations for ru language
  spacy/lang/ru/tokenizer_exceptions.py
Labels: lang / ru, 🔜 v3.3

#10313 Extend list of stopwords for ru language
  spacy/lang/ru/stop_words.py
Labels: enhancement, lang / ru, 🔜 v3.3

#10170 Add whitespace and combined augmenters
  spacy/tests/training/test_augmenters.py
  spacy/training/augment.py
Labels: feat / training, 🔜 v3.3

#10324 Fix Tok2Vec for empty batches
  spacy/pipeline/tok2vec.py
  spacy/tests/pipeline/test_tok2vec.py
Labels: bug, tests, feat / tok2vec

#10250 Miscellaneous Minor SpanGroups/DocBin Improvements
  spacy/tests/doc/test_span.py
  spacy/tokens/_dict_proxies.py
  spacy/tokens/_serialize.py
Labels: enhancement, feat / serialize, feat / doc

#10302 Fix NER check in CoNLL-U converter
  spacy/tests/test_cli.py
  spacy/training/converters/conllu_to_docs.py
Labels: bug, feat / cli

#10322 Update Korean defaults for Tokenizer
  spacy/lang/ko/__init__.py
  spacy/lang/ko/punctuation.py
  spacy/tests/conftest.py
  spacy/tests/lang/ko/test_tokenizer.py
Labels: enhancement, lang / ko

#10241 Make core projectivization functions cdef nogil
  spacy/pipeline/_parser_internals/nonproj.pyx
  spacy/tests/parser/test_nonproj.py
Labels: enhancement, feat / parser, perf / speed, 🔜 v3.3

#10346 Fix Tok2Vec for empty batches (#10324)
  azure-pipelines.yml
  requirements.txt
  spacy/pipeline/tok2vec.py
  spacy/tests/pipeline/test_tok2vec.py
Labels: bug, feat / tok2vec

#10347 Bugfixes and test for rehearse
  spacy/language.py
  spacy/pipeline/tagger.pyx
  spacy/pipeline/textcat.py
  spacy/tests/training/test_rehearse.py
Labels: bug, training

#10357 Re-remove universe tests from test suite
  .gitignore
  setup.py
  spacy/tests/universe/test_universe_json.py
Labels: tests

#10335 Updated spaCy universe for spacytextblob
  website/meta/universe.json
Labels: docs

#10351 Clean up loggers docs
  spacy/errors.py
  website/docs/api/legacy.md
  website/docs/api/top-level.md
Labels: docs

#10356 Backports for v3.1.5
  spacy/ml/extract_spans.py
  spacy/pipeline/spancat.py
  spacy/tests/pipeline/test_spancat.py
Labels: 🔜 v3.1

#10389 Fix Tok2Vec for empty batches (#10324)
  spacy/pipeline/tok2vec.py
  spacy/tests/pipeline/test_tok2vec.py
Labels: 🔜 v3.2

#10387 Set version to v3.0.8
  spacy/about.py
  spacy/tests/conftest.py
  spacy/tests/training/test_readers.py
Labels: 🔜 v3.0

#10388 Set version to v3.1.5
  spacy/about.py
Labels: 🔜 v3.1

#10392 Set version to v3.2.3
  spacy/about.py
Labels: 🔜 v3.2
