Repository explosion/spaCy, pull requests merged in 2022-06, with the labels that each got.

#10858 Add `test_slow_gpu` explosion-bot command
  .github/workflows/explosionbot.yml
Labels: tests

#9880 Add SpanRuler component
  spacy/errors.py
  spacy/pipeline/__init__.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/span_ruler.py
  spacy/tests/doc/test_span.py
  spacy/tests/pipeline/test_entity_ruler.py
  spacy/tests/pipeline/test_span_ruler.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyi
  spacy/tokens/span.pyx
  spacy/util.py
  website/docs/api/entityruler.md
  website/docs/api/span.md
  website/docs/api/spanruler.md
  website/docs/usage/rule-based-matching.md
  website/meta/sidebars.json
Labels: enhancement, 🔜 v3.4

#10688 Add Doc.from_json()
  spacy/errors.py
  spacy/schemas.py
  spacy/tests/doc/test_json_doc_conversion.py
  spacy/tests/doc/test_to_json.py
  spacy/tokens/doc.pyi
  spacy/tokens/doc.pyx
  website/docs/api/doc.md
Labels: enhancement, feat / doc

#10898 Fix schemas import in Doc
  spacy/tokens/doc.pyx
Labels: bug, feat / doc

#10707 Fix: De/Serialize `SpanGroups` including the SpanGroup keys
  spacy/errors.py
  spacy/tests/serialize/test_serialize_span_groups.py
  spacy/tokens/_dict_proxies.py
  spacy/tokens/span_group.pyi
Labels: bug, feat / serialize, feat / doc

#10864 Avoid pickling `Doc` inputs passed to `Language.pipe()`
  spacy/errors.py
  spacy/language.py
  spacy/tests/doc/test_pickle_doc.py
  spacy/tokens/doc.pyx
Labels: feat / pipeline, perf / speed

#10897 Backports for v3.3.1
  requirements.txt
  setup.cfg
  spacy/errors.py
  spacy/language.py
  spacy/pipeline/__init__.py
  spacy/pipeline/entityruler.py
  spacy/pipeline/span_ruler.py
  spacy/schemas.py
  spacy/tests/doc/test_json_doc_conversion.py
  spacy/tests/doc/test_pickle_doc.py
  spacy/tests/doc/test_span.py
  spacy/tests/doc/test_to_json.py
  spacy/tests/pipeline/test_entity_ruler.py
  spacy/tests/pipeline/test_span_ruler.py
  spacy/tests/serialize/test_serialize_span_groups.py
  spacy/tokens/_dict_proxies.py
  spacy/tokens/doc.pyi
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyi
  spacy/tokens/span.pyx
  spacy/tokens/span_group.pyi
  spacy/util.py
  website/docs/api/doc.md
  website/docs/api/entityruler.md
  website/docs/api/span.md
  website/docs/api/spanruler.md
  website/docs/usage/rule-based-matching.md
  website/meta/sidebars.json
Labels: meta

#10873 Remove English exceptions with mismatched features
  spacy/lang/en/tokenizer_exceptions.py
  spacy/tests/lang/en/test_tokenizer.py
Labels: bug, lang / en, 🔜 v3.4

#10901 Set version to v3.3.1
  spacy/about.py
Labels: tests, meta

#10910 Add spacy-report to universe
  website/meta/universe.json
Labels: enhancement, docs

#10917 `token.md`: Fix documentation of `Token.ancestors`
  website/docs/api/token.md
Labels: docs

#10927 Update README: spaCy 3.3.1 is out now
  README.md
Labels: docs

#10925 Fix version in SpanRuler docs
  website/docs/api/spanruler.md
  website/docs/usage/rule-based-matching.md
Labels: docs

#10826 Add note about multiple patterns
  website/docs/api/matcher.md
Labels: enhancement, docs

#10935 Rename some identifiers in the parser refactor
  spacy/ml/tb_framework.pyx
  spacy/tests/serialize/test_serialize_config.py
Labels: enhancement, feat / parser

#10943 Add "Aim-spaCy" to spaCy Universe
  website/meta/universe.json
Labels: docs

#10911 precomputable_biaffine: avoid concatenation
  spacy/ml/_precomputable_affine.py
Labels: enhancement, feat / parser

#10948 Add failing test: `test_matcher_extension_in_set_predicate`
  spacy/tests/matcher/test_matcher_api.py
Labels: bug, tests, feat / matcher

#10955 vectors: remove use of float as row number
  spacy/vectors.pyx
Labels: bug, feat / vectors

#10970 Update for CBlas changes in Thinc 8.1.0.dev2
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/ml/parser_model.pyx
Labels: 🔮 thinc

#10788 Workaround for Typer optional default values with Python calls
  spacy/cli/init_config.py
Labels: bug, feat / cli

#10978 Make KB entities/vector/aliases initialization methods private
  spacy/kb.pyx
Labels: enhancement, feat / nel

#10960 account for NER labels with a hyphen in the name
  spacy/cli/debug_data.py
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/pipeline/_parser_internals/ner.pyx
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/ner.pyx
  spacy/tests/parser/test_ner.py
  spacy/tests/util.py
  spacy/training/__init__.py
  spacy/training/augment.py
  spacy/training/example.pyx
  spacy/training/iob_utils.py
Labels: bug, feat / ner

#10784 `enable` argument for spacy.load()
  spacy/__init__.py
  spacy/errors.py
  spacy/language.py
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/util.py
  website/docs/api/top-level.md
  website/docs/usage/processing-pipelines.md
Labels: enhancement, feat / pipeline

#10957 add NER counts to debug data
  spacy/cli/debug_data.py
Labels: enhancement, feat / cli

#10993 Update the link for downloading Latin fasttext word vectors
  website/docs/usage/linguistic-features.md
Labels: docs

#10904 Use thinc-apple-ops>=0.1.0.dev0 with `apple` extras
  .github/azure-steps.yml
  setup.cfg
Labels: enhancement, osx, plat / m1

#10991 updated spacy universe for spacyfishing
  .github/contributors/Lucaterre.md
  website/meta/universe.json
Labels: docs

#10875 Refactor Coval Scoring code
  licenses/3rd_party_licenses.txt
  spacy/coref_scorer.py
  spacy/ml/models/coref.py
  spacy/ml/models/coref_util.py
  spacy/ml/models/span_predictor.py
  spacy/pipeline/coref.py
  spacy/pipeline/span_predictor.py
  spacy/scorer.py
  spacy/tests/pipeline/test_coref.py
  spacy/tests/test_models.py
Labels: feat / coref, feat / scorer

#11004 Update serialization methods code block
  website/docs/usage/saving-loading.md
Labels: docs, feat / pipeline

#10836 Add API docs for token attribute symbols
  website/docs/api/attributes.md
  website/meta/sidebars.json
Labels: docs, feat / doc

#11014 Update thinc version to switch back to blis v0.7
  pyproject.toml
  requirements.txt
  setup.cfg
Labels: meta

#11015 disable failing test because Stanford servers are down
  spacy/tests/training/test_readers.py
Labels: tests, third-party

#11011 Fix some of the broken links on universe pages
  website/meta/universe.json
Labels: docs

#11018 Add note about Cython for testing in code conventions developer docs
  extra/DEVELOPER_DOCS/Code Conventions.md
Labels: enhancement, docs

#10952 Backport parser/alignment optimizations from `feature/refactor-parser`
  spacy/training/alignment_array.pyx
  spacy/training/example.pyx
  spacy/util.py
Labels: enhancement, feat / parser, perf / speed

#11017 Remove `simply`
  website/docs/api/architectures.md
Labels: docs

#10843 Try cloning repo from main & master
  spacy/cli/_util.py
  spacy/cli/project/clone.py
Labels: enhancement, feat / cli

#11026 `Example.get_aligned_parse`: Handle unit and zero length vectors correctly
  spacy/tests/training/test_training.py
  spacy/training/example.pyx
Labels: bug, feat / parser

#11013 Update vector handling in similarity methods
  spacy/tests/vocab_vectors/test_similarity.py
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
Labels: bug, tests, feat / vectors

#10994 displaCy: Fix horizontal spacing for multiple span labels
  spacy/displacy/render.py
  spacy/displacy/templates.py
Labels: bug, feat / visualizers

#10992 vectors: avoid expensive comparisons between numpy ints and Python ints
  spacy/vectors.pyx
Labels: enhancement, feat / vectors, perf / speed

#10981 Addition of min_max quantifier in matcher {n,m}
  spacy/matcher/matcher.pyx
  spacy/schemas.py
  spacy/tests/matcher/test_matcher_api.py
  spacy/tests/matcher/test_matcher_logic.py
  spacy/tests/matcher/test_pattern_validation.py
  website/docs/api/matcher.md
  website/docs/usage/rule-based-matching.md
Labels: enhancement, feat / matcher

#10965 Add NVTX ranges to `TrainablePipe` components
  spacy/errors.py
  spacy/ml/callbacks.py
Labels: enhancement, feat / pipeline
