Repository explosion/spaCy, pull requests merged in 2023-06, with the labels that each got.

#12557 [DOCS] add vetiver to spacy universe
  website/meta/universe.json
Labels: docs, universe

#12569 Require that all SpanGroup spans are from the current doc
  spacy/errors.py
  spacy/tests/doc/test_span_group.py
  spacy/tests/parser/test_ner.py
  spacy/tests/test_scorer.py
  spacy/tokens/doc.pyx
  spacy/tokens/span_group.pyx
Labels: bug, feat / doc, 🔜 v3.6

#12692 fix: `InitializableComponent` type hints
  spacy/language.py
  spacy/ty.py
Labels: types

#12473 feat: use weasel as spacy project command
  requirements.txt
  setup.cfg
  spacy/cli/_util.py
  spacy/tests/test_cli.py
Labels: enhancement, feat / cli, 🔜 v4.0

#12507 SpanFinder into spaCy from experimental
  spacy/cli/templates/quickstart_training.jinja
  spacy/errors.py
  spacy/ml/models/__init__.py
  spacy/ml/models/span_finder.py
  spacy/pipeline/__init__.py
  spacy/pipeline/span_finder.py
  spacy/pipeline/spancat.py
  spacy/tests/pipeline/test_span_finder.py
  spacy/tests/pipeline/test_spancat.py
  website/docs/api/spancategorizer.mdx
  website/docs/api/spanfinder.mdx
  website/meta/sidebars.json
Labels: feat / pipeline, feat / spanfinder

#12703 Set version v3.6.0.dev1
  spacy/about.py
Labels: 🔜 v3.6

#12693 use system-independent commands
  spacy/tests/test_cli_app.py
Labels: tests

#12727 CI: add `isort --check` to validate job
  .github/workflows/tests.yml
Labels: tests

#12718 Fix #12716 does not update the `config` generation section
  website/src/components/quickstart.js
Labels: bug, docs

#12735 Fixed e941 link rendering by removing the dot
  spacy/errors.py
Labels: bug, jupyter, feat / ux

#12737 docs: added reference to `spacy-setfit` to the spaCy Universe
  website/meta/universe.json
Labels: universe

#12730 Add SpanMarker for NER to spaCy universe
  website/meta/universe.json
Labels: universe

#12714 default value for phrasematcher in pyi
  spacy/matcher/phrasematcher.pyi
Labels: feat / matcher, types

#12742 Set version to v3.6.0
  spacy/about.py
  spacy/tests/test_cli.py
Labels: meta, 🔜 v3.6

#12701 Address issues with source with component names and replacing listeners
  spacy/language.py
  spacy/tests/pipeline/test_tok2vec.py
  spacy/training/initialize.py
Labels: bug, feat / pipeline

#12623 Support overriding registered functions in configs
  spacy/tests/serialize/test_serialize_config.py
  spacy/tests/test_misc.py
  spacy/util.py
Labels: bug, feat / config

#12753 Use spans_ prefix for default span finder scores
  spacy/pipeline/span_finder.py
  spacy/tests/pipeline/test_span_finder.py
Labels: 🔜 v3.6, feat / spanfinder

#12767 Backports for v3.5.4
  requirements.txt
  setup.cfg
  spacy/about.py
  spacy/language.py
  spacy/tests/pipeline/test_tok2vec.py
  spacy/tests/serialize/test_resource_warning.py
  spacy/tests/serialize/test_serialize_config.py
  spacy/tests/test_misc.py
  spacy/training/initialize.py
  spacy/util.py
Labels: v3.5

#12770 Remove section about parallel training with Ray
  website/docs/usage/training.mdx
Labels: docs
