Repository explosion/spaCy, pull requests merged in 2023-09, with the labels that each got.

#12945 spacy-llm docs cleanup
  website/docs/api/large-language-models.mdx
  website/docs/usage/large-language-models.mdx
Labels: docs, feat/llm

#12947 docs: updated `add_pipe` docs for `spacy_setfit` and `classy_classification`
  website/meta/universe.json
Labels: docs, universe

#12948 fix typo in link
  website/docs/api/large-language-models.mdx
Labels: docs

#12949 Docs for ner.v3 and spancat.v3 spacy-llm tasks
  website/docs/api/large-language-models.mdx
  website/docs/usage/large-language-models.mdx
Labels: docs, feat/llm

#12950 Fix LLM usage example
  website/docs/usage/large-language-models.mdx
Labels: bug, docs

#12961 Document v2 OpenAI models
  website/docs/api/large-language-models.mdx
Labels: docs, feat/llm

#12965 Consolidate spacy-llm docs for v0.5.0
  website/docs/api/large-language-models.mdx
  website/docs/usage/large-language-models.mdx
Labels: docs, feat/llm

#12966 Sync spacy-llm docs
  website/docs/api/large-language-models.mdx
  website/docs/usage/large-language-models.mdx
  website/docs/usage/training.mdx
  website/meta/universe.json
Labels: docs, meta, feat/llm

#12967 Docs for spacy-llm 0.5.0
  website/docs/api/large-language-models.mdx
  website/docs/usage/large-language-models.mdx
Labels: docs, feat/llm

#12968 Docs for spacy-llm 0.5.0
  website/docs/api/large-language-models.mdx
  website/docs/usage/large-language-models.mdx
Labels: docs, feat/llm

#12969 Few spacy-llm doc fixes
  website/docs/api/large-language-models.mdx
Labels: docs, feat/llm

#12980 Skip project remotes test for python 3.12
  spacy/tests/test_cli_app.py
Labels: tests, compat

#12955 Fix in BertTokenizer docs
  website/docs/usage/linguistic-features.mdx
Labels: docs

#12993 Synch `llm_main` with `master`
  website/docs/api/large-language-models.mdx
  website/docs/usage/linguistic-features.mdx
Labels: docs

#12994 Synch `llm_develop` with `llm_main`
  website/docs/api/large-language-models.mdx
  website/docs/usage/linguistic-features.mdx
Labels: docs

#12981 add --spans-key option for CLI spancat evaluation
  spacy/cli/evaluate.py
  website/docs/api/cli.mdx
Labels: enhancement, feat / cli, feat / spancat

#13003 Fix typo in lemmatizer.py
  spacy/lang/es/lemmatizer.py
Labels: docs, feat / lemmatizer

#13009 Drop support for python 3.6
  .github/workflows/tests.yml
  README.md
  build-constraints.txt
  requirements.txt
  setup.cfg
  website/docs/usage/index.mdx
Labels: compat, 🔜 v3.7

#13014 Update emoji library in rule-based matcher example
  website/docs/usage/rule-based-matching.mdx
Labels: docs

#13017 Adding rolegal model to the spaCy universe
  website/meta/universe.json
Labels: universe

#12962 Load the cli module lazily for spacy.info
  spacy/__init__.py
  spacy/tests/test_cli.py
Labels: enhancement, compat

#13027 Update develop from master for v3.7
  README.md
  requirements.txt
  setup.cfg
  setup.py
  spacy/__init__.py
  spacy/cli/__init__.py
  spacy/cli/assemble.py
  spacy/cli/evaluate.py
  spacy/cli/find_function.py
  spacy/cli/find_threshold.py
  spacy/cli/init_pipeline.py
  spacy/cli/package.py
  spacy/cli/train.py
  spacy/displacy/render.py
  spacy/lang/es/lemmatizer.py
  spacy/lang/tr/examples.py
  spacy/ml/models/tok2vec.py
  spacy/pipeline/_edit_tree_internals/schemas.py
  spacy/schemas.py
  spacy/tests/pipeline/test_initialize.py
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/tests/test_cli.py
  spacy/tests/test_cli_app.py
  spacy/tests/test_displacy.py
  spacy/tests/test_misc.py
  spacy/util.py
  website/docs/api/architectures.mdx
  website/docs/api/cli.mdx
  website/docs/api/large-language-models.mdx
  website/docs/api/spancategorizer.mdx
  website/docs/api/spanruler.mdx
  website/docs/api/top-level.mdx
  website/docs/usage/large-language-models.mdx
  website/docs/usage/linguistic-features.mdx
  website/docs/usage/processing-pipelines.mdx
  website/docs/usage/rule-based-matching.mdx
  website/docs/usage/training.mdx
  website/docs/usage/visualizers.mdx
  website/meta/sidebars.json
  website/meta/universe.json
  website/netlify.toml
  website/pages/index.tsx
  website/src/widgets/quickstart-install.js
Labels: 🔜 v3.7

#13025 Allow spacy-transformers v1.3.x in transformers extra
  setup.cfg
Labels: feat / transformer, 🔜 v3.7

#12979 Redesigned cython profiling and other minor updates for python 3.12
  .github/workflows/tests.yml
  requirements.txt
  setup.py
  spacy/attrs.pyx
  spacy/cli/apply.py
  spacy/cli/benchmark_speed.py
  spacy/cli/profile.py
  spacy/kb/candidate.pyx
  spacy/kb/kb.pyx
  spacy/kb/kb_in_memory.pyx
  spacy/lexeme.pyx
  spacy/matcher/dependencymatcher.pyx
  spacy/matcher/levenshtein.pyx
  spacy/matcher/matcher.pyx
  spacy/matcher/phrasematcher.pyx
  spacy/ml/parser_model.pyx
  spacy/morphology.pyx
  spacy/parts_of_speech.pyx
  spacy/pipeline/_edit_tree_internals/edit_trees.pyx
  spacy/pipeline/_parser_internals/_beam_utils.pyx
  spacy/pipeline/_parser_internals/_state.pyx
  spacy/pipeline/_parser_internals/arc_eager.pyx
  spacy/pipeline/_parser_internals/ner.pyx
  spacy/pipeline/_parser_internals/nonproj.pyx
  spacy/pipeline/_parser_internals/stateclass.pyx
  spacy/pipeline/_parser_internals/transition_system.pyx
  spacy/pipeline/dep_parser.pyx
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/multitask.pyx
  spacy/pipeline/ner.pyx
  spacy/pipeline/pipe.pyx
  spacy/pipeline/sentencizer.pyx
  spacy/pipeline/senter.pyx
  spacy/pipeline/tagger.pyx
  spacy/pipeline/trainable_pipe.pyx
  spacy/pipeline/transition_parser.pyx
  spacy/strings.pyx
  spacy/symbols.pyx
  spacy/tokenizer.pyx
  spacy/tokens/_retokenize.pyx
  spacy/tokens/doc.pyx
  spacy/tokens/graph.pyx
  spacy/tokens/morphanalysis.pyx
  spacy/tokens/span.pyx
  spacy/tokens/span_group.pyx
  spacy/tokens/token.pyx
  spacy/training/align.pyx
  spacy/training/alignment_array.pyx
  spacy/training/example.pyx
  spacy/training/gold_io.pyx
  spacy/training/initialize.py
  spacy/typedefs.pyx
  spacy/util.py
  spacy/vectors.pyx
  spacy/vocab.pyx
Labels: compat, 🔜 v3.7
