Repository explosion/spaCy, pull requests merged in 2023-02, with the labels that each got.

#12006 Move Entity Linker v1 to spacy-legacy
  spacy/pipeline/entity_linker.py
  spacy/pipeline/legacy/__init__.py
  spacy/pipeline/legacy/entity_linker.py
  spacy/tests/pipeline/test_entity_linker.py
Labels: feat / nel, legacy, 🔜 v4.0

#12213 Backslash fixes in docs
  website/docs/api/doc.mdx
  website/docs/models/index.mdx
Labels: docs

#12215 Have logging calls use string formatting types
  CONTRIBUTING.md
  spacy/cli/_util.py
  spacy/cli/project/pull.py
  spacy/cli/project/push.py
  spacy/language.py
  spacy/tests/test_language.py
  spacy/training/callbacks.py
  spacy/training/corpus.py
  spacy/training/initialize.py
  spacy/training/loop.py
Labels: docs, meta, perf / speed

#12220 Use black version constraints from requirements.txt
  .github/workflows/autoblack.yml
  azure-pipelines.yml
  requirements.txt
Labels: meta

#12218 Update v4 from master
  spacy/tests/doc/test_span.py
  spacy/tests/test_cli.py
  spacy/tests/test_cli_app.py
  spacy/tests/util.py
  spacy/tokens/doc.pyi
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyi
  spacy/tokens/span.pyx
  website/docs/api/cli.mdx
  website/docs/api/doc.mdx
  website/docs/api/span.mdx
  website/docs/models/index.mdx
  website/docs/usage/v3-5.mdx
Labels: 🔜 v4.0

#12136 `Language.update`: ensure that tok2vec gets updated
  spacy/language.py
  spacy/tests/pipeline/test_annotates_on_update.py
  spacy/tests/test_language.py
  spacy/training/loop.py
Labels: bug, training, 🔜 v4.0

#12252 Remove wrong negation in `spacy project pull` docs
  website/docs/api/cli.mdx
Labels: docs

#12251 Use the same tuple in Span cmp and hash
  spacy/tokens/span.pyx
Labels: feat / doc, 🔜 v4.0

#12243 Remove names for vectors
  spacy/cli/init_pipeline.py
  spacy/language.py
  spacy/tests/serialize/test_serialize_pipeline.py
  spacy/tests/vocab_vectors/test_vectors.py
  spacy/training/initialize.py
  spacy/vectors.pyx
  spacy/vocab.pyi
  spacy/vocab.pyx
  website/docs/api/cli.mdx
  website/docs/api/vectors.mdx
  website/docs/api/vocab.mdx
Labels: feat / vectors, 🔜 v4.0

#12250 Remove unused Span.char_span(id=)
  spacy/tokens/span.pyi
  spacy/tokens/span.pyx
  website/docs/api/span.mdx
Labels: feat / doc, 🔜 v4.0

#12262 Fix wrong file name in docs for rule-based matcher
  website/docs/usage/rule-based-matching.mdx
Labels: docs

#12227 Adjust return type of `registry.find`
  spacy/cli/package.py
  spacy/util.py
Labels: bug, types

#12257 Make Span.char_span optional args keyword-only
  spacy/tokens/doc.pyi
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyi
  spacy/tokens/span.pyx
  website/docs/api/doc.mdx
  website/docs/api/span.mdx
Labels: feat / doc, 🔜 v4.0

#12285 Use tempfile.TemporaryDirectory
  spacy/util.py
Labels: compat, 🔜 v4.0

#12287 Add grc to langs with lexeme norms in spacy-lookups-data
  spacy/util.py
Labels: lang / grc

#12214 Reimplement distillation with oracle cut size
  spacy/ml/tb_framework.pyx
  spacy/pipeline/transition_parser.pyx
  spacy/tests/parser/test_model.py
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_parse.py
Labels: bug, enhancement, feat / parser, 🔜 v4.0

#12318 Fix FUZZY operator definition
  website/docs/usage/rule-based-matching.mdx
  website/docs/usage/v3-5.mdx
Labels: feat / matcher

#12303 Add tests for projects to master
  spacy/tests/test_cli_app.py
  spacy/util.py
Labels: tests, projects

#12292 Remove backoff from .vector to .tensor
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/tokens/token.pyx
  website/docs/usage/101/_vectors-similarity.mdx
Labels: feat / vectors, feat / doc, 🔜 v4.0

#12272 Matcher performance fix for extension predicates: use shared key function
  spacy/matcher/matcher.pyx
Labels: bug, feat / matcher, perf / speed

#12336 Revert "Fix FUZZY operator definition (#12318)"
  website/docs/usage/rule-based-matching.mdx
  website/docs/usage/v3-5.mdx
Labels: docs

#12315 Bugfix/swedish tokenizer
  spacy/lang/sv/__init__.py
  spacy/lang/sv/punctuation.py
  spacy/tests/lang/sv/test_prefix_suffix_infix.py
Labels: enhancement, lang / sv, 🔜 v3.6

#12334 Add new REL_OPs: `>+`, `>-`, `<+`, and `<-`
  spacy/matcher/dependencymatcher.pyx
  spacy/tests/matcher/test_dependency_matcher.py
  website/docs/api/dependencymatcher.mdx
  website/docs/usage/rule-based-matching.mdx
Labels: feat / matcher

#12343 Fix error message for displacy auto_select_port
  spacy/errors.py
Labels: bug, feat / visualizers, feat / ux
