Repository explosion/spaCy, pull requests merged in 2023-12, with the labels that each got.

#13167 Mention Claude 2.1 in LLM docs
  website/docs/api/large-language-models.mdx
Labels: docs, feat/llm

#12988 Add documentation for EL task
  website/docs/api/large-language-models.mdx
  website/docs/usage/large-language-models.mdx
Labels: docs, feat/llm

#13173 Sync `llm_develop` with `llm_main`
  website/docs/api/large-language-models.mdx
Labels: docs, feat/llm

#13169 `spacy-llm`: mention custom endpoints for REST models
  website/docs/api/large-language-models.mdx
Labels: docs, feat/llm

#13180 Document `spacy-llm`'s `RawTask`
  website/docs/api/large-language-models.mdx
Labels: docs, feat/llm

#13183 Document `spacy-llm`'s `TranslationTask`
  website/docs/api/large-language-models.mdx
Labels: docs, feat/llm

#13187 Type documentation fixes for Doc
  spacy/tokens/doc.pyi
  spacy/tokens/doc.pyx
Labels: docs, feat / doc

#13197 update README to include links to GPU processing, LLM's, and the spaCy blog.
  README.md
Labels: docs

#13181 Add TextCatReduce.v1
  spacy/errors.py
  spacy/ml/models/textcat.py
  spacy/pipeline/textcat.py
  spacy/pipeline/textcat_multilabel.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/test_models.py
  website/docs/api/architectures.mdx
  website/docs/api/legacy.mdx
Labels: enhancement, feat / textcat
