Repository explosion/spaCy, pull requests merged in 2023-07, with the labels that each got.

#12781 Fix problem with missing syntax highlighting languages causing runtime crash on the website
  website/src/components/code.js
Labels: docs

#12783 Universe docs: Use 'exclude' instead of 'disable'
  website/meta/universe.json
Labels: universe

#12785 `Language.replace_listeners`: Pass the replaced listener and the `tok2vec` pipe to the callback
  extra/DEVELOPER_DOCS/Listeners.md
  spacy/errors.py
  spacy/language.py
Labels: enhancement, feat / tok2vec, feat / transformer, 🔜 v3.7

#12791 SpanFinder: set default max_length to 25
  spacy/cli/templates/quickstart_training.jinja
  spacy/pipeline/span_finder.py
Labels: enhancement, feat / spanfinder

#12792 Docs for v3.6.0
  website/docs/usage/v3-6.mdx
  website/meta/languages.json
  website/meta/sidebars.json
  website/src/templates/index.js
Labels: docs, 🔜 v3.6

#12794 Reenable compat+models tests for v3.6.0
  .github/workflows/tests.yml
  spacy/tests/test_cli.py
Labels: tests, 🔜 v3.6

#12793 Disallow False for first/last arguments of add_pipe
  spacy/errors.py
  spacy/language.py
  spacy/tests/pipeline/test_pipe_methods.py
  website/docs/api/language.mdx
Labels: feat / ux

#12679 feat: add example stubs
  spacy/tokens/doc.pyi
  spacy/training/corpus.py
  spacy/training/example.pyi
Labels: enhancement, types

#12798 feat: add example stubs (2)
  spacy/tokens/doc.pyi
  spacy/training/corpus.py
  spacy/training/example.pyi
Labels: enhancement, types

#12800 Sync develop with master
  spacy/cli/templates/quickstart_training.jinja
  spacy/pipeline/span_finder.py
  spacy/tests/test_cli.py
  website/docs/usage/v3-6.mdx
  website/meta/languages.json
  website/meta/sidebars.json
  website/src/templates/index.js
Labels: meta

#12769 Replace projects functionality with weasel
  requirements.txt
  setup.cfg
  spacy/about.py
  spacy/cli/__init__.py
  spacy/cli/_util.py
  spacy/cli/project/__init__.py
  spacy/cli/project/assets.py
  spacy/cli/project/clone.py
  spacy/cli/project/document.py
  spacy/cli/project/dvc.py
  spacy/cli/project/pull.py
  spacy/cli/project/push.py
  spacy/cli/project/remote_storage.py
  spacy/cli/project/run.py
  spacy/errors.py
  spacy/schemas.py
  spacy/tests/test_cli.py
  spacy/util.py
Labels: feat / cli, 🔜 v3.7

#12803 Update max_length default in span finder docs
  website/docs/api/spanfinder.mdx
Labels: docs, 🔜 v3.6

#12805 Update website binder version to v3.6
  website/meta/site.json
Labels: docs, 🔜 v3.6

#12795 Trainable lemmatizer docs link
  website/docs/usage/linguistic-features.mdx
Labels: docs

#12817 🐛 Escape annotated HTML tags in span renderer
  spacy/displacy/render.py
  spacy/tests/test_displacy.py
Labels: bug, feat / visualizers

#12823 Typo fix in `Language.replace_listeners` docs
  spacy/language.py
  website/docs/api/language.mdx
Labels: docs

#12832 Update pex Makefile defaults
  Makefile
  website/docs/usage/index.mdx
Labels: docs, scaling

#12835 Update matcher pattern validation tests
  spacy/tests/matcher/test_pattern_validation.py
Labels: tests, feat / matcher

#12836 Clean up unused code in Language
  spacy/language.py
Labels: feat / pipeline

#12829 Add Left and Right Pointing Angle Brackets as punctuation to ancient Greek
  spacy/lang/grc/punctuation.py
Labels: enhancement, lang / el, 🔜 v3.7

#12844 Update README for v3.6, etc.
  README.md
Labels: docs

#12860 `SpanCat`: Remove invalid `threshold` config argument from example
  website/docs/api/spancategorizer.mdx
Labels: docs, feat / spancat

#12826 Added OdyCy to spaCy Universe
  website/meta/universe.json
Labels: universe

#12757 Add cli for finding locations of registered func
  spacy/cli/__init__.py
  spacy/cli/find_function.py
  spacy/tests/test_cli_app.py
  website/docs/api/cli.mdx
Labels: enhancement, feat / cli

#12875 Add displaCy data structures to docs (2)
  spacy/displacy/render.py
  spacy/tests/test_displacy.py
  website/docs/api/top-level.mdx
  website/docs/usage/visualizers.mdx
Labels: docs, feat / visualizers

#12828 added entry for SaysWho
  website/meta/universe.json
Labels: universe

#12173 Tests for CLI app - `init config` generates `train`-able config
  spacy/cli/assemble.py
  spacy/cli/find_threshold.py
  spacy/cli/init_pipeline.py
  spacy/cli/train.py
  spacy/tests/test_cli_app.py
Labels: enhancement, tests

#12283 Recommend lookups tables from URLs or other loaders
  spacy/about.py
  spacy/errors.py
  spacy/language.py
  spacy/lookups.py
  spacy/pipeline/lemmatizer.py
  spacy/tests/pipeline/test_lemmatizer.py
  website/docs/api/lemmatizer.mdx
  website/docs/api/top-level.mdx
  website/docs/usage/index.mdx
  website/docs/usage/linguistic-features.mdx
  website/src/widgets/quickstart-install.js
Labels: feat / lemmatizer, 🔜 v4.0
