Repository explosion/spaCy, pull requests merged in 2023-10, with the labels that each got.

#12899 Reenable model tests for v3.7.0
  .github/workflows/tests.yml
  spacy/tests/test_cli.py
Labels: 🔜 v3.7

#13029 Docs for v3.7.0
  README.md
  website/docs/usage/v3-7.mdx
  website/meta/sidebars.json
  website/src/templates/index.js
Labels: docs, 🔜 v3.7

#13034 Update binder version to v3.7
  website/meta/site.json
Labels: docs, 🔜 v3.7

#12999 Add `gpt-3.5-turbo-instruct` to list of supported OpenAI models
  website/docs/api/large-language-models.mdx
Labels: docs, feat/llm

#12995 Update `spacy-llm` task argument docs w.r.t. task refactoring
  website/docs/api/large-language-models.mdx
Labels: docs, feat/llm

#13035 Remove pathy dependency, update docs for cloudpathlib in Weasel
  requirements.txt
  setup.cfg
  spacy/cli/_util.py
  website/docs/api/cli.mdx
  website/docs/usage/projects.mdx
Labels: docs, feat / cli, v3.7

#13018 Add info on PaLM support in `spacy-llm`
  website/docs/api/large-language-models.mdx
  website/docs/usage/large-language-models.mdx
Labels: docs, feat/llm

#13043 Add docs on Azure OpenAI support in `spacy-llm`
  website/docs/api/large-language-models.mdx
  website/docs/usage/large-language-models.mdx
Labels: docs, feat/llm

#13037 Mention Mistral in `spacy-llm` docs
  website/docs/api/large-language-models.mdx
  website/docs/usage/large-language-models.mdx
Labels: docs, feat/llm

#13044 Sync `master` with `docs/llm_main`
  website/docs/api/large-language-models.mdx
  website/docs/usage/large-language-models.mdx
Labels: docs

#13050 Inline displaCy visualizations in docs (#13050) [ci skip]
  website/docs/images/displacy-long2.html
  website/docs/usage/101/_named-entities.mdx
  website/docs/usage/101/_pos-deps.mdx
  website/docs/usage/linguistic-features.mdx
  website/docs/usage/rule-based-matching.mdx
  website/docs/usage/saving-loading.mdx
  website/docs/usage/v3-3.mdx
  website/docs/usage/visualizers.mdx
  website/public/images/displacy-dep-founded.svg
  website/public/images/displacy-ent-custom.html
  website/public/images/displacy-ent-snek.html
  website/public/images/displacy-ent1.html
  website/public/images/displacy-ent2.html
  website/public/images/displacy-long.svg
  website/public/images/displacy-long2.svg
  website/public/images/displacy-span-custom.html
  website/public/images/displacy-span.html
  website/src/components/embed.js
  website/src/remark.js
  website/src/styles/embed.module.sass
Labels: docs

#13051 Add binary examples for Textcat task in `spacy-llm`
  website/docs/api/large-language-models.mdx
Labels: docs, feat/llm

#13058 Support Any comparisons for Token and Span
  spacy/tests/doc/test_span.py
  spacy/tests/doc/test_token_api.py
  spacy/tokens/span.pyx
  spacy/tokens/token.pyi
  spacy/tokens/token.pyx
Labels: bug, feat / doc

#13063 Update __all__ fields
  spacy/kb/__init__.py
  spacy/matcher/__init__.py
  spacy/pipeline/__init__.py
  spacy/tokens/__init__.py
  spacy/training/__init__.py
Labels: enhancement

#13078 Update LICENSE
  LICENSE
Labels: meta

#13093 Add note in docs on `score_weight` config if using a non-default `spans_key` for SpanCat
  website/docs/api/spancategorizer.mdx
Labels: docs, feat / spancat

#13071 Clarify EL example in docs
  website/docs/usage/linguistic-features.mdx
Labels: docs, feat / nel

#13082 Update llm docs to clarify task-specific factories
  website/docs/api/large-language-models.mdx
Labels: docs, feat/llm
