Repository explosion/spaCy, pull requests merged in 2023-03, with the labels that each got.

#12348 Add new tags in docs for #12334
  website/docs/api/dependencymatcher.mdx
  website/docs/usage/rule-based-matching.mdx
Labels: docs, feat / matcher

#12350 Update docs w.r.t. `spacy.CandidateBatchGenerator.v1`
  website/docs/api/architectures.mdx
Labels: docs, feat / nel

#12347 KnowledgeBase length fix
  spacy/errors.py
  spacy/kb/kb_in_memory.pyx
  spacy/pipeline/entity_linker.py
  spacy/tests/pipeline/test_entity_linker.py
Labels: bug, feat / nel

#12352 Displacy doc fix
  website/docs/api/top-level.mdx
  website/docs/usage/visualizers.mdx
Labels: docs, feat / visualizers

#12320 Make generation of empty `KnowledgeBase` instances configurable in `EntityLinker`
  spacy/ml/models/entity_linker.py
  spacy/pipeline/entity_linker.py
  spacy/tests/serialize/test_serialize_kb.py
  website/docs/api/architectures.mdx
  website/docs/api/entitylinker.mdx
Labels: bug, feat / serialize, feat / nel

#12356 Sync `v4` with latest from `master`
  .github/workflows/autoblack.yml
  CONTRIBUTING.md
  azure-pipelines.yml
  requirements.txt
  spacy/cli/_util.py
  spacy/cli/package.py
  spacy/cli/project/pull.py
  spacy/cli/project/push.py
  spacy/errors.py
  spacy/kb/kb_in_memory.pyx
  spacy/lang/sv/__init__.py
  spacy/lang/sv/punctuation.py
  spacy/language.py
  spacy/matcher/dependencymatcher.pyx
  spacy/matcher/matcher.pyx
  spacy/ml/models/entity_linker.py
  spacy/pipeline/entity_linker.py
  spacy/tests/lang/sv/test_prefix_suffix_infix.py
  spacy/tests/matcher/test_dependency_matcher.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/serialize/test_serialize_kb.py
  spacy/tests/test_cli_app.py
  spacy/tests/test_language.py
  spacy/training/callbacks.py
  spacy/training/corpus.py
  spacy/training/initialize.py
  spacy/training/loop.py
  spacy/util.py
  website/docs/api/architectures.mdx
  website/docs/api/cli.mdx
  website/docs/api/dependencymatcher.mdx
  website/docs/api/entitylinker.mdx
  website/docs/api/top-level.mdx
  website/docs/usage/rule-based-matching.mdx
  website/docs/usage/visualizers.mdx
Labels: meta, 🔜 v4.0

#12372 Update to use absolute imports in tests
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_parse.py
  spacy/tests/test_cli.py
Labels: tests

#12366 Raise error for non-default vectors with PretrainVectors
  spacy/errors.py
  spacy/ml/models/multi_task.py
  spacy/tests/training/test_pretraining.py
Labels: bug, feat / vectors, feat / ux

#12365 fix types
  spacy/lexeme.pyi
  spacy/lexeme.pyx
Labels: types

#11900 Change GPU efficient textcat to use CNN, not BOW in generated configs
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/templates/quickstart_training.jinja
Labels: docs, feat / textcat, feat / cli, feat / transformer

#12108 `Tok2Vec`: Add `distill` method
  spacy/pipeline/tok2vec.py
  spacy/tests/pipeline/test_tok2vec.py
  website/docs/api/tok2vec.mdx
Labels: enhancement, training, feat / tok2vec, 🔜 v4.0

#12385 Add links in website and readme for survey
  README.md
  website/src/templates/index.js
Labels: docs

#11365 Add spancat_singlelabel pipeline for multiclass and non-overlapping span labelling tasks
  spacy/cli/templates/quickstart_training.jinja
  spacy/errors.py
  spacy/pipeline/spancat.py
  spacy/tests/pipeline/test_spancat.py
  spacy/tests/test_cli.py
  website/docs/api/spancategorizer.mdx
Labels: enhancement, feat / spancat

#12351 Backports for v3.5.1
  .github/azure-steps.yml
  README.md
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/info.py
  spacy/cli/project/run.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/errors.py
  spacy/kb/kb_in_memory.pyx
  spacy/lexeme.pyi
  spacy/lexeme.pyx
  spacy/matcher/dependencymatcher.pyx
  spacy/ml/models/entity_linker.py
  spacy/ml/models/multi_task.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/spancat.py
  spacy/tests/matcher/test_dependency_matcher.py
  spacy/tests/parser/test_ner.py
  spacy/tests/parser/test_parse.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_spancat.py
  spacy/tests/serialize/test_serialize_kb.py
  spacy/tests/test_cli.py
  spacy/tests/training/test_pretraining.py
  website/docs/api/architectures.mdx
  website/docs/api/dependencymatcher.mdx
  website/docs/api/entitylinker.mdx
  website/docs/api/spancategorizer.mdx
  website/docs/api/top-level.mdx
  website/docs/usage/rule-based-matching.mdx
  website/docs/usage/visualizers.mdx
  website/package.json
  website/src/templates/index.js
Labels: v3.5

#12393 Set version to v3.5.1
  spacy/about.py
Labels: v3.5

#12394 Skip project clone tests if git is not available
  spacy/tests/test_cli_app.py
Labels: tests

#12395 Skip project clone tests if git is not available (#12394)
  spacy/tests/test_cli_app.py
Labels: v3.5

#12405 Fix sentence indexing bug in `Span.sents`
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
Labels: bug, feat / doc

#12418 Fix --verbose for spacy find-threshold
  spacy/cli/find_threshold.py
  website/docs/api/cli.mdx
Labels: docs, feat / cli

#12398 Fix EL failure with sentence-crossing entities
  spacy/pipeline/entity_linker.py
  spacy/tests/pipeline/test_entity_linker.py
Labels: bug, feat / nel

#12437 Remove autoblack workflow
  .github/workflows/autoblack.yml
Labels: meta

#12440 CI: Separate spacy universe validation into a separate workflow
  .github/workflows/tests.yml
  .github/workflows/universe_validation.yml
Labels: meta

#12290 Clean up Vocab constructor
  spacy/strings.pyi
  spacy/tests/pipeline/test_pipe_methods.py
  spacy/tests/serialize/test_serialize_vocab_strings.py
  spacy/tests/vocab_vectors/test_lexeme.py
  spacy/vocab.pyi
  spacy/vocab.pyx
  website/docs/api/vocab.mdx
Labels: feat / pipeline, types, 🔜 v4.0

#12341 Introduce hierarchy for EL `Candidate` objects
  spacy/errors.py
  spacy/kb/__init__.py
  spacy/kb/candidate.pxd
  spacy/kb/candidate.pyx
  spacy/kb/kb.pyx
  spacy/kb/kb_in_memory.pyx
  spacy/ml/models/entity_linker.py
  spacy/pipeline/entity_linker.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/serialize/test_serialize_kb.py
  website/docs/api/inmemorylookupkb.mdx
  website/docs/api/kb.mdx
Labels: enhancement, feat / nel, 🔜 v4.0

#12344 Entity linking: use `SpanGroup` instead of `Iterable[Span]` for mentions
  spacy/kb/__init__.py
  spacy/kb/kb.pyx
  spacy/ml/models/entity_linker.py
  spacy/pipeline/entity_linker.py
  spacy/tests/pipeline/test_entity_linker.py
  website/docs/api/inmemorylookupkb.mdx
  website/docs/api/kb.mdx
Labels: feat / nel, 🔜 v4.0

#12293 Tagger label smoothing
  spacy/cli/debug_data.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/pipeline/morphologizer.pyx
  spacy/pipeline/tagger.pyx
  spacy/tests/pipeline/test_morphologizer.py
  spacy/tests/pipeline/test_tagger.py
  website/docs/api/morphologizer.mdx
  website/docs/api/tagger.mdx
Labels: enhancement, feat / tagger, feat / cli, 🔜 v3.6

#12442 Update Serbian tokenization for UD Serbian SET
  spacy/lang/sr/__init__.py
  spacy/lang/sr/punctuation.py
Labels: lang / sr, 🔜 v3.6

#12435 Support floret for PretrainVectors
  spacy/errors.py
  spacy/ml/models/multi_task.py
  spacy/tests/training/test_pretraining.py
Labels: feat / vectors

#12427 Add info that Vocab and StringStore are not static in docs
  website/docs/api/stringstore.mdx
  website/docs/api/vocab.mdx
Labels: docs

#12464 add explanation about overwriting behaviour
  website/docs/api/spancategorizer.mdx
Labels: docs, feat / spancat

#12466 corrected example code
  website/docs/api/coref.mdx
Labels: docs

#12422 add spacy_onnx_sentiment_english to universe
  website/meta/universe.json
Labels: docs, universe

#12470 Restrict github workflows to explosion
  .github/workflows/explosionbot.yml
  .github/workflows/issue-manager.yml
  .github/workflows/lock.yml
  .github/workflows/spacy_universe_alert.yml
  .github/workflows/tests.yml
  .github/workflows/universe_validation.yml
Labels: meta

#12471 Add info that Vocab and StringStore are not static in docs
  website/docs/api/stringstore.mdx
  website/docs/api/vocab.mdx
Labels: docs

#12456 Setting up weasel branch
  spacy/about.py
  spacy/cli/__init__.py
  spacy/cli/_util.py
  spacy/cli/project/__init__.py
  spacy/cli/project/assets.py
  spacy/cli/project/clone.py
  spacy/cli/project/document.py
  spacy/cli/project/dvc.py
  spacy/cli/project/pull.py
  spacy/cli/project/push.py
  spacy/cli/project/remote_storage.py
  spacy/cli/project/run.py
  spacy/errors.py
  spacy/schemas.py
  spacy/tests/test_cli.py
  spacy/util.py
Labels: feat / cli

#12469 Fix spancat-singlelabel score
  spacy/pipeline/spancat.py
  spacy/tests/pipeline/test_spancat.py
Labels: bug, tests, feat / spancat

#12484 Fix `Span.sents` edge case
  spacy/tests/doc/test_span.py
  spacy/tokens/span.pyx
Labels: bug, feat / doc

#12450 Avoid `TrainablePipe.finish_update` getting called twice during training
  spacy/language.py
  spacy/tests/test_language.py
  spacy/training/loop.py
  website/docs/api/language.mdx
Labels: bug, training, 🔜 v4.0

#12477 Allow passing a Span to displacy.parse_deps
  spacy/displacy/__init__.py
  spacy/tests/test_displacy.py
  website/docs/api/top-level.mdx
Labels: enhancement, feat / visualizers

#12472 Convert values to numpy for label smoothing tests
  spacy/tests/pipeline/test_morphologizer.py
  spacy/tests/pipeline/test_tagger.py
Labels: tests, feat / tagger, feat / morphologizer

#12486 Fix pickle for ngram suggester
  spacy/pipeline/spancat.py
  spacy/tests/pipeline/test_spancat.py
Labels: bug, feat / spancat

#12490 Allow cupy 12.0 for extras
  setup.cfg
Labels: gpu
