Repository explosion/spaCy, pull requests merged in 2023-05, with the labels that each got.

#12586 Update inmemorylookupkb.mdx
  website/docs/api/inmemorylookupkb.mdx
Labels: docs

#12608 Use Latin normalization for Serbian attrs
  spacy/lang/sr/lex_attrs.py
  spacy/lang/sr/tokenizer_exceptions.py
  spacy/tests/lang/sr/test_exceptions.py
  spacy/tests/lang/sr/test_lex_attrs.py
Labels: lang / sr, 🔜 v3.6

#12607 In initialize only calculate current vectors hash if needed
  spacy/training/initialize.py
Labels: bug, feat / training

#12597 Add LatinCy models to universe.json
  website/meta/universe.json
Labels: docs, universe

#12609 chore: added adept-augmentations to the spacy universe
  website/meta/universe.json
Labels: universe

#12621 Revert "Use Latin normalization for Serbian attrs (#12608)"
  spacy/lang/sr/lex_attrs.py
  spacy/lang/sr/tokenizer_exceptions.py
  spacy/tests/lang/sr/test_exceptions.py
  spacy/tests/lang/sr/test_lex_attrs.py
Labels: lang / sr

#12626 Backports for v3.5.3
  .github/azure-steps.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
  spacy/cli/debug_data.py
  spacy/cli/download.py
  spacy/cli/evaluate.py
  spacy/matcher/dependencymatcher.pyx
  spacy/ml/extract_spans.py
  spacy/tests/doc/test_morphanalysis.py
  spacy/tests/test_cli.py
  spacy/tokenizer.pyx
  spacy/tokens/morphanalysis.pyi
  spacy/tokens/morphanalysis.pyx
  spacy/training/initialize.py
  website/docs/api/cli.mdx
  website/docs/api/dependencymatcher.mdx
  website/docs/api/inmemorylookupkb.mdx
  website/docs/api/morphology.mdx
  website/docs/usage/rule-based-matching.mdx
  website/meta/universe.json
Labels: v3.5

#12630 docs: add comment on `offset_x` argument
  website/docs/usage/visualizers.mdx
Labels: docs, feat / visualizers

#12629 Fix new tags in docs for v3.5.x
  website/docs/api/entitylinker.mdx
  website/docs/api/morphology.mdx
Labels: docs

#12620 universe: Update examples Adept Augementation
  website/meta/universe.json
Labels: universe

#12636 Remove shorthand for output-file in spacy apply
  website/docs/api/cli.mdx
Labels: docs

#12602 Malay language support
  spacy/lang/ms/__init__.py
  spacy/lang/ms/_tokenizer_exceptions_list.py
  spacy/lang/ms/examples.py
  spacy/lang/ms/lex_attrs.py
  spacy/lang/ms/punctuation.py
  spacy/lang/ms/stop_words.py
  spacy/lang/ms/syntax_iterators.py
  spacy/lang/ms/tokenizer_exceptions.py
  spacy/tests/conftest.py
  spacy/tests/lang/ms/__init__.py
  spacy/tests/lang/ms/test_noun_chunks.py
  spacy/tests/lang/ms/test_prefix_suffix_infix.py
  spacy/tests/lang/ms/test_text.py
Labels: lang / ms

#12643 Add Malay to website languages
  website/meta/languages.json
Labels: docs, lang / ms

#12642 feat: add type hinting on SpanGroup.__iter__
  spacy/tokens/span_group.pyi
Labels: enhancement, feat / doc

#12671 Backports and other fixes for v3.3.3
  .github/azure-steps.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
  requirements.txt
  setup.cfg
  spacy/about.py
  spacy/cli/download.py
  spacy/ml/extract_spans.py
  spacy/tests/pipeline/test_entity_ruler.py
Labels: v3.3

#12674 Backports and other fixes for v3.2.6
  .github/azure-steps.yml
  .github/workflows/tests.yml
  azure-pipelines.yml
  requirements.txt
  setup.cfg
  spacy/about.py
  spacy/cli/download.py
  spacy/ml/extract_spans.py
  spacy/tests/test_cli.py
Labels: v3.2

#12684 Address numpy 1.25 deprecations in test suite
  spacy/tests/serialize/test_resource_warning.py
Labels: tests, third-party
