Repository explosion/spaCy, pull requests merged in 2023-08, with the labels that each got.

#12492 Support registered vectors
  spacy/default_config.cfg
  spacy/errors.py
  spacy/language.py
  spacy/ml/staticvectors.py
  spacy/schemas.py
  spacy/util.py
  spacy/vectors.pyx
  spacy/vocab.pyx
  website/docs/api/basevectors.mdx
  website/docs/api/vectors.mdx
  website/docs/usage/embeddings-transformers.mdx
  website/meta/sidebars.json
Labels: enhancement, feat / vectors, 🔜 v3.7

#12857 Display model's full base version string in incompatiblity warning
  spacy/util.py
Labels: feat / serialize

#12801 feat: add example stubs (3)
  spacy/tokens/doc.pyi
  spacy/training/corpus.py
  spacy/training/example.pyi
Labels: enhancement, types

#12877 Extend to spacy-transformers v1.3.x
  setup.cfg
Labels: 🔜 v3.7

#12883 fix the regular expression matching on the full text
  website/docs/usage/rule-based-matching.mdx
Labels: docs

#12881 Small docs fix
  website/docs/api/spanruler.mdx
Labels: docs

#12882 Update br tags
  spacy/cli/package.py
  spacy/displacy/render.py
  spacy/tests/test_displacy.py
Labels: feat / visualizers

#12888 Allow pydantic v2 using transitional v1 support
  requirements.txt
  setup.cfg
  spacy/pipeline/_edit_tree_internals/schemas.py
  spacy/schemas.py
  spacy/tests/pipeline/test_initialize.py
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/tests/test_misc.py
Labels: third-party

#12890 Update CuPy extras
  setup.cfg
  website/src/widgets/quickstart-install.js
Labels: install, gpu

#12893 Update incorrect LLM example config in docs
  website/docs/api/large-language-models.mdx
Labels: docs, feat/llm

#12896 Switch zh tokenizer default pkuseg_model to spacy_ontonotes
  spacy/lang/zh/__init__.py
Labels: lang / zh, 🔜 v4.0

#12901 Revert "Extend to spacy-transformers v1.3.x (#12877)"
  setup.cfg
Labels: 🔜 v3.7

#12902 Extend to weasel v0.2
  requirements.txt
  setup.cfg
Labels: 🔜 v3.7

#12897 Extend to thinc v8.2
  pyproject.toml
  requirements.txt
  setup.cfg
Labels: 🔜 v3.7

#12895 Update examples.py with Turkish sentences
  spacy/lang/tr/examples.py
Labels: lang / tr

#12889 Docs: clarify abstract spacy.load examples
  website/docs/api/top-level.mdx
  website/docs/usage/processing-pipelines.mdx
Labels: docs

#12908 Extend to weasel v0.3
  requirements.txt
  setup.cfg
  spacy/tests/test_cli.py
Labels: install

#12918 📝 Fix formula for receptive field in docs
  spacy/ml/models/tok2vec.py
  website/docs/api/architectures.mdx
Labels: docs

#12928 warn for unsupported key in dependency matcher
  spacy/errors.py
  spacy/matcher/dependencymatcher.pyx
  spacy/tests/matcher/test_dependency_matcher.py
Labels: enhancement, feat / matcher, feat / ux

#12939 docs: fix ngram_range_suggester max_size description
  website/docs/api/spancategorizer.mdx
Labels: docs

#12944 Update large-language-models.mdx
  website/docs/api/large-language-models.mdx
Labels: docs
