Repository explosion/spaCy, pull requests merged in 2023-11, with the labels that each got.

#13068 Fix displacy span stacking
  spacy/displacy/render.py
  spacy/tests/test_displacy.py
Labels: bug, feat / visualizers

#13104 CI: Switch to stable python 3.12 and limit 3.11 runs
  .github/workflows/tests.yml
Labels: meta

#13103 Update for numpy 2.0 deprecations
  licenses/3rd_party_licenses.txt
  spacy/scorer.py
  spacy/tokens/doc.pyi
Labels: third-party

#13110 Unskip python 3.12 remote tests
  spacy/tests/test_cli_app.py
Labels: tests

#13086 Update Tokenizer.explain for special cases with whitespace
  spacy/tests/tokenizer/test_explain.py
  spacy/tokenizer.pyx
Labels: bug, tests, feat / tokenizer

#13106 feat: add extra lexical attributes
  spacy/lang/en/lex_attrs.py
Labels: lang / en

#13109 Add preferred use of build for package CLI
  spacy/cli/package.py
  website/docs/usage/saving-loading.mdx
Labels: enhancement, feat / cli

#13119 LLM docs: OpenAI model update
  website/docs/api/large-language-models.mdx
Labels: docs, feat/llm

#13081 Warn about reloading dependencies after downloading models
  spacy/cli/download.py
  spacy/errors.py
  spacy/util.py
Labels: feat / pipeline, feat / ux

#13133 Add Redfield NLP Nodes to the Spacy Universe
  website/meta/universe.json
Labels: universe

#13116 Feature/nn and fo language extensions
  spacy/lang/fo/__init__.py
  spacy/lang/fo/tokenizer_exceptions.py
  spacy/lang/nn/__init__.py
  spacy/lang/nn/examples.py
  spacy/lang/nn/punctuation.py
  spacy/lang/nn/tokenizer_exceptions.py
  spacy/tests/conftest.py
  spacy/tests/lang/fo/__init__.py
  spacy/tests/lang/fo/test_tokenizer.py
  spacy/tests/lang/nn/__init__.py
  spacy/tests/lang/nn/test_tokenizer.py
  website/meta/languages.json
Labels: lang / fo, lang / nn

#13149 Update `TextCatBOW` to use the fixed `SparseLinear` layer
  spacy/cli/templates/quickstart_training.jinja
  spacy/errors.py
  spacy/ml/models/textcat.py
  spacy/pipeline/textcat.py
  spacy/pipeline/textcat_multilabel.py
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/test_cli_app.py
  spacy/tests/test_misc.py
  website/docs/api/architectures.mdx
  website/docs/api/legacy.mdx
  website/docs/usage/layers-architectures.mdx
  website/docs/usage/processing-pipelines.mdx
Labels: enhancement, feat / textcat
