Repository explosion/spaCy, pull requests merged in 2023-04, with the labels that each got.

#12429 Remove redundant strings.add for Doc.char_span
  spacy/tokens/doc.pyx
Labels: feat / doc

#12459 Add model-last saving mechanism to pretraining
  spacy/cli/pretrain.py
  spacy/tests/training/test_pretraining.py
  spacy/training/pretrain.py
  website/docs/api/cli.mdx
  website/docs/usage/embeddings-transformers.mdx
Labels: enhancement, feat / tok2vec

#12491 Add more information to custom code docs
  website/docs/api/top-level.mdx
  website/docs/usage/training.mdx
Labels: docs

#12495 `Docs`: Fix rule-based matching example that expands named entities
  website/docs/usage/rule-based-matching.mdx
Labels: docs, feat / ner

#12494 Backports for v3.5.2
  .github/azure-steps.yml
  .github/workflows/autoblack.yml
  .github/workflows/explosionbot.yml
  .github/workflows/issue-manager.yml
  .github/workflows/lock.yml
  .github/workflows/spacy_universe_alert.yml
  .github/workflows/tests.yml
  .github/workflows/universe_validation.yml
  azure-pipelines.yml
  setup.cfg
  spacy/cli/find_threshold.py
  spacy/cli/pretrain.py
  spacy/displacy/__init__.py
  spacy/errors.py
  spacy/ml/models/multi_task.py
  spacy/pipeline/entity_linker.py
  spacy/pipeline/spancat.py
  spacy/tests/doc/test_span.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tests/pipeline/test_spancat.py
  spacy/tests/serialize/test_serialize_doc.py
  spacy/tests/serialize/test_serialize_docbin.py
  spacy/tests/test_displacy.py
  spacy/tests/training/test_pretraining.py
  spacy/tokens/_serialize.py
  spacy/tokens/doc.pyx
  spacy/tokens/span.pyx
  spacy/training/pretrain.py
  website/docs/api/cli.mdx
  website/docs/api/coref.mdx
  website/docs/api/spancategorizer.mdx
  website/docs/api/stringstore.mdx
  website/docs/api/top-level.mdx
  website/docs/api/vocab.mdx
  website/docs/usage/embeddings-transformers.mdx
  website/docs/usage/rule-based-matching.mdx
  website/docs/usage/training.mdx
  website/meta/universe.json
  website/src/styles/navigation.module.sass
  website/src/templates/index.js
Labels: v3.5

#12508 Set version to v3.5.2
  spacy/about.py
Labels: v3.5

#12506 Add category to spaCy project
  website/meta/universe.json
Labels: docs

#12531 docs(REL_OP): modify docs for REL_OPs to match Semgrex's update on CoreNLP v4.5.2 release
  website/docs/api/dependencymatcher.mdx
  website/docs/usage/rule-based-matching.mdx
Labels: docs, feat / matcher

#12528 perf(REL_OP): Replace token.children with token.rights or token.lefts
  spacy/matcher/dependencymatcher.pyx
Labels: enhancement, feat / matcher

#12543 fix typo
  spacy/cli/debug_data.py
Labels: enhancement, feat / spancat

#12553 Load exceptions last in Tokenizer.from_bytes
  spacy/tokenizer.pyx
Labels: bug, feat / tokenizer, perf / speed

#12545 Add default option to MorphAnalysis.get
  spacy/tests/doc/test_morphanalysis.py
  spacy/tokens/morphanalysis.pyi
  spacy/tokens/morphanalysis.pyx
  website/docs/api/morphology.mdx
Labels: enhancement, feat / morphology, 🔜 v3.6

#12538 Update LatinDefaults for lang 'la'
  spacy/lang/la/__init__.py
  spacy/lang/la/examples.py
  spacy/lang/la/lex_attrs.py
  spacy/lang/la/syntax_iterators.py
  spacy/lang/la/tokenizer_exceptions.py
  spacy/tests/lang/la/test_noun_chunks.py
Labels: lang / la, 🔜 v3.6

#12559 Remove user survey link
  website/src/templates/index.js
Labels: docs

#12542 Add distillation loop
  spacy/language.py
  spacy/schemas.py
  spacy/tests/training/test_loop.py
  spacy/training/initialize.py
  spacy/training/loop.py
  spacy/util.py
  website/docs/api/language.mdx
Labels: feat / pipeline, feat / training

#12560 CI: Disable Azure
  .github/azure-steps.yml
  azure-pipelines.yml
Labels: meta

#11669 Prototype: Entity linking with custom KBs
  setup.py
  spacy/errors.py
  spacy/kb/__init__.py
  spacy/kb/candidate.pxd
  spacy/kb/candidate.py
  spacy/kb/candidate.pyx
  spacy/kb/kb.pxd
  spacy/kb/kb.pyx
  spacy/kb/kb_in_memory.pyx
  spacy/ml/models/entity_linker.py
  spacy/pipeline/entity_linker.py
  spacy/tests/pipeline/test_entity_linker.py
  spacy/tokens/doc.pyi
  spacy/tokens/doc.pyx
Labels: enhancement, feat / nel

#12568 Add spaCysee to Universe
  website/meta/universe.json
Labels: universe

#12577 Spancat speed improvement
  spacy/ml/extract_spans.py
Labels: perf / speed, feat / spancat

#12436 CI: Only run test suite once with thinc-apple-ops for macos python 3.11
  .github/workflows/tests.yml
Labels: meta

#12575 Add spans in spacy benchmark
  spacy/cli/evaluate.py
  spacy/tests/test_cli.py
Labels: bug, feat / cli
