Repository explosion/spaCy, pull requests merged in 2024-10, with the labels that each got.

#13587 Fix 'issue template' link in CONTRIBUTING.md (#13587) [ci skip]
  CONTRIBUTING.md
Labels: meta

#13632 Update universe.json to add my spaCy online course (#13632) [ci skip]
  website/meta/universe.json
Labels: docs, universe

#13631 Fix misspelling (#13631) [ci skip]
  spacy/lang/hr/lemma_lookup_license.txt
Labels: meta, lang / hu, feat / lemmatizer

#13665 docs: update rule-based-matching.mdx (#13665) [ci skip]
  website/docs/usage/rule-based-matching.mdx
Labels: docs

#13643 Usage page on memory management, explaining memory zones and doc_cleaner (#13643) [ci skip]
  website/docs/api/language.mdx
  website/docs/usage/memory-management.mdx
  website/meta/sidebars.json
Labels: docs, perf / memory
