Repository explosion/spaCy, pull requests merged in 2024-01, with the labels that each got.

#13201 Add spacy.TextCatParametricAttention.v1
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/ml/models/textcat.py
  spacy/tests/pipeline/test_textcat.py
  website/docs/api/architectures.mdx
Labels: enhancement, gpu, feat / textcat

#13214 Updated docs w.r.t. infinite doc length changes
  website/docs/api/large-language-models.mdx
  website/docs/usage/large-language-models.mdx
Labels: docs, feat/llm

#13251 Sync `docs/llm_main` with `docs/llm_develop`
  website/docs/api/large-language-models.mdx
  website/docs/usage/large-language-models.mdx
Labels: docs, feat/llm

#13253 Sync `master` with `docs/llm_main`
  website/docs/api/large-language-models.mdx
  website/docs/usage/large-language-models.mdx
Labels: docs, feat/llm

#13259 Properly clean up multiprocessing workers
  spacy/language.py
Labels: bug, tests, scaling

#13255 test_find_available_port: use port 5001
  spacy/tests/test_misc.py
Labels: tests, feat / misc

#13240 Fix typo in method name
  spacy/pipeline/_parser_internals/stateclass.pyx
Labels: feat / parser

#13254 fix typo
  website/docs/api/large-language-models.mdx
Labels: docs, feat/llm

#13270 Update `spacy-legacy` dependency to 4.0.0.dev1
  requirements.txt
  setup.cfg
Labels: feat / parser, 🔜 v4.0

#13273 Clarify vocab docs
  website/docs/api/vocab.mdx
Labels: enhancement, docs

#13272 Clarify data_path loading for apply CLI command
  website/docs/api/cli.mdx
Labels: enhancement, docs

#13271 Merge `master` into `develop`
  .github/FUNDING.yml
  README.md
  licenses/3rd_party_licenses.txt
  pyproject.toml
  requirements.txt
  setup.cfg
  spacy/cli/download.py
  spacy/cli/package.py
  spacy/cli/templates/quickstart_training.jinja
  spacy/errors.py
  spacy/lang/en/lex_attrs.py
  spacy/lang/fo/__init__.py
  spacy/lang/fo/tokenizer_exceptions.py
  spacy/lang/nn/__init__.py
  spacy/lang/nn/examples.py
  spacy/lang/nn/punctuation.py
  spacy/lang/nn/tokenizer_exceptions.py
  spacy/language.py
  spacy/ml/models/textcat.py
  spacy/pipeline/_parser_internals/stateclass.pyx
  spacy/pipeline/textcat.py
  spacy/pipeline/textcat_multilabel.py
  spacy/scorer.py
  spacy/tests/conftest.py
  spacy/tests/lang/fo/__init__.py
  spacy/tests/lang/fo/test_tokenizer.py
  spacy/tests/lang/nn/__init__.py
  spacy/tests/lang/nn/test_tokenizer.py
  spacy/tests/pipeline/test_pipe_factories.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/test_cli_app.py
  spacy/tests/test_misc.py
  spacy/tests/test_models.py
  spacy/tests/tokenizer/test_explain.py
  spacy/tokenizer.pyx
  spacy/tokens/doc.pyi
  spacy/tokens/doc.pyx
  spacy/util.py
  website/docs/api/architectures.mdx
  website/docs/api/curatedtransformer.mdx
  website/docs/api/large-language-models.mdx
  website/docs/api/legacy.mdx
  website/docs/api/transformer.mdx
  website/docs/models/index.mdx
  website/docs/usage/large-language-models.mdx
  website/docs/usage/layers-architectures.mdx
  website/docs/usage/processing-pipelines.mdx
  website/docs/usage/saving-loading.mdx
  website/meta/languages.json
  website/meta/site.json
  website/meta/universe.json
Labels: meta, 🔜 v4.0

#13247 add custom code support to CLI speed benchmark
  spacy/cli/benchmark_speed.py
  website/docs/api/cli.mdx
Labels: enhancement, feat / cli

#13284 Extension serialization attr tests: add teardown
  spacy/tests/serialize/test_serialize_extension_attrs.py
Labels: bug, tests, feat / serialize

#13291 update universe description
  CONTRIBUTING.md
Labels: docs

#13282 Merge main into `develop`
  spacy/cli/benchmark_speed.py
  spacy/tests/serialize/test_serialize_extension_attrs.py
  website/docs/api/cli.mdx
  website/docs/api/vocab.mdx
Labels: meta
