Repository explosion/spaCy, pull requests merged in 2024-02, with the labels that each got.

#13249 `TextCatParametricAttention.v1`: set key transform dimensions
  spacy/ml/models/textcat.py
  spacy/tests/pipeline/test_textcat.py
  spacy/tests/tok2vec.py
Labels: bug, feat / textcat

#13304 Test if closing explicitly solves recursive lock issues
  spacy/language.py
Labels: bug, feat / pipeline

#13203 Remove debug data normalization for span analysis
  spacy/cli/debug_data.py
Labels: feat / cli

#13302 Update example that shows model in requirements
  website/docs/usage/models.mdx
Labels: docs

#13321 Make `Language.pipe` workers exit cleanly
  spacy/errors.py
  spacy/language.py
  spacy/tests/test_language.py
Labels: bug, feat / pipeline

#13327 Set version to 3.7.4
  spacy/about.py
Labels: meta

#13313 Sanitize direct download
  spacy/cli/__init__.py
  spacy/cli/download.py
  spacy/tests/test_cli.py
Labels: enhancement, feat / cli
